.rating
  display flex
  flex-direction row-reverse
  justify-content flex-end
  &:not(:checked) > input
    display none
  &:not(:checked) > label
    width 1.5rem
    height 1.5rem
    box-sizing content-box
    padding 0 0.3rem
    mask-image url(../images/star.svg)
    mask-repeat no-repeat
    mask-size contain
    background-color #e3e3e3
    cursor pointer
  & > input:checked ~ label 
    background-color #ffd700
  &:not(:checked) > label:hover
  &:not(:checked) > label:hover ~ label 
    background-color #ffd700
