mixin imagesBeforeAfter(item)
  -
    const settings = item.settings ? item.settings : {}
    const classList = [
      ( settings.noBorder ? 'images-before-after--no-border' : '' )
    ]
  .images-before-after( class != classList )
    .images-before-after__before
      img(src!= item.before.src alt!= item.before.alt)
    .images-before-after__after
      img(src!= item.after.src alt!= item.after.alt)
