.list-steps-illustrated
  parMargin()
  list-style none
  counter-reset list-steps-illustrated
  &__item
    counter-increment list-steps-illustrated
      
  &__item-image
    position relative
    &::before
      position absolute
      bottom 0.25rem
      left 0
      height 3.75rem
      width 3.125rem
      content counter(list-steps-illustrated) '. '
      font-size 3.75rem
      font-style italic
      font-weight 300
      color #ffffff
      text-align center
      z-index 2
    &::after
      position absolute
      bottom 0
      left 0
      content ''
      width 5.75rem
      height 5.75rem
      background-image linear-gradient(to top right, rgba(161, 28, 64, 0.6) 50%, transparent 50%)
    img
      display block
      width 100%
  &__item-title
    margin-top 1.5rem
    font-size font-l
    font-weight bold
    line-height line-l
  &__item-body
    margin-top 0.75rem
  &--no-numbers
    & ^[-1]__item-image
      &::before
      &::after
        content none
  &--image-border
    & ^[-1]__item-image
      @extends .image-bordered
