extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Алопеция
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Алопеция&nbsp;&mdash; это патологическое выпадение волос (не&nbsp;связанное с&nbsp;временными физиологическими изменениями в&nbsp;организме), которое стремительно прогрессирует. В&nbsp;результате такого заболевания формируются множественные залысины на&nbsp;голове, а&nbsp;финалом алопеции будет полное облысение.
            +figure({src:'/assets/images/articles/alopecia/alopecia-1', caption:'Виды алопеции'})

            h2 Разница между алопецией и&nbsp;физиологическим выпадением волос
            p Большинство людей сталкиваются с&nbsp;периодическим умеренным выпадением волос, что связано с&nbsp;жизненным циклом волосяных луковиц.
            p Фолликулы проходят несколько стадий, в&nbsp;процессе которых растут, замедляют рост, переходят в&nbsp;состояние покоя, после чего обновляются новым волосом.
            p В&nbsp;целом выделяют следующие стадии жизненного цикла фолликула:
            ul.list-marked 
              li Анаген. Рассматривают как активную фазу, срок которой составляет от&nbsp;2&nbsp;до&nbsp;6&nbsp;лет. В&nbsp;этот период образуется новая волосяная луковица, а&nbsp;волос демонстрирует активный рост.
              li Катаген. На&nbsp;этом этапе волосяная луковица готовится к&nbsp;отделению, потому эту фазу и&nbsp;называют переходной. Во&nbsp;время нее замедляется рост, а&nbsp;сам процесс занимает от&nbsp;1&nbsp;до&nbsp;2&nbsp;недель.
              li Телоген. На&nbsp;этой стадии останавливается рост волоса, фолликул переходит в&nbsp;состояние покоя. За&nbsp;счет этого фазу называют пассивной, она длится в&nbsp;течение нескольких месяцев (обычно не&nbsp;более трех).
              li Экзоген. Финальная стадия, результатом которой будет выпадение волоса. Важно знать, что в&nbsp;этой фазе каждый день пребывает до&nbsp;100 волос (то&nbsp;есть выпадение такого количества считается физиологической нормой).
            +figure({src:'/assets/images/articles/alopecia/alopecia-2', caption:'Жизненный цикл фолликула'})

            p В&nbsp;целом&nbsp;же в&nbsp;активной фазе находится до&nbsp;90% фолликулов. Потому куда гораздо важнее обращать внимание не&nbsp;на&nbsp;выпадающие волосы, а&nbsp;осознавать, что растущих в&nbsp;это время гораздо больше.
            p В&nbsp;те&nbsp;же периоды, когда в&nbsp;организме человека происходит какой-либо патологический процесс, либо&nbsp;же на&nbsp;волосяные луковицы воздействуют агрессивные факторы, происходит дисбаланс: выпадающих волос становится гораздо больше, вследствие чего и&nbsp;развивается алопеция.
            p В&nbsp;то&nbsp;же время к&nbsp;физиологической норме относят и&nbsp;выпадение шевелюры у&nbsp;представителей преклонного возраста. Это связано с&nbsp;неминуемым снижением активности фолликулов, поскольку длительность активной фазы уменьшается.

            h2 Распространенность заболевания
            p Лысину на&nbsp;голове у&nbsp;мужчин часто вызывает андрогенная алопеция, провоцируя стремительную потерю волос у&nbsp;каждого 2-го представителя сильного пола. Связан этот вариант облысения с&nbsp;гормональным дисбалансом. А&nbsp;вот у&nbsp;женщин эта разновидность алопеции встречается в&nbsp;15% случаев.
            p Будет разница и&nbsp;в&nbsp;сроке начала патологического процесса: если мужчины сталкиваются с&nbsp;этой проблемой с&nbsp;20-летнего возраста, то&nbsp;у&nbsp;женщин она наступает после&nbsp;40, а&nbsp;иногда и&nbsp;50&nbsp;лет.
            p А&nbsp;вот телогеновая алопеция у&nbsp;женщин встречается чаще, чем у&nbsp;мужчин. Патологическое состояние запускает нарушение качества сна, несбалансированный рацион питания, стрессовые ситуации, определенные болезни.
            p Гораздо реже регистрируют гнездную алопецию, на&nbsp;которую приходится всего 0,2% случаев. Но&nbsp;подвержены ей&nbsp;с&nbsp;одинаковым успехом и&nbsp;мужчины, и&nbsp;женщины, и&nbsp;дети.

            h2 Причины алопеции у&nbsp;женщин и&nbsp;мужчин
            p Выделяют следующие причины облысения:
            ul.list-marked 
              li Гормональный дисбаланс. Если организм продуцирует избыточное количество тестостерона, то&nbsp;в&nbsp;функционировании фолликулов наступает сбой. Учитывая, что большая часть рецепторов этого гормона находится в&nbsp;области макушки, висков и&nbsp;лба, то&nbsp;именно с&nbsp;этих участков и&nbsp;начинается характерное проявление алопеции. Поскольку у&nbsp;женщин таких рецепторов меньше, то&nbsp;этот тип заболевания протекает у&nbsp;них менее заметно.
              li Аутоиммунные патологии. В&nbsp;некоторых случаях в&nbsp;работе иммунной системы происходит сбой, в&nbsp;результате чего ее&nbsp;клетки начинают атаковать волосяные луковицы, воспринимая их&nbsp;в&nbsp;качестве враждебных для организма. Обычно этот сбой проявляется поражением волос на&nbsp;лице и&nbsp;голове, в&nbsp;то&nbsp;время как на&nbsp;теле подобное явление встречается реже. 
              li Генетическая предрасположенность. Определенные типы алопеции ребенок наследует от&nbsp;родителей. 
            +figure({src:'/assets/images/articles/alopecia/alopecia-3', caption:'Причины облысения'})

            p В&nbsp;некоторых случаях волосы начинают усиленно покидать голову не&nbsp;только из-за патологии, но&nbsp;и&nbsp;вследствие таких факторов:
            ul.list-marked 
              li Травматические повреждения, включая ожоги, оперативное вмешательство.
              li Нехватка микроэлементов и&nbsp;витаминов.
              li Резкое снижение в&nbsp;рационе количества белка.
              li Общие заболевания организма: генетические, иммунные, эндокринные.
              li Регулярные стрессовые состояния: кортизол, вырабатываемый в&nbsp;этот период, негативно сказывается на&nbsp;состоянии фолликулов.
              li Период беременности.
              li Гормональные нарушения, связанные с&nbsp;сахарным диабетом, дисфункцией щитовидки.
              li Прием определенных групп лекарственных средств: противоопухолевых, нейролептиков, цитостатиков, антибиотиков, противосудорожных, противовирусных, антигельминтных, нестероидных противовоспалительных препаратов, антикоагулянтов, антидепрессантов.
              li Период после инфекционных болезней.
              li Состояния, связанные даже с&nbsp;кратковременным повышением температуры выше 38,5 &deg;C.
              li Локальное поражение волосистой части головы: грибковые заболевания, себорейный дерматит. 

            h2 Основные симптомы
            p Выпадение классифицируют на&nbsp;физиологическое и&nbsp;патологическое. 

            h3 Особенности симптоматики физиологического выпадения
            p Физиологическое, как объяснялось выше, зависит от&nbsp;цикла жизни волоса. Если за&nbsp;сутки выпадает от&nbsp;60&nbsp;до&nbsp;100&nbsp;волос, то&nbsp;беспокоиться не&nbsp;о&nbsp;чем.
            p В&nbsp;некоторых случаях норма выпадения волос остается прежней, но&nbsp;процесс запускается одномоментно, в&nbsp;результате чего у&nbsp;человека создается впечатление, что они вылезают клочьями.
            p Обычно такое явление связано с&nbsp;тем, что на&nbsp;голове женщины волосы слишком долго были собраны в&nbsp;тугую прическу. Или другая причина&nbsp;&mdash; между мытьем либо расчесыванием выдержали большой интервал.
            p В&nbsp;других ситуациях суммарное количество выпавших волос не&nbsp;превышает сотню, но&nbsp;человек наблюдает ощутимое поредение и&nbsp;в&nbsp;целом ухудшение внешнего вида шевелюры. В&nbsp;такой ситуации говорят об&nbsp;истончении волос, а&nbsp;также отсутствии отрастания новых на&nbsp;месте выпавших.

            h3 Особенности симптоматики патологического выпадения
            p Этот вид алопеции связан с&nbsp;заболеваниями, которые влияют на&nbsp;выраженность симптомов. Так, определенные виды этой патологии провоцируют постепенное ухудшение состояния шевелюры, потому человек не&nbsp;сразу замечает патологические изменения. 
            p Потому специалисты рекомендуют обращать внимание на&nbsp;характерные признаки, которые отличаются для мужчин, женщин и&nbsp;детей.

            h4 Особенности мужского облысения
            ul.list-marked 
              li Линия роста волос уже находится на&nbsp;определенной удаленности от&nbsp;области висков и&nbsp;бровей.
              li В&nbsp;определенных участках волосы светлеют, истончаются, редеют.
              li Если не&nbsp;прибегнуть к&nbsp;коррекции, то&nbsp;облысение становится заметным и&nbsp;ярко выраженным. Причем проблема наблюдается только в&nbsp;определенных зонах, в&nbsp;то&nbsp;время как на&nbsp;остальных участках их&nbsp;количество и&nbsp;объем не&nbsp;уменьшаются.
            +grid({ parLike:true })
              +figure({src:'/assets/images/articles/alopecia/alopecia-4', caption:'Стадии мужского облысения'})(class= 'grid__cell grid__cell--m-9 grid__cell--12')

            h4 Особенности женского облысения
            ul.list-marked 
              li У&nbsp;дам волосы начинают редеть в&nbsp;участке пробора. Чаще явление приобретает вид рождественской елки, когда количество волос уменьшается и&nbsp;истончается в&nbsp;центральном участке, в&nbsp;области лба (появляются характерные залысины у&nbsp;женщин на&nbsp;лбу), после чего пораженные области сужаются, формируя своеобразный треугольник.
              li Если не&nbsp;принять меры, состояние прогрессирует, ускоряется истончение, поредение, а&nbsp;длину практически не&nbsp;удается отрастить.
              li Затем пробор расширяется еще больше, сквозь шевелюру просвечивается кожа, отрастить длину по-прежнему не&nbsp;удается.
            +figure({src:'/assets/images/articles/alopecia/alopecia-5', caption:'Стадии женского облысения'})

            p Также патологический процесс у&nbsp;женщин может проходить и&nbsp;по&nbsp;другому сценарию:
            ul.list-marked 
              li Волосы внезапно выпадают в&nbsp;большом количестве: они остаются в&nbsp;сантехническом сливе, на&nbsp;полотенцах, наволочках, постельном белье, расческе, других предметах обихода.
              li Возникают характерные участки отсутствия волос или их&nbsp;существенного поредения. 
              li Кожа головы краснеет, покрывается высыпаниями.

            p Симптоматика алопеции у&nbsp;детей и&nbsp;подростков:
            ul.list-marked 
              li выпадение происходит пучками;
              li редеют брови;
              li исчезает волосяной покров по&nbsp;всему телу;
              li в&nbsp;целом увеличивается выпадение после стресса, лечения заболеваний.

            h2 Как проверить выпадение на&nbsp;предмет патологического?
            ul.list-marked 
              li Человеку нужно вспомнить события нескольких ближайших месяцев: принимал&nbsp;ли он&nbsp;биологически активные добавки, лекарственные препараты, переносил&nbsp;ли повышение температуры тела и&nbsp;воздействие стресса.
              li Отследить примерный период начала активного выпадения: составляет&nbsp;ли этот срок более четырех месяцев?
              li Небольшую прядь сформировать в&nbsp;области лба, макушки. Ее&nbsp;нужно пропустить между пальцами и&nbsp;несильно потянуть. Если в&nbsp;руках останется больше 5-7&nbsp;волос, можно говорить о&nbsp;начале алопеции.
              li Волосы собирают, после чего анализируют состояние висков. Этот тест показателен для мужчин, но&nbsp;и&nbsp;для женщин, если они входят в&nbsp;период менопаузы. Если в&nbsp;этом участке наблюдаются характерные залысины, то&nbsp;это указывает на&nbsp;наличие проблемы.
              li Существует специальный тест для мужчин. Их&nbsp;просят проанализировать степень густоты шевелюры в&nbsp;разных участках. Если наблюдается разница, а&nbsp;тем более обнаружены залысины, то&nbsp;говорят о&nbsp;наличии алопеции.
              li Тест для женщин. Волосы нужно разделить по&nbsp;пробору, после чего оценить его состояние. Если он&nbsp;неравномерный, расширяется в&nbsp;зоне лба, то&nbsp;это причина для обращения к&nbsp;трихологу. 

            h2 Классификация и&nbsp;стадии развития
            p Условно алопеции классифицируют на&nbsp;рубцовые и&nbsp;нерубцовые.
            +figure({src:'/assets/images/articles/alopecia/alopecia-6', caption:'Классификация алопеций'})

            h3 Особенности рубцовых алопеций
            p Регистрируют в&nbsp;20% случаев. Патология сопровождается недостаточным питанием тканей, атрофией волосяных луковиц. Становится понятно, что потеря волос неизбежна. 
            p В&nbsp;эту группу относят такие болезни:
            ul.list-marked 
              li Абсцедирующий подрывающий фолликулит Гофмана. Для патологии характерны множественные абсцессы, отличающиеся величиной. На&nbsp;их&nbsp;месте остается рубцовая атрофия, где волосы больше не&nbsp;растут.
              li Псевдопелада Брока. Болезнь сопровождается возникновением участков облысения в&nbsp;зоне лба и&nbsp;темени. Кожа головы гиперемирована в&nbsp;участках поражения, отсутствуют устья волосяных луковиц. Патология отличается длительным течением, приводит к&nbsp;безвозвратной потере шевелюры.
              li Склеродермия. Проявляется в&nbsp;лобном участке, внешне напоминает рубец, представляет собой очаг склероза. 
              li Красная волчанка. Проявляется участками облысения, которые имеют форму дисков, а&nbsp;в&nbsp;центре присутствует атрофия. Выпадение волос сопровождается появлением красной сыпи на&nbsp;коже лица.
              li Фолликулярный муциноз. Заболевание связано с&nbsp;патологическим отложением секрета слизистых желез, что приводит к&nbsp;разрушению сальных желез, фолликулов. На&nbsp;месте поражения возникают папулы, бляшки особой плотности, в&nbsp;результате чего волосы покидают голову.

            h3 Особенности нерубцовых алопеций
            p На&nbsp;эту разновидность алопеций приходится&nbsp;80% случаев. Ключевое отличие от&nbsp;рубцовых заключается в&nbsp;отсутствии повреждения кожного покрова, а&nbsp;также атрофии волосяных луковиц. Получается, что возобновление роста волос на&nbsp;участках облысения возможно.
            p К&nbsp;этой группе относят такие виды алопеций:
            ul.list-marked 
              li Гнездную. Проявляется появлением характерных безволосых очагов, единичных или сливающихся. В&nbsp;некоторых случаях патология сопровождается потерей волосяного покрова по&nbsp;всему телу, возможно поражение ногтей. Этот вариант облысения встречается только в&nbsp;0,1% случаев. Нередко заболевание сочетается с&nbsp;ревматоидным артритам, патологиями щитовидки, витилиго, аутоиммунными нарушениями.
              li Андрогенетическую. Проявляется участками поредения и&nbsp;истончения волос в&nbsp;тех участках, где множество андрогенных рецепторов. У&nbsp;женщин они располагаются в&nbsp;участке пробора, по&nbsp;бокам, а&nbsp;у&nbsp;мужчин&nbsp;&mdash; в&nbsp;области лба и&nbsp;темени. Причины связаны с&nbsp;генетической предрасположенностью, проявляются патологическим воздействием дигидротестостерона на&nbsp;волосяные луковицы.
              li Диффузную. Патология встречается чаще всего. Заключается в&nbsp;том, что количество волос в&nbsp;фазе выпадения увеличивается, в&nbsp;то&nbsp;время как фаза роста существенно сокращается. В&nbsp;результате больные сталкиваются с&nbsp;внезапным и&nbsp;сильным выпадением волос по&nbsp;всей поверхности головы. Обычно такой вариант алопеции запускает следующее: прием определенных лекарственных средств, высокая температура тела, чрезмерное перенапряжение нервной системы и&nbsp;психики.

            p А&nbsp;также потеря шевелюры нерубцового характера возможна при гипотиреозе, анемии, грибковых поражениях. 

            h2 Диагностика алопеции
            p Диагноз ставят, основываясь на&nbsp;результатах комплексного обследования, которое состоит из&nbsp;следующих методов.

            h3 Сбор анамнеза
            p Трихолог расспрашивает больного о&nbsp;симптомах, давности возникновения патологии, особенно уточняет, были&nbsp;ли в&nbsp;последние месяцы предрасполагающие факторы, а&nbsp;также узнает о&nbsp;его наследственности.

            h3 Осмотр
            p Во&nbsp;время него специалист устанавливает, есть&nbsp;ли поражение кожного покрова, анализирует степень поредения, оценивает общее состояние шевелюры.
            p При подозрении на&nbsp;определенные виды алопеции, осматривает ногтевые пластины, другие участки тела.
            p Проводит тест натяжения, чтобы определить активность выпадения (суть метода описана выше, в&nbsp;разделе самостоятельной диагностики). 

            h3 Инструментальная диагностика
            p Предполагает трихоскопию, для проведения которой применяют прибор, который называют трихоскопом, подсоединенным к&nbsp;монитору. 
            p В&nbsp;результате специалист рассмотрит на&nbsp;экране компьютера волосяную структуру, определит состояние волосистой части, установит степень выпадения шевелюры, состояние волосяных луковиц, сальных желез.
            p Трихоскопия не&nbsp;провоцирует побочных реакций, дискомфортные или болезненные ощущения, а&nbsp;также не&nbsp;требует специальной подготовки.
            +figure({src:'/assets/images/articles/alopecia/alopecia-7', caption:'Компьютерная диагностика волос. Трихоскопия'})
            p В&nbsp;других ситуациях делают фототрихограмму, с&nbsp;помощью которой устанавливают определенные данные. Например, метод позволяет обнаружить андрогенетическую алопецию еще на&nbsp;начальных стадиях, дифференцировать выпадение от&nbsp;других клинических случаев, выяснить, с&nbsp;какой скоростью растет шевелюра, какое качество имеют новые волосы. 
            p Суть метода базируется на&nbsp;обработке трихографических снимков в&nbsp;специальной компьютерной программе.

            h3 Лабораторная диагностика
            ul.list-marked 
              li Пациент сдает биохимический, клинический анализ крови, чтобы исследовать сахар в&nbsp;крови, холестерин, билирубин, общий белок, АСТ, АЛТ, щелочную фосфатазу. 
              li Чтобы исключить анемию, проводят анализы на&nbsp;трансферрин, ферритин, гемоглобин.
              li По&nbsp;показаниям назначают анализы на&nbsp;гормоны щитовидной железы.
              li Также проводят исследование на&nbsp;определение определенных антител, уровень половых гормонов.

            h2 Лечение алопеции
            p Клинические рекомендации по&nbsp;алопеции предписывают комплексный подход к&nbsp;лечению. Врачи назначают следующие препараты или составы:
            ul.list-marked 
              li Стимуляторы факторов роста. С&nbsp;этой целью используют препараты, основное действующее вещество которых&nbsp;&mdash; миноксидил. Чтобы получить результат, лекарственное средство используют в&nbsp;течение девяти месяцев. Но&nbsp;выпадение возобновляется, как только препарат отменяют.
              li Ингибиторы андрогенного метаболизма, которые применяют при одноименной алопеции.
              li Антиандрогенные средства гормональной и&nbsp;негормональный природы.
              li Биопрепараты, например, ингибиторы янус-киназы. 
              li Иммунодепрессанты, антиметаболиты, глюкокортикостероиды для терапии очаговой алопеции.
              li Плазма крови, обогащенная тромбоцитами. Кровь больного подвергают центрифугированию, получают состав, обогащенный фактором роста и&nbsp;тромбоцитами, которые активизируют восстановление организменных тканей. Полученную плазму вводят подкожно или внутрикожно.
              li Мезотерапия. В&nbsp;этом случае в&nbsp;кожу головы вводят разнообразные средства лечебного воздействия. Суть метода базируется на&nbsp;сочетании фармакологического действия средств и&nbsp;рефлексогенного воздействия уколов.

            h3 Хирургический способ лечения
            p Позволяет зарастить лысину. Предполагает пересадку фолликулов из&nbsp;тех зон, которые не&nbsp;поражаются гормонами и&nbsp;прочими патологическими процессами. Графты (частички кожи головы с&nbsp;волосяными луковицами) отбирают в&nbsp;тех участках, где не&nbsp;нарушено качество и&nbsp;рост волос. 
            p Чтобы обеспечить приживаемость фолликулов, следует обращаться в&nbsp;проверенные клиники по&nbsp;пересадке волос, которые дают гарантию на&nbsp;оказанную медицинскую услугу. Так удастся убрать залысины на&nbsp;голове у&nbsp;женщины или мужчины с&nbsp;большей эффективностью 
            +grid({ parLike:true })
              +figure({src:'/assets/images/articles/alopecia/alopecia-8', caption:'Пересадка волос'})(class= 'grid__cell grid__cell--m-9 grid__cell--12')

            h3 Физиотерапия
            p Практикуют гальванизацию, светотерапию, дарсонвализацию, криомассаж, электрофорез. Но&nbsp;научных данных, доказывающих результативность этих методов, не&nbsp;существует. Аналогично этому не&nbsp;работают и&nbsp;народные средства от&nbsp;облысения для мужчин и&nbsp;женщин.

            h2 Прогноз и&nbsp;профилактика
            p Прогноз зависит от&nbsp;вида алопеции:
            ul.list-marked 
              li При андрогенетической будет благоприятным, если как можно раньше приступили к&nbsp;лечению. В&nbsp;таком случае удается сохранить здоровье большинства волосяных луковиц.
              li Благоприятный прогноз и&nbsp;при диффузной. Если негативный фактор выявлен и&nbsp;прекращено его воздействие, можно ожидать восстановления роста шевелюры. 
              li Для гнездной прогноз базируется на&nbsp;площади поражения, а&nbsp;также повреждения ногтей. Единичные очаги говорят о&nbsp;благоприятном прогнозе: правильно назначенные медикаменты позволят восстановить рост в&nbsp;прежнем количестве. При других формах очаговой алопеции вероятность восстановления первоначального роста составляет только 10%.

            p Меры профилактики следующие:
            ul.list-marked 
              li Прием лекарственных средств строго по&nbsp;врачебным назначениям.
              li Сопутствующие болезни нужно лечить вовремя.
              li Сбалансировать рацион по&nbsp;минералам и&nbsp;витаминам.
              li Избегать стрессовых ситуаций.
              li Практиковать массаж кожи головы.

            +dropDown('<h2>Список использованной литературы</h2>', { h2: true })     
              ul.list-marked 
                li Diagnosing and treating hair loss&nbsp;/ Anne L. Mounsey, Sean W. Reed // Am&nbsp;Fam Physician&nbsp;&mdash; 2009; 15; 80(4): 356-362.
                li Jackson&nbsp;A.&nbsp;J., Price V.&nbsp;H. How to&nbsp;Diagnose Hair Loss // Dermatologic Clinics. &mdash;&nbsp;2013; 31(1): 21-28. 
                li Sinha R. Diffuse Hair Loss (Alopecia): Causes, Signs, And Treatments // Stylecraze. &mdash;&nbsp;2023.
                li Горячкина&nbsp;В.&nbsp;Л., Иванова&nbsp;М.&nbsp;Ю., Цомартова&nbsp;Д.&nbsp;А., Карташкина&nbsp;Н.&nbsp;Л., Кузнецов&nbsp;С.&nbsp;Л., Ломоносов&nbsp;К.&nbsp;М., Заборова В.&nbsp;А. Физиология волосяных фолликулов // Российский журнал кожных и&nbsp;венерических болезней. &mdash;&nbsp;2015. &mdash;&nbsp;&#8470;&nbsp;18(3). &mdash;&nbsp;С. 51-54.
                li Клинические разновидности алопеций: дифференциальная диагностика, терапия/ Солошенко Э.Н.// Международный медицинский журнал. &mdash;&nbsp;2009. &mdash;&nbsp;&#8470;&nbsp;1.
                li Овчаренко Ю.&nbsp;С. Актуальные проблемы трихологии на&nbsp;современном этапе // Дерматовенерология. Косметология. Сексопатология. &mdash;&nbsp;2007. &mdash;&nbsp;&#8470;&nbsp;1-4 (10).
                li Самцов&nbsp;А.&nbsp;В., Божченко А.&nbsp;А. Андрогенетическая алопеция: некоторые аспекты нарушений тканевого метаболизма сально-волосяного аппарата и&nbsp;современные подходы к&nbsp;их&nbsp;коррекции // Клиническая дерматология и&nbsp;венерология. &mdash;&nbsp;2007. &mdash;&nbsp;&#8470;&nbsp;4. &mdash;&nbsp;C. 4-8.
                li Хэбиф Т. Кожные болезни. Диагностика и&nbsp;лечение. &mdash;&nbsp;М.: Медпрессинформ, 2008. &mdash;&nbsp;672&nbsp;с.

block styles
  +style('inner')
