extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Детская алопеция
        +grid({ paddingy:true })
          +grid__item({ m:9 })
            .page-subsection
              p Появление залысин на&nbsp;голове у&nbsp;ребенка беспокоит и&nbsp;тревожит родителей. Первые признаки алопеции нельзя оставлять без внимания, чтобы не&nbsp;допустить осложнений. При ранней диагностике и&nbsp;правильно подобранной терапии алопеция у&nbsp;детей хорошо поддается терапии. В&nbsp;статье рассказываем, что такое алопеция у&nbsp;детей, проявления болезни, причины возникновения и&nbsp;способы лечения.
            .article-menu.page-subsection
              .article-menu__title Содержание 
                svg.article-menu__arrow(width='584' height='345' viewBox='0 0 584 345' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' stroke='black' stroke-width='72' stroke-linecap='round')
                    animate#open(begin='indefinite' dur='.1s' attributeName='d' from='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' to='M 36 306.999 L 290.861 51.821 L 547.997 308.653' fill='freeze')
                    animate#close(begin='indefinite' dur='.4s' attributeName='d' from='M 36 306.999 L 290.861 51.821 L 547.997 308.653' to='M 36.002 36.5 L 289.208 293.319 L 547.999 38.154' fill='freeze')
              .article-menu__body
            .page-subsection
              h2 Общие сведения
              p Алопеция детская&nbsp;&mdash; патологическое состояние, выраженное уменьшением объема волосяного покрова на&nbsp;голове, появлением проплешин или полной потерей волос. Параллельно могут выпадать брови и&nbsp;ресницы. Детский организм восприимчив к&nbsp;любым изменениям, поэтому сочетание определенных внутренних и&nbsp;внешних факторов приводит к&nbsp;интенсивной потере волос в&nbsp;раннем возрасте. Успех лечения зависит от&nbsp;правильной постановки диагноза на&nbsp;начальной стадии.
              +figure({src:'/assets/images/articles/alopetsiya-u-detey/alopecia-1', caption:'В большинстве случаев последствия облысения у детей обратимы'})

              h2 Причины
              ul.list-marked 
                li Нехватка витаминов и&nbsp;микроэлементов, возникающая на&nbsp;фоне болезней пищеварительной системы: гастродуоденит, рефлюкс, паразитарная инфекция, дисбактериоз и&nbsp;др.;
                li Аутоиммунные патологии, на&nbsp;фоне которых развивается истончение или поредение волос;
                li Психологические травмы, неврозы&nbsp;&mdash; психосоматика часто становится причиной алопеции у&nbsp;ребенка;
                li Инфекционные болезни: ветрянка, пневмония, грипп и&nbsp;т.д.;
                li Патологии щитовидной железы;
                li Анемический синдром, ведущий к&nbsp;нарушению обмена веществ;
                li Химический, термический или радиационный ожог кожи головы;
                li Неосознанное желание рвать на&nbsp;себе волосы (трихотилломания)&nbsp;&mdash; это навязчивое состояние на&nbsp;фоне стресса или психического заболевания;
                li Микроспория (стригущий лишай)&nbsp;&mdash; грибковая инфекция с&nbsp;проплешинами и&nbsp;очагами шелушения.

              h3 Немедицинские причины облысения
              ul.list-marked 
                li Лысина у&nbsp;младенца на&nbsp;затылке часто возникает в&nbsp;результате регулярного трения о&nbsp;матрас кроватки или об&nbsp;автокресло. Волосяной покров восстанавливается, как только малыш начинает сидеть.
                li Неправильный уход, тугое плетение кос и&nbsp;хвостов травмируют волосяную луковицу. При бережном обращении прическа постепенно восстанавливает объем.
              +figure({src:'/assets/images/articles/alopetsiya-u-detey/alopecia-2', caption:'У грудничков лысина чаще возникает при механическом трении'})

              h2 Классификация
              ul.list-marked 
                li #[strong Врожденная алопеция] у&nbsp;новорожденных встречается редко. Как правило, сопровождается патологиями щитовидной железы, кожными болезнями, врожденным эпидермолизом и&nbsp;пр.
                li #[strong Физиологическая]&nbsp;&mdash; алопеция у&nbsp;ребенка первого года жизни, когда на&nbsp;голове младенца растет тонкий пух, чувствительный к&nbsp;механическому воздействию. Проплешины появляются на&nbsp;лбу и&nbsp;затылке. Рост волосяных стержней возобновляется самостоятельно без лечения.
                li #[strong Себорейная алопеция] у&nbsp;детей вызвана болезненными состояниями кожи головы в&nbsp;результате гиперфункции сальных желез. Различают жирную и&nbsp;сухую. При сухой кожа склонна к&nbsp;повреждениям, в&nbsp;результате которых волосяные стержни ломаются и&nbsp;выпадают. При жирной отмершие эпидермальные клетки скапливаются на&nbsp;поверхности кожи, образуя очаги патогенной флоры. В&nbsp;результате нарушается питание фолликулов, волосы истончаются и&nbsp;выпадают. Чаще возникает в&nbsp;подростковом возрасте.
                li #[strong Атрофирующая] также встречается у&nbsp;детей. Характеризуется стремительной потерей волос в&nbsp;результате атрофии волосяных луковиц. Требует незамедлительного лечения, так как облысение необратимо.
                li #[strong Диффузная алопеция] у&nbsp;детей отличается интенсивной потерей волос по&nbsp;всей поверхности головы. Бывает анагеновая и&nbsp;телогеновая. При анагеновой отмечается массивное выпадение волос в&nbsp;период стресса, при приеме цитостатических препаратов или воздействия радиации. При телогеновой пряди редеют постепенно и&nbsp;равномерно в&nbsp;фазе покоя. Болезнь провоцируют стрессы, инфекции, гормональная перестройка у&nbsp;подростков.

              h3 Гнездная алопеция у&nbsp;детей	
              p Более подробного рассмотрения заслуживает очаговая (она&nbsp;же гнездная) алопеция у&nbsp;ребенка&nbsp;&mdash; форма облысения, при которой на&nbsp;голове ребенка образуются округлые залысины с&nbsp;четкими границами. Тотальная алопеция приводит к&nbsp;полному облысению головы у&nbsp;детей. При универсальном типе болезнь затрагивает брови и&nbsp;ресницы.
              p Это аутоиммунная патология, которая передается по&nbsp;наследству. Чаще развивается после 3&nbsp;лет в&nbsp;период интенсивного роста. Вначале появляются одиночные безволосые очаги, которые постепенно увеличиваются в&nbsp;размерах. Кожа малыша не&nbsp;шелушится и&nbsp;не&nbsp;чешется. Если патологические процессы протекают дольше 6&nbsp;месяцев, то&nbsp;болезнь считается хронической. У&nbsp;60&nbsp;% заболевших гнездный вид облысения проходит естественным путем без лечения в&nbsp;течение 12&nbsp;месяцев.
              +figure({src:'/assets/images/articles/alopetsiya-u-detey/alopecia-3', caption:'При универсальной гнездной алопеции волосы выпадают даже на лице'})
              .block-marked.block-marked--padding-small
                p Очаговая алопеция у&nbsp;подростка&nbsp;&mdash; эмоционально тяжелое бремя для его неокрепшей психики. Ребенок теряет уверенность в&nbsp;себе, недостаток часто высмеивают ровесники. Задача родителей&nbsp;&mdash; помочь справиться с&nbsp;негативными эмоциями, повышать осведомленность, не&nbsp;бояться обращаться за&nbsp;помощью и&nbsp;консультацией к&nbsp;специалистам.

              h2 Симптомы алопеции у&nbsp;детей	
              p Проявления патологии различаются и&nbsp;напрямую зависят от&nbsp;типа.	
              ul.list-marked 
                li При атрофической формируются безволосые зоны в&nbsp;виде языков огня. На&nbsp;гладкой блестящей коже устья волосяных луковиц не&nbsp;видны. Восстановить естественный рост в&nbsp;пораженных местах невозможно.
                li Себорейная начинается с&nbsp;повышения жирности прядей, образованием у&nbsp;корней чешуек и&nbsp;корочек. Патология сопровождается зудом, ребенок расчесывает голову. Со&nbsp;временем в&nbsp;пораженных зонах волосяные стержни выпадают. Их&nbsp;рост восстанавливается после лечения.	
                li При диффузной наблюдается равномерное поредение. Волосяные стержни становятся хрупкими и&nbsp;ломкими, область пробора расширяется.
                li У&nbsp;гнездной главный симптом&nbsp;&mdash; круглые с&nbsp;чистой кожей безволосые участки, которые со&nbsp;временем сливаются. Волосы выпадают интенсивно. Патология сопровождается повреждением ногтевой пластины&nbsp;&mdash; образуются вмятины.

              h2 Диагностика
              p Не&nbsp;всегда выпадение волос у&nbsp;детей является алопецией. Родителям, заметившим тревожные симптомы, необходимо обратиться к&nbsp;врачу для уточнения диагноза. Расширенное диагностическое обследование выявит причины развития патологии. Диагностикой занимается педиатр и&nbsp;врачи других специализаций.
              p Анализ крови выявляет проблемы с&nbsp;щитовидной железой, инфекции, уровень железа и&nbsp;т.д. Помимо лабораторных исследований крови, больному:
              ul.list-marked 
                li осматривают корни волос под микроскопом;
                li делают фототрихограмму.
              p При подозрении на&nbsp;красную волчанку или стригущий лишай прибегают к&nbsp;биопсии и&nbsp;гистологическому исследованию частиц волосистой части головы. Анализ крови на&nbsp;микроэлементы выявляет дефициты, кала&nbsp;&mdash; дисбактериоз и&nbsp;гельминты.

              h2 Лечение алопеции у&nbsp;детей
              p Лечение проводится в&nbsp;несколько этапов и&nbsp;основывается на&nbsp;причинах, спровоцировавших патологию. При анемии назначают препараты железа, при поражении грибком&nbsp;&mdash; антимикотические составы, при инфекции&nbsp;&mdash; противовирусные средства, антибиотики и&nbsp;т.д.
              p Восстановительная терапия включает:
              ul.list-marked 
                li иммуномодуляторы;
                li комплекс витаминов;
                li гормональные препараты;
                li средства местного раздражающего действия.
              p При локализованной очаговой алопеции показано местное и\или внутриочаговое применение кортикостероидов. В&nbsp;тяжелых случаях резистентности рассматривается вероятность приема иммунодепрессантов.
              p Гнездная алопеция не&nbsp;вылечивается окончательно. Несмотря на&nbsp;положительные результаты терапии, долговременную ремиссию, возможно повторение эпизодов выпадения волос.

              h2 Прогноз и&nbsp;профилактика
              p При ранней диагностике и&nbsp;грамотном лечении большинство типов облысения обратимо. Но&nbsp;давать прогнозы при тотальном облысении проблематично, так как у&nbsp;некоторых детей наблюдаются повторные эпизоды облысения без возобновления роста волос.
              h3 Клинические рекомендации для детей
              ul.list-marked 
                li Использовать безопасные средства для мытья головы;
                li Исключить тугие прически;
                li Составить здоровое сбалансированное меню;
                li Защищать голову от&nbsp;прямых солнечных лучей;
                li Лечить детские болезни, не&nbsp;допуская перехода в&nbsp;хроническую форму;
                li Следовать режиму дня в&nbsp;соответствии с&nbsp;возрастом;
                li Избегать стрессовых ситуаций.

              h2 Какой врач лечит болезнь
              p При подозрении на&nbsp;облысение детей первоначально осматривает педиатр, который по&nbsp;результатам осмотра и&nbsp;лабораторных исследований направляет больного на&nbsp;консультацию узких специалистов. Так как болезнь провоцируют разные факторы, то&nbsp;больному может потребоваться помощь иммунолога, гастроэнтеролога, невролога, аллерголога или дерматолога-трихолога.

              h2 Популярные вопросы и&nbsp;ответы 
              +dropDown('<h3>В&nbsp;каком возрасте возникает гнездная алопеция?</h3>')
                p Болезнь диагностируют у&nbsp;детей разного возраста, но&nbsp;чаще у&nbsp;подростков.	
              +dropDown('<h3>Можно&nbsp;ли предотвратить очаговое облысение?</h3>')
                p Нет, так как в&nbsp;основе заболевания лежат генные нарушения.
              
              +dropDown('<h2>Источники</h2>', { h2: true })     
                ul.list-marked 
                  li Энциклопедия здоровья&nbsp;&mdash; методы лечения, лекарственные растения, советы практикующих врачей #[a(href='https://medicineherbalist.com/' target='_blank' rel='nofollow') https://medicineherbalist.com/];
                  li &laquo;Типы выпадения волос: признаки и&nbsp;симптомы очаговой алопеции&raquo; Американская академия дерматологической ассоциации #[a(href='https://www.aad.org/public/diseases/hair-loss/types/alopecia/symptoms' target='_blank' rel='nofollow') https://www.aad.org/public/diseases/hair-loss/types/alopecia/symptoms];
                  li &laquo;Гнездная алопеция у&nbsp;детей&raquo; Зорькина М.В., Незнахина М.С.

block styles
  +style('inner')
