extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Алопеция бороды
        +grid({ paddingy:true })
          +grid__item({ m:9 })
            p Алопеция бороды&nbsp;&mdash; редкая форма выпадения, проявляющаяся поредением и&nbsp;истончением, образованием очагов облысения в&nbsp;области подбородка. Чаще дополняет алопецию на&nbsp;голове, редко выступает как самостоятельное заболевание. Плешь на&nbsp;бороде выглядит неэстетично, поэтому вызывает психологический дискомфорт у&nbsp;мужчин, для которых борода&nbsp;&mdash; повод для гордости или часть имиджа.

            h2 Виды алопеции 
            p В&nbsp;области бороды встречаются разные типы алопеции. К&nbsp;распространенным относятся: медикаментозная, гнездная (очаговая), рубцовая, себорейная и&nbsp;грибковая.

            h3 Медикаментозная
            p Токсичное воздействие некоторых препаратов ведет к&nbsp;истончению волосяного стержня с&nbsp;последующим его выпаданием. К&nbsp;медикаментозному типу также относится алопеция, при которой волосы выпадают на&nbsp;голове, подбородке, бровях и&nbsp;веках в&nbsp;результате противоопухолевого лечения. Болезнь развивается постепенно в&nbsp;виде нарастающего поредения. В&nbsp;большинстве случаев облысение обратимо. 

            h3 Очаговая
            p Это аномальная иммунная реакция, когда иммунные клетки видят угрозу в&nbsp;волосяных луковицах и&nbsp;атакуют&nbsp;их, выделяя антитела. В&nbsp;результате на&nbsp;бороде, в&nbsp;области усов и&nbsp;бакенбардов образуются гладкие с&nbsp;четко очерченными границами безволосые зоны. В&nbsp;большинстве случаев облысение бороды выступает как часть тотального облысения, когда волосы выпадают на&nbsp;голове и&nbsp;лице. Но&nbsp;может проявляться как самостоятельное заболевания. В&nbsp;ряде случаев выздоровление наступает неожиданно. Но&nbsp;чаще очаги облысения объединяются, вызывая полную потерю волос.
            +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-1', caption:'Гнездная алопеция'})

            h3 Себорейная
            p К&nbsp;выпадению приводит жирная себорея, при которой избыток жира, скопившийся у&nbsp;корней, нарушает рост волос. Характеризуется повышенным салоотделением, образованием перхоти и&nbsp;выпадением. Сопровождается зудом, воспалением и&nbsp;отечностью пораженных участков. Ведь жирный секрет&nbsp;&mdash; благодатная почва для бактерий.
            +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-2', caption:'При себорейной алопеции появляются желтоватые отшелушивающиеся чешуйки'})

            h3 Грибковая
            p Проплешины на&nbsp;бороде появляются при микозе и&nbsp;стригущем лишае. Это группа болезней, причина возникновения которых кроется в&nbsp;паразитических грибах, массово разрушающих волосяные фолликулы. Больного мучает зуд, на&nbsp;коже появляются красные пятна, серый налет на&nbsp;волосах. При поражении кожи подбородка грибками алопеция носит временный характер. 

            h3 Рубцовая
            p В&nbsp;результате перенесенного плоского лишая, красной волчанки, фолликулита или ожога гибнут волосяные луковицы. В&nbsp;местах сформировавшихся рубцов волосы на&nbsp;бороде выпадают и&nbsp;больше не&nbsp;растут.
            p Андрогенетическая алопеция не&nbsp;распространяется на&nbsp;подбородок, так как волосы в&nbsp;этой зоне не&nbsp;чувствительны к&nbsp;дигидротестостерону, поражающему фолликулы. Исключение: редкие случаи агрессивного течения болезни.

            h2 Причины возникновения
            p От&nbsp;потери волос страдают мужчины разного возраста. У&nbsp;облысения бороды местами у&nbsp;мужчин всегда есть причина. 
            ul.list-marked 
              li Медицинские препараты. К&nbsp;облысению часто приводит прием бета-адреноблокаторов, антикоагулянтов, цитостатиков, ретиноидов и&nbsp;ряда других лекарств.
              li Кожные болезни: жирная себорея, атопический дерматит волосистой части головы.
              li Паразитарные грибки: микоз и&nbsp;стригущий лишай.
              li Аутоиммунные состояния: красная волчанка, диффузный зоб, сахарный диабет, хронический тиреоидит.
              li Недостаток витаминов и&nbsp;микроэлементов. При нехватке железа, кальция, серы и&nbsp;селена в&nbsp;организме волосы на&nbsp;бороде становятся тонкими и&nbsp;редкими, а&nbsp;затем выпадают. 	
              li Гормональный дисбаланс, вызванный нехваткой тестостерона.
            p Стресс, наследственность, механические травмы также становятся причиной выпадения.
            +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-3', caption:'Стафилококковый сикоз. В основе развития лежат нейро-эндокринные нарушения'})

            h2 Симптоматика
            p Алопеция у&nbsp;мужчин на&nbsp;бороде протекает по-разному, симптомы зависят от&nbsp;характера болезни-провокатора. Состояние волосяного покрова ухудшается постепенно и&nbsp;не&nbsp;вызывает вначале тревоги, или болезнь проявляется внезапно, как при очаговой алопеции у&nbsp;мужчин на&nbsp;бороде. Но&nbsp;есть ряд общих характерных признаков, указывающих на&nbsp;начало облысения.
            ul.list-marked 
              li Борода стала терять густоту;
              li Ухудшение состояния при привычном уходе;
              li При расчесывании волосков выпадает больше обычного;
              li Появились участки с&nbsp;проплешинами;
              li Кольцеобразные безволосые пятна с&nbsp;признаками шелушения;
              li Круглые гладкие очаги облысения;
              li Воспаление и&nbsp;зуд;
              li Сухие или жирные чешуйки.

            h2 Диагностика
            p Для диагностики алопеции на&nbsp;лице у&nbsp;мужчин применяют комплексное обследование. Первая часть включает сбор анамнеза и&nbsp;осмотр пациента. Врач обращает внимание на&nbsp;состояние волос, психоэмоциональный статус больного, прием препаратов и&nbsp;БАДов, зуд и&nbsp;чувствительность в&nbsp;зоне подбородка.
            ul.list-marked 
              li Дерматоскоп позволяет рассмотреть маркеры, указывающие на&nbsp;конкретный тип облысения;
              li Нарушения волосяного цикла определяются при микроскопическом исследовании волоса;
              li Биопсию применяют при подозрении на&nbsp;рубцовую алопецию или для получения дополнительной информации;
              li Фототрихограмма также по&nbsp;разным параметрам оценивает проблемные зоны.
            +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-4', caption:'Дерматоскопия кожи подбородка'})

            p Диагностический этап&nbsp;&mdash; лабораторные исследования крови, которые уточняют диагноз, выявляют провоцирующие факторы. Комплекс включает стандартные исследования, которые дополняются анализами на&nbsp;гормоны, холестерин, инсулин. Также кровь сдается для определения недостатка витаминов и&nbsp;микроэлементов.

            h2 Как лечить
            p Лечение алопеции бороды у&nbsp;мужчин определяется причинами и&nbsp;активностью процесса. При выявлении патологий ЦНС, щитовидной железы, надпочечников и&nbsp;других жизненно важных систем организма назначается терапия для решения проблемы.

            h3 Наружное 
            p Местные раздражающие средства стимулируют приток крови к&nbsp;фолликулам, улучшая их&nbsp;трофику. В&nbsp;результате волосяной стержень уплотняется, становится крепче. При грибковом поражении кожи подбородка бороду моют шампунем с&nbsp;фунгицидным средством в&nbsp;составе. При некоторых видах алопеции на&nbsp;лице у&nbsp;мужчин положительно себя зарекомендовали гормональные крема.
            +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-5', caption:'Для лечения грибка бороду моют фунгицидным шампунем'})

            h3 Медикаментозное
            p Если подтвердили грибковое поражение кожи, пациенту назначаются антибиотики. При микозах больному проводится иммуномодулирующая терапия. При аутоиммунном облысении к&nbsp;терапии подключают препараты иммунодепрессивного действия, чтобы снизить агрессию иммунных клеток. Глюкокортикостероиды&nbsp;&mdash; лидеры терапии тяжелых форм алопеции, в&nbsp;первую очередь гнездной. Также в&nbsp;лечение включают стимуляторы фактора роста.
            +grid({ paddingy:true, parLike: true })
              +grid__item({ m:8 })
                +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-6', caption:'Микоз на подбородке'})
            p Недостаток витаминов и&nbsp;микроэлементов устраняется корректировкой меню или приемом витаминно-минеральных комплексов.

            h3 Физиотерапевтическое
            p Физиотерапия выступает как вспомогательное лечение. Электростимуляция уменьшает объем жировых клеток, нормализует функциональность кожных клеток. Дарсонвализация незаменима при лечении себорейного типа облысения, так как снижает работу сальных желез. Криотерапия точечно воздействует жидким азотом на&nbsp;пораженные участки.
            +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-7', caption:'Дарсонвализа́ция — методика электротерапии посредством импульсного электрического тока или импульсного электромагнитного поля высокой частоты.'})
            .block-marked.block-marked--padding-small
              p При рубцовом облысении однородность и&nbsp;густоту возвращают методом пересадки волос.

            h2 Как ускорить рост после выпадения
            p Миноксидил внутриклеточно открывает калиевые каналы, в&nbsp;результате чего активируется приток калия и&nbsp;кальция к&nbsp;клеткам, вызывая расширение сосудов. Волосы быстрее выходят из&nbsp;фазы сна.
            +grid({ paddingy:true, parLike: true })
              +grid__item({ m:8 })
                +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-8', caption:'Миноксидил ускоряет рост'})
            p Лазерное лечение также направлено на&nbsp;пробуждение спящих волосяных луковиц. Дополнительно укрепляются корни волос.
            p Мезотерапию используют для введения витаминов и&nbsp;микроэлементов под кожу вблизи волосяных фолликулов. В&nbsp;результате обмен веществ ускоряется, фолликулы наполняются питательными веществами.
            +figure({src:'/assets/images/articles/alopeciya-borody/alopecia-9', caption:'Мезотерапия'})
            p Плазмотерапия&nbsp;&mdash; для инъекций также используют плазму крови, взятую у&nbsp;пациента. После процедуры фолликулы получают недостающие для роста питательные вещества.	

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Как предотвратить облысение бороды?</h3>')
              p Чтобы минимизировать риски, рекомендовано избегать стрессов, следить за&nbsp;состоянием здоровья, выбирать сбалансированный рацион и&nbsp;правильно ухаживать за&nbsp;бородой.
            +dropDown('<h3>Зарастут&nbsp;ли снова облысевшие участки?</h3>')
              p После устранения провоцирующих факторов, волосы возобновляют рост. Исключение&nbsp;&mdash; рубцовая и&nbsp;очаговая алопеции, которые характеризуются гибелью фолликулов.
            +dropDown('<h3>Влияет&nbsp;ли возраст на&nbsp;облысение?</h3>')
              p В&nbsp;перечень провоцирующих факторов возраст мужчины не&nbsp;входит.
            
            +dropDown('<h2>Список литературы</h2>', { h2: true })     
              ul.list-marked 
                li #[a(href='https://alkoy.ru/files/Metodicka-alopeciya-07-2011.pdf' target='_blank' rel='nofollow') https://alkoy.ru/files/Metodicka-alopeciya-07-2011.pdf]  
                li #[a(href='https://www.lvrach.ru/1999/05/4527712' target='_blank' rel='nofollow') https://www.lvrach.ru/1999/05/4527712]
                li #[a(href='http://www.dermatology.ru/translation/obsledovanie-patsientov-s-alopetsiei' target='_blank' rel='nofollow') http://www.dermatology.ru/translation/obsledovanie-patsientov-s-alopetsiei]
 
block styles
  +style('inner')
