extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Алопеция бровей
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Алопеция бровей характеризуется полной или частичной потерей волос на&nbsp;бровях и&nbsp;ресницах. Выступает как изолированная патология или проявление системного процесса. Состояние отсутствия бровей называется мадароз. Мадароз часто влечет эмоциональное и&nbsp;психологическое расстройство, что негативно сказывается на&nbsp;социальной и&nbsp;профессиональной жизни человека. Выпадение волос на&nbsp;лице&nbsp;&mdash; не&nbsp;только косметическая проблема. Часто болезнь свидетельствует о&nbsp;серьезных неполадках в&nbsp;организме.
            p В&nbsp;зависимости от&nbsp;причины мадароз классифицируют как рубцовый и&nbsp;не&nbsp;рубцовый. При втором типе волосяные луковицы сохраняют жизнеспособность и&nbsp;стержни волоса могут вновь вырасти, при рубцовой патологии фолликулы замещает фиброзная ткань. При двустороннем облысении волосы выпадают на&nbsp;обеих бровях, одностороннем&nbsp;&mdash; на&nbsp;одной брови. Алопеция бывает полной и&nbsp;частичной.
            +figure({src:'/assets/images/articles/alopetsiya-brovey/brovey-1', caption:'Алопеция бровей'})

            h2 Анатомия
            p У&nbsp;бровей короткие косо расположенные волоски над глазницей, их&nbsp;форма и&nbsp;строение позволяют защищать глаза от&nbsp;пыли, пота и&nbsp;света. Брови&nbsp;&mdash; важный компонент невербального общения и&nbsp;выражения эмоций, который также выполняют эстетическую роль, завершая образ человека. Густота&nbsp;&mdash; показатель, который зависит от&nbsp;наследственности, возраста и&nbsp;общего состояния здоровья. Область бровей и&nbsp;межбровья снабжена сальными железами. 	
            +figure({src:'/assets/images/articles/alopetsiya-brovey/brovey-2', caption:'Моделирование бровей позволяют менять образ'})
            p Ресницы состоят из&nbsp;изогнутых волосков, берущих начало на&nbsp;краях век. Защищают глаза от&nbsp;попадания пыли, мелких насекомых и&nbsp;т.д. По&nbsp;сравнению с&nbsp;кожей головы у&nbsp;кожи век эпидермис тоньше, а&nbsp;гиподермы нет. Это подкожная жировая клетчатка. Ресницы углублены на&nbsp;2&nbsp;мм вглубь дермы и&nbsp;лишены мышц, контролирующих движение волос. На&nbsp;верхнем веке ресницы распределены на&nbsp;5-6&nbsp;рядах, на&nbsp;нижнем&nbsp;&mdash; на&nbsp;3-4&nbsp;рядах. Распределение по&nbsp;рядам не&nbsp;оставляет незащищенных промежутков при выпадении ресниц. Функционирование ресничных фолликулов поддерживают голокриновые и&nbsp;апокринные железы.
            +figure({src:'/assets/images/articles/alopetsiya-brovey/brovey-3', caption:'На веках ресницы растут в 3-6 рядов'})

            h3 Жизненный цикл
            p Жизненные циклы ресниц и&nbsp;бровей отличаются от&nbsp;жизненного цикла волос на&nbsp;голове, у&nbsp;которых анаген длится 2-8&nbsp;лет. Волоски бровей проходят анаген за&nbsp;2-3&nbsp;месяца, катаген&nbsp;&mdash; 2-3&nbsp;недели, телоген&nbsp;&mdash; 2-3&nbsp;месяца. Итого жизненный цикл бровей 4-6&nbsp;месяцев. У&nbsp;ресниц также короткий жизненный цикл&nbsp;&mdash; 1-5&nbsp;месяцев.
            +figure({src:'/assets/images/articles/alopetsiya-brovey/brovey-4', caption:'В ресничном ряду расположены волоски на разном жизненном этапе (телоген, катаген, анаген)'})

            h2 Причины выпадения волос в&nbsp;области бровей
            p Этиология облысения бровей разнообразна и&nbsp;включает инфекционные, аутоиммунные, генетические, неопластические, эндокринные и&nbsp;травмирующие состояния. Из-за обширной этиологии ранняя и&nbsp;точная диагностика играет ключевую роль для составления продуктивной схемы лечения. 		
            p Волосы в&nbsp;области бровей и&nbsp;ресницы выпадают изолированно или являются симптомом диффузной, рубцовой, очаговой алопеции.
            p #[strong Очаговая алопеция] (ОА) проявляется как двустороннее выпадение бровей и&nbsp;выпадение ресниц на&nbsp;верхних и&nbsp;нижних веках. При ОА&nbsp;изолированное облысение в&nbsp;бровной зоне и&nbsp;на&nbsp;веках встречается редко. Чаще это симптом тотальной формы облысения. Развивается у&nbsp;обоих полов. Это аутоиммунная патология не&nbsp;рубцующегося характера.
            p #[strong Фронтальная фиброзирующая алопеция]&nbsp;&mdash; рубцовая алопеция (РА), приводящая к&nbsp;потере волосяного покрова в&nbsp;лобно-теменной области. Зона бровей при&nbsp;РА лысеет у&nbsp;94&nbsp;% больных, ресницы выпадают у&nbsp;34&nbsp;%. Бровная дуга начинает терять волосы с&nbsp;боковой стороны. Патологии свойственно истончение волос и&nbsp;рубцевание фолликулов. В&nbsp;местах с&nbsp;фиброзной тканью волоски больше не&nbsp;растут.

            h3 Внешние факторы
            p #[strong Ожоги и&nbsp;травмы.] В&nbsp;результате ожога или травмирования в&nbsp;месте повреждения формируется келоидный рубец, на&nbsp;поверхности которого отсутствует волосяной покров.
            p #[strong Микроблейдинг и&nbsp;перманентный макияж.] Микроблейдинг&nbsp;&mdash; травматичная процедура, образующая микрорубцы. Обе процедуры способны разрушить волосяные луковицы. При выполнении ручного и&nbsp;аппаратного татуажа остаются микрорубцы, травмируются волоски. В&nbsp;зоне роста ресниц образуется корочка, которая отпадает вместе с&nbsp;ресницами. 	
            +figure({src:'/assets/images/articles/alopetsiya-brovey/brovey-5', caption:'До и после процедуры микроблединга'})
            p #[strong Ламинирование.] В&nbsp;состав средств для ламинирования входит перекись водорода, тиогликолевая кислота, аммиак, отрицательно влияющие на&nbsp;структуру не&nbsp;только стержней, но&nbsp;и&nbsp;луковиц. При частом ламинировании и&nbsp;нарушении техники выполнения стержни могут выпадать.

            h3 Внутренние факторы
            p #[strong Генетика.] К&nbsp;редким генетическим причинам мадароза относят эктодермальную десплазию, кератоз, Т-клеточный иммунодефицит, врожденную ихтиозиформную эритродермию и&nbsp;другие.
            p #[strong Гормональные изменения.] Из-за гипотериоза у&nbsp;женщин выпадают волосы и&nbsp;брови. При тяжелом течении болезни выпадают еще и&nbsp;ресницы. Пренатальный период, менопауза, прием гормональных препаратов часто ведут к&nbsp;истончению, а&nbsp;затем выпадению волосков на&nbsp;бровной дуге.
            p #[strong Инфекции.]	Лепроматозная проказа нарушает рост стержней, приводя к&nbsp;мадарозу на&nbsp;ранних стадиях болезни. Кожный сифилис также ведет к&nbsp;облысению на&nbsp;голове и&nbsp;лице. Волоски выпадают на&nbsp;вторичной стадии болезни. Опоясывающий лишай и&nbsp;другие грибковые патологии также становятся причиной частичной или полной, односторонней или двусторонней потери волос.
            p #[strong Кожные болезни.] Демодекоз, псориаз, атопический дерматит и&nbsp;другие дерматозы&nbsp;&mdash; источники затяжного воспаления на&nbsp;коже, что негативно сказывается на&nbsp;здоровье волос и&nbsp;луковиц.
            +figure({src:'/assets/images/articles/alopetsiya-brovey/brovey-6', caption:'Шелушение кожи на лице'})
            p #[strong Неопластические состояния.] Мадароз часто сопровождает злокачественные новообразования, особенно гематологические. Химиотерапевтическое лечение также способствует потере волос на&nbsp;голове и&nbsp;лице.
            p #[strong Сильный эмоциональный стресс.] Хроническое состояние стресса и&nbsp;тревожности&nbsp;&mdash; причина усиленной выработки кортизола и&nbsp;адреналина, спазмирования тканей. Гормоны стресса вызывают вначале телогеновое, а&nbsp;затем и&nbsp;диффузное облысение. Спазмы капилляров кожи головы, бровной зоны и&nbsp;век ухудшают питание волосяных фолликулов. Итак короткий жизненный цикл волосков сокращается.
            p #[strong Дефицит питательных веществ.] Диеты, недостаточное потребление витаминов и&nbsp;минералов ведет к&nbsp;развитию мадароза. 	

            h2 Диагностика
            p После оценки истории болезни, врач проводит осмотр и&nbsp;назначает анализы для подтверждения предварительного диагноза.
            ul.list-marked 
              li Микроскопическое исследование позволяет подробно изучить состояние выпавших стержней. Каждое патологическое состояние оставляет на&nbsp;них характерные следы. Например, при очаговой алопеции у&nbsp;стержня ближе к&nbsp;коже слабо выражен пигмент, толщина стержня у&nbsp;корня тоньше, чем на&nbsp;кончике.
              li Анализ крови выявляет гормональный дисбаланс, дефицитные и&nbsp;аутоиммунные состояния.
              li Биопсия кожи. Проводится в&nbsp;случае, когда причина мадароза не&nbsp;ясна или под подозрением рубцовая алопеция.
              li Биомикроскопия. Процедуру проводит офтальмолог, чтобы подтвердить или опровергнуть блефарит.

            h2 Лечение
            p Подход к&nbsp;лечению алопеции зависит от&nbsp;причины и&nbsp;тяжести патологии. В&nbsp;первую очередь разрабатывается схема лечения основного заболевания, в&nbsp;результате которого и&nbsp;выпадают брови. Также лечение направлено на&nbsp;предотвращение дальнейшего выпадения и&nbsp;восстановление здорового роста волос.	
            p #[strong Кортикостероиды.] Местные и&nbsp;внутриочаговые стероиды используют для лечения марадоза. Лекарства снимают воспаление, стимулируют рост здоровых стержней.
            p #[strong Миноксидил.] Препарат доказал действенность лечения облысения бровей и&nbsp;ресниц при регулярном нанесении раствора.
            p #[strong Витаминные комплексы.] Когда мадароз&nbsp;&mdash; результат нехватки питательных веществ, добавление в&nbsp;рацион витаминов и&nbsp;минералов способствует возобновлению роста волос и&nbsp;ресниц.
            p Для сохранения здоровья бровей и&nbsp;ресниц рекомендовано не&nbsp;окрашивать их&nbsp;чаще 1&nbsp;раза в&nbsp;месяц, делать перерыв между наращиваниями, проводить ламинирование 1&nbsp;раза в&nbsp;2&nbsp;месяца.

            h2 Трансплантация волос в&nbsp;области бровей
            p Если волосков осталось мало, наружные средства не&nbsp;помогут. Поэтому прибегаем к&nbsp;хирургическому методу восстановления волосяного покрова в&nbsp;бровной зоне. Трансплантация помогает даже при полной потере бровей. Процедура кропотливая, проводится бесшовным методом, не&nbsp;оставляющим следов. Хирург способен скорректировать форму, ширину и&nbsp;длину бровной дуги.
            p Во&nbsp;время операции здоровые фолликулы берем из&nbsp;донорской зоны и&nbsp;вставляем в&nbsp;сформированные отверстия в&nbsp;зоне поредения. Для трансплантации используем микроинструменты. Первое время место с&nbsp;пересаженным материалом мыть водой не&nbsp;рекомендуется. Волоски начинают расти через 3-4&nbsp;месяца, восстанавливается волосяной покров через 6&nbsp;месяцев.
            +figure({src:'/assets/images/articles/alopetsiya-brovey/brovey-7', caption:'Трансплантация - действенный метод восстановления густоты бровей'})

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Можно&nbsp;ли использовать средства для роста волос на&nbsp;голове для бровей?</h3>')
              p Лечебные средства назначает только врач. Из-за особенности строения и&nbsp;расположения вблизи глаз зоны воздействия не&nbsp;все составы подходят для ресниц и&nbsp;бровей.
            +dropDown('<h3>Вредно&nbsp;ли часто корректировать форму бровей?</h3>')
              p Да. Частое выщипывание травмирует луковицу, в&nbsp;результате чего она со&nbsp;временем перестает производить стержень.
            +dropDown('<h3>Какие домашние средства укрепляют брови?</h3>')
              p Хорошо укрепляет волосы компресс с&nbsp;касторовым, облепиховым или репейным маслом. Масла наносятся тонким слоем, нельзя допускать попадания в&nbsp;глаза.
            +dropDown('<h3>Влияет&nbsp;ли сезон на&nbsp;состояние бровей?</h3>')
              p Да. Осенью из-за снижения количества эстрогенов в&nbsp;крови рост волос замедляется, холодный ветер и&nbsp;мороз также негативно сказываются на&nbsp;состоянии бровей.
            +dropDown('<h3>Можно&nbsp;ли восстановить брови после их&nbsp;потери?</h3>')
              p Если волосяные луковицы не&nbsp;повреждены, то&nbsp;большие шансы возобновить рост волос. Но&nbsp;даже если волосы не&nbsp;растут, трансплантация решает эту проблему. Пересадку не&nbsp;проводим при очаговой и&nbsp;первично-рубцовой алопециях.
            
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Алопеции. Диагностика и&nbsp;лечение Боханна, Алессандрини
                li Мастерские техники офтальмохирургии Глатт Герберт Дж., Путтерман Аллен&nbsp;М.
                li Трихиаз, мадароз, димихиаз, дистрихиаз/статья Dr_Michael

block styles
  +style('inner')
