extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Андрогенная алопеция
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Алопеция&nbsp;&mdash; медицинский термин, означающий патологическую потерю волос. Результатом болезни становится частичное или полное облысение, которое вызывает приступы тревоги, психологическое напряжение и&nbsp;даже депрессию. Андрогенетическая алопеция (АГА)&nbsp;&mdash; распространенная причина потери волос среди мужчин. Проблеме подвержено больше 60&nbsp;% взрослого мужского населения. Женщины также сталкиваются с&nbsp;облысением по&nbsp;мужскому типу, но&nbsp;патология менее выражена и&nbsp;возникает в&nbsp;более позднем возрасте.
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-1', caption:'Стадии алопеции у мужчин и женщин'})
            p Первое предположение о&nbsp;влиянии андрогенов на&nbsp;выпадение волос сделал Гиппократ в&nbsp;400 году до&nbsp;н.э. Но&nbsp;изучением этого вопроса занялся Гамильтон Дж.Б. только в&nbsp;1042&nbsp;году.

            h2 Что такое андрогенная алопеция
            p Андрогенное выпадение волос развивается при генетически унаследованной чувствительности фолликулярных клеток к&nbsp;андрогенам. Это значит, что выпадение волос вызывает сочетание наследственных и&nbsp;гормональных факторов. На&nbsp;возникновение патологических процессов также влияют внутренние проблемы организма. При АГА алопеции на&nbsp;голове формируется узнаваемый узор: волосяной покров отсутствует на&nbsp;лбу и&nbsp;темени, но&nbsp;на&nbsp;затылке сохраняется. У&nbsp;болезни медленно прогрессирующее течение.
            .block-marked.block-marked--padding-small
              p Андрогены&nbsp;&mdash; гормоны, стимулирующие развитие мышц, костей, вторичных половых признаков у&nbsp;мужчин и&nbsp;женщин.
            <figure class="figure">
              <img class="figure__image" src="/assets/images/articles/androgennaya-alopetsiya/androgennaya-2.gif" alt="При андрогенной алопеции у мужчин облысение затрагивает только определенные зоны" title="При андрогенной алопеции у мужчин облысение затрагивает только определенные зоны" loading="lazy" decoding="async">
              <figcaption class="figure__caption">При андрогенной алопеции у мужчин облысение затрагивает только определенные зоны</figcaption>
            </figure>

            h2 Патогенез и&nbsp;причины возникновения
            h3 Причины развития андрогенетической алопеции у&nbsp;мужчин
            h4 Дигидротестостерон
            p Главный представитель андрогенов&nbsp;&mdash; тестостерон, который придает мужскому скелету характерные черты, отвечает за&nbsp;здоровье и&nbsp;рост костной, мышечной массы и&nbsp;волос. В&nbsp;ряде случаев андрогены перестают стимулировать, а&nbsp;начинают тормозить работу фолликулов. Попадая в&nbsp;клетки волосяных луковиц, расположенных на&nbsp;макушке и&nbsp;лбу, тестостерон преобразуется в&nbsp;дигидротестостерон (ДГТ) под действием фермента 5-альфа-редуктазы 2&nbsp;типа. ДГТ замедляет работу фолликулов.
            p Функционирование фолликулов тормозится, а&nbsp;затем затухает. Стержень истончается, ломается, теряет интенсивность цвета и&nbsp;отламывается. При уменьшении размеров волосяной луковицы жесткий стержень трансформируется в&nbsp;пушковый волосок. При этом уровень тестостерона в&nbsp;крови не&nbsp;превышает нормальные показатели.
            .block-marked.block-marked--padding-small
              p Зональное распространение андрогенозависимой алопеции объясняется биохимическими свойствами кожи головы. На&nbsp;затылке и&nbsp;висках кожа содержит в&nbsp;достаточном количестве ароматазу&nbsp;&mdash; фермент, преобразовывающий андрогены в&nbsp;эстрогены, которые не&nbsp;тормозят, а&nbsp;поддерживают работу волосяных луковиц. У&nbsp;кожи в&nbsp;области лба и&nbsp;темени содержание этого фермента ниже.

            h4 Наследственность
            p Многолетние научные исследования установили, что человек, склонный к&nbsp;проявлениям гормональной алопеции, передает предрасположенность по&nbsp;наследству. Если отец страдал этим типом облысения, то&nbsp;у&nbsp;сына или дочери повышается риск развития алопеции. Считается, что возраст первых проявлений андрогенной алопеции также заложен в&nbsp;генах. До&nbsp;16&nbsp;% мужчин сталкиваются с&nbsp;наследственным облысением до&nbsp;30&nbsp;лет.

            h3 Причины развития андрогенетической алопеции у&nbsp;женщин
            p Ошибочно мнение, что с&nbsp;АГА сталкиваются только мужчины. Облысение у&nbsp;женщин по&nbsp;мужскому типу&nbsp;&mdash; не&nbsp;такое уж&nbsp;и&nbsp;редкое явление. Встречается у&nbsp;12&nbsp;% женщин, перешагнувших 30-летний рубеж. Андрогенная алопеция у&nbsp;женщин развивается в&nbsp;результате избыточной секреции или повышенной активности андрогенов. При незначительных нарушениях болезнь развивается по&nbsp;женскому типу, при значительной гиперандрогении&nbsp;&mdash; по&nbsp;мужскому. Патогенным фактором выступает:
            ul.list-marked 
              li нарушения функционирования надпочечников, яичников;
              li резкое уменьшение количества эстрогенов в&nbsp;крови;
              li прием гормональных препаратов с&nbsp;андрогенным потенциалом;
              li нарушенный углеводный обмен.
            p В&nbsp;патогенезе развития АГА у&nbsp;женщин не&nbsp;исключено участие грибков и&nbsp;бактерий, которые вызывают воспаление в&nbsp;волосяных луковицах и&nbsp;вокруг сальных желез с&nbsp;последующим фиброзированием тканей. Перифолликулярный фиброз способствует тяжелому течению генетической алопеции. 
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-3', caption:'Перифолликулярное воспаление усложняет течение АГА'})

            h3 Провоцирующие факторы
            ul.list-marked 
              li Риск развития андрогенного облысения увеличивается при:
              li вредных привычках, таких как табакокурение, употребление алкоголя;
              li болезнях волосистой части головы;
              li нарушениях работы эндокринных желез;
              li хроническом состоянии стресса;
              li длительном воздействии УФ-лучей.

            h2 Классификация
            p По&nbsp;общепринятой классификации различают андрогенетическую алопецию по&nbsp;мужскому и&nbsp;женскому типу. У&nbsp;женщин болезнь может развиваться как по&nbsp;женскому, так и&nbsp;по&nbsp;мужскому типу.
            h4 7&nbsp;стадий облысения по&nbsp;мужскому типу
            ol.list-numbered 
              li Незначительное поднятие линии роста волос. Начальная стадия часто остается незамеченной.
              li Симметричное истончение и&nbsp;выпадение волос в&nbsp;зонах лба и&nbsp;висков;
              li Зона облысения расширяется. Залысины в&nbsp;лобно-височном сегменте продвигаются вверх, усиливается поредение прядей на&nbsp;темени.
              li Активизируется выпадение волос во&nbsp;всех пораженных областях. Лоб и&nbsp;темя разделяет небольшой островок волосяного покрова.
              li Зонирующие границы между очагами облысения почти исчезли, сохранив редкие волоски.
              li Безволосая область разрастается вглубь и&nbsp;в&nbsp;ширину, сливаясь в&nbsp;единую зону.
              li Волосы сохранились на&nbsp;висках и&nbsp;затылке. Форма оставшихся волос напоминает характерную для АГА подкову.
            +grid({ parLike:true })
              +grid__item({ m:9, xs:12 })
                +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-4', caption:'Классификация АГА по мужскому типу'})

            h4 3&nbsp;стадии облысения по&nbsp;женскому типу
            p У&nbsp;женщин облысению подвержена вся верхняя часть головы, разрежение волос происходит равномерно в&nbsp;этой зоне. Стадии облысения определяются шириной пробора:
            ol.list-numbered 
              li до&nbsp;1&nbsp;см;
              li до&nbsp;2&nbsp;см;
              li до&nbsp;3&nbsp;см.
            p Полная потеря волос встречается редко.

            h2 Симптомы андрогенной алопеции
            p Для андрогенной алопеции характерно циклическое течение, когда активная потеря волос сменяется временной ремиссией. Преобладание тонких и&nbsp;мягких пушковых волосков на&nbsp;голове&nbsp;&mdash; характерный признак АГА у&nbsp;мужчин и&nbsp;женщин. Часто усиливается работа сальных желез, что вынуждает человека чаще мыть голову, из-за чего потеря волос только прогрессирует.
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-5', caption:'Замещение волосяных стержней пушком - первый признак андрогенной алопеции'})

            h3 У&nbsp;мужчин
            p Андрогенная алопеция у&nbsp;мужчин проявляется внешними характерными признаками:
            ul.list-marked 
              li истончение и&nbsp;ломкость стержней;
              li поредение волос на&nbsp;лбу;
              li образование залысин в&nbsp;височной и&nbsp;теменной области;
              li постепенное слияние безволосых участков.
            p При АГА передняя линия роста волос у&nbsp;мужчин приобретает М, V&nbsp;или&nbsp;U форму. Не&nbsp;каждый человек с&nbsp;андрогенной алопецией испытывает весь спектр симптомов. Тяжесть состояния варьируется от&nbsp;человека к&nbsp;человеку.

            h3 У&nbsp;женщин
            p При норме выпадения до&nbsp;80&nbsp;волосяных стержней в&nbsp;день, количество выпавших волос по&nbsp;разным причинам увеличивается. Если при этом структура стержней остается неизменной, то&nbsp;причина интенсивного выпадения кроется не&nbsp;АГА. Алопеция начинается не&nbsp;только с&nbsp;поредения волосяного покрова, но&nbsp;и&nbsp;истончения стержней. При выпадении волос по&nbsp;женскому типу:
            ul.list-marked 
              li расширяется пробор;
              li у&nbsp;стержней наблюдается минимизация, потеря пигмента и&nbsp;блеска;
              li появляется множество пушковых волосков на&nbsp;голове;
              li повышается жирность кожи головы;
              li образуются залысины с&nbsp;сохранением передней линии волос;
              li наблюдается поредение в&nbsp;области темени.
            p Нарушение менструального цикла, пушок на&nbsp;лице, поликистоз яичников, прыщи на&nbsp;коже&nbsp;&mdash; частые спутники андрогенного облысения у&nbsp;женщин.

            h2 Осложнения
            p Если АГА не&nbsp;лечить, болезнь продолжит прогрессировать. У&nbsp;каждого человека индивидуальная скорость облысения. По&nbsp;мере продвижения патологического процесса становится труднее восстанавливать былую густоту волос. Например, достигнув 3&nbsp;стадии, благодаря интенсивному лечению вернуться можно только ко&nbsp;2&nbsp;стадии. 
            p Редко, но&nbsp;АГА приводит к&nbsp;полному облысению без возможности восстановления волосяного покрова.
            p Андрогенная алопеция не&nbsp;сказывается на&nbsp;здоровье человека, не&nbsp;требует срочной медицинской помощи. Но&nbsp;значительные изменения во&nbsp;внешности усиливают психологическую нагрузку на&nbsp;пациента. Особенно тяжело приходится женщинам, для которых волосы&nbsp;&mdash; показатель здоровья и&nbsp;привлекательности. Неуверенность в&nbsp;себе снижает качество жизни человека.

            h2 Диагностика
            p Диагноз ставят, основываясь на&nbsp;клинические признаки. Также врач проводит тракционный тест, который включает захват пальцами до&nbsp;60&nbsp;стержней и&nbsp;сильное вытягивание вверх. Выпадение 10&nbsp;% волос и&nbsp;больше говорит о&nbsp;патологических процессах. Тест повторяют на&nbsp;4&nbsp;участках головы. Положительный результат в&nbsp;лобно-теменной области подтверждает диагноз АГА. Положительный тест на&nbsp;4&nbsp;участках указывает на&nbsp;сочетание диффузной телогеновой и&nbsp;андрогенетической алопеций.
            p Лабораторно-инструментальный комплекс исследований включает:
            ul.list-marked 
              li Дерматоскопию или фототрихограмму&nbsp;&mdash; обследование кожи головы при увеличении. Характерные признаки АГА&nbsp;&mdash; разнородность диаметра стержней, коричневое гало, указывающее на&nbsp;воспаление в&nbsp;фолликуле, больше 20&nbsp;% веллусных волосков.	
              li Лабораторная диагностика включает исследование работы щитовидной железы, дефицитных состояний, показателей пролактина, уровень гормонов. Также требуется ультразвуковое обследование щитовидной железы, надпочечников и&nbsp;яичников.
              li Биопсия кожных фрагментов с&nbsp;области облысения необходима для выявления структурных изменений в&nbsp;фолликуле, плотности волосяных луковиц на&nbsp;квадратный сантиметр, фиброзных процессов.
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-6', caption:'Фототрихограмма'})

            h2 Лечение
            p Нет единого средства от&nbsp;алопеции. АГА&nbsp;&mdash; многофакторная патология, это значит к&nbsp;лечению требуется комплексный подход. Главная задача&nbsp;&mdash; замедлить и&nbsp;остановить прогрессирующее облысение. На&nbsp;продуктивность терапии влияет стадия АГА, возраст и&nbsp;общее состояние пациента. Чтобы добиться значимых результатов в&nbsp;лечении, необходимо:
            ul.list-marked 
              li блокировать генетический фактор&nbsp;&mdash; подавлять действие фермента 5-альфа-редуктазы;
              li стимулировать кровообращение для улучшения функционирования фолликулов;
              li активировать клеточное деление в&nbsp;ростковой зоне;
              li обеспечить высокую биодоступность для проникновения активных компонентов лечебных средств.
            p Клинические рекомендации по&nbsp;терапии андрогенетической алопеции включают прием системных лекарств от&nbsp;алопеции, использование наружных средств, лазеротерапию, микроинъекционное введение лечебных составов и&nbsp;трансплантацию.

            h3 Лекарственные препараты
            p Финастерид&nbsp;&mdash; таблетки от&nbsp;облысения, которые считаются стандартом лечения АГА у&nbsp;мужчин. Женщинам назначается при повышенной активности андрогенов. Финастерид тормозит преобразование тестостерона в&nbsp;дигидротестостерон, предупреждая негативное воздействие на&nbsp;фолликулы. Влияет на&nbsp;общий гормональный фон. Снижение либидо и&nbsp;ожирение&nbsp;&mdash; побочные явления.
            p Дутастерид принадлежит к&nbsp;классу антиандрогенов как и&nbsp;финастерид. Также применяется для остановки прогрессирования алопеции. Дутастерид блокирует оба типа фермента 5-альфа-редуктазы, а&nbsp;финастерид только второй тип.
            p При потере волос по&nbsp;женскому типу назначаются гормональные модуляторы.

            h3 Наружные средства
            p Миноксидил сокращает фазу телогена, удлиняя фазу анагена. Что способствует увеличению диаметра и&nbsp;длины стержня. Лосьон от&nbsp;облысения с&nbsp;миноксидилом наиболее эффективен при облысении макушки по&nbsp;мужскому и&nbsp;женскому типу. Комбинированное лечение миноксидила с&nbsp;ретинолом показало высокую результативность, снизило салоотделение.
            p Применение шампуня с&nbsp;кетоконазолом также дает хорошие результаты при лечении АГА. Дополняет лечение антиандрогенами и&nbsp;миноксидилом. Борется с&nbsp;грибками, вызывающими воспаление, которое усугубляет течение болезни.
            p Для наружной терапии применяют и&nbsp;топические антиандрогены, которые снижают влияние дигидротестотерона на&nbsp;луковицу, нормализуют процесс кератинизации, стимулируют рост новых волос.

            h3 Лазеротерапия
            p При лечении лазером красная световая волна проникает глубоко в&nbsp;дерму, стимулируя приток крови, повышая усвояемость полезных веществ, активизируя восстановление фолликулов на&nbsp;клеточном уровне. Лечение помогает, если луковицы сохранили жизнеспособность, поэтому показано на&nbsp;начальных стадиях андрогенной алопеции.
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-7', caption:'Лазеротерапия'})

            h3 Дермароллеротерапия
            p Дермароллер&nbsp;&mdash; валик с&nbsp;большим количеством игл, который прокатывают по&nbsp;коже головы. Через образовавшиеся микропроколы без препятствий проникают вглубь дермы лекарственные и&nbsp;витаминные составы. Часто дермароллером дополняют лечение миноксидилом.
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-8', caption:'Дермароллер'})

            h3 Плазмотерапия
            p Для проведения процедуры взятая у&nbsp;пациента кровь обрабатывается в&nbsp;центрифуге, чтобы отделить избыток плазмы, эритроцитов и&nbsp;лейкоцитов. В&nbsp;полученном растворе концентрация тромбоцитов возрастает в&nbsp;4-5&nbsp;раз. Тромбоциты богаты белками, которые еще называют фактором роста. Раствор при инъекционном введении в&nbsp;кожу головы улучшает метаболические процессы в&nbsp;тканях, ускоряет регенерацию. После курса лечения останавливается отмирание фолликулов, волосы настраиваются на&nbsp;фазу росту, увеличивается диаметр стержней.
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-9', caption:'Плазмотерапия тормозит процесс отмирания луковиц'})

            h3 Мезотерапия
            p Это микроинъекции мезококтейлей на&nbsp;глубину 0,5&nbsp;см для активации работы луковиц. Препараты действуют целенаправленно на&nbsp;фолликул и&nbsp;волосяной сосочек. В&nbsp;состав мезококтейлей включают микроэлементы, аминокислоты и&nbsp;витаминные комплексы. Лечение проводят курсом.

            h3 Народные средства
            p У&nbsp;масла кедра, розмарина и&nbsp;тимьяна уникальные, стимулирующие рост волос свойства. Подогретое масло или смесь масел массирующими движениями втирают в&nbsp;кожу головы, накрывают пищевой пленкой на&nbsp;30&nbsp;минут и&nbsp;затем смывают. При первой и&nbsp;второй стадии болезни лечение дополняют средствами на&nbsp;основе карликовой пальмы, которая обладает антиандрогенными свойствами без побочных эффектов.
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-10', caption:'Плоды карликовой пальмы'})

            p Неизменной популярностью пользуются настойки с&nbsp;перцем. Благодаря местнораздражающему воздействию сосуды расширяются, усиливая приток крови к&nbsp;коже головы. Также настойка снижает деятельность сальных желез, борется с&nbsp;перхотью.

            h3 Пересадка волос
            p На&nbsp;4&nbsp;стадии, когда уже образовались гладкие участки кожи, пациентам рекомендована трансплантация волос. Это малоинвазивная процедура, когда здоровые луковицы изымают с&nbsp;донорской зоны и&nbsp;вживляют в&nbsp;область лысины. Донорской зоной, как правило, выступает затылочная часть головы, где фолликулы меньше подвержены разрушительному влиянию дигидротестостерона. 
            p Для трансплантации применяют два метода&nbsp;&mdash; лоскутный и&nbsp;FUE, которые отличаются этапом изъятия трансплантатов. При первом методе фолликулы изымают с&nbsp;лоскута кожи, взятого с&nbsp;затылка. При втором забор каждого фолликула проводится отдельно.
            +grid({ parLike:true })
              +grid__item({ m:9, xs:12 })
                +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-11', caption:'Процесс трансплантации методом FUE'})
            p Результат лечения&nbsp;&mdash; возобновление роста здоровых волос. Полученный результат длится всю жизнь.

            h3 Система волос
            p Для маскировки проплешин и&nbsp;обширных лысых зон используют системы волос, состоящие из&nbsp;основы, натуральных или искусственных волос. Основой чаще выступает сетчатая шапочка или силикон. Система волос выглядит естественно, позволяет экспериментировать с&nbsp;имиджем. 
            +figure({src:'/assets/images/articles/androgennaya-alopetsiya/androgennaya-12', caption:'Система волос'})

            h2 Прогноз и&nbsp;профилактика
            p АГА&nbsp;&mdash; прогрессирующая патология, которая без лечения приводит к&nbsp;большим потерям волосяного покрова. Курсы лечения проводятся регулярно, так как без лечения дигидротестерон возобновляет разрушение фолликулов. Долгосрочные результаты дает только трансплантация собственных фолликулов.
            p Так как болезнь передается по&nbsp;наследству, то&nbsp;для профилактики остается лишь избегать провоцирующих факторов, следить за&nbsp;здоровьем, высыпаться и&nbsp;гулять.

            h2 Отзывы о&nbsp;лечении
            p Андрей 37&nbsp;лет
            p У&nbsp;меня всегда были здоровые густые волосы, поэтому появление залысин на&nbsp;лбу стало неожиданностью. Так как поредение малозаметно, списал проблемы на&nbsp;стресс, авитаминоз и&nbsp;успокоился. Спустя время после мытья головы заметил, что на&nbsp;темени сквозь волосы видно кожу. Появились комплексы и&nbsp;страх облысеть полностью, ведь мне на&nbsp;тот момент было всего 29&nbsp;лет. В&nbsp;этот раз к&nbsp;лечению подошел серьезно, обратившись к&nbsp;врачу. Прошел обследования, которые подтвердили андрогенную алопецию.
            p Начался мой путь лечения длиною в&nbsp;6&nbsp;лет. Таблетки, мезотерапия давали положительный эффект, но&nbsp;лишь на&nbsp;время терапии. По&nbsp;завершении курса симптомы возвращались. Так за&nbsp;6&nbsp;лет я&nbsp;дожил до&nbsp;4&nbsp;стадии облысения. Дальнейшие перспективы пугали. Поэтому решил менять ситуацию кардинально и&nbsp;сделал пересадку волос. Для трансплантации выбрал бесшовный метод. Прошел все стадии реабилитации, пережив выпадение большей части волос, но&nbsp;к&nbsp;этому был готов. Со&nbsp;временем начал расти новый здоровый волос, вернув объем моей прическе. Считаю, что можно было и&nbsp;раньше сделать пересадку.

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Влияет&nbsp;ли облысение на&nbsp;продолжительность жизни?</h3>')
              p Нет никаких научных доказательств связи между потерей волос и&nbsp;продолжительностью жизни.
            +dropDown('<h3>Кто является носителем гена облысения?</h3>')
              p Мальчики наследуют предрасположенность к&nbsp;АГА от&nbsp;матери и&nbsp;отца, а&nbsp;девочки&nbsp;&mdash; только от&nbsp;отца.
            +dropDown('<h3>Почему мужчины лысеют в&nbsp;молодом возрасте?</h3>')
              p У&nbsp;андрогенной алопеции нет тесной связи с&nbsp;возрастом, поэтому болезнь диагностируют у&nbsp;мужчин любого возраста после пубертатного периода.
            
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Новое в&nbsp;топической терапии андрогенетической алопеции Карасев&nbsp;Е.&nbsp;А., Лунькова А.&nbsp;С. // Проблемы науки.&nbsp;2019;
                li Сочетанная лазерная терапия алопеции (облысения) Рязанова Е.А., С.В. Москвин С.В.;
                li Андрогенетическая алопеция: патогенетические механизмы и&nbsp;подходы к&nbsp;лечению// научная статья по&nbsp;специальности &laquo;Клиническая медицина&raquo; Олисова О.Ю., Кочергин Н.Г., Вертиева Е.Ю.

block styles
  +style('inner')
