extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Себорейная алопеция
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Алопеция себорейная (СА)&nbsp;&mdash; распространенная патология, при которой выпадение волос вызывает гиперфункция сальных желез. В&nbsp;отличие от&nbsp;других типов алопеции о&nbsp;себорейном облысении мало информируют, поэтому больные, столкнувшиеся с&nbsp;проблемой, не&nbsp;спешат обращаться к&nbsp;врачам. Патология тяжело поддается лечению. Терапия уменьшает симптомы, тормозит прогрессирование, но&nbsp;зимой интенсивность симптомов усиливается из-за пересушенного воздуха.
            p Людям важно знать особенности себорейной алопеции, чтобы не&nbsp;тратить время на&nbsp;самолечение, а&nbsp;сразу обращаться за&nbsp;профессиональной помощью.

            h2 Что такое себорейное выпадение волос
            p Это разновидность облысения, вызванная избыточным выделением кожного секрета, ускоряющего жизненный цикл волос. При этом меняется качественный состав себума, нарушается кожный микробиом. Пораженные участки провоцируют зуд и&nbsp;симптомы, частично напоминающие розацеа, что усложняет диагностирование. Себорейное поражение локализуется на&nbsp;участках кожи, где расположено много сальных желез,&nbsp;&mdash; лицо, заушные складки, волосистая часть головы и&nbsp;другие. 	
            .block-marked.block-marked--padding-small
              p Кожное сало&nbsp;&mdash; естественная защита кожи от&nbsp;внешнего воздействия, также служит жировой смазкой для стержней и&nbsp;эпидермиса.

            p Высокая плотность желез наружной секреции, интенсивное продуцирование кожного сала, шелушение&nbsp;&mdash; благоприятные условия для размножения патогенных микроорганизмов. Проявления зуда провоцируют расчесывание, которое повреждает кожный защитный барьер. При нарушении целостности эпидермального барьера патогенная флора проникает внутрь. Как следствие образуется воспаление и&nbsp;корочки-чешуйки. Питание волосяных луковиц нарушается, стержни истончаются и&nbsp;выпадают.	
            p СА&nbsp;диагностируется чаще и&nbsp;протекает тяжелее у&nbsp;инфицированных ВИЧ. Продолжительное течение себореи и&nbsp;слабый ответ на&nbsp;лечение&nbsp;&mdash; прямое показание к&nbsp;обследованию на&nbsp;ВИЧ.
            +figure({src:'/assets/images/articles/ceborejnaya-alopetsiya/ceborejnaya-1', caption:'Себорейную алопецию провоцирует аномальная выработка кожного сала'})

            h2 Причины себорейного выпадения волос
            +figure({src:'/assets/images/articles/ceborejnaya-alopetsiya/ceborejnaya-2', caption:'Причины себореи'})
            h3 Гормональные изменения
            p Нарушение гормонального фона происходит в&nbsp;пубертатный период, во&nbsp;время вынашивания плода женщиной, в&nbsp;менопаузе, так как нарушается соотношение тестостерона и&nbsp;эстрогена. В&nbsp;результате клетки, образующие сальные железы, начинают реагировать на&nbsp;андрогены, которые в&nbsp;избытке стимулируют выработку себума.
            p При себорейной алопеции у&nbsp;женщин наблюдается недостаток эстрогена и&nbsp;прогестерона, повышен уровень андрогенов в&nbsp;крови. Себорейная алопеция у&nbsp;мужчин спровоцирована повышенным уровнем андрогенов и&nbsp;ускоренным обменом веществ. Патологию может вызывать опухоль яичек.
            h3 Болезни ЖКТ
            p Патологии ЖКТ, такие, как ферментопатия, снижение количества лактобацил, гастронтероколит, функциональные нарушения желчного пузыря и&nbsp;несбалансированное питание провоцируют выпадение волос. Патологическое воспаление часто связывают с&nbsp;хеликобактер и&nbsp;повышенной чувствительностью к&nbsp;чужеродным агентам. Хронические болезни печени приводят к&nbsp;накоплению в&nbsp;кровотоке неиспользованного тестостерона и&nbsp;его производных, вызывающих симптомы себорейного дерматита.
            h3 Наследственная предрасположенность	
            p Предрасположенность к&nbsp;себорейной алопеции передается по&nbsp;наследству и&nbsp;сопровождается изменением качества себума.
            h3 Стресс и&nbsp;нервные перенапряжения
            p Выработка кожного сала регулируется нейрогенными и&nbsp;гормональными механизмами, где за&nbsp;нейрогенную регуляцию отвечает вегетативная нервная система. Так у&nbsp;людей, испытывающих хронический стресс, наблюдается повышенная потливость и&nbsp;экскреция себума.
            h3 Грибковые инфекции
            p Патологическая жизнедеятельность дрожжеподобных грибов способна спровоцировать развитие себорейной алопеции. Грибы активизируются при стрессах, снижении иммунитета, обострении хронических болезней.

            h2 Выпадение волос и&nbsp;себорея
            p Одна из&nbsp;основных причин воспаления кожи головы и&nbsp;других участков тела&nbsp;&mdash; себорейный дерматит (СД). Не&nbsp;всегда себорея становится причиной выпадения волос, это дополнительный провоцирующий фактор, но&nbsp;не&nbsp;единственная причина патологии.	

            h3 Виды себореи
            p Принято разделять жирную и&nbsp;сухую себореи. Обе косвенно способствуют образованию перхоти и&nbsp;становятся причиной выпадения волос. 
            +grid({ parLike:true })
              +grid__item({ m:9, xs:12 })
                +figure({src:'/assets/images/articles/ceborejnaya-alopetsiya/ceborejnaya-3', caption:'Виды себореи'})
            p При #[strong жирной густой] кожа головы уплотняется, приобретает серо-бурый цвет, устья сальных желез расширяются. Из-за повышенной плотности сала проток закупоривается, образуется роговая пробка. Стержни становятся жесткими.
            p Для #[strong жирной жидкой] характерна лоснящаяся кожа, расширенные поры и&nbsp;избыток кожного сала. Волосы маслянистые, склеиваются в&nbsp;пряди, на&nbsp;которых видны плотные желтые чешуйки. Себум теряет защитные свойства, поэтому при этом типе себореи часто присоединяется вторичная инфекция. 
            p При #[strong сухой] себорее выработка сала снижена, волосы и&nbsp;кожа головы обильно покрыты перхотью. Ороговевшие частички легко отделяются от&nbsp;стержня и&nbsp;падают на&nbsp;одежду. Волосы истонченные, ломкие и&nbsp;сухие. Человека беспокоит зуд, усиливающийся после контакта с&nbsp;водой.
            p При #[strong комбинированной] на&nbsp;волосистой части головы и&nbsp;лице проявляются симптомы обоих типов себореи.

            h2 Симптомы себорейного выпадения волос	
            +grid({ parLike:true })
              +grid__item({ m:9, xs:12 })
                +figure({src:'/assets/images/articles/ceborejnaya-alopetsiya/ceborejnaya-4', caption:'Симптомы себореи'})
            p При жирной себорее зуд распространяется по&nbsp;всей голове, у&nbsp;кожи и&nbsp;волос появляется жирный блеск и&nbsp;обильная перхоть. Красные чешуйчатые пятна&nbsp;&mdash; еще один симптом СА. От&nbsp;головы исходит неприятный запах. Волосы выпадают постепенно. Ороговевшие массы откладываются в&nbsp;устьях волосяных фолликулов, вызывая дегенеративные изменения. В&nbsp;результате функционирование фолликулов затухает. 
            p При сухой себорее кожа истончается, появляется повышенная чувствительность к&nbsp;любому воздействию и&nbsp;травматичность. Поэтому больного сопровождает зуд и&nbsp;шелушение. Часто присоединяется экзема. Без лечения состояние приводит к&nbsp;выпадению волос.
            ul.list-marked 
              li У&nbsp;мужчин пик облысения в&nbsp;результате грибкового воспаления приходится на&nbsp;30&nbsp;лет. СД&nbsp;часто диагностируют у&nbsp;подростков. Волосы истончаются, облысение продвигается с&nbsp;лобно-теменной зоны к&nbsp;затылку.
              li У&nbsp;женщин выпадение волос при себорейном дерматите протекает по&nbsp;диффузному типу облысения. Волосы выпадают равномерно. Наблюдается снижение уровня эстрогенов, аменорея. Выпадение бывает временным и&nbsp;постоянным. 	

            h2 Диагностика себорейного выпадения волос
            p Диагностирование начинаем с&nbsp;расширенной консультации, визуального осмотра, изучения анамнеза. Для уточнения диагноза применяем комплекс исследований.
            ul.list-marked 
              li Дерматоскопия и&nbsp;трихоскопия&nbsp;&mdash; оценка состояния кожного покрова и&nbsp;стержня при помощи увеличительных приборов. Улучшенная визуализация хорошо определяет признаки СА&nbsp;&mdash; аномалии фолликулярных устьев, фолликулярный кератоз и&nbsp;т.д.
              li Анализы и&nbsp;дополнительные обследования необходимы для дифференциальной диагностики, так у&nbsp;СА схожие симптомы с&nbsp;розацеа, псориазом, атопическим дерматитом, красной волчанкой и&nbsp;др. Лабораторные исследования устанавливают уровень тестостерона, сопутствующие инфекции, оценивают общее состояние организма.
              li Бактериологический посев назначаем, чтобы определить возбудителя себореи или вторичной инфекции.

            h2 Лечение себорейного выпадения волос
            p При СА&nbsp;цель терапии заключается в&nbsp;уменьшении воспалительного процесса, контроле выработки кожного сала, стимуляции роста волос.

            h3 Топические средства: шампуни, лосьоны, маски
            p Первый шаг в&nbsp;борьбе с&nbsp;СА&nbsp;&mdash; лечение предшествующего облысению дерматита. Сера и&nbsp;салициловая кислота&nbsp;&mdash; компоненты, снижающие воспаление и&nbsp;подсушивающие жирную кожу. При жирной себорее не&nbsp;рекомендовано часто мыть голову, так как стержни станут еще тоньше и&nbsp;выпадут. Кетоконазол&nbsp;&mdash; противогрибковый препарат, задача которого&nbsp;&mdash; снять зуд, раздражение, избавить от&nbsp;шелушения. При сухой себорее лечение кетоконазолом дополняем аминокислотами, кератином.
            p При выраженном воспалении с&nbsp;гиперемией используем кремы на&nbsp;гормональной основе. При вторичном инфицировании в&nbsp;лечение включаем антибактериальные мази, антисептические примочки.

            h3 Медикаментозное лечение
            p Больным выписываем препараты, исходя из&nbsp;причины облысения и&nbsp;сопутствующих болезней. Медикаментозная терапия включает кетоконазол, гормоны, средства для улучшения пищеварения, антигистаминные препараты. При выявлении проблем с&nbsp;яичниками женщинам назначаем гормональные контрацептивы. Мужчинам при повышенном тестостероне проводим лечение препаратами с&nbsp;женскими половыми гормонами в&nbsp;составе.

            h3 Стимуляция роста волос
            p После устранения причины алопеции начинаем стимулировать рост волос. Нет гарантированного способа восстановления волосяного покрова, но&nbsp;есть ряд продуктивных стратегий.
            ul.list-marked 
              li Средства для волос с&nbsp;миноксидилом, кофеином, которые улучшают приток крови к&nbsp;коже головы, стимулируя работу фолликулов.
              li Добавки с&nbsp;витамином&nbsp;D, жирными кислотами, витаминными комплексами для поддержания здорового роста волос.
              li Коррекция образа жизни, включая сбалансированное питание, насыщенное белками, физические упражнения для стимуляции кровотока, освоение расслабляющих техник.

            h3 Народные методы
            p В&nbsp;легких случаях&nbsp;СД контролируют рост дрожжевых грибков на&nbsp;голове и&nbsp;уменьшают воспаление при помощи масла чайного дерева, кокосового и&nbsp;касторового масла, алоэ вера. Природные средства также смешивают с&nbsp;травяными отварами и&nbsp;наносить на&nbsp;кожу головы. Дуб и&nbsp;ромашка&nbsp;&mdash; дезинфицирующие средства, корень лопуха&nbsp;&mdash; смягчающее, череда&nbsp;&mdash; подсушивающее.
            p Из&nbsp;меню исключают маринады, острую и&nbsp;соленую пищу. Ограничивают потребление сахара и&nbsp;хлеба. 	
            +figure({src:'/assets/images/articles/ceborejnaya-alopetsiya/ceborejnaya-5', caption:'Ромашковый отвар дезинфицирует кожу головы'})

            h3 Пересадка волос
            p Если пациент обратился к&nbsp;врачу в&nbsp;стадии, когда болезнь уже привела к&nbsp;обширному облысению, то&nbsp;рекомендована трансплантация волосяных луковиц. Также к&nbsp;пересадке волос прибегаем, если консервативные методы лечения не&nbsp;дают положительного результата.
            p Это малоинвазивная процедура, в&nbsp;процессе которой из&nbsp;донорской зоны извлекаем волосяные луковицы для имплантации в&nbsp;зону облысения. Исследования доказали 95&nbsp;% и&nbsp;выше выживаемость трансплантатов.

            h2 Профилактика себорейного выпадения волос
            p Несмотря на&nbsp;благоприятный исход лечения пациенту в&nbsp;дальнейшем важно придерживаться профилактических мер, которые сводятся&nbsp;к:
            ul.list-marked 
              li правильному уходу за&nbsp;волосами;
              li здоровому образу жизни и&nbsp;питанию;
              li отказу от&nbsp;вредных привычек;
              li своевременному лечению всех болезней;
              li выработке стрессоустойчивости.

            h2 Системы замещения волос
            +grid({paddingy: true, parLike:true })
              +grid__item({ m:5, s:4, xs:12 })
                +grid({paddingy: true, justify: 'center '})
                  +grid__item({ xs:12 })
                    a(href='/sistemy-volos-i-pariki-v-nalichii/')
                      +img({
                        name: 'catalog-1',
                        path: '/assets/images/articles/',
                        formats: [
                          { ext: 'jpg', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                        })(alt= 'Каталог')
                  +grid__item({ m:5, xs:12 })
                    a(href='/sistemy-volos-i-pariki-v-nalichii/' style="display: flex; justify-content: center;").button-red Каталог
              +grid__item({ m:7, s:8, xs:12 })
                p Восстановление волосяного покрова — сложный и продолжительный процесс. Потеря волос негативно влияет на качество жизни и самоощущение людей с себорейной алопецией. Удовлетворенность внешностью имеет решающее значение в восприятии человека себя как личности, поэтому #[strong система замещения волос] предлагает решение, имитирующее собственные волосы внешне и по ощущениям. С системой спят, принимают водные процедуры, занимаются спортом — никаких ограничений.
                p Постижерные изделия используют во время лечения или носят на постоянной основе при себорейной алопеции.
                p Невидимая кружевная основа сливается с кожей головы, создавая видимость естественного роста волос. При ношении системы ощущение шапки на голове отсутствует, воздух циркулирует свободно. Способ крепления отдельных прядей к основе дает возможность менять направление прядей, расчесывать и укладывать их по желанию. Что важно для желающих сохранить индивидуальность стиля и внешнего вида, несмотря на выпадение волос. 

            h3 Преимущества систем волос 
            +grid({ paddingy:true, parLike:true })
              - 
                const advantages = [
                  {
                    title: 'Надежная фиксация до 4х недель',
                    text: 'Система волос надежно крепится при помощи специального водостойкого скотча или клея, поэтому система не слетит и не съедет',
                    icon: 'head',
                  },
                  {
                    title: 'Естественный вид <br> Имитация кожи',
                    text: 'Каждый волосок системы крепится в ручную, за счет этого внешне имеет естественный вид человеческих волос',
                    icon: 'stars',
                  },
                  {
                    title: 'Комфортно <br> Кожа головы дышит',
                    text: 'Основа системы - тончайшая сеточка (швейцарское кружево). Легкая, комфортная и естественная терморегуляция.',
                    icon: 'heart',
                  },
                  {
                    title: 'Любой ритм жизни',
                    text: 'Спорт, танцы, плавание - все это возможно! Плетите косы, делайте высокие хвосты, любые прически как со своими волосами.',
                    icon: 'rythm',
                  },
                ]
              each item in advantages
                +grid__item({ s:3, s:6, xs:12 })
                  +iconBlock({ vertical:true })(class= `icon-block--${item.icon}`) 
                    span.text-align-center #[strong !{item.title}]
                    p.text-align-center !{item.text}
            
            h2 Преимущества центра эстетики волос «Гамма»
            p На сегодняшний день центр достиг уровня эксперта в области технологий неинвазивного замещения волос. За плечами компании больше 10 лет работы и сотни довольных клиентов.
            ul.list-marked 
              li Работаем со всеми видами алопеции;
              li Изготавливаем системы по персональным параметрам клиента;
              li Мастера работают с полной отдачей, понимая чувства людей с алопецией;
              li Регулярно внедряем новинки, экспериментируем, проходим тренинги по парикмахерскому искусству и новым технологиям hair replacement.

            h2 Часто задаваемые вопросы о&nbsp;себорейном выпадении волос
            +dropDown('<h3>Массаж головы полезен при СА?</h3>')
              p Да. Это универсальный метод укрепления волосяного покрова. Массаж волосистой части головы стимулирует приток крови к&nbsp;фолликулам, очищает кожу от&nbsp;ороговевших частичек, нормализует работу сальных желез.
            +dropDown('<h3>Себорея излечивается насовсем?</h3>')
              p Нет. СД&nbsp;относится к&nbsp;хроническим патологиям, поэтому можно достичь стойкой ремиссии с&nbsp;минимумом симптомов.
            +dropDown('<h3>Чем еще опасна себорее, кроме облысения?</h3>')
              p Дрожжеподобные грибы действуют как постоянный раздражитель. Со&nbsp;временем у&nbsp;больного развивается повышенная чувствительность к&nbsp;грибам, способствуя развитию бронхиальной астмы, атопического дерматита, отека Квинке.
            
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Себорейный дерматит: как помочь пациенту Панюкова С.В., Пирузян А.Л, Корсунская И.М.;
                li Себорейный дерматит волосистой части головы: от&nbsp;диагностики к&nbsp;лечению Храмова Т.Г.;
                li Себорейный дерматит и&nbsp;другие малассезиозы Мавлютова Г.И., Юсупова Л.А., Мисбахова А.Г.

block styles
  +style('inner')
