extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Диффузная алопеция
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Чрезмерное выпадение волос&nbsp;&mdash; патология, с&nbsp;которой сталкиваются мужчины и&nbsp;женщины в&nbsp;результате естественного старения, генетических, гормональных и&nbsp;других нарушений. Выделяют разные виды алопеции с&nbsp;обратимыми и&nbsp;необратимыми последствиями. Диффузная алопеция&nbsp;&mdash; патология, которая вызывает сильное беспокойство у&nbsp;пациентов из-за скорости развития симптомов.
            p В&nbsp;статье подробно разбираем виды диффузной алопеции, характерные признаки, методы лечения и&nbsp;прогноз. Информация представлена в&nbsp;ознакомительных целях. Диагностикой и&nbsp;определением стратегии лечения занимается только врач.

            h2 Что такое диффузная алопеция
            p Диффузное выпадение волос определяется как нерубцовый тип алопеции, который характеризуется равномерным поредением волосяного покрова. Поражает мужчин и&nbsp;женщин, но&nbsp;у&nbsp;женщин диффузная алопеция встречается чаще. Выражается истончением волосяного стержня с&nbsp;последующим его выпадением. В&nbsp;день человек может потерять 1000 волосков при норме выпадения до&nbsp;100. Диффузная алопеция бывает анагеновая и&nbsp;телогеновая.
            p Облысение принято считать эстетическим недостатком, но&nbsp;в&nbsp;ряде случаев потеря волос&nbsp;&mdash; признак серьезных болезней. Для выявления причины облысения проводят микровидеодиагностику, лабораторные и&nbsp;инструментальные исследования. Поэтому при подозрении на&nbsp;диффузный тип облысения рекомендовано сразу обратиться к&nbsp;врачу.
            +figure({src:'/assets/images/articles/diffuznaya-alopeciya/difusnaya-1', caption:'Стадии потери волос при диффузной алопеции'})
            
            h2 Патогенез диффузной алопеции
            p Диффузное облысение возникает в&nbsp;результате нарушения течения цикла жизни волоса под действием неблагоприятных факторов. Фолликул перестает функционировать, но&nbsp;не&nbsp;отмирает. Средний жизненный путь волосяного стержня 6-7&nbsp;лет, за&nbsp;который тот проходит 3&nbsp;стадии существования:
            ul.list-marked 
              li анаген&nbsp;&mdash; фаза развития, длится 4-6&nbsp;лет;
              li катаген&nbsp;&mdash; фаза отмирания корня, когда стержень уже не&nbsp;растет, но&nbsp;еще не&nbsp;выпал, длится 2-6&nbsp;недель;
              li телоген&nbsp;&mdash; фаза выпадения и&nbsp;формирования нового корня.
            p Негативное воздействие приводит к&nbsp;тому, что еще незрелый стержень сразу переходит в&nbsp;фазу выпадения.
            p При анагеновой алопеции стержни выпадают в&nbsp;первой фазе цикла через 1-3 недели после облучения или химиотерапии при лечении злокачественных образований. Больной теряет до&nbsp;90&nbsp;% своих волос. После завершения терапии рост волос постепенно восстанавливается.
            p Диффузное телогеновое выпадение волос&nbsp;&mdash; обратимая алопеция, которая развивается, когда в&nbsp;состояние телогена уходит подавляющее число фолликулов. Потеря волос&nbsp;&mdash; ответная реакция организма на&nbsp;отрицательное внешнее или внутреннее воздействие. Патологии свойственно позднее проявление&nbsp;&mdash; через 2-6 месяцев после столкновения с&nbsp;исходной проблемой. Телогеновому типу присуще резкое выпадение большого объема волос, так как стержни преждевременно перешли в&nbsp;телогеновую фазу, а&nbsp;новые расти еще не&nbsp;начали. Через 3-4 месяца после устранения негативных причин рост волос возобновляется, но&nbsp;нет гарантии, что рост будет таким&nbsp;же интенсивным. 
            +figure({src:'/assets/images/articles/diffuznaya-alopeciya/difusnaya-2', caption:'Жизненный цикл волоса'})
            p Телогеновое облысение бывает острым и&nbsp;хроническим. Острое интенсивное выпадение возникает после повреждающего воздействия. Если определить и&nbsp;устранить причину, процесс выпадения тормозится, рост волос возобновляется. Хроническому свойственно волнообразное течение&nbsp;&mdash; фазы истончения и&nbsp;выпадения повторяются, процесс затягивается и&nbsp;длится годами.

            h2 Причины возникновения диффузной алопеции
            h3 Стресс
            p Это частая причина острого диффузного облысения. Хронический невроз, стресс, депрессия&nbsp;&mdash; провокаторы, которые &laquo;бьют&raquo; по&nbsp;слабому месту. У&nbsp;многих людей волосы первыми реагируют на&nbsp;стрессовые состояния, так как в&nbsp;результате спазмирования капилляров волосяные луковицы не&nbsp;дополучают питательных веществ и&nbsp;кислорода, без которых невозможен нормальный рост стержня. Со&nbsp;временем стволовые клетки луковицы дегенерируют, волоски минуя стадию катагена переходят в&nbsp;стадию покоя и&nbsp;выпадают.

            h3 Гормональные нарушения
            p Патологии щитовидной железы нарушают гормональный баланс, становясь пусковым механизмом развития диффузной алопеции. При недостатке гормонов тироксина и&nbsp;трийодтиронина, активизирующих клетки организма, тормозится развитие луковичками волосяных стержней.

            h3 Межсезонье
            p Осенью отмечается сезонный пик выпадения волос, так как летом увеличивается количество фолликулов в&nbsp;фазе роста. Период телогена приходится на&nbsp;осень, проявляясь обильной потерей волос.

            h3 Экология и&nbsp;избыток ультрафиолета
            p Химические взвеси, споры грибов и&nbsp;бактерии в&nbsp;воздухе, активное солнце вызывают окислительный стресс, нарушающий структуру кожи, разрушающий коллагено-эластичные волокна, провоцируя истончение и&nbsp;выпадение волос.

            h3 Лекарства
            p К&nbsp;провоцирующим облысение лекарствам относят: ретиноиды, цитостатики, противопаркинсонические, &beta;-адреноблокаторы, противосудорожные и&nbsp;другие. На&nbsp;тип развивающейся алопеции влияет доза и&nbsp;продолжительность лечения.

            h3 Дефицитные состояния
            p Нехватка питательных веществ, макро- и&nbsp;микроэлементов, витаминов также приводит к&nbsp;облысению. Научно доказано, что недостаток витаминов группы B&nbsp;&mdash; причина ломкости ногтей и&nbsp;выпадения волос. Дефицит серосодержащих соединений в&nbsp;стержне ведет к&nbsp;его истончению и&nbsp;выпадению. Часто несбалансированная безбелковая диета приводит к&nbsp;белково-энергетической недостаточности. Первыми на&nbsp;дефицит белка реагируют корни волос, в&nbsp;результате чего стержень истончается и&nbsp;выпадает. Неусвоение белка развивается на&nbsp;фоне болезней ЖКТ. 

            h3 Болезни
            p После перенесенной вирусной инфекции, пневмонии, ковида, бруцеллеза и&nbsp;других вирусных инфекций пациенты часто сталкиваются с&nbsp;диффузной потерей волос. Лихорадка, которая сопровождает инфекции, оказывает разрушающее действие на&nbsp;фолликул при каждом приступе. Интенсивное выпадение наступает через 2-2,5 месяца после выздоровления.

            h3 Беременность
            p Диффузное выпадение волос у&nbsp;женщин часто развивается после родов. Так как в&nbsp;пренатальный период женский организм с&nbsp;избытком вырабатывает эстрагены, сигнализирующие фолликулам о&nbsp;переходе в&nbsp;фазу роста. После родов гормональный статус меняется, выработка эстрагенов снижается, запускается переход стержней в&nbsp;фазу выпадения. Усиленная потеря волос длится 2-3&nbsp;месяца.
            p Реактивное выпадение волос встречается у&nbsp;женщин, которые регулярно красят волосы, пользуют феном и&nbsp;утюжком, делают химическую завивку. Также вредно продолжительное пребывание на&nbsp;морозе без головного убора.

            h2 Симптомы
            p Диффузный тип алопеции определяется по&nbsp;ряду характерных признаков.
            ul.list-marked 
              li Равномерное выпадение волос;
              li Постепенное истончение, склонность к&nbsp;запутыванию, ломкость, потеря блеска волосяными стержнями;
              li Резкое начало, когда однажды волосы начинают выпадать больше обычного;
              li В&nbsp;ряде случаев параллельно лысеют брови и&nbsp;ресницы;
              li Расширение пробора;
              li Отсутствие роста новых стержней.
            +figure({src:'/assets/images/articles/diffuznaya-alopeciya/difusnaya-3', caption:'Широкий пробор — видимый признак диффузной алопеции'})

            h2 Стадии развития
            h3 У&nbsp;женщин
            p Роскошные и&nbsp;здоровые волосы&nbsp;&mdash; важная составляющая женской привлекательности. Значительное снижение густоты прически бьет по&nbsp;женской самооценке. Диффузное облысение у&nbsp;женщин протекает стремительно, для благоприятного прогноза лечение начинают при первых признаках. Хроническая телогеновая алопеция наблюдается преимущественно у&nbsp;женщин после 30&nbsp;лет без хронических болезней в&nbsp;анамнезе.
            p У&nbsp;женщин диффузная алопеция определяется по&nbsp;шкале Людвига.
            ul.list-marked 
              li 1&nbsp;степень&nbsp;&mdash; начальная стадия. Возникает даже у&nbsp;девушек моложе 20&nbsp;лет. При 1&nbsp;степени наблюдается поредение в&nbsp;лобно-центральной и&nbsp;теменной частях головы. Ширина пробора не&nbsp;больше 1&nbsp;см.
              li 2&nbsp;степень чаще проявляется у&nbsp;женщин возраста 35+&nbsp;лет. Просветы сливаются, объединяясь в&nbsp;одну проплешину. Большинство волосков выглядит безжизненно. Потеря волос отчетливо видна на&nbsp;проборе, ширина которого достигает 2&nbsp;см.
              li 3&nbsp;степень встречается редко, характеризуется проплешинами по&nbsp;всей поверхности головы. Волоски истощены, похожи на&nbsp;пух. Чаще диагностируется у&nbsp;женщин после 50&nbsp;лет. Ширина пробора не&nbsp;больше 3&nbsp;см.

            h3 У&nbsp;мужчин
            p Диффузная алопеция у&nbsp;мужчин не&nbsp;вызывает такого трагичного восприятия, как у&nbsp;женщин. К&nbsp;врачам обращаются, когда изменения уже заметны невооруженным взглядом. Как и&nbsp;у&nbsp;женщин под воздействием негативных факторов волосяные стержни истончаются, затем начинают выпадать равномерно по&nbsp;всей голове. Редко появляются залысины с&nbsp;четкими границами. Патология не&nbsp;всегда нуждается в&nbsp;лечении. Причину-провокатор выявляют, купируют или корректируют, после чего трихолог назначает лечение, направленное на&nbsp;восстановление густоты волосяного покрова.

            h2 Осложнения
            p Последствия в&nbsp;большинстве случаев носят эстетический и&nbsp;психологический характер. Именно женщины тяжело переживают потерю былого объема волос, теряют уверенность в&nbsp;своей привлекательности. Пациентки испытывают тревогу по&nbsp;поводу дальнейшего прогрессирования алопеции, впадают в&nbsp;депрессивное состояние, что негативно сказывается на&nbsp;профессиональной, личной и&nbsp;социальной жизни.
            +figure({src:'/assets/images/articles/diffuznaya-alopeciya/difusnaya-4', caption:'У мужчин диффузная алопеция также характеризуется рассеянным выпадением волос по всей голове'})

            h2 Диагностика
            p Когда пациент жалуется на&nbsp;облысение, ему требуется пройти стандартную схему обследования для выявления провоцирующих факторов. Важно исключить болезни щитовидной железы, ЦНС, печени и&nbsp;ЖКТ, надпочечников, яичников и&nbsp;т.д.
            p Диагностические мероприятия трихолога включают:
            ul.list-marked 
              li Тест натяжения для оценки интенсивности потери волос, который проводят на&nbsp;лбу, затылке и&nbsp;теменных зонах;
              li Трихограмму для изучения состояния изъятых волосков под микроскопом, чтобы вычислить процентное соотношение стержней в&nbsp;разных стадиях жизненного цикла;
              li Трихоскопию&nbsp;&mdash; компьютерную диагностику для оценки структуры волос и&nbsp;состояния кожи головы;
              li Лабораторные исследования: клинический и&nbsp;биохимический анализ крови, анализ на&nbsp;определение уровня сахара, сывороточного железа и&nbsp;ферритина, витаминов и&nbsp;микроэлементов.
              li Биопсия кожи головы помогает установить природу патологии и&nbsp;подобрать действенное лечение.

            h2 Лечение диффузного выпадения волос
            p Принцип лечения диффузной алопеции к31&nbsp;включает:
            ul.list-marked 
              li устранение причины выпадения;
              li наружное лечение.
            p При остром течении выявляют и&nbsp;нейтрализуют провоцирующий фактор. Дальнейшей специфической терапии не&nbsp;требуется. Со&nbsp;временем рост волос восстановится, полное восстановление волосяного покрова занимает 1-1,5&nbsp;года.

            h3 Специфическое лечение
            p Выявление всех звеньев патогенеза диффузной алопеции позволяет продуктивно подойти к&nbsp;лечению и&nbsp;сформировать у&nbsp;пациента правильные ожидания. Для компенсации гипотиреоза врач подбирает адекватную дозировку L-тироксина. Если установлен дефицит железа или других полезных элементов, назначают прием препаратов железа или витаминного комплекса. При белково-энергетической недостаточности пациент принимает аминокислоты и&nbsp;белок, больному рекомендована коррекция питания. Психогенные факторы устраняют антидепрессантами и&nbsp;седативными препаратами, которые помогают снять нервное напряжение

            h3 Наружные средства
            p Ошибочно думать, что убирать надо только внутренние причины, игнорируя наружную терапию. Внешнее воздействие ускоряет восстановление фолликулов. При хроническом типе алопеции волосяные луковицы нуждаются в&nbsp;поддержке, так как истощены и&nbsp;сил на&nbsp;полноценное восстановление не&nbsp;хватает. Наружные средства включают шампуни, сыворотки, лосьоны с&nbsp;универсальными и&nbsp;биогенными стимуляторами роста волос. Положительный эффект достигается за&nbsp;счет молекул, побуждающих вхождение фолликула в&nbsp;фазу анагена и&nbsp;продления этой фазы.
            +figure({src:'/assets/images/articles/diffuznaya-alopeciya/difusnaya-5', caption:'Общий принцип действия активаторов роста волос'})

            h3 Мезотерапия
            p Лечение состоит из&nbsp;подкожных микроинъекций слабо концентрированных составов с&nbsp;лекарствами, витаминами, гормональными регуляторами, аминокислотами, сосудорасширяющими препаратами и&nbsp;другими. Микротравмы ускоряют клеточный обмен, усиливают кровообращение.
            +figure({src:'/assets/images/articles/diffuznaya-alopeciya/difusnaya-6', caption:'Действенность мезотерапии определяется целевым направлением лекарственных составов'})

            h3 PRP
            p Показала хорошие результаты терапия с&nbsp;использованием насыщенной тромбоцитами плазмой. Это эффективный и&nbsp;безопасный способ лечения разных видов облысения. Метод основывается на&nbsp;стимуляции роста клеток волосяных луковиц посредством повышения активности тромбоцитарного фактора роста фибробластов.
            .block-marked.block-marked--padding-small
              p Часто больным с&nbsp;диффузной алопецией требуется помощь психолога или психиатра, чтобы справиться со&nbsp;сниженной самооценкой и&nbsp;тревожностью.
            p Максимальную клиническую эффективность показали комплексные программы лечения, включающие системные препараты, наружные средства и&nbsp;инъекционное введение лечебных составов.


            +grid({paddingy: true, parLike:true })
              +grid__item({ m:5, s:4, xs:12 })
                +grid({paddingy: true, justify: 'center '})
                  +grid__item({ xs:12 })
                    a(href='/sistemy-volos-i-pariki-v-nalichii/')
                      +img({
                        name: 'catalog-1',
                        path: '/assets/images/articles/',
                        formats: [
                          { ext: 'jpg', orig: true },
                          { ext: 'webp', mime: 'image/webp' },
                        ],
                        })(alt= 'Каталог')
                  +grid__item({ m:5, xs:12 })
                    a(href='/sistemy-volos-i-pariki-v-nalichii/' style="display: flex; justify-content: center;").button-red Каталог
              +grid__item({ m:7, s:8, xs:12 })
                p Во&nbsp;время лечения вести привычный образ жизни и&nbsp;радоваться своему образу позволит система волос. Замещение волос (система волос) представляет собой новый, 100% натуральный волосяной покров на&nbsp;тончайшей силиконовой основе, пропускающей воду и&nbsp;воздух и&nbsp;позволяющей коже головы дышать. Система волос идеально подходит по&nbsp;цвету, длине и&nbsp;структуре к&nbsp;вашим родным волосам. Она прочно фиксируется на&nbsp;поверхности кожи головы с&nbsp;помощью специальных полимеров и&nbsp;становится абсолютно незаметной для окружающих. Это обеспечивает системе волос абсолютно натуральный внешний вид и&nbsp;надёжную фиксацию к&nbsp;коже головы. 
                p С&nbsp;системой спят, принимают водные процедуры, занимаются спортом&nbsp;&mdash; никаких ограничений. Ее&nbsp;часто используют во&nbsp;время лечения или носят на&nbsp;постоянной основе при себорейной или диффузной алопеции. Невидимая кружевная основа сливается с&nbsp;кожей головы, создавая видимость естественного роста волос. При ношении системы ощущение шапки на&nbsp;голове отсутствует, воздух циркулирует свободно. Способ крепления отдельных прядей к&nbsp;основе дает возможность менять направление прядей, расчесывать и&nbsp;укладывать их&nbsp;по&nbsp;желанию.

            h2 Преимущества систем волос
            +grid({ paddingy:true, parLike:true })
              - 
                const advantages = [
                  {
                    title: 'Надежная фиксация до 4х недель',
                    text: 'Система волос надежно крепится при помощи специального водостойкого скотча или клея, поэтому система не слетит и не съедет',
                    icon: 'head',
                  },
                  {
                    title: 'Естественный вид <br> Имитация кожи',
                    text: 'Каждый волосок системы крепится в ручную, за счет этого внешне имеет естественный вид человеческих волос',
                    icon: 'stars',
                  },
                  {
                    title: 'Комфортно <br> Кожа головы дышит',
                    text: 'Основа системы - тончайшая сеточка (швейцарское кружево). Легкая, комфортная и естественная терморегуляция.',
                    icon: 'heart',
                  },
                  {
                    title: 'Любой ритм жизни',
                    text: 'Спорт, танцы, плавание - все это возможно! Плетите косы, делайте высокие хвосты, любые прически как со своими волосами.',
                    icon: 'rythm',
                  },
                ]
              each item in advantages
                +grid__item({ s:3, s:6, xs:12 })
                  +iconBlock({ vertical:true })(class= `icon-block--${item.icon}`) 
                    span.text-align-center #[strong !{item.title}]
                    p.text-align-center !{item.text}

            h2 Прогноз и&nbsp;профилактика
            p Сама диффузная алопеция не&nbsp;несет вреда здоровью больному, отличается благоприятным прогнозом, так как вызывающие ее&nbsp;патологии излечимы. Важно предотвратить проявления и&nbsp;последствия провоцирующих факторов. Поэтому лечат инфекции до&nbsp;полного выздоровления, держат под контролем гормональный фон, хронические болезни. Также для профилактики важно:
            ul.list-marked 
              li избегать стрессовых ситуаций, научиться проживать их&nbsp;без последствий для организма;
              li отдавать предпочтение сбалансированному меню;
              li поддерживать баланс базовых витаминов и&nbsp;минералов в&nbsp;организме;
              li высыпаться&nbsp;&mdash; недосып тесно связан с&nbsp;выпадением волос;
              li избавиться от&nbsp;никотиновой зависимости.
            p Нормализация уровня витамина&nbsp;D необходима для поддержания здоровья волос
            +figure({src:'/assets/images/articles/diffuznaya-alopeciya/difusnaya-7', caption:'Продукты, содержащие витамин Д'})

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Как отличать диффузную телогеновую алопецию от&nbsp;андрогенетической (АГА)?</h3>')       
              p Для АГА свойственно выпадение волос на&nbsp;лобном и&nbsp;теменных участках, при диффузной отмечается равномерное выпадение волос. АГА&nbsp;&mdash; прогрессирующий тип облысения, при котором волосяные луковицы отмирают из-за негативного воздействия андрогенов. При телогеновой фолликулы находятся в&nbsp;фазе сна.
            +dropDown('<h3>Можно&nbsp;ли полностью облысеть при телогеновой алопеции?</h3>')       
              p Пациентам с&nbsp;диффузным типом облысения, как правило, не&nbsp;грозит полная потеря волос. Но&nbsp;можно потерять до&nbsp;70-90&nbsp;% волосяного покрова. Главное помнить, что процесс обратим, так как волосяные луковицы не&nbsp;отмирают и&nbsp;способны возобновить нормальное функционирование.

            form.form.form-appointment.validated-form.submitJS.article-form
              .form-legend Консультация бесплатная
              p.article-form__clarification Запишитесь на консультацию уже сегодня и наши мастера ответят на все вопросы и пригласят в удобное время в шоу-рум
              +grid({paddingy: true })
                +grid__item({ s:4, xs:12 })
                  .form_field
                    <input type="text" id="appointment-name" name="appointment-name" placeholder="Имя" style="margin-bottom: 0;">
                +grid__item({ s:4, xs:12 })
                  <input type="tel" class="validated required" name="appointment-phone" id="appointment-phone" placeholder="Телефон" style="margin-bottom: 0;">
                  <div class="validation-msg">Укажите телефон и мы сможем перезвонить, проконсультировать</div>
                +grid__item({ s:4, xs:12 })
                  input(type='submit' name='submit' value='Записаться' style="width: 100%; padding-top:10px; padding-bottom:10px;")
            
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Хроническое телогеновое выпадение волос: научное обоснование дифференцированного подхода к&nbsp;тактике ведения пациентов/Автореферат диссертации на&nbsp;соискание ученой степени кандидата медицинских наук, Е.Л. Урюпина;
                li Диффузная алопеция и&nbsp;метод ее&nbsp;комплексной коррекции/ Снарская Е.С., Гришина В.Б.// Российский журнал кожных и&nbsp;венерических болезней;
                li Диффузная алопеция/ Баткаев Э.А., Галлямова Ю.А., Хассан Аль-Хадж Халед.
            
            h2 Как проходит замещение и результаты
            +grid({ paddingy:true, parLike:true })
              +grid__item({ m:6, xs:12 })
                .article-results
                  .iframe-responsive.article-results__video
                    .iframe-responsive__iframe
                      <iframe src="https://www.youtube.com/embed/w08WhL7K6s8" allowfullscreen="allowfullscreen"></iframe>
                  .article-results__inner
                    p После каждой переустановки волос я забываю, что у меня когда-то не было волос. Я живу с ними как со своими родными и каждое утро просыпаясь, я полон жизни и радости. Потому что раньше я чувствовал себя немножко неуверенно, потому что раньше был какой-то комплекс.
              +grid__item({ m:6, xs:12 })
                .article-results
                  .iframe-responsive.article-results__video
                    .iframe-responsive__iframe
                      <iframe src="https://www.youtube.com/embed/K7kX5STx9_8" allowfullscreen="allowfullscreen"></iframe>
                  .article-results__inner
                    p Многие мои знакомые вообще не поняли, что со мной произошло. Они просто считают, что я помолодел на 10 лет. Никаких физических неудобств я не испытывал. Это лучший метод в альтернативу парикам и подсаживаниям. Советую всем, кто хочет помолодеть!
              +grid__item({ m:6, xs:12 }): +beforeAfterItem({
                images: {
                  before: '/assets/images/articles/before-after-1-1.jpg',
                  after: '/assets/images/articles/before-after-1-2.jpg'
                },
              })
              +grid__item({ m:6, xs:12 }): +beforeAfterItem({
                images: {
                  before: '/assets/images/articles/before-after-2-1.jpg',
                  after: '/assets/images/articles/before-after-2-2.jpg'
                },
              }) 

block styles
  +style('inner')
