extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Фронтальная фиброзная алопеция
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Клинические проявления лобной фиброзной алопеции впервые представлены в&nbsp;1994 году Коссард как вариант плоского красного лишая у&nbsp;женщин в&nbsp;постменопаузе. Это редкое состояние выпадения волос, вызывающее прогрессирующее облысение и&nbsp;фиброзирование тканей по&nbsp;всей линии роста волос. Внешние изменения разрушительны для самооценки и&nbsp;психического здоровья человека. В&nbsp;статье подробно рассматриваем переднюю фиброзную алопецию, симптомы болезни, варианты терапии и&nbsp;профилактики.

            h2 Что такое фронтальная фиброзная алопеция (ФФА)
            p Это первоначальная лимфоцитарная рубцовая алопеция с&nbsp;отличительной клинической картиной&nbsp;&mdash; нарастающей рецессией лобно-височной линии волосяного роста. Выпадению также подвержены брови и&nbsp;другие участки тела. Для болезни характерно медленное течение, но&nbsp;есть случаи стремительной потери волос.
            p Хотя заболеваемость ФФА неустанно растет, ее&nbsp;патология и&nbsp;этиология до&nbsp;конца не&nbsp;изучены.
            +figure({src:'/assets/images/articles/frontalnaja-fibroznaja-alopecija/frontalnaja-1', caption:'Фронтальная фиброзная алопеция'})

            h2 Основные характеристики
            p Помимо облысения ФФА вызывает рубцевание кожи головы. Самоподдерживающийся иммунный ответ приводит к&nbsp;воспалению и&nbsp;разрушению клеток волосяных фолликулов. Со&nbsp;временем фиброзная ткань замещает нормальную эпителиальную ткань, заполняя фолликул.
            p Возраст диагностирования лобной алопеции 56-67&nbsp;лет. Область облысения выглядит как блестящая бледная полоса. Как правило, рецессия линии роста симметричная и&nbsp;двухсторонняя. Редко, но&nbsp;встречается и&nbsp;асимметричная форма.
            p Несмотря на&nbsp;то, что фронтальная фиброзирующая алопеция чаще проявляется у&nbsp;женщин после 50&nbsp;лет, у&nbsp;молодых женщин и&nbsp;мужчин этот тип облысения также диагностируют.

            h2 Причины возникновения ФФА
            h3 Гормональные изменения и&nbsp;менопауза
            p Развитие ФФА в&nbsp;период естественной или искусственной менопаузы указывает на&nbsp;связь гормональных и&nbsp;патологических процессов.

            h3 Аутоиммунные причины
            p Обычно иммунные клетки защищают организм от&nbsp;вторжения бактерий и&nbsp;вирусов, но&nbsp;при аутоиммунных патологиях поражают собственные ткани. Одна из&nbsp;действующих версий утверждает, что ФФА развивается, когда иммунные клетки атакуют волосяные луковицы. 

            h3 Генетическая предрасположенность	
            p Есть мнение, что фронтальная фиброзирующая алопеция передается по&nbsp;наследству. Уже проведены исследования, дающие представление о&nbsp;генах, участвующих в&nbsp;развитии патологического процесса, но&nbsp;требуется дополнительное изучение. 

            h3 Экологические триггеры
            p Предполагается, ФФА развивается как результат аллергической реакции на&nbsp;химические компоненты красок для волос, уходовой косметики. Прямые солнечные лучи, загрязненный воздух, вирусы и&nbsp;бактерии также провоцируют лобное облысение. Но&nbsp;вопрос еще на&nbsp;стадии исследования.

            h3 Психоэмоциональное напряжение
            p Стресс также выступает как предполагаемая причина воспаления фолликулов при ФФА. Множественные исследования подтверждают важную роль сенсорных нейропептидов в&nbsp;производстве и&nbsp;поддержании воспалительного каскада.

            h2 Симптомы и&nbsp;диагностика ФФА
            h3 Типичные признаки заболевания	
            p Симптомы включают истончение стержней, легкий зуд и&nbsp;болезненность, лобно-височные залысины по&nbsp;мужскому типу. Отличительная черта фиброзирующей алопеции&nbsp;&mdash; рубцы на&nbsp;безволосых участках. Ранние признаки схожи с&nbsp;признаками других форм облысения, поэтому диагностировать ФФА вначале болезни сложно.
            p Образовавшаяся линия волос зубчатая, включает стержни с&nbsp;перифолликулярной эритемой и&nbsp;легким гиперкератозом&nbsp;&mdash; покраснение и&nbsp;чешуйки определяются при визуальном осмотре. Безволосая полоска кожи атрофичная, блестящая, светлее кожи лба. Брови также истончаются или отсутствуют. Ресницы и&nbsp;ногтевые пластины часто остаются без изменений. Тест натяжения отрицательный. На&nbsp;лице появляются папулы желтого цвета.
            p Лобная фиброобразующая алопеция редко встречается у&nbsp;мужчин, которые при осложненном течении испытывают проблемы с&nbsp;ростом бороды, усов и&nbsp;бакенбардов.
            +figure({src:'/assets/images/articles/frontalnaja-fibroznaja-alopecija/frontalnaja-2', caption:'Покраснение и чешуйки при ФФА'})

            h3 Клинические модели
            ul.list-marked 
              li Линейная&nbsp;&mdash; равномерная полоса рецессии лобной линии роста волос при сохранении густоты волосяного покрова за&nbsp;линией роста. 
              li Диффузная или зигзагообразная ленточная алопеция, поражающая лобную линию роста волос со&nbsp;значительной потерей плотности волосяного покрова за&nbsp;линией роста.
              li Псевдобахрома&nbsp;&mdash; за&nbsp;незатронутой узкой линией роста волос следует полоса алопеции, образовавшийся в&nbsp;результате рисунок схож с&nbsp;бахромой.

            h3 Диагностические методы	
            p Диагностирование начинается с&nbsp;визуального осмотра, теста натяжения и&nbsp;биопсии кожи головы.
            +figure({src:'/assets/images/articles/frontalnaja-fibroznaja-alopecija/frontalnaja-3', caption:'Биопсия кожи'})
            p Исследование под микроскопом выявляет полосовидное лимфоцитарное уплотнение в&nbsp;сосочковом слое дермы, узелки ороговевшего эпидермиса в&nbsp;устьях фолликулов, отечность базального слоя эпидермиса.
            p При дерматоскопии отмечается отсутствие фолликулярных отверстий, но&nbsp;присутствуют белые перипилярные точки и&nbsp;признаки перифолликулярной эритемы.
            +figure({src:'/assets/images/articles/frontalnaja-fibroznaja-alopecija/frontalnaja-4', caption:'Признаки ФФА и гистологические показатели инфильтрации воспалительных клеток вокруг фолликулов'})

            h2 Лечение фронтальной фиброзной алопеции
            p Нет четкой схемы терапии данной патологии. Назначается лечение, замедляющее облысение и&nbsp;стимулирующее функциональность волосяных луковиц. Часто применяется комбинация методов.

            h3 Современные методы лечения
            p #[strong Кортикостероиды] назначают для местного и&nbsp;перорального применения. Гормоны уменьшают разрушающее фолликулы воспаление, местно стимулируют рост волос.
            p #[strong Иммунодепрессанты] подавляют иммунный ответ организма, снижая негативное воздействие на&nbsp;волосяные луковицы.
            p #[strong Антибиотики]&nbsp;&mdash; для борьбы с&nbsp;воспалением больные также проходят курс антибиотикотерапии.
            p #[strong Блокаторы 5-альфа-редуктазы] тормозят преобразование тесторона в&nbsp;дигидротестотерон, который играет важную роль в&nbsp;гибели фолликулов.
            p #[strong Миноксидил] наносится на&nbsp;пораженный участок, так как усиливает выработку факторов роста сосудистого эндотелия и&nbsp;фибропластов, запускающих фазу анагена.

            h3 Профилактика и&nbsp;рекомендации по&nbsp;уходу
            p Поскольку передняя фиброзирующая алопеция до&nbsp;конца не&nbsp;изучена, перечень профилактических мер еще не&nbsp;разработан. Предполагается, что #[strong изменение образа жизни] способно защитить волосяные фолликулы и&nbsp;предотвратить потерю волос в&nbsp;будущем. Контроль стресса и&nbsp;физические упражнения помогают улучшить здоровье, повысить устойчивость к&nbsp;негативной нагрузке. Употребление свежих фруктов и&nbsp;овощей, оливкового масла уменьшает уровень воспаления в&nbsp;организме.

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Каковы первые признаки ФФА?</h3>')
              p Болезнь начинается с&nbsp;поредения волосяного покрова по&nbsp;линии лба.
            +dropDown('<h3>Можно&nbsp;ли вылечить ФФА?</h3>')
              p Выпадение волос, вызванное лобной алопецией, невозможно остановить, на&nbsp;сегодня нет продуктивных методов лечения. Терапия направлена на&nbsp;замедление прогрессирования болезни.
            +dropDown('<h3>Может&nbsp;ли ФФА развиться у&nbsp;детей или подростков?</h3>')
              p Нет подтвержденной информации о&nbsp;пациентах с&nbsp;лобным облысением до&nbsp;18&nbsp;лет.
            +dropDown('<h3>Возможно&nbsp;ли восстановление волос после развития ФФА?</h3>')
              p Разрушенные волосяные луковицы не&nbsp;восстанавливаются, рост волос прекращается.
            
            +dropDown('<h2>Источники</h2>', { h2: true })
              ul.list-marked 
                li Медикаментозная терапия лобной фиброзирующей алопеции: обзор и&nbsp;клинический подход Хо&nbsp;А., Шапиро Дж.;
                li Постменопаузальная фронтальная фиброзирующая алопеция. Рубцовая алопеция в&nbsp;закономерностях распределения Коссард&nbsp;С.;
                li Клинический, дерматоскопический и&nbsp;трихоскопический анализ фронтальной фиброзирующей алопеции, связанной с&nbsp;приобретенной дермальной макулярной гиперпигментацией: поперечное обсервационное исследование случай-контроль Кумаран М.С., Разми Т.М., Винай&nbsp;К., Парсад&nbsp;Д.

block styles
  +style('inner')
