extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Как скрыть лысину мужчине
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Сегодня никого не&nbsp;удивляет тот факт, что к&nbsp;50&nbsp;годам половина мужчин приходит с&nbsp;теми или иными признаками облысения. Несмотря на&nbsp;непрекращающиеся научно-медицинские исследования, тестирование разных подходов к&nbsp;лечению, лекарства от&nbsp;алопеции со&nbsp;100&nbsp;% результативностью нет. Потеря волос&nbsp;&mdash; серьезное испытание для мужчины, ведь в&nbsp;современном мире успешность до&nbsp;сих пор оценивают по&nbsp;внешности. Также густая шевелюра для многих остается признаком молодости и&nbsp;здоровья.
            p В&nbsp;статье рассматриваем причины облысения, оцениваем разные подходы к&nbsp;лечению и&nbsp;варианты маскировки залысин у&nbsp;мужчин.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-1', caption:'Процент потери волос у мужчин в зависимости от возраста'})

            h2 Причины облысения
            h3 Генетические и&nbsp;гормональные
            p Большинство мужчин лысеет из-за наследственной предрасположенности. Выпадение волос у&nbsp;95&nbsp;% лысеющих мужчин связано с&nbsp;андрогенетической алопецией (АГА). Развитие АГА зависит от&nbsp;чувствительности волосяных фолликулов к&nbsp;дигидротестостерону&nbsp;&mdash; производного тестостерона. Когда в&nbsp;организме увеличивается концентрация дигидротестостерона, волосяные фолликулы реагируют спазмом. Сокращается поступление питательных веществ и&nbsp;кислорода, их&nbsp;функционирование постепенно затухает. Волосяные стержни вначале истончаются, а&nbsp;затем выпадают.
            p Характерный признак АГА&nbsp;&mdash; залысина на&nbsp;макушке и&nbsp;W-образные углубления по&nbsp;передней линии роста. Так как это генетическая форма алопеции, то&nbsp;у&nbsp;молодых людей с&nbsp;облысением в&nbsp;семейном анамнезе больше шансов облысеть.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-2', caption:'Выпадение волос по мужскому типу'})

            h3 Стресс
            p Многие мужчины сталкиваются с&nbsp;внезапным выпадением волос, когда переживают стрессовые события. Стресс приводит к&nbsp;временной потере волос, известной как телогеновая алопеция. Большая часть фолликулов входит в&nbsp;стадию сна, поэтому стержней начинает выпадать больше. Данный вид облысения носит временный характер. Когда удается справитесь со&nbsp;стрессом, густота волосяного покрова постепенно восстанавливается.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-3', caption:'Стресс способствует потере волос'})

            h3 Неправильный уход
            p Некоторые трендовые сегодня прически наносят вред волосам. Хвосты и&nbsp;африканские косички увеличивают натяжение волосяных фолликулов, что постепенно приводит к&nbsp;истончению и&nbsp;выпадению стержней. Состояние называется тракционная алопеция, и&nbsp;тоже носит временный характер. Шампуни с&nbsp;агрессивным составом, изобилие укладочных средств также наносят шевелюре непоправимый ущерб.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-4', caption:'Тугие прически приводят к выпадению волос'})

            h3 Курение
            p Никотин вызывает спазм, уменьшает поступление кислорода и&nbsp;питательных веществ к&nbsp;волосяным фолликулам, что негативно сказывается на&nbsp;состоянии волосяных стержней, и&nbsp;со&nbsp;временем приводит к&nbsp;образованию проплешин.

            h3 Дефицитные состояния
            p Чтобы волосы росли и&nbsp;оставались здоровыми, им&nbsp;необходимы некоторые питательные вещества. Несбалансированное питание лишает организм необходимых для функционирования фолликулов веществ, вызывая дефицитные состояния. В&nbsp;первую очередь волосы нуждаются в&nbsp;белке&nbsp;&mdash; строительном материале, кислоте омега-3, витаминах А, Е, В6&nbsp;и&nbsp;В12, а&nbsp;также цинке и&nbsp;железе.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-5', caption:'Сбалансированное питание и витамины помогут справиться с потерей волос'})

            h3 Фармацевтические препараты
            p Ряд лечебных препаратов негативно сказывается на&nbsp;здоровье волосяных луковиц. Стержни теряют блеск, истончаются, ломаются и&nbsp;выпадают. Лекарства с&nbsp;негативным влиянием на&nbsp;волосы:
            ul.list-marked 
              li противогрибковые;
              li разжижающие кровь;
              li химиотерапевтические;
              li снижающие уровень холестерина;
              li от&nbsp;гипертонии и&nbsp;другие.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-6', caption:'Уточните у врача при назначении препаратов как они влияют на волосяной покров и можно ли подобрать альтернативу без последствий, если они возможны'})

            h3 Болезни
            p В&nbsp;ряде случаев выпадение волос указывает на&nbsp;серьезную медицинскую проблему. В&nbsp;таких случаях облысение&nbsp;&mdash; это побочный эффект при:
            ul.list-marked 
              li проблемах с&nbsp;щитовидной железой;
              li анемии;
              li диабете;
              li гастрите;
              li иммунодефиците;
              li псориазе, себорее и&nbsp;других.

            h3 Травмирование
            p Иногда травмирующие физические события с&nbsp;последующим рубцеванием тканей оставляют проплешины на&nbsp;голове мужчины. После замещения здоровой ткани фиброзной волосы в&nbsp;этой зоне больше не&nbsp;растут. Фиброзирование&nbsp;&mdash; защитная реакция организма на&nbsp;повреждение мягких тканей.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-7', caption:'Отсутствие волос на фиброзной ткани'})

            h2 Признаки чрезмерного выпадения волос
            ul.list-marked 
              li Интенсивное облысение, при котором увеличивается количество волосков, оставшихся на&nbsp;подушках, расческах или в&nbsp;сливе душа. Что считается признаком чрезмерного выпадения волос.
              li Проплешины. Постепенное истончение прядей, особенно вокруг макушки и&nbsp;лобной линии роста, считается типичным признаком облысения по&nbsp;мужскому типу&nbsp;&mdash; основной причины чрезмерного выпадения волос у&nbsp;мужчин.
              li Просвечивается кожа сквозь пряди. Интенсивная волосопотеря приводит к&nbsp;поредению прядей до&nbsp;состояния, когда начинает просвечиваться кожа сквозь волосы.
              li Изменения текстуры стержня. Волосы становятся тоньше, ослабевают, что сделает их&nbsp;восприимчивее к&nbsp;ломкости.
              li Зуд или покраснение кожи головы. Чрезмерное выпадение волос часто сопровождается раздражением, зудом или покраснением кожи при грибковом поражении или псориазе.

            h2 Типы облысения
            h3 По&nbsp;мужскому типу
            p Это наиболее распространенная причина выпадения волос у&nbsp;мужчин , которая, как правило, передается по&nbsp;наследству. Облысение вызывает чувствительность волосяных луковиц к&nbsp;мужскому гормону дигидротестостерону. У&nbsp;большинства мужчин волосы начинают выпадать по&nbsp;передней лобной линии, образуя форму буквы &laquo;М&raquo;, затем&nbsp;&mdash; на&nbsp;макушке. В&nbsp;итоге волосяной покров остается только на&nbsp;затылке.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-8', caption:'Влияние дигидротестостерона на волосяные луковицы'})

            h3 Очаговая алопеция
            p Этот тип облысения возникает в&nbsp;любом возрасте, даже у&nbsp;детей, и&nbsp;поражает волосяной покров не&nbsp;только на&nbsp;голове, но&nbsp;и&nbsp;на&nbsp;теле. Исследователи полагают, что люди генетически предрасположены к&nbsp;развитию очаговой алопеции, а&nbsp;затем провоцирующие факторы запускают патологический процесс. Считается аутоиммунным заболеванием. Это значит, что лейкоциты иммунной системы атакуют волосяные фолликулы, вызывая выпадение волос, замедление их&nbsp;роста. Часто волосяной рост возобновляется произвольно. Но&nbsp;возможны рецидивы болезни. Варианты состояния включают тотальную алопецию (полное облысение головы) и&nbsp;универсальную (выпадение всех волос на&nbsp;голове и&nbsp;теле).
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-9', caption:'Виды алопеции (слева направо: телогеновая, очаговая, тотальная)'})

            h3 Рубцовая алопеция
            p Ожоги, бактериальные или грибковые инфекции кожи, травмы или рентгеновское лечение оставляют на&nbsp;коже головы шрамы, которые препятствуют росту волос на&nbsp;пораженных участках.

            h3 Телогеновая алопеция
            p Телоген&nbsp;&mdash; последняя фаза цикла волосяного роста (фаза покоя). В&nbsp;конце этой стадии стержни выпадают, и&nbsp;цикл начинается заново. Потеря 50-100 волосков в&nbsp;день в&nbsp;телогене&nbsp;&mdash; норма. Но&nbsp;мужчины с&nbsp;телогеновой алопецией теряют больше. Состояние длится до&nbsp;6&nbsp;месяцев, пока не&nbsp;устранить провоцирующие факторы. При хроническом течении симптомы сохраняются годами. Иногда для восстановления роста требуется медицинская помощь.

            h2 Влияние облысения на&nbsp;психологическое здоровье и&nbsp;самооценку
            p Чрезмерное потеря волос ранит самооценку и&nbsp;психическое благополучие мужчины. Ведь густые волосы часто воспринимаются как признак личности и&nbsp;привлекательности. Поэтому справиться с&nbsp;облысением эмоционально сложно. Застенчивость и&nbsp;сниженная самооценка из-за изменившейся внешности негативно влияют на&nbsp;личную, социальную и&nbsp;профессиональную жизнь человека.
            p Борьба с&nbsp;выпадением волос также вызывает стресс и&nbsp;тревогу. Мужчины беспокоятся о&nbsp;том, как их&nbsp;воспринимают другие, боятся осуждения или стигматизации, создавая порочный круг. В&nbsp;этот период важно получать психологическую поддержку, чтобы принять себя, решиться на&nbsp;трансплантацию или найти утешение в&nbsp;том, что есть надежные варианты для поддержание желаемого внешнего вида, например, средства для замещения волос. При любом выборе главное помнить, что внешность не&nbsp;определяет ценность человека.

            h2 Прически, маскирующие лысину
            p Когда поредение становится заметным, скрыть лысину мужчине сложно, но&nbsp;это не&nbsp;повод сразу переходить к&nbsp;прическе Бокс. Парикмахеры предлагают разные варианты стильных стрижек для мужчин с&nbsp;залысинами.

            h3 Если залысины на&nbsp;лбу
            h4 Андеркат
            p Это короткая мужская стрижка для маскировки лысины на&nbsp;лбу у&nbsp;мужчин с&nbsp;текстурированным верхом и&nbsp;короткими боками. Андеркат предполагает пышную макушку. Чтобы пряди не&nbsp;выглядели слишком гладко, их&nbsp;укладывают пальцами в&nbsp;направлении от&nbsp;лица. 
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-10', caption:'Стрижка Андеркат'})

            h3 Короткая стрижка Цезарь
            p Если у&nbsp;мужчины короткие и&nbsp;тонкие волосы, но&nbsp;стоит цель&nbsp;&mdash; спрятать залысины, то&nbsp;подойдет стрижка и&nbsp;с&nbsp;зачесанными прядями вперед Цезарь. Передняя часть и&nbsp;макушка коротко подстрижены и&nbsp;зачесаны вперед, маскируя изъяны линии роста. В&nbsp;отличие от&nbsp;длинной челки короткая не&nbsp;смещается, поэтому волосы при движении остаются на&nbsp;месте. Подойдет мужчинам молодого и&nbsp;среднего возраста.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-11', caption:'Варианты мужской стрижки Цезарь'})

            h3 Многослойная стрижка 
            p Многослойность&nbsp;&mdash; подходящий выбор, чтобы прикрыть лысину на&nbsp;лбу и&nbsp;придать образу стильный вид. Когда пряди достигнут линии шеи, парикмахер стрижет их&nbsp;слоями, чтобы придать прическе объем. Пряди ложатся небрежно, закрывая уши и&nbsp;лоб, маскируя несовершенства линии роста.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-12', caption:'Многослойная мужская стрижка'})

            h3 При залысинах на&nbsp;макушке
            p Прически, маскирующие лысину на&nbsp;макушке, предполагают удлиненные пряди вокруг поредевших участков. Подходят разные варианты стилей, стрижек и&nbsp;укладки.

            h4 Зачес назад
            p Если прическа еще сохранила достаточный объем, виски и&nbsp;затылок коротко выстригаются, а&nbsp;пряди в&nbsp;верхней части головы делают длиннее и&nbsp;зачесывают назад, тем самым закрывая лысину на&nbsp;макушке, создавая эффект пышной прически. Для ухода не&nbsp;потребуются навыки стилиста.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-13', caption:'Зачес назад'})

            h4 Лига Плюща
            p Относится к&nbsp;прическам old school. Мужские прически с&nbsp;пробором пользовались спросом у&nbsp;искушенной элиты&nbsp;&mdash; мальчиков из&nbsp;Лиги Плюща. У&nbsp;стрижки коротко подстриженные затылок и&nbsp;бока с&nbsp;удлиненной макушкой, которую чаще укладывают с&nbsp;боковым пробором. Это придает прическе объем и&nbsp;текстуру в&nbsp;верхней части. Лига Плюща скрывает лысину на&nbsp;макушке у&nbsp;мужчин, подходит для прямых, волнистых и&nbsp;умеренно вьющихся волос.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-14', caption:'Примеры прически Лига Плюща'})

            h3 При залысинах по&nbsp;бокам
            h4 Полубокс	
            p Ультракороткая длина Полубокса на&nbsp;висках и&nbsp;затылке хорошо маскирует залысины боковой части головы. Такая стрижка не&nbsp;только удобна, но&nbsp;и&nbsp;требует минимального ухода. 
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-15', caption:'Стрижка полубокс'})

            h4 Ирокез
            p Стрижка получила название, благодаря форме, напоминающей гребень мха. Боковые короткие или средней длины волосы сравнивают с&nbsp;проплешинами. Верхняя часть прически длиннее. Для классического образа переход делают постепенным. Резкий переход&nbsp;&mdash; смелый выбор для креативных личностей.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-16', caption:'Ирокез'})

            h3 Если волос нет
            h4 Бритая голова
            p Когда большая часть волос покинула голову, лучшее решение&nbsp;&mdash; побриться наголо. Это надежный и&nbsp;простой выбор, требующий минимального ухода.

            h2 Варианты маскировки облысения
            h3 Загустители
            p Загуститель для волос&nbsp;&mdash; косметическое средство для маскировки лысины, не&nbsp;решающее кардинально проблему истончения и&nbsp;поредения, но&nbsp;незаменимое на&nbsp;первых стадиях облысения. Особенно актуально для темноволосых мужчин, ведь контраст между темными прядями и&nbsp;светлой кожей головы делает проблему очевидной для окружающих.
            p Маскирующая пудра для волос, подобранная близко к&nbsp;натуральному цвету прядей, скрывает залысины. Новое поколение загустителей водостойкое, а&nbsp;значит, невозможно попасть в&nbsp;неловкую ситуацию под дождем или в&nbsp;бассейне. Загуститель прост в&nbsp;применение. Вымытые волосы сушатся и&nbsp;укладываются в&nbsp;привычную прическу, небольшое количество пудры наносится на&nbsp;проблемные участки, распределяется по&nbsp;коже, и&nbsp;фиксируется.

            h3 Головные уборы
            p Это отличный аксессуар не&nbsp;только для лысых или бритых мужчин, но&nbsp;и&nbsp;для тех, у&nbsp;кого есть волосы. Шапки, шляпы и&nbsp;кепки станут стильным дополнением современного образа. Также головные уборы защищают голову от&nbsp;ультрафиолетовых лучей, ветра и&nbsp;пыли, сохраняют тепло в&nbsp;холодную погоду, что важно в&nbsp;период восстановления волосяного покрова.

            h3 Системы замещения волос
            p Мужская система замещения&nbsp;&mdash; это нехирургический способ решения проблемы облысения, дающий мгновенные результаты. В&nbsp;отличие от&nbsp;париков реплейсменты&nbsp;&mdash; технологически и&nbsp;творчески более продвинутые изделия, не&nbsp;отличимые от&nbsp;волос мужчины при ближайшем рассмотрении и&nbsp;на&nbsp;ощупь. Благодаря надежной фиксации системы замещения носят не&nbsp;снимая до&nbsp;6&nbsp;месяцев. Изготавливаются вручную с&nbsp;использованием гипоаллергенных материалов и&nbsp;натуральных прядей. Используются на&nbsp;временной или постоянной основе. Системы позволяют сохранять привычный ритм жизни, не&nbsp;отказываться от&nbsp;интенсивных тренировок, посещения бани, сауны или бассейна.
            
            include /blocks/article-block/article-block

            h2 Центр эстетики волос &laquo;Гамма&raquo;
            p Считаем желание замаскировать лысину естественным, и&nbsp;поддерживаем в&nbsp;этом стремлении мужчин. Предлагаем надежное и&nbsp;быстрое преображение, используя для этого системы замещения волос. Это могут быть уже готовые изделия или изготовленные по&nbsp;персональному заказу. Тончайший силикон делает стыки невидимыми, а&nbsp;натуральные пряди полностью замещают потерянные волосы или естественно совмещаются с&nbsp;собственными.
            p Понимаем деликатность вопроса, прием ведем по&nbsp;записи, сохраняя право клиента на&nbsp;конфиденциальность.
            
            include /blocks/article-form/article-form

            h2 Трансплантация
            p Во&nbsp;время операции фолликулы из&nbsp;донорского участка пересаживают в&nbsp;область облысения. Трансплантаты помещаются в&nbsp;небольшие каналы, созданные в&nbsp;реципиентной области. При разных процедурах по&nbsp;пересадке волос фолликулы берутся с&nbsp;затылка, так как в&nbsp;этой зоне фолликулы устойчивы к&nbsp;действию дигидротестостерона, и&nbsp;после пересадки сохраняют генетические характеристики. Таким образом, волосы, пересаженные в&nbsp;область облысения, продолжают расти, несмотря на&nbsp;действие гормонов. Трансплантация возможна при достаточном количестве волос на&nbsp;затылке. Операция не&nbsp;гарантирует 100&nbsp;% приживаемость пересадочного материала.
            +figure({src:'/assets/images/articles/kak-skryt-lysinu-muzhchine/skryt-17', caption:'До и после пересадки волос'})

            h2 Профилактика облысения
            h3 Правильный уход
            ul.list-marked 
              li Бережное мытье головы. Чтобы не&nbsp;повредить стержень, избегают сильное механическое воздействие, используют шампунь с&nbsp;щадящим составов без сульфатов.
              li Исключение чрезмерного нагрева. Частое использование фенов и&nbsp;приборов для укладки повреждает волосы.
              li Регулярная стрижка помогает избежать секущихся кончиков и&nbsp;ломкости.

            h3 Борьба со&nbsp;стрессом
            p Для стабилизации психологического состояния практикуют медитацию, йогу или упражнения по&nbsp;глубокому дыханию, не&nbsp;пренебрегают сном, не&nbsp;злоупотребляют кофеином.

            h3 Питание
            p Хорошо сбалансированная диета играет весомую роль в&nbsp;здоровье волос. Убедитесь, что дневной рацион включает:
            ul.list-marked 
              li продукты, богатые белком, такие как постное мясо и&nbsp;бобовые;
              li витамины А, С&nbsp;и&nbsp;Е, стимулирующие работу фолликулов;
              li железо и&nbsp;цинк&nbsp;&mdash; необходимые микроэлементы для густоты шевелюры.

            h3 Образ жизни
            ul.list-marked 
              li Отказ от&nbsp;никотина. Курение провоцирует выпадение волос. Отказ от&nbsp;сигарет благотворно сказывается на&nbsp;состоянии волосяного покрова.
              li Умеренное употребление алкоголя. Чрезмерное употребление спиртных напитков ослабляет волосяные фолликулы. Умеренность&nbsp;&mdash; ключевой момент.

            h3 Гидратация
            p Для поддержания увлажненности кожи головы и&nbsp;волос требуется достаточное количество воды с&nbsp;учетом массы тела.

            h2 Ошибки лысеющих мужчин
            ul.list-marked 
              li Отращивают длинные локоны, чтобы скрыть проплешины;
              li Не&nbsp;обращают внимание на&nbsp;первые признаки АГА, упуская возможность отсрочить патологические изменения;
              li Предпочитают оставаться в&nbsp;тени, не&nbsp;привлекая внимания, тем самым снижая привычный уровень жизни;
              li Избегают постижерных изделий&nbsp;&mdash; сегодня качество реплейсментов не&nbsp;вызывает и&nbsp;доли сомнения в&nbsp;естественности прически;
              li Не&nbsp;обращаются за&nbsp;психологической помощью, взращивая неуверенность и&nbsp;комплексы.

            h2 Популярные вопросы и&nbsp;ответы 
            +dropDown('<h3>Как предотвратить мужское облысение?</h3>')
              p Облысение по&nbsp;мужскому типу задается генетически, поэтому полностью предотвратить алопецию невозможно. Но&nbsp;правильное лечение замедляет этот процесс.
            +dropDown('<h3>Как остановить потерю волос косметическими средствами?</h3>')
              p Требуется комплексный подход. Эффективное лечение включает фармакологические препараты, физиотерапию, наружные лечебные средства.
            +dropDown('<h3>После стресса волосы отрастут заново?</h3>')
              p Чаще облысение на&nbsp;фоне стресса временное. После устранения психологического дискомфорта рост волос возобновляется. Но&nbsp;при хроническом стрессе последствия бывают необратимыми.
            +dropDown('<h3>Когда мужчины начинают лысеют?</h3>')
              p Усредненная статистика показывает что первые признаки облысения большинство мужчин замечает после 40&nbsp;лет. Но&nbsp;все чаще с&nbsp;проблемой сталкиваются парни 20-30&nbsp;лет.
            +dropDown('<h3>Система замещения пропускает воздух к&nbsp;коже головы?</h3>')
              p Да, сетчатая структура основы гарантирует свободную циркуляцию воздуха.

            +dropDown('<h2>Используемая литература</h2>', { h2: true })    
              ul.list-marked 
                li Современные взгляды на&nbsp;клинические особенности андрогенетической алопеции у&nbsp;мужчин и&nbsp;женщин/ Муратова Р.Р., Эмирсанова С.О., Прохоров Д.М.;
                li Лечение андрогенной алопеции пересадкой волос с&nbsp;использованием кожных микро- и&nbsp;миниаутотрансплантатов/ Гончаров А.П.;
                li Парикмахерское мастерство&nbsp;&mdash; уроки мастерства/ Петровская В.А.

block styles
  +style('inner')
