extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Генетическая алопеция
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 }).article-header 
            span.article-header__date 11 октября 2023
            span.article-header__view 893
            span.article-header__reading 8 минут
            .rating-sum(data-rating='4.7')
              - for (i=0; i<5; i++)
                .rating-sum__star
              .rating-sum__count

          +grid__item({ m:9, xs:12 })
            .article-article
              p В&nbsp;наследство от&nbsp;родителей человек получает генетическую программу, которой сложно противостоять. Генетическая алопеция&nbsp;&mdash; это часть наследственной программы, выражающаяся в&nbsp;хроническом выпадении волос.
            
              p Наследственный тип облысения встречается у&nbsp;40&nbsp;% женщин и&nbsp;80&nbsp;% мужчин. Предсказать, когда активируется разрушающая волосяные фолликулы программа невозможно. Патологический процесс развивается в&nbsp;любом возрасте и&nbsp;способен привести к&nbsp;полной потере волос.
              p Наследственное облысение сложно поддается лечению, поэтому ранняя диагностика&nbsp;&mdash; верный путь к&nbsp;успешной терапии. Сегодня медицина предлагает ряд препаратов, доказавших действенность в&nbsp;борьбе с&nbsp;унаследованной потерей волос. В&nbsp;статье рассматриваем генетические и&nbsp;другие факторы, провоцирующие алопецию, описываем особенности протекания болезни, методы профилактики и&nbsp;лечения.
              +figure({src:'/assets/images/articles/nasledstvennoe-oblysenie/alopecia-1', caption:'Ранняя диагностика - действенный метод борьбы с потерей волос'})

              h2 Что такое генетическая алопеция
              p Алопеция наследственная&nbsp;&mdash; это прогрессирующее выпадение волос в&nbsp;результате генетической предрасположенности. Облысение вызывает взаимодействие родственных генов, контролирующих ряд функций организма. Часть генов наследуется по&nbsp;материнской линии, а&nbsp;часть по&nbsp;отцовской. Поэтому проплешины на&nbsp;голове отца указывают на&nbsp;вероятность того, что дети тоже столкнутся с&nbsp;подобной проблемой.

              p Дата публикации: 10 октября 2023
              h3 Андрогенетическая (АГА)
              p Распространенный вид алопеции, который связан с&nbsp;восприимчивостью фолликулов к&nbsp;гормону дигидротестостерону, из-за чего перестают функционировать, и&nbsp;волосяной стержень не&nbsp;растет.

              h3 Гнездная
              p До&nbsp;конца не&nbsp;изучена, появляется внезапно. Характеризуется безволосыми очагами, которые увеличиваясь в&nbsp;размерах, сливаются в&nbsp;одно пятно. Доказано, что гнездная алопеция передается по&nbsp;наследству. К&nbsp;уменьшению густоты волосяного покрова приводит сочетание генов, передающихся по&nbsp;наследству. Есть еще ряд провоцирующих факторов (аутоиммунные процессы, гормональные нарушения и&nbsp;др.), которые в&nbsp;комплексе ведут к&nbsp;облысению.
              +figure({src:'/assets/images/articles/nasledstvennoe-oblysenie/alopecia-2', caption:'Гнездная (очаговая) алопеция'})

              h3 Рубцовая
              p Возникает по&nbsp;разным причинам, среди которых патологии наследственного характера: эктодермальная дисплазия, аплазия кожи, ихтиоз, невус сальных желез и&nbsp;другие. Ведет к&nbsp;разрушению фолликулов и&nbsp;замещению соединительной тканью.
              +figure({src:'/assets/images/articles/nasledstvennoe-oblysenie/alopecia-3', caption:'Рубцовая алопеция'})

              h3 Другие виды
              p Гипотрихоз приводит к&nbsp;истончению волосяного стержня. Передается по&nbsp;материнской линии. Ген APCDD1 вызывает сокращение волосяных луковиц. Диагностируется даже у&nbsp;детей.
              +figure({src:'/assets/images/articles/nasledstvennoe-oblysenie/alopecia-4', caption:'Гипотрихоз'})

              h2 Симптомы и&nbsp;диагностика
              p Генетическое облысение принимает разные формы, которые проявляются по-разному.

              h3 Первые признаки
              p Характерные признаки АГА&nbsp;&mdash; поредение или выпадение волос в&nbsp;области лба и&nbsp;темени. Затылок, как правило, проблема поредения не&nbsp;затрагивает.
              p Для очаговой свойственно стремительное начало, когда человек однажды просыпается утром и&nbsp;замечает округлую проплешину. Процесс затрагивает лицо и&nbsp;тело. Другие симптомы отсутствуют.
              p Рубцовая проявляется безволосыми участками, эритемой, зудом и&nbsp;болевыми ощущениями. Место погибших фолликулов занимает рубцовая ткань, поэтому терапию желательно начинать при первых признаках.
              p Гипотрихоз диагностируют еще в&nbsp;раннем возрасте. Ребенок рождается с&nbsp;редкими волосами, которые со&nbsp;временем истончаются и&nbsp;выпадают. Возможно рождение лысого младенца без ресниц и&nbsp;бровей. В&nbsp;ряде случаев у&nbsp;одного ребенка сочетаются разные генетически унаследованные отклонения&nbsp;&mdash; кожные, двигательные и&nbsp;умственные.

              h3 Методы диагностики
              p Диагностика начинается сразу в&nbsp;кабинете врача с&nbsp;осмотра, так как у&nbsp;каждого вида алопеции характерные признаки. При изучении кожи головы и&nbsp;безволосых очагов врач использует бинокулярную лупу или трихоскоп, чтобы получить четкое изображение. Тест натяжения помогает оценить активность выпадения волосяных стержней. Если из&nbsp;небольшой пряди выпадает более 6&nbsp;волос, тест положительный. Также для исследования делается биопсия кожи головы, сдается анализ для выявления гормонального дисбаланса, инфекций, аутоиммунных нарушений, нехватки витаминов и&nbsp;т.д.
              p У&nbsp;генетического анализа важная роль в&nbsp;диагностике наследственной алопеции. Исследование подтверждает или опровергает генетическую природу заболевания, позволяет подобрать продуктивную терапию. Также генетическое тестирование определяет вероятность наследования облысения последующими поколениями.

              h2 Как передается ген облысения
              p На&nbsp;выпадение волос влияют разные гены, наиболее изученный из&nbsp;которых ген рецептора андрогенов (AR), который чаще называют геном облысения. Ген 20p11 участвует в&nbsp;выработке белка простагландина&nbsp;D2, подавляющего рост волосяных стержней. Разные мутации гена 20p11 приводят к&nbsp;увеличению выработки простагландина&nbsp;D2, провоцируя облысение. Ген LSS задействован в&nbsp;выработке белка ланостерола, поддерживающего рост волос. Его мутации тормозят выработку белка, что приводит к&nbsp;поредению прядей.
              p В&nbsp;2005 году немецкие ученые обнародовали вывод, что ген облысения передается только от&nbsp;матери к&nbsp;сыну. И&nbsp;только через пять лет в&nbsp;мужской хромосоме обнаружили аналогичный ген. Это значит, что наследственное облысение передается как по&nbsp;отцовской, так и&nbsp;по&nbsp;материнской линии по&nbsp;схеме:
              ul.list-marked 
                li от&nbsp;отца сыну и&nbsp;дочери;
                li от&nbsp;матери сыну.
              p Не&nbsp;все носители гена лысеют. В&nbsp;ряде случаев патологический процесс запускается при воздействии провоцирующих факторов:
              ul.list-marked 
                li неблагоприятная экология;
                li курение;
                li нарушение циклов сна и&nbsp;бодрствования;
                li хронические болезни;
                li стрессы и&nbsp;постоянная усталость.
              p Но&nbsp;даже курящие люди, работающие по&nbsp;ночам и&nbsp;живущие в&nbsp;районе с&nbsp;плохой экологией не&nbsp;всегда теряют волосы. Наличие генов подтверждает лишь вероятность болезни.
              p Хотя научных доказательств, что стресс запускает программу облысения, нет. Но&nbsp;ученые подтверждают постоянное психоэмоциональное напряжение негативно влияет на&nbsp;организм, в&nbsp;том числе на&nbsp;фолликулы.

              h2 Наследственное облысение у&nbsp;мужчин
              p Облысение по&nbsp;мужскому типу&nbsp;&mdash; это про андрогенетическую алопецию. Разрушают волосяные луковицы вариации андрогенного рецептора. У&nbsp;каждого седьмого мужчины присутствует потенциал развития этого вида патологии. На&nbsp;андрогенетическую приходится 95&nbsp;% всех случаев мужского облысения. Определяется по&nbsp;прогрессирующему поредению прядей в&nbsp;зонах лба и&nbsp;темени.
              .block-marked.block-marked--padding-small
                p Проникая в&nbsp;клетки волосяных луковиц преобразованный из&nbsp;тестостерона дигидротестостерон постепенно разрушает&nbsp;их, в&nbsp;результате чего волосяной стержень истончается, перестает расти, а&nbsp;затем выпадет. Фолликул перестает функционировать. Преобразование тестотерона в&nbsp;дигидротестостерон проходит при участии фермента 5a-редуктаза.

              p С&nbsp;первыми признаками АГА мужчины могут столкнуться на&nbsp;пороге тридцатилетия, но&nbsp;большая часть теряет волосы по&nbsp;мужскому типу после 40&nbsp;лет. И&nbsp;лишь незначительный процент начинает лысеть в&nbsp;преклонном возрасте. 
              +figure({src:'/assets/images/articles/nasledstvennoe-oblysenie/alopecia-5', caption:'Большинство мужчин начинают терять волосы после 40 лет'})

              p Потеря былой густоты прически и&nbsp;изменение внешнего облика воспринимается болезненно, сопровождаясь тревогой и&nbsp;даже депрессией. Поэтому людям, столкнувшимся с&nbsp;данной проблемой, рекомендованы консультации у&nbsp;психолога или психотерапевта.

              h2 Профилактика и&nbsp;лечение
              h3 Профилактические меры
              p Некоторые формы облысения нельзя предотвратить, но&nbsp;можно снизить риски заболеть, благодаря профилактике. При повышенной чувствительности фолликулов с&nbsp;дигидротестостерону волосы теряют за&nbsp;4-5&nbsp;лет. Поэтому лечение начинают при первых признаках. 
              p Профилактические меры включают:
              ul.list-marked 
                li сбалансированное питание;
                li управление раздражением и&nbsp;стрессом через дыхание и&nbsp;йогу;
                li отказ от&nbsp;тугих причесок;
                li лечение болезней, провоцирующих потерю волос (аутоиммунные, патологии щитовидной железы и&nbsp;т.д.);
                li отказ от&nbsp;привычек, приносящих вред здоровью.

              h3 Медикаментозное лечение
              p Нет универсального рецепта лечения облысения. Терапевтическую тактику врач разрабатывает, исходя из&nbsp;типа и&nbsp;стадии болезни, возраста пациента. Наследственное облысение обратить вспять часто невозможно. Но&nbsp;андрогенетическая алопеция на&nbsp;начальных стадиях положительно реагирует на&nbsp;терапию.

              h4 Лекарственные средства
              p Для снижения активности дигидротестостерона применяют антиандрогены, антиэстрогены, эстрогены. Финастерид&nbsp;&mdash; ингибитор фермента 5a-редуктаза клинически и&nbsp;практически доказал продуктивность. При очаговой алопеции для снятия боли назначают противовоспалительные и&nbsp;седативные препараты. Лечение дополняют внутривенным введением стимуляторов обменных процессов.
              p Также терапия включает сосудорасширяющие, противогрибковые и&nbsp;противовоспалительные препараты. При рубцовой возможен прием антибиотиков, цитостатиков, кортикостероидов.
              .block-marked.block-marked--padding-small
                p Генная терапия против облысения заключается во&nbsp;введении в&nbsp;соматические клетки генетических элементов для подавления или восстановления функций генов. Источниками клеток выступают: пуповинная кровь, костный мозг, фолликулы. Метод показал впечатляющие результаты, но&nbsp;исследования еще продолжаются.

              p Плазмотерапия&nbsp;&mdash; омоложение кожи головы активно используется в&nbsp;борьбе с&nbsp;облысением. Для лечения берут кровь пациента, насыщенную тромбоцитами и&nbsp;факторами роста, которые питают волосяные луковицы, стимулирует рост стержней.

              h4 Препараты местного действия
              p На&nbsp;кожу головы наносят пены, шампуни, лосьоны с&nbsp;лечебным составом. К&nbsp;базовым местным препаратам относятся &laquo;миноксидил&raquo; и&nbsp;&laquo;финастерид&raquo;. Также в&nbsp;залысины втирают мазь &laquo;гепарин&raquo;. Для питания фолликулов назначают &laquo;фторокорт&raquo;.
              p Действие местных препаратов дополняют массажем, сеансами аппарата Дарсонваль, криомассажем, чтобы восстановить кровообращение.

              h3 Хирургические методы
              p Медикаментозное лечение возможно до&nbsp;4&nbsp;стадии. Пересадка волос&nbsp;&mdash; продуктивный метод лечения андрогенетической и&nbsp;рубцовой алопеции. Хирургическое вмешательство заключается в&nbsp;изъятии волосяных фолликулов из&nbsp;донорской андрогеннезависимой зоны пациента, и&nbsp;переносе в&nbsp;зоны без волос. Так как характер гнездного типа облысения непредсказуем, трансплантация таким больным не&nbsp;показана.
              +figure({src:'/assets/images/articles/nasledstvennoe-oblysenie/alopecia-6', caption:'Фото слева- до трансплантации, фото справа - после.'})

              p Хирургическим методом также удаляют безволосый участок при рубцовом облысении. Операция сложная, поэтому выполняется в&nbsp;2&nbsp;этапа с&nbsp;перерывом 1-2&nbsp;месяца.

              h3 Народные средства и&nbsp;диета
              p Сбалансированное питание&nbsp;&mdash; важная составляющая продуктивного лечения. Меню составляется с&nbsp;учетом нехватки витаминов или микроэлементов в&nbsp;организме больного. Для здоровья волос важен биотин, витамин А, С&nbsp;и&nbsp;Д.&nbsp;Полезные для волосяного покрова компоненты содержатся в&nbsp;орехах, яйцах, рыбе и&nbsp;мясе.
              p Для стимуляции фолликулов популярны рецепты со&nbsp;жгучим перцем, который обладает местнораздражающим свойством. В&nbsp;результате лечения усиливается кровообращение кожи головы и&nbsp;прилегающих тканей. Луковицы, получающие полноценное питание и&nbsp;кислород, активируют рост стержней.
              +figure({src:'/assets/images/articles/nasledstvennoe-oblysenie/alopecia-7', caption:'Перцовая настойка - популярное народное средство лечения алопеции'})

              p Доказана действенность экстрактов сладкого белого люпина и&nbsp;карликовой пальмы в&nbsp;подавлении активности фермента 5a-редуктаза. Наружные средства с&nbsp;экстрактом этих растений показали хорошие результаты в&nbsp;борьбе с&nbsp;агрессивностью дигидротестостерона, разрушающего фолликулы.

              h2 Популярные вопросы и&nbsp;ответы
              +dropDown('<h3>Лысина передается по&nbsp;наследству?</h3>')
                p Лысина&nbsp;&mdash; это явный признак алопеции. Чтобы понять природу патологии, проходят обследование, которое показывает наследственная болезнь или нет.
              +dropDown('<h3>Сколько лечат облысение?</h3>')
                p Лечение наследственной алопеции&nbsp;&mdash; процесс продолжительный. Результаты от&nbsp;разработанной врачом схемы ждут 1,5-2&nbsp;года.
              +dropDown('<h3>Женщинам передается по&nbsp;наследству облысение?</h3>')
                p Да, каждая вторая женщина из&nbsp;10&nbsp;наследует алопецию.
                p Важно понимать сложную природу генетической алопеции, когда помимо наследственных много других факторов провоцирует выпадение волос. Не&nbsp;все формы болезни до&nbsp;конца изучены и&nbsp;поддаются терапии. Поэтому ранняя диагностика и&nbsp;целостный подход к&nbsp;лечению помогают предотвратить или замедлить процесс. 
              +dropDown('<h2>Источники</h2>', { h2: true })     
                ul.list-marked 
                  li АНДРОГЕННАЯ АЛОПЕЦИЯ У&nbsp;МУЖЧИН: ЗНАЧЕНИЕ ГЕНЕТИЧЕСКИХ, ГОРМОНАЛЬНЫХ И&nbsp;МЕТАБОЛИЧЕСКИХ ФАКТОРОВ автореферат диссертации на&nbsp;соискание ученой степени доктора медицинских наук, Кондрахина И.Н.;
                  li ГНЕЗДНАЯ АЛОПЕЦИЯ: КЛИНИКО-ГЕНЕТИЧЕСКИЕ АСПЕКТЫ И&nbsp;МИКРОЭЛЕМЕНТНЫЙ СТАТУС ПАЦИЕНТОВ, Николаева&nbsp;Т.&nbsp;В., Воронина&nbsp;Л.&nbsp;Г., Сетко&nbsp;Н.&nbsp;П., Пострелко&nbsp;М.&nbsp;Д.;
                  li АЛОПЕЦИИ. ДИАГНОСТИКА И&nbsp;ЛЕЧЕНИЕ, Боханна&nbsp;П., Алессандрини&nbsp;А., Боханна&nbsp;Э.
        
        .article-footer.page-subsection-article
          .article-footer__item
            h2.article-footer__title Поделиться статьей
            .likely.likely-big
              .vkontakte
              .telegram
              .odnoklassniki
              .whatsapp

          .article-footer__item
            h2.article-footer__title Оценить статью
            .rating
              input(type="radio" id="star-5" name="rating" value="5")
              label(for="star-5")
              input(type="radio" id="star-4" name="rating" value="4")
              label(for="star-4")
              input(type="radio" id="star-3" name="rating" value="3")
              label(for="star-3")
              input(type="radio" id="star-2" name="rating" value="2")
              label(for="star-2")
              input(type="radio" id="star-1" name="rating" value="1")
              label(for="star-1")
          
        .article-similar.page-subsection-article
          h2.article-similar__title Похожие статьи
          +grid({ paddingy:true, parlike:true })
            -
              const text = ['Что такое наследственное облысение и как его предотвратить', 'Тракционная алопеция: причины, профилактика и лечение', 'Рубцовая алопеция - причины, симптомы и лечение', 'Алопеция у детей: причины, симптомы и лечение']
            - for(let i = 0; i < text.length; i++)
              +grid__item({ m:3, s:6 }).article-similar__item
                a(href='/').article-similar__link
                  +img({
                    name: 'alopecia-1',
                    path: '/assets/images/articles/nasledstvennoe-oblysenie/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    })(alt= '' title= '')
                  p.article-similar__text !{text[i]}

block styles
  +style('inner')
