extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Норма выпадения волос в день
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Для многих волосы&nbsp;&mdash; неотъемлемая часть личности. Особенно в&nbsp;рамках представления себя миру. С&nbsp;возрастом рост и&nbsp;здоровье волос меняется в&nbsp;соответствии с&nbsp;образом жизни, здоровья, генетики. Иногда здоровье не&nbsp;в&nbsp;том состоянии, которое хотелось&nbsp;бы. Чтобы улучшить состояние волос, важно понимать цикличность роста волос, узнать норму в&nbsp;день выпадения волос, признаки и&nbsp;причины облысения.
            
            h2 Норма выпадения волос в&nbsp;день
            p Для начала разберемся какие циклы роста и&nbsp;выпадения существуют и&nbsp;сколько волос в&nbsp;среднем должно выпадать в&nbsp;день у&nbsp;женщин и&nbsp;мужчин.

            h3 Жизненный цикл волоса
            p Каждый волосок на&nbsp;теле человека находится на&nbsp;своем этапе развития. Выделяют три фазы роста волосяного стержня: анаген (активный рост), катаген (остановка роста), телоген (отдых). Если включить в&nbsp;список экзоген (выпадение), то&nbsp;получится четыре фазы. Но&nbsp;не&nbsp;все признают экзоген как отдельную фазу цикла, так как считают, что 4&nbsp;фаза&nbsp;&mdash; составляющая телогена, когда старый волосяной стержень отделяется от&nbsp;фолликула и&nbsp;выпадает.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-1', caption:'Фазы жизненного цикла волоса'})

            h4 Анаген
            p Анагенная фаза&nbsp;&mdash; первая и&nbsp;самая продолжительная стадия волосяного роста, длящаяся 2-6&nbsp;лет. У&nbsp;ряда людей рост волос продолжается 8&nbsp;лет и&nbsp;больше. Период активного роста различается для волос на&nbsp;разных участках тела, например, у&nbsp;бровей этот период намного короче. На&nbsp;голове волосяной покров растает в&nbsp;среднем 2,5&nbsp;мм в&nbsp;неделю. 
            p В&nbsp;норме 85-90&nbsp;% стержней на&nbsp;голове находятся в&nbsp;анагене, что способствует здоровью и&nbsp;густоте волосяного покрова. Стержни растут на&nbsp;протяжении всей фазы анагена, но&nbsp;в&nbsp;какой-то момент волосяной фолликул начинает готовиться к&nbsp;следующему жизненному этапу. Продолжительность анагена зависит разных факторов, включая генетику, возраст, пол и&nbsp;общее состояние здоровья. Анаген определяет скорость роста и&nbsp;длину стержня.

            h4 Катаген
            p Фаза катагена обозначает переход активного роста в&nbsp;период покоя, начинается после завершения анагена, в&nbsp;норме длится 2-3 недели пока стержень переходит в&nbsp;состояние волосяной луковицы. На&nbsp;этом этапе фолликул разрушается&nbsp;&mdash; активный рост останавливается, часть клеток фолликула погибают, в&nbsp;результате чего он&nbsp;укорачивается. А&nbsp;часть внешней корневой оболочки остается прикрепленной к&nbsp;дермальному сосочку, готовясь к&nbsp;началу следующего жизненного цикла волоса.
            p В&nbsp;норме 5&nbsp;% волосяного покрова на&nbsp;голове находятся в&nbsp;катагене. Переходный этап важен для подготовки стержня к&nbsp;предстоящему отдыху, чтобы обеспечить плавное развитие цикла роста.

            h4 Телоген
            p Эту фазу часто называют периодом покоя, продолжительность которого 3-4&nbsp;месяца. Фолликул остается укороченным, а&nbsp;внешняя корневая оболочка прикреплена к&nbsp;дермальному сосочку. Это значит, что рост стержня прекратился, но&nbsp;он&nbsp;еще не&nbsp;выпадает. Начинают расти новые волоски.
            p Телоген&nbsp;&mdash; критический период отдыха, позволяющий волосяным луковицам омолодиться и&nbsp;подготовиться к&nbsp;следующему циклу роста.

            h4 Экзоген	
            p Экзогеновая фаза рассматривается как продолжение или отдельная часть стадии телогена в&nbsp;цикле роста волос. Характеризуется выпадением волос, которое продолжается 2-5&nbsp;месяцев, и&nbsp;ростом новых волосяных стержней в&nbsp;фолликулах по&nbsp;мере выпадения старых.
            p Фаза экзогена играет решающую роль в&nbsp;поддержании здорового баланса роста и&nbsp;выпадения, гарантируя, что кожа головы готова к&nbsp;следующему циклу роста.

            h4 Норма выпадения волос в&nbsp;день
            p Баланс между фазами анагена, катагена и&nbsp;телогена необходим для поддержания здоровья волосяного покрова. Нарушения роста в&nbsp;любой фазе приводят к&nbsp;выпадению или истончению волос.
            p Потеря 50-100 волосков в&nbsp;день считается нормой для экзогенной фазы. Во&nbsp;время мытья головы это количество увеличивается до&nbsp;150-200. Пройдя регулярный цикл обновления, отрастают новые волоски. Все эти процессы проходят незаметно для человека. Беспокойство должно вызывать состояние, когда волосы выпадают больше нормы.

            h2 Как понять, что волосы выпадают больше нормы
            p Нет причин беспокоиться, если волосы выпали, но&nbsp;волосяные стержни сохранили целостность, плотность волосяного покрова не&nbsp;изменилась. В&nbsp;этом случае выпадение&nbsp;&mdash; признак естественного завершения жизненного цикла волоса. При чрезмерном выпадении обращают внимание на&nbsp;ряд предупреждающих знаков, чтобы понять, что пора обратиться за&nbsp;консультацией к&nbsp;врачу. 
            p Признаки интенсивного выпадения волос.
            ul.list-marked 
              li Больше обычного остается волосков на&nbsp;полу в&nbsp;душе, на&nbsp;расческе или на&nbsp;подушке;
              li Появились очаги поредения, сквозь пряди проглядывает кожа головы;
              li Расширился пробор;
              li Коса или хвост стали тоньше;
              li Остаются волоски на&nbsp;ладони, если провести рукой по&nbsp;голове;
              li Изменилась текстура или качество волосяных стержней&nbsp;&mdash; увеличилась ломкость, появились секущиеся кончики.

            h3 Тест на&nbsp;растяжение 
            p Первый домашний тест для оценки интенсивности выпадения волос&nbsp;&mdash; тест на&nbsp;растяжение. Для этого захватывают пальцами 60&nbsp;волосков и&nbsp;слегка тянут. Выпадение 5-8 волосков из&nbsp;60&nbsp;при вытяжении считается нормой выпадения волос в&nbsp;сутки. 
            p Нормальное соотношение анагена и&nbsp;телогена составляет 90:10. Это означает, что до&nbsp;90&nbsp;% стержней остаются на&nbsp;голове. Остальные 10&nbsp;% находятся в&nbsp;катагене или телогене, поэтому выпадение более 10&nbsp;% волосков говорит о&nbsp;возможных проблемах в&nbsp;организме.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-2', caption:'Тест на натяжение'})

            h3 Тест с&nbsp;расческой
            p Для этого тестирования расчесывают волосы спереди назад в&nbsp;течение минуты, наклонившись над полотенцем или простыней. Затем подсчитывают волоски, попавшие на&nbsp;ткань. Как и&nbsp;в&nbsp;предыдущем тесте количество волосков не&nbsp;должно превышать 10. 

            h2 Основные причины выпадения волос
            p Нарушения активной фазы анагена приводит к&nbsp;замедлению волосяного роста, их&nbsp;ослаблению и&nbsp;истончению. Нарушения на&nbsp;стадии телогена приводят к&nbsp;преждевременному выпадению волос. К&nbsp;нарушениям фаз приводят разные факторы, включая дисбаланс уровня гормонов, системные болезни, стресс т.д.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-3', caption:'Основные причины выпадения волос'})

            h3 Наследственность
            p Человек от&nbsp;родителей наследует ДНК, через которые получает генетическую информацию. Толщина и&nbsp;структура стержня, пигмент передаются по&nbsp;наследству от&nbsp;родителей детям. Период анагена также предопределяется генетикой.
            p Андрогенетическая алопеция&nbsp;&mdash; самая распространенная причина наследственного выпадения волос. Облысение развивается по&nbsp;мужскому или женскому типу по&nbsp;характерной схеме: залысины и&nbsp;проплешины у&nbsp;мужчин, истончение прядей на&nbsp;макушке у&nbsp;женщин.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-4', caption:'Андрогенетическая алопеция развивается по определенной схеме'})

            h3 Гормоны
            p Эстроген и&nbsp;андроген&nbsp;&mdash; гормоны, от&nbsp;количества которых зависит состояние волосяного покрова. Недостаточный уровень эстрогена, как и&nbsp;избыток андрогена сокращает жизненный цикл волосяного стержня. Гормональные изменения, вызванные беременностью, поликистозом яичников, менопаузой или проблемами с&nbsp;щитовидной железой вызывают временную или стойкую потерю волос.

            h3 Внешние факторы
            h4 Сезонность
            p Волосяные стержни летом растут быстрее, чем зимой, потому, что у&nbsp;анагена тенденция ускоряться в&nbsp;летние месяцы. Но&nbsp;это ускорение означает, что большее количество волосков войдет в&nbsp;катаген и&nbsp;телоген быстрее, и&nbsp;зимой увеличится их&nbsp;выпадение.

            h4 Тугие прически
            p Пучки, хвосты, африканские косички и&nbsp;другие прически способны повредить структуру волосков, если слишком тугие. Тугие прически&nbsp;&mdash; распространенная причина выпадения волос у&nbsp;девушки. 

            h4 Уход	
            p Мытье головы шампунями с&nbsp;агрессивным составом, расчесывание мокрых прядей, использование жестких щеток, частое окрашивание негативно сказываются на&nbsp;состоянии волос и&nbsp;волосяных фолликулов.

            h3 Стресс
            p Практика показывает, что хронический стресс напрямую связан с&nbsp;нарушениями цикла роста волос. Волосяные стержни тормозят в&nbsp;развитии, так и&nbsp;не&nbsp;появившись. Виной тому спазмы, нарушающие питание фолликулов.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-5', caption:'Хронический стресс нарушает цикл волосяного роста'})

            h3 Дефицит питательных веществ
            p Питание&nbsp;&mdash; фундаментальный аспект здоровья волосяного покрова. Отсутствие жизненно важных витаминов и&nbsp;минералов длительное время приводит к&nbsp;замедлению роста волос, и&nbsp;даже к&nbsp;полному отсутствию регенерации фолликулов. Видимые симптомы выпадения волос часто провоцирует недостаток железа в&nbsp;организме. Витамин А&nbsp;важен для здоровья иммунной системы, которая защищает волосяные фолликулы, для процессов роста и&nbsp;деления клеток стержня. Поэтому его нехватка негативно сказывается на&nbsp;состоянии волосяного покрова. Витамины группы В, Д&nbsp;и&nbsp;Е также необходимы для поддержания здоровья локонов.

            h3 Лекарства
            p Облысение может стать побочным эффектом приема лекарств для лечения рака, артрита, депрессии, сердечных патологий, подагры и&nbsp;высокого кровяного давления. Антибиотики, противозачаточные и&nbsp;противосудорожные препараты, стероиды и&nbsp;множество других лекарств вызывают анагеновую алопецию. Состояние, как правило, обратимое.

            h2 Методы предотвращения и&nbsp;лечения выпадения
            h3 Правильное питание и&nbsp;витамины для здоровья волос
            p Важно поддерживать сбалансированную диету, богатую витаминами, минералами, белками и&nbsp;жирными кислотами. Зеленые овощи, фрукты, такие как банан и&nbsp;овес, некоторые виды мяса и&nbsp;рыбы вместе с&nbsp;яйцами повышают эффективность питания, предотвращающего выпадение волос.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-6', caption:'Влияние витаминов на состояние волос'})

            h3 Профессиональные и&nbsp;домашние средства ухода
            p Отказ от&nbsp;агрессивных химикатов, термоукладки и&nbsp;тугих причесок предупреждает повреждение и&nbsp;ломкость локонов. Воздержание от&nbsp;чрезмерного мытья или травмирующего расчесывания сохраняет здоровую структуру волосяного стержня. Регулярный массаж головы улучшает кровообращение, стимулирует фолликулы.
            p Шампуни для роста волос и&nbsp;растворы для местного применения ускоряют возобновление роста новых волосков, если выпадение&nbsp;&mdash; результат спящих волосяных фолликулов. 

            h3 Народные средства
            p Домашние средства в&nbsp;виде масок не&nbsp;только естественны, но&nbsp;и&nbsp;эффективны. Целебные масла и&nbsp;восстанавливающие свойства компонентов масок придадут волоскам здоровье и&nbsp;сияние, предотвратят выпадение.
            ul.list-marked 
              li Репейное масло как народное средство для густоты прически известно еще со&nbsp;времен Клеопатры. Масло укрепляет корни, стимулирует кровоснабжение кожи головы. Рекомендуется втирать масло два раза в&nbsp;неделю не&nbsp;меньше месяца.
              li Маска из&nbsp;яйца и&nbsp;горчицы решает проблему излишней жирности питания. Увеличивает густоту волосяного покрова, предотвращает облысение. Не&nbsp;зря в&nbsp;древности мыли голову горчичным порошком с&nbsp;добавлением желтка, меда и&nbsp;кефира в&nbsp;равных пропорциях.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-7', caption:'Горчичная маска - проверенное средство для укрепления волос'})

            h3 Безоперационное восстановление роста волос
            h4 Терапия обогащенной тромбоцитами плазмой (PRP)
            p Это нехирургический восстановительный метод, при котором тромбоциты из&nbsp;крови пациента вводятся в&nbsp;кожу головы. Процедура предназначена для улучшения кровотока в&nbsp;области фолликулов, особенно, если диагностирован дефицит питательных веществ, которые вызывают проблемы с&nbsp;волосяными фолликулами и&nbsp;кровообращением.

            h4 Низкоинтенсивная лазерная терапия (НИЛТ)
            p Метод основан на&nbsp;пробуждении &laquo;спящих&raquo; фолликулов лазерными лучами определенной длины волны. Лазерный свет стимулирует рост тканей, восстанавливает естественные циклы роста и&nbsp;укрепляет волосяные фолликулы.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-8', caption:'Лазерная терапия волосистой части головы'})

            h4 Системы замещения волос
            p Независимо от&nbsp;причины облысения, борьба с&nbsp;выпадением волос требует много времени и&nbsp;терпения. Нехирургическое восстановление волосяного покрова предполагает использование системы замещения волос, которая поможет комфортно перенести восстановительный период. 
            p Постижерные изделия изготавливаются из&nbsp;натуральных локонов с&nbsp;учетом цвета и&nbsp;текстуры волос клиента. Система замещения выглядит естественно и&nbsp;всегда остается на&nbsp;месте, дает высокий уровень свободы и&nbsp;удобства, благодаря совершенному материалу, надежной посадке и&nbsp;простоте укладки.
            +figure({src:'/assets/images/articles/norma-vypadeniya-volos-v-den/norma-9', caption:'Система замещения выглядит естественно'})
            
            include /blocks/article-block/article-block

            h2 Центр эстетики волос &laquo;Гамма&raquo; в&nbsp;Москве
            p Врачи-трихологи утверждают, что проблема частичной или полной алопеции знакома 70&nbsp;% мужчин и&nbsp;40&nbsp;% женщин. Для большинства облысение становится поводом для беспокойства и&nbsp;снижения самооценки. Много сложностей косметический недостаток причиняет людям в&nbsp;профессиональной и&nbsp;повседневной деятельности. Применение революционного метода маскировки облысения&nbsp;&mdash; системы замещения волос позволяет чувствовать себя уверенно в&nbsp;любой ситуации.
            p Чтобы подобрать естественную и&nbsp;удобную систему замещения для временного или постоянного ношения, посетите наш салон в&nbsp;Москве. Тонкая невидимая полиуретановая основа покрывает голову, повторяя ее&nbsp;изгибы, что гарантирует комфортное ношение.
            ul.list-marked 
              li Используем только натуральные и&nbsp;безопасные материалы, проверенные технологии;
              li Честно отвечаем на&nbsp;вопросы клиентов, не&nbsp;преувеличивая и&nbsp;не&nbsp;навязывая мнение.
            
            include /blocks/article-form/article-form

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Волосы выпадают при частом мытье головы?</h3>')
              p Нет. Изначально пряди редеют по&nbsp;другим причинам. А&nbsp;механическое воздействие на&nbsp;ослабленный волосяной фолликул при мытье ведет к&nbsp;выпадению. 
            +dropDown('<h3>Какие витамины важны для здоровья шевелюры?</h3>')
              p Витамины A, B12, C, D, E, ниацин, фолиевая кислота и&nbsp;биотин обладают свойствами, улучшающими рост волос. Минералы, стимулирующие фолликулы, уменьшающие поредение прядей,&nbsp;&mdash; это цинк и&nbsp;железо.
            +dropDown('<h3>Какие болезни вызывают облысение?</h3>')
              p Аутоиммунные, дерматологические патологии, хронические инфекции, болезни щитовидной железы и&nbsp;многие другие.

            +dropDown('<h2>Источники</h2>', { h2: true })  
              ul.list-marked 
                li Руководство по&nbsp;дерматокосметологии/ Аравийская Е.Р., Соколовский Е.В;
                li PRP и&nbsp;микронидлинг в&nbsp;эстетической медицине/ Амелия К. Хаусауэр, Дерек Х. Джонс;
                li Лечение волос и&nbsp;кожи головы: практическое руководство/ Тости Антонема.

block styles
  +style('inner')
