extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Очаговая алопеция 
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p У&nbsp;здоровых людей волосы вырастают и&nbsp;живут в&nbsp;среднем 2&nbsp;года. После завершения жизненного цикла стержни выпадают, но&nbsp;на&nbsp;их&nbsp;месте вырастают новые, поэтому густота прически остается неизменной. Состояние, при котором количество выросших волос меньше выпавших, называют алопецией. Большинство видов облысения развивается постепенно&nbsp;&mdash; вначале волосы тускнеют, редеют, затем появляются проплешины. У&nbsp;человека достаточно времени установить причину патологии, предотвратить прогрессию и&nbsp;восстановить волосяной покров.
            +grid({ paddingy:true, parLike:true })
              +figure({src:'/assets/images/articles/ochagovaja-alopecija/ochagovaya-1', caption:'Здоровые волосы и волосы при очаговой алопеции'})(class= classes('grid__cell'))
              +figure({src:'/assets/images/articles/ochagovaja-alopecija/ochagovaya-2', caption:'Жизненный цикл волоса'})(class= classes('grid__cell'))
            p При очаговом облысении проплешины, похожие на&nbsp;монетку, появляются стихийно на&nbsp;фоне общего здоровья. Безволосый участок не&nbsp;чешется, не&nbsp;доставляет физического дискомфорта, только психологический. При обширных очагах облысения люди испытывают тревогу, стесняются изменившейся внешности, что приводит к&nbsp;добровольному снижению социальных контактов и&nbsp;качества жизни.
            +figure({src:'/assets/images/articles/ochagovaja-alopecija/ochagovaya-3', caption:'У гнездной алопеции спонтанное начало'})

            h2 Что такое очаговая алопеция (ОА)
            p Очаговая (другое название гнездная) алопеция&nbsp;&mdash; аутоиммунная патология, которая сопровождается локальным облысением. Характеризуется внезапной потерей волос, в&nbsp;результате чего на&nbsp;волосистой части головы образуются круглые безволосые пятна. Часто симптомы алопеция дополняются повреждением ногтевых пластин.
            .block-marked.block-marked--padding-small
              p При первых признаках очагового облысения важно сразу обратиться к&nbsp;врачу, так как патология чревата полной потерей волос.
            p К&nbsp;болезни приводит сочетание определенных внешних и&nbsp;внутренних факторов. У&nbsp;ОА&nbsp;нет гендерного признака&nbsp;&mdash; патологии подвержены мужчины и&nbsp;женщины. Чаще прогрессирование облысения наблюдается в&nbsp;25-35&nbsp;лет. Аутоиммунная алопеция&nbsp;&mdash; нередкое явление у&nbsp;детей и&nbsp;подростков. У&nbsp;70&nbsp;% пациентов с&nbsp;точечными очагами облысения симптомы&nbsp;ОА исчезают самостоятельно. В&nbsp;остальных случаях без помощи врача патология принимает тяжелое течение.
            +figure({src:'/assets/images/articles/ochagovaja-alopecija/ochagovaya-4', caption:'У очаговой алопеции нет гендерного признака'})

            h2 Причины возникновения
            p Причины ОА&nbsp;до&nbsp;конца не&nbsp;изучены, а&nbsp;течение непредсказуемо. Существует несколько теорий механизма развития&nbsp;&mdash; у&nbsp;каждой свои сторонники и&nbsp;противники. Риск патологии увеличивается, если в&nbsp;семейном анамнезе значится гнездное облысение. Атака иммуноглобулинами волосяных луковиц начинается в&nbsp;результате активации определенных генов внешними и&nbsp;внутренними факторами.
            h3 Аутоиммунный механизм
            p При аутоиммунных болезнях иммунная система человека не&nbsp;в&nbsp;состоянии отличать клетки организма от&nbsp;чужеродных. Часто гнездная алопеция возникает на&nbsp;фоне других аутоиммунных патологий&nbsp;&mdash; диабет, тиреоидит и&nbsp;т.д.
            h3 Генетическая предрасположенность 
            p Очаговая алопеция&nbsp;&mdash; полигенная патология, вызванная взаимодействием 2&nbsp;и&nbsp;больше генов. Исследования показали, что гены, ответственные за&nbsp;появление алопеции, принадлежат к&nbsp;семейству антигенов лейкоцитов человека, которые помогают иммунной системе отличать тела и&nbsp;белки, образованные чужеродными организмами. Эти гены под воздействием неблагоприятных факторов и&nbsp;провоцируют атаку иммунных клеток на&nbsp;волосяные луковицы.
            h3 Триггерные факторы
            ul.list-marked 
              li Заболевания ЖКТ, ухудшающие всасываемость питательных веществ и&nbsp;витаминов;
              li Вирусные респираторные и&nbsp;кишечные инфекции;
              li Хронические патологии;
              li Нарушения циркадного ритма;
              li Стресс, тревожность, депрессия;
              li Изменение гормонального фона;
              li Преобладание фастфуда в&nbsp;рационе и&nbsp;вредные привычки. 
            p С&nbsp;очаговой алопецией ассоциированы аутоиммунные заболевания щитовидной железы, витилиго и&nbsp;атопия.

            h2 Симптомы и&nbsp;проявления
            p Симптомы ОА&nbsp;напрямую связаны с&nbsp;клиническими формами патологии. Болезнь начинается с&nbsp;внезапного появления на&nbsp;голове (чаще на&nbsp;затылке) безволосых участков без особых изменений на&nbsp;других участках волосистой зоны. Это может быть точечное поражение или очаг размером с&nbsp;монету. У&nbsp;очагов четкое очертание, возможно легкое покраснение кожи. По&nbsp;краям расположены конусовидные, булавовидные и&nbsp;волоски в&nbsp;форме восклицательного знака, которые выпадают при легком потягивании.
            p Для алопеции гнездной характерно появление новых очагов, расширение их&nbsp;границ и&nbsp;слияние. При продолжительном течении болезни дистрофические процессы в&nbsp;волосяных луковицах приводят к&nbsp;их&nbsp;атрофии. При многократном увеличении на&nbsp;коже в&nbsp;пораженных зонах видно:
            ul.list-marked 
              li желтые точки&nbsp;&mdash; отмершие волосяные луковицы, заполненные отмершим эпителием;
              li темные точки&nbsp;&mdash; волоски, отломившиеся у&nbsp;основания. 
            +figure({src:'/assets/images/articles/ochagovaja-alopecija/ochagovaya-5', caption:'Желтые и черные точки, характерные при гнездной алопеции'})
            p Ранние признаки алопеции, на&nbsp;которые стоит обратить внимание&nbsp;&mdash; ломкость ногтей, выпадение волос в&nbsp;холодную погоду.

            h2 Стадии развития ОА
            p При #[strong стационарном] течении у&nbsp;проплешин нет четких границ, количество очагов не&nbsp;увеличивается, область поражения не&nbsp;расширяется&nbsp;&mdash; у&nbsp;очагов стабильное состояние.
            p #[strong Прогрессирующая] стадия определяется четкой локализацией зоны облысения, расширением границ. Больной испытывает зуд, покалывание в&nbsp;зоне поражения. По&nbsp;краям расположены &laquo;расшатавшиеся&raquo; ослабленные волоски.
            p #[strong Регрессирующая] характеризуется разрастанием пушковых волосков в&nbsp;зоне облысения, которые со&nbsp;временем уплотняются и&nbsp;заполняются пигментом. На&nbsp;этой стадии болезнь отступает.
            +figure({src:'/assets/images/articles/ochagovaja-alopecija/ochagovaya-6', caption:'Прогрессирующая стадия определяется появлением новых очагов без волос'})

            h2 Классификация	
            p #[strong Локальная форма]. Характеризуется образованием безволосых очаговых образований.
            p #[strong Субтотальная форма]. Проявляется постепенным вовлечением в&nbsp;процесс новых областей волосистой части головы. Остаются небольшие островки с&nbsp;прядями волос. Без лечения у&nbsp;больного выпадают ресницы, брови, усы и&nbsp;борода.
            p #[strong Тотальная форма]. Для этой формы характерно быстрое прогрессирование, которое за&nbsp;3&nbsp;месяца приводит к&nbsp;полной потере волос на&nbsp;голове.
            p #[strong Универсальная форма]. Патологический процесс затрагивает всю поверхность головы и&nbsp;тела.
            p #[strong Очаговая с&nbsp;поражением ногтевой пластины]. Симптомы дистрофии ногтей колеблются от&nbsp;слабо выраженных (шершавости, потертости) до&nbsp;крайней степени, когда ногтевая пластина приобретает волнообразную форму, покрывается продольными бороздами или вмятинами.
            p #[strong Офиазис]. Это тяжелый подтип&nbsp;ОА, при котором зоны облысения охватывают только краевую зону роста волос на&nbsp;голове, лобно-височную область или затылок.
            +figure({src:'/assets/images/articles/ochagovaja-alopecija/ochagovaya-7', caption:'Офиазис'})
            p Также патология различается по&nbsp;количеству очагов поражения&nbsp;&mdash; многоочаговое и&nbsp;одноочаговое. Вначале болезни количество проплешин не&nbsp;связано с&nbsp;тяжестью течения. 

            h3 Особенности алопеции очаговой у&nbsp;женщин и&nbsp;мужчин
            p Существует две точки зрения на&nbsp;частоту появления&nbsp;АО у&nbsp;мужчин и&nbsp;женщин. Считается, что болезнь поражает оба пола в&nbsp;равной степени или женщин в&nbsp;2&nbsp;раза чаще, что связано с&nbsp;различиями гормонального уровня. У&nbsp;женщин клеточный и&nbsp;гуморальный иммунитет активнее мужского, лучше противостоит вирусным и&nbsp;бактериальным инфекциям. Но&nbsp;такой напряженный иммунитет подвержен развитию аутоиммунных процессов.
            .block-marked.block-marked--padding-small
              p На&nbsp;активность лимфоцитов влияет адреналин, половые стероиды, пролактин, гормоны тимуса, но&nbsp;самое сильное воздействие на&nbsp;иммунитет у&nbsp;эстрогена&nbsp;&mdash; женского полового гормона.
            p Толчком для развития патологического аутоиммунного ответа у&nbsp;женщин часто выступает хронический стресс, гормональный дисбаланс, вегетативные проявления, токсическое воздействие инфекций. Алопеция очаговая у&nbsp;мужчин развивается по&nbsp;той&nbsp;же схеме, усиливаясь при генетической предрасположенности.

            h2 Диагностика
            p Множество форм, воздействие разных факторов, влияние хронических состояний пациента на&nbsp;течение алопеции усложняет диагностику и&nbsp;требует использования разных видов терапии и&nbsp;медицинских процедур. На&nbsp;приеме врач:
            ul.list-marked 
              li собирает анамнез;
              li оценивает состояние волосяного покрова под увеличением.
            p Для подтверждения предварительного диагноза исследуем соскоб с&nbsp;кожи головы, назначаем биохимический анализ крови, анализ на&nbsp;определение гормонального фона, спектральный анализ волоса.
            p В&nbsp;ряде случаев требуется консультация гинеколога, андролога, эндокринолога, гастроэнтеролога и&nbsp;т.д.

            h2 Лечение и&nbsp;профилактика
            p Волосы сохраняют способность к&nbsp;восстановлению даже после продолжительной болезни. У&nbsp;большей части пациентов при легком течение рост волос восстанавливается спонтанно. При правильном лечении ремиссия наступает даже при тяжелом течении. Встречаются неизлечимые формы алопеции, ситуации, когда рост волос возобновляется только в&nbsp;период лечения. Универсальных средств и&nbsp;методов нет&nbsp;&mdash; каждый случай уникален.

            h3 Современные методы лечения алопеции к31
            p Клинические рекомендации по&nbsp;лечению гнездной алопеции с&nbsp;тяжелым течением включают курсовое применение кортикостероидов для подавления неадекватного ответа иммунной системы. Для этих&nbsp;же целей назначают иммуносупрессоры&nbsp;&mdash; искусственные угнетатели иммунитета, антиметаболиты&nbsp;&mdash; препараты, сдерживающие репликацию ДНК. Для снижения сопротивления в&nbsp;сосудах, повышения притока кислорода и&nbsp;питательных веществ к&nbsp;коже головы лечение дополняем вазодилатирующими средствами.
            p При легком течение болезни пациентам показана только местная терапия. Также наружными средствами дополняем медикаментозное лечение при тяжелом течении АО. В&nbsp;состав кремов и&nbsp;лосьонов для местного применения входят сосудорасширяющие, регенерирующие и&nbsp;стимулирующие микроциркуляцию компоненты. Инъекционно в&nbsp;область поражения вводим стероиды, микроэлементы, плазму пациента.

            h2 Профилактические меры
            +grid({ paddingy:true, parLike:true })
              +grid__item({ s:6, xs:12 })
                +iconBlock({ recovered:true }) 
                  p Вовремя устранять причины патологии: стабилизировать гормональный фон, купировать воспаления, поддерживать здоровье ЖКТ;
              +grid__item({ s:6, xs:12 })
                +iconBlock({ nutrition:true }) 
                  p Соблюдать рекомендации по&nbsp;здоровому питанию;
              +grid__item({ s:6, xs:12 })
                +iconBlock({ smoking:true }) 
                  p Избавиться от&nbsp;вредных привычек;
              +grid__item({ s:6, xs:12 })
                +iconBlock({ schedule:true }) 
                  p Организовать режим труда и&nbsp;отдыха;
              +grid__item({ s:6, xs:12 })
                +iconBlock({ supplement:true }) 
                  p Поддерживать здоровый уровень витаминов, микро- и&nbsp;макроэлементов в&nbsp;организме.

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Очаговая алопеция заразна?</h3>')
              p Нет. Предрасположенность к&nbsp;патологии передается только на&nbsp;генетическом уровне.
            +dropDown('<h3>Какие дополнительные обследования нужны при ОА?</h3>')
              p Пациенту при подозрении на&nbsp;гнездное облысение потребуется определить уровень железа, меди, цинка, витаминов&nbsp;D и&nbsp;B12. Рекомендовано сделать УЗИ щитовидной железы, получить консультацию эндокринолога и&nbsp;психолога.
            +dropDown('<h3>Волосы восстанавливаются сами при облысении гнездами?</h3>')
              p В&nbsp;70&nbsp;% симптомы проходят сами по&nbsp;себе, волосяной покров постепенно восстанавливает густоту. Но&nbsp;это не&nbsp;повод откладывать визит к&nbsp;врачу. Так как без лечения последствия алопеции непредсказуемы, и&nbsp;всегда остается вероятность рецидива.
            +dropDown('<h3>У&nbsp;детей встречается гнездная алопеция?</h3>')
              p Да. Этот тип облысения возникает даже у&nbsp;маленьких детей. У&nbsp;детей патология чаще проходит сама по&nbsp;себе. Но, если симптомы возвращаются, то&nbsp;предстоит продолжительное лечение.
            +dropDown('<h3>Делают пересадку волос при ОА?</h3>')
              p Нет. При этом типе облысения трансплантация не&nbsp;показана. Хирургическое вмешательство может повлечь образование новых проплешин. При некоторых формах недостаточно на&nbsp;затылке пересадочного материала.
            
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Гнездная алопеция. Этиология и&nbsp;патогенез/ Суворова К.Н., Гаджигороева А.Г.;
                li Гнездная алопеция. Клинические рекомендации/ Суворова К.Н., Гаджигороева А.Г.;
                li Основные аспекты патогенеза и&nbsp;лечения гнездной алопеции/ Гаджигороева А.Г.;
                li Гнездная алопеция: клинико-генетические аспекты и&nbsp;микроэлементный статус пациентов/ Николаева&nbsp;Т.&nbsp;В., Воронина&nbsp;Л.&nbsp;Г., Сетко&nbsp;Н.&nbsp;П., Пострелко&nbsp;М.&nbsp;Д.

block styles
  +style('inner')
