extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Психосоматика выпадения волос
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Выпадение волос с&nbsp;каждым годом обретает все большие масштабы, затрагивает значительное количество населения: заболевание не&nbsp;щадит ни&nbsp;мужчин, ни&nbsp;женщин, ни&nbsp;даже детей. 
            p Когда алопеция только начинает появляться, многие стараются решить проблему витаминами, втиранием сывороток, использованием масок, укрепляющих фолликулы, проводить различные процедуры, например, мезотерапию. Но&nbsp;эти меры временные, а&nbsp;выпадение прогрессирует.
            p Потому все больше людей задаются вопросом: как остановить этот процесс, даже не&nbsp;задумываясь, что одной из&nbsp;причин является психогенная алопеция. 
            +figure({src:'/assets/images/articles/psihosomatika-i-vipadenie-volos/psihosomatika-1', caption:'Выпадение волос - актуальная проблема как среди женщин, так и среди мужчин'})

            h2 Актуальность психосоматики алопеции
            p Стремительный ритм жизни, большие нагрузки, порой даже перегрузки организма, высокая ответственность и&nbsp;невысокая стрессоустойчивость, а&nbsp;также недостаточно высокий уровень психологической культуры приводит к&nbsp;тому, что людям становится все сложнее совладать с&nbsp;психологическими проблемами.
            p Человеку важно осознать, что, пребывая в&nbsp;состоянии постоянного стресса, испытывая непроходящее чувство вины, тяжело переживая возрастные кризисы, без помощи профессионала, психике наносится вред, возникает психосоматика и&nbsp;лысина. 

            h2 Каким образом психологические факторы влияют на&nbsp;волосы?
            p За&nbsp;всю жизнь человеческие волосы то&nbsp;замедляют, то&nbsp;ускоряют рост, активно обновляются, в&nbsp;зависимости от&nbsp;стадии, в&nbsp;которой находятся фолликулы.
            p Но&nbsp;известна определенная психосоматика выпадения волос у&nbsp;женщин и&nbsp;мужчин. Учитывая силу ее&nbsp;воздействия на&nbsp;организм, возможны следующие последствия:
            ul.list-marked 
              li Уровень адреналина увеличивается.
              li Сосуды, отвечающие за&nbsp;питание волосяных луковиц, сужаются, из-за чего они недополучают полезные вещества, ослабляются.
              li В&nbsp;результате развивается чрезмерная сухость волос, повышается ломкость, шевелюра становится чрезмерно хрупкой.
              li Процессы, запускающие активный рост волос, останавливаются.
              li Наблюдается снижение активности волосяных луковиц, их&nbsp;ослабление и&nbsp;истощение.
            +figure({src:'/assets/images/articles/psihosomatika-i-vipadenie-volos/psihosomatika-2', caption:'Процесс выпадения волос у мужчин'})

            h3 Почему психосоматика вызывает выпадение волос?
            p Волосы&nbsp;&mdash; символ жизненной силы, и&nbsp;стоит человеку столкнуться с&nbsp;ситуациями, угрожающими ее&nbsp;потере (развод, смерть близкого, увольнение с&nbsp;работы ), возникает облысение: психосоматика у&nbsp;мужчин и&nbsp;женщин работает одинаково.
            p У&nbsp;дам психосоматическая причина становится основной, учитывая глубину и&nbsp;степень переживаний, связанных с&nbsp;негативными событиями в&nbsp;их&nbsp;жизни. Также психосоматика провоцирует потерю волос у&nbsp;женщин и&nbsp;тогда, когда они чрезмерно тревожатся из-за проблем, возникающих в&nbsp;семье.
            p Медицинский взгляд на&nbsp;проблему следующий: при чрезмерных переживаниях спазмируются сосуды, из-за чего фолликулы не&nbsp;получают достаточного питания. А&nbsp;если стрессовое состояние затяжное, человек скован страхами, то&nbsp;развивается гормональный дисбаланс, который тоже способствует поредению волос.
            p У&nbsp;мужчин облысение запускает генетическая предрасположенность, чрезмерная выработка гормона тестостерона, который поражает фолликулы. В&nbsp;результате этого чаще страдают зоны в&nbsp;области передней линии волос, на&nbsp;макушке.

            h2 Каким образом эмоциональный фон воздействует на&nbsp;выпадение волос?
            p Реакции в&nbsp;организме происходят по&nbsp;следующей схеме: какое-то событие случается, на&nbsp;него запускается человеческое восприятие, после чего следует соответствующая реакция в&nbsp;теле.
            p Ежедневно человек сталкивается с&nbsp;огромным перечнем событий, часть из&nbsp;которых не&nbsp;относятся к&nbsp;категории приятных, что неизбежно.
            p Проблема начинается на&nbsp;этапе реагирования: например, на&nbsp;одно и&nbsp;то&nbsp;же событие одна женщина может испытывать стыд, чувствовать себя виноватой, другая&nbsp;&mdash; злиться и&nbsp;практиковать агрессивные выпады, а&nbsp;третья&nbsp;&mdash; обижаться.
            p Если ситуация не&nbsp;имеет решающего значения в&nbsp;жизни человека, то&nbsp;обычно психосоматика не&nbsp;случается. Да&nbsp;и&nbsp;человеку часто необходим гнев, чтобы понимать о&nbsp;нарушении личных границ, для здорового отреагирования, мобилизации организменных сил. 
            p Если&nbsp;же человек пребывает в&nbsp;напряжении и&nbsp;негативно реагирует в&nbsp;течение длительного времени, то&nbsp;он&nbsp;впадает в&nbsp;стрессовое состояние. На&nbsp;этом этапе продуцируется множество гормонов стресса, а&nbsp;также веществ, вырабатываемых на&nbsp;определенные эмоции.
            +figure({src:'/assets/images/articles/psihosomatika-i-vipadenie-volos/psihosomatika-3', caption:'Как бороться со стрессом'})
            p Каждый приступ напряжения способствует распространению веществ по&nbsp;всему организму, а&nbsp;также направлению импульсов в&nbsp;мозг.
            p Психосоматика проявляется буквально на&nbsp;глазах. Например, во&nbsp;время злости у&nbsp;человека сжимаются кулаки, челюсти, потеют ладошки, повышается давление, учащается сердцебиение, возникает чувство, что подкашиваются ноги. А&nbsp;если эмоциональное реагирование такой силы воздействует на&nbsp;весь организм, то&nbsp;оно влияет и&nbsp;на&nbsp;волосы: в&nbsp;стрессе начинается их&nbsp;выпадение.
            p На&nbsp;физиологическом уровне возникает недостаток питания, шевелюра утрачивает жизненную силу, истончается и&nbsp;покидает голову. При этом волосяные луковицы не&nbsp;просто не&nbsp;получают полезные и&nbsp;питательные вещества, а&nbsp;к&nbsp;ним наоборот поступают компоненты вредоносного воздействия.

            h2 Почему&nbsp;же облысение в&nbsp;ответ на&nbsp;стресс возникает не&nbsp;у&nbsp;всех?
            p Высока роль предрасположенности: вещества, вырабатывающиеся в&nbsp;ответ на&nbsp;стресс, воздействуют на&nbsp;разные участки организма. У&nbsp;кого-то поражают щитовидную железу, у&nbsp;кого-то&nbsp;&mdash; желудочно-кишечный тракт, а&nbsp;у&nbsp;других&nbsp;&mdash; фолликулы.
            p Потому, если восприятие и&nbsp;предрасположенность совпадают, возникает облысение.

            h2 Эмоции, играющие основную роль в&nbsp;облысении
            p Ключевая роль возложена на&nbsp;страх, обычно усвоенный в&nbsp;детстве и&nbsp;связанный с&nbsp;боязнью одиночества, потерей источника любви, отвержением. 
            p Человек переживает своеобразный конфликт разделения, который часто связан с&nbsp;непростым расставанием. Психосоматика в&nbsp;этом случае срабатывает таким образом: произошло расставание&nbsp;&mdash; распрощались с&nbsp;волосами.
            p Большинство эмоций способны усиливать друг друга. Так, к&nbsp;страху присоединяется сожаление, досада, злость на&nbsp;себя, тревога перед будущим. Остро переживается чувство брошенности и&nbsp;ненужности. В&nbsp;некоторых случаях алопеция, в&nbsp;основе которой лежит разделение, возникает даже при сильной тоске по&nbsp;близкому человеку.

            h3 Очередная причина&nbsp;&mdash; непринятие себя
            p Чувство стыда заключается в&nbsp;непринятии собственного тела. Обычно это последствия непростых детско-родительских отношений, травмирующих социальных взаимодействий, а&nbsp;также склонность к&nbsp;сравнению.
            p Например, женщина остро ощущает, что не&nbsp;выдерживает конкуренцию с&nbsp;красотками, демонстрирующими идеальные фото в&nbsp;социальных медиа, в&nbsp;результате чего впадает в&nbsp;невроз.
            p Непринятие себя строится на&nbsp;зависимости от&nbsp;чужого мнения. Поскольку шевелюра влияет на&nbsp;образ, то&nbsp;именно ее&nbsp;густота и&nbsp;состояние являются благоприятным сигналом для мужчин, подтверждающим здоровье женщины. Потому, если она переключит внимание на&nbsp;себя с&nbsp;акцента на&nbsp;мнение окружающих, то&nbsp;начнет лучше себя воспринимать.

            h3 Третья причина&nbsp;&mdash; тревожность
            p Выражается в&nbsp;разных формах, но&nbsp;чаще связана со&nbsp;страхом будущего, который подкрепляют проблемы в&nbsp;отношениях, на&nbsp;работе и&nbsp;со&nbsp;здоровьем.
            p Психосоматика алопеции возникает и&nbsp;после родов, когда мать боится потерять ребенка: по&nbsp;любому поводу у&nbsp;нее запускаются опасения.
            p Также много стресса женщина испытывает, когда ее&nbsp;дети проходят подростковый период: к&nbsp;страхам о&nbsp;непоправимых ошибках приходит и&nbsp;чувства стыда о&nbsp;том, что скажут люди о&nbsp;ее&nbsp;ребенке.
            +figure({src:'/assets/images/articles/psihosomatika-i-vipadenie-volos/psihosomatika-4', caption:'Симптомы тревожного состояния'}) 

            h3 Четвертая причина&nbsp;&mdash; стрессовое состояние на&nbsp;работе
            p Если руководство чрезмерно тиранит женщину, она остро переживает страх и&nbsp;гнев, вынуждена постоянно что-то доказывать, отстаивать себя, в&nbsp;целом бороться за&nbsp;место под солнцем.
            p В&nbsp;результате она переживает ежедневное напряжение, что провоцирует облысение. Механизм проблемы в&nbsp;этом случае следующий: проблема на&nbsp;работе&nbsp;&mdash; острое эмоциональное реагирование&nbsp;&mdash; поредение волос, как реакция тела на&nbsp;происходящее. 

            h2 Как проработать психосоматику выпадения волос?
            +grid({ paddingy:true, parLike:true })
              +grid__item({ s:6, xs:12 })
                +iconBlock({ diagnosis:true }) 
                  p Для начала определяют основную причину, поскольку без этого различные практики не&nbsp;эффективны.
              +grid__item({ s:6, xs:12 })
                +iconBlock({ stress:true }) 
                  p После этого работают с&nbsp;тревожностью, позволяя человеку совладать с&nbsp;потребностью постоянного преувеличения проблем и&nbsp;накручивания себя.
              +grid__item({ s:6, xs:12 })
                +iconBlock({ sweat:true }) 
                  p Прорабатывают детские страхи: наказание и&nbsp;отвержение, которые провоцируют вину и&nbsp;стыд. 
            p Специалист будет сосредоточен на&nbsp;работе с&nbsp;восприятием проблемы: скорректируется восприятие&nbsp;&mdash; прекратится выброс веществ, негативно воздействующих на&nbsp;фолликулы&nbsp;&mdash; остановится выпадение.
            p Пошагово с&nbsp;негативным восприятием работают таким образом:
            ol.list-numbered 
              li Оценивают исходную ситуацию.
              li Конкретизируют основную эмоцию.
              li Подбирают психологические техники, наиболее эффективные в&nbsp;этом случае.
              li Практикуют&nbsp;их, контролируя правильность выполнения.
              li Корректируют эмоции: вырабатывают новые способы реагирования на&nbsp;ситуацию.

            p Другие способы справиться с&nbsp;проблемой:
            ul.list-marked 
              li Показана рефлексотерапия.
              li Обязательно прохождение консультаций не&nbsp;только у&nbsp;психолога, но&nbsp;и&nbsp;психотерапевта.
              li Восстановление правильного рациона, содержащего достаточное количество микроэлементов и&nbsp;витаминов.
              li Повышение стрессоустойчивости.
              li Нормализация образа жизни в&nbsp;целом.
              li Обращение за&nbsp;помощью к&nbsp;трихологу, если алопеция прогрессирует.

            p В&nbsp;качестве заключения следует сказать, что психосоматику можно корректировать. Работа будет заключаться в&nbsp;перестройке психики, которая перестанет реагировать негативно.
            +figure({src:'/assets/images/articles/psihosomatika-i-vipadenie-volos/psihosomatika-5', caption:'Как вернуть себе волосы, утраченные из-за стресса'})
          
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Гаджигороева, А.Г. Клиническая трихология&nbsp;/ А.&nbsp;Г. Гаджигороева&nbsp;&mdash; М.: Практическая медицина, 2014.&mdash; 184&nbsp;c.
                li Романова, Ю.Ю. Перспективные мишени для вторичной профилактики снижения качества жизни и&nbsp;психосоматических расстройств при алопециях&thinsp;: результаты обсервационного исследования&nbsp;/ Ю.Ю. Романова, Д.В. Романов,А.Ю. Бражников [и&nbsp;др] // Профилактическая медицина&nbsp;&mdash; 2019. &mdash;&nbsp;Т. 22&nbsp;&mdash; &#8470;&nbsp;5&nbsp;&mdash; С.104&mdash;111.
                li Смулевич, А.&nbsp;Психосоматические расстройства (клиника, терапия, организация медицинской помощи)&nbsp;/ А. Смулевич // Психиатрия и&nbsp;психофармакотерапия&nbsp;им. П.Б. Ганнушкина. &mdash;&nbsp;2000. &mdash;&nbsp;С.36-40.
                li Смулевич, А.Б. Соматоформные расстройства (современные методологические подходы к&nbsp;построению модели).&nbsp;/ Смулевич А.Б., Дубницкая Э.Б., Фильц А.О. [и&nbsp;др] // В&nbsp;сб.: &laquo;Ипохондрия и&nbsp;соматоформные расстройства&raquo; под ред. А.Б.Смулевича. М. &mdash;&nbsp;1992.
                li Смулевич, А.Б. Современная психодерматология: анализ проблемы&nbsp;/ А.Б. Смулевич, О.Л. Иванов, А.Н. Львов, И.Ю. Дороженок // Рос. журн. кож.&nbsp;и&nbsp;вен. бол. &mdash;&nbsp;2005. &mdash;&nbsp;&#8470;&nbsp;6&nbsp;&mdash; С.33&mdash;40.
                li Урюпина, Е.Л. Психоэмоциональный статус у&nbsp;больных диффузным телогенным выпадением волос.&nbsp;/ Е.Л. Урюпина, Н.П. Малишевская // Российский журнал кожных и&nbsp;венерических болезней&nbsp;&mdash; 2017. &mdash;&nbsp;Т. 20&nbsp;&mdash; &#8470;&nbsp;5&nbsp;&mdash; С.28.

block styles
  +style('inner')
