extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Рубцовая алопеция
        +grid({ paddingy:true })
          +grid__item({ m:9 })
            p Облысение&nbsp;&mdash; проблема, с&nbsp;которой сталкивается до&nbsp;70&nbsp;% мужчин и&nbsp;40&nbsp;% женщин. В&nbsp;большинстве случаев после лечения волосяной покров восстанавливается, но&nbsp;есть такие виды болезни, когда медицина бессильна, поэтому для продуктивного лечения важно на&nbsp;ранней стадии выяснить вид алопеции. У&nbsp;73&nbsp;% от&nbsp;всех болезней безрубцовое течение, оставшиеся 27&nbsp;% приходятся на&nbsp;рубцовую алопецию (РА), при которой невозможно восстановить выпавшие пряди.

            h2 Что такое рубцовая алопеция
            p Это группа заболеваний, которые объединяет необратимый процесс утраты волос, развивающийся из-за разрушения волосяных луковиц и&nbsp;замещения их&nbsp;фиброзной тканью. Рубцовая алопеция поражает мужчин и&nbsp;женщин разных возрастов. Проявляется на&nbsp;волосистой части головы и&nbsp;гладкой коже. Возникает при воспалениях и&nbsp;других патологических состояниях. Встречается редко при сравнении с&nbsp;другими видами облысения. 	
            +figure({src:'/assets/images/articles/rubcovaya-alopeciya/alopecia-1', caption:'При РА на отсутствие волосяных луковиц указывает отсутствие фолликулярных устьев'})
            p Причина большей части первичных форм неизвестна, что ограничивает терапевтические подходы. Лечение не&nbsp;всегда дает положительный результат, но&nbsp;способно замедлить патологический процесс и&nbsp;улучшить состояние кожного покрова.

            h2 Причины возникновения
            p К&nbsp;рубцовой алопеции приводят приобретенные и&nbsp;наследственные факторы. К&nbsp;генетическим причинам относятся: невус, ихтиоз, эктодермальная дисплазия, аплазия кожи и&nbsp;т.д. К&nbsp;приобретенным относятся опухолевые, аутоиммунные, механические и&nbsp;инфекционные процессы, включая:
            ul.list-marked 
              li красную волчанку;
              li плоский лишай;
              li эпилирующий (декальвирующий) фолликулит;	
              li фолликулярный муциноз;
              li угревая сыпь тяжелой степени и&nbsp;т.д.
            p Клинические проявления перечисленных болезней возникают в&nbsp;результате агрессии иммунных клеток, направленной на&nbsp;волосяные фолликулы. Сбой в&nbsp;работе иммунной системы провоцируют операции, травмы, душевные потрясения и&nbsp;хронические стрессы, вакцинация, избыток ультрафиолета и&nbsp;др.

            h2 Патогенез	
            p Вопрос патогенеза рубцовых алопеций на&nbsp;сегодня остается открытым. Рассматривается ряд теорий развития этой патологии: разрушение стволовых клеток волосяной луковицы, отклонения в&nbsp;работе иммунной системы волосисто-сального фолликулярного аппарата и&nbsp;др.

            h2 Классификация рубцовой алопеции
            p Различные типы рубцовой алопеции классифицируются как:
            ul.list-marked 
              li первичная, которая характеризуется воспалением и&nbsp;развивается в&nbsp;волосяном фолликуле;
              li вторичная, возникающая в&nbsp;результате обширного поражения кожи головы из-за инфекционного воспаления, аутоиммунного, неопластического процесса, травмы.	
            p По&nbsp;характеру воспалительного инфильтрата первичная патология делится&nbsp;на:
            ul.list-marked 
              li лимфоцитарную;
              li лейтрофильную;
              li смешанную;
              li неспецифическую.

            h3 Распространенные первичные патологии
            ul.list-marked 
              li Фронтальная фиброзирующая рубцовая алопеция чаще встречается у&nbsp;женщин постменопаузального возраста. Образуется на&nbsp;линии роста волос и&nbsp;бровях.
              li Псевдопелада Брока проявляется в&nbsp;виде неравномерных и&nbsp;небольших залысин без других симптомов. В&nbsp;группе риска женщины среднего и&nbsp;старшего возраста.
              li Красная волчанка характеризуется мультифокальными пятнами, депигментацией и&nbsp;закупоркой волосяных луковиц. 
              li Декальвирующий фолликулит начинается с&nbsp;одной проплешины, которая разрастается, образуя гнойники и&nbsp;корки.
            +figure({src:'/assets/images/articles/rubcovaya-alopeciya/alopecia-2', caption:'Псевдопелада Брока является результатом иммунных проблем, приводящих к повреждению стволовых клеток фолликулов'})

            h2 Симптомы рубцовых алопеций
            p Рубцовая алопеция шифр по&nbsp;МКБ-10&nbsp;в начальной стадии проявляется в&nbsp;виде небольших проплешин, которые со&nbsp;временем увеличиваются. В&nbsp;ряде случаев волосы выпадают постепенно без явных симптомов, и&nbsp;болезнь продолжительное время не&nbsp;замечают. Облысение также сопровождается нарастающим зудом, жжением и&nbsp;болью.
            p Рубцующиеся пятна рубцовой алопеции отличаются от&nbsp;залысин гнездной &laquo;рваными&raquo; краями.
            p К&nbsp;общим симптомам относятся:
            ul.list-marked 
              li истончение волос;
              li потеря сальных желез;
              li оголенные стержни волос;
              li шелушение внутренней корневой оболочки;
              li фиброзирование.
            p Повреждение и&nbsp;гибель фолликулов происходит под кожей, поэтому поверхностно процесс проявляется только выпадением волос. В&nbsp;пределах пораженных очагов наблюдаются признаки болезни, спровоцировавшие алопецию. Пораженные участки кожи могут быть гладкими и&nbsp;чистыми, краснеть и&nbsp;шелушиться. Процесс сопровождается повышенной или пониженной пигментацией, образованием волдырей, наполненных гноем или жидкостью.

            h2 Диагностика
            p Из-за необратимости патологических процессов, протекающих при рубцовой алопеции, для назначения действенной терапии первостепенную роль играет ранняя диагностика.Точная клиническая оценка, интегрированная с&nbsp;дерматоскопией и&nbsp;гистопатологическими исследованиями, позволяет поставить правильный диагноз.
            ul.list-marked 
              li При первичном обращении врач осматривает поредевшие или безволосые участки, проверяет состояние кожи и&nbsp;выраженность волосяных фолликулов, используя трихологические тесты;
              li Компьютерная диагностика оценивает состояние волос и&nbsp;кожи, помогает установить причину, стадию и&nbsp;связь алопеции с&nbsp;генетикой;
              li Биопсия кожи проводится для подтверждения диагноза, так как определяет сохранность фолликулов и&nbsp;сальных желез;
              li Лабораторные исследования оценивают общее состояние здоровья, выявляют гормональные нарушения, паразитарную инфекцию.
            +figure({src:'/assets/images/articles/rubcovaya-alopeciya/alopecia-3', caption:'Фототрихограмма определяет вид облысения, количественные показатели потери волос'})

            h2 Лечение рубцовой алопеции
            p Лечение этого типа облысения&nbsp;&mdash; трудная задача, так как процесс потери волос постоянный и&nbsp;необратимый. Развитие патологии контролируют, применяя разные методы лечения. В&nbsp;первую очередь терапию направляют на&nbsp;лечение болезни, которая привела к&nbsp;облысению, устранение симптомов, предотвращение распространения патологического процесса. Для этого больному назначают:
            ul.list-marked 
              li прием антибиотиков, чтобы подавить воспаление, не&nbsp;допустить дальнейшее развитие бактериальной флоры в&nbsp;очагах поражения;
              li введение гормональных препаратов в&nbsp;очаги воспаления для борьбы с&nbsp;воспалительным процессом, стимуляции роста волос;
              li иммунодепрессанты для смягчения повреждений при аутоиммунных причинах поражения.
            p По&nbsp;показаниям больным рекомендована местная терапия: нанесение нестероидных и&nbsp;местных стероидных кремов, антибиотиков, внутрикожные инъекции кислородно-озонового коктейля. Для коррекции рубцовой алопеции проводится трансплантация лоскутным методом или FUE.
            .block-marked.block-marked--padding-small
              p Больным РА&nbsp;показан щадящий уход и&nbsp;мытье волосистой части головы.

            h2 Прогноз и&nbsp;профилактика
            p Выпадение волос при всех видах&nbsp;РА необратимо. При ранней диагностики болезненный процесс возможно притормозить, но&nbsp;в&nbsp;ряде случаев поредение прядей продолжается, несмотря на&nbsp;терапию. Пациентов оповещают о&nbsp;невозможности восстановить волосяной покров. Обращение к&nbsp;врачам на&nbsp;ранней стадии сохраняет как можно больше волос.
            p В&nbsp;основу профилактических мер положено лечение инфекций волосистой части головы, предупреждение механического повреждения и&nbsp;ожогов.

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Какие болезни сопровождаются рубцовой алопецией?</h3>')
              p Никакие. РА&nbsp;поражает здоровых женщин и&nbsp;мужчин.
            +dropDown('<h3>У&nbsp;детей бывает рубцовая алопеция?</h3>')
              p Да, дети также подвержены этому типу облысения.
            +dropDown('<h3>Распространяется&nbsp;ли РА? </h3>')
              p Рубцовая алопеция выходит за&nbsp;пределы первоначального образования, залысины сливаются в&nbsp;одно пятно.
            
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Дерматология в&nbsp;России, национальный сервер дерматологии #[a(href='http://www.dermatology.ru/' target='_blank' rel='nofollow') http://www.dermatology.ru/];
                li К&nbsp;вопросу о&nbsp;рубцовых алопециях, научная статья по&nbsp;клинической медицине, Бакулев А.Л., Тальникова Е.Е.;
                li Рубцовые алопеции. Некоторые вопросы дифференциальной диагностики, Клименкова Н.В., Левончук Е.А., Бич Т.А., Крумкачев В.В.

block styles
  +style('inner')
