extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Степени мужского облысения по классификации Норвуда
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Выпадение волос по&nbsp;мужскому типу&nbsp;&mdash; распространенное заболевание, которое к&nbsp;50&nbsp;годам затрагивает половину мужского населения. Для оценивая тяжести состояния исследователи предлагали разные способы классификации. Но&nbsp;только шкала Норвуда стала эталоном диагностики степени облысения у&nbsp;мужчин и&nbsp;составления действенного плана лечения.
            +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-1', caption:'Выпадение волос - распространенная проблема среди мужчин'})

            p В&nbsp;статье углубляемся в&nbsp;понимание шкалы Норвуда, ее&nbsp;связи с&nbsp;классификацией выпадения волос. Также рассматриваем варианты лечения, способы предотвращения или замедления облысения в&nbsp;зависимости от&nbsp;уровня по&nbsp;шкале Норвуда.

            h2 История создания шкалы Норвуда (ШН)
            p Система, названная шкалой Норвуда, была введена в&nbsp;1950-х годах Джеймсом Гамильтоном и&nbsp;усовершенствована доктором О&rsquo;Таром Норвудом в&nbsp;1975&nbsp;году. 
            p Именно Гамильтон установил гендерные отличия облысения&nbsp;&mdash; у&nbsp;мужчин процесс протекает с&nbsp;определенной последовательностью. Также доктор отметил влияние наследственных и&nbsp;возрастных факторов на&nbsp;развитие андрогенетической алопеции (АГА). Первоначально Гамильтон создал шкалу, основанную на&nbsp;исследовании выпадении волос у&nbsp;более 700 людей разного возраста и&nbsp;национальности. Его первоначальная система состояла из&nbsp;восьми ступеней. Считалось, что люди с&nbsp;типом 1, 2&nbsp;и&nbsp;3&nbsp;не относятся к&nbsp;лысым, у&nbsp;них наблюдается только поредение волосяного покрова. Типы&nbsp;4, 5, 6, 7&nbsp;и&nbsp;8&nbsp;классифицируются уже как типы облысения. На&nbsp;основе этой информации Гамильтон и&nbsp;разработал шкалу, которую Норвуд доработал спустя 20&nbsp;лет, добавив промежуточные формы с&nbsp;учетом большей выборки.
            p Сегодня ШН&nbsp;используется для определения, диагностики и&nbsp;прогнозирования характера выпадения волос у&nbsp;мужчин с&nbsp;АГА. Шкала дает пациентам и&nbsp;врачам визуальный образец, используемый для описания состояния волосяного покрова при облысении по&nbsp;мужскому типу. С&nbsp;точки зрения врача, это способ наглядно продемонстрировать пациенту дальнейшее развитие процесса. Пациенту&nbsp;же легче описывать проблемы врачу во&nbsp;время телефонной консультации, опираясь на&nbsp;ШН.
            +grid({ paddingy:true, parLike:true })
              +grid__item({ m:6, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-2-1'})
              +grid__item({ m:6, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-2-2'})
            
            p.text-marked.text-marked--italic.text-marked--size--m.text-marked--color--brown(style="margin-top: 0.7rem;") Стадии облысения по шкале Норвуда
            
            h2 Классификация облысения по&nbsp;Норвуду
            p Степени облысения по&nbsp;Норвуду разделены на&nbsp;категории, которые помогают определить прогрессирование этих моделей выпадения волос. Всего в&nbsp;ШН семь степеней, подразделяющихся на&nbsp;два типа, которые описываются как &laquo;нормальный&raquo; и&nbsp;&laquo;класс&nbsp;А&raquo; для оценки облысения нестандартной передней линии роста. 

            h3 Стадия&nbsp;1: отсутствие признаков рецессии
            +grid({ parLike:true })
              +grid__item({ m:8, xs:12 })
                p Первая стадия облысения контрольная, так как явных признаков облысения еще не&nbsp;наблюдается. Допустимо небольшое поредение в&nbsp;области висков и&nbsp;лба, которое часто остается без внимания, так как не&nbsp;меняет кардинально внешность. Людям с&nbsp;генетической предрасположенностью важно следить за&nbsp;этими показателями, чтобы принять профилактирующие меры. Для мониторинга сравнивают текущее состояние с&nbsp;предшествующим по&nbsp;сделанным ранее фотографиям. 
              +grid__item({ m:4, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-3', caption:'Стадия 1 по норвудской шкале'})
            p Хорошая новость в&nbsp;том, что разработано много вариантов лечения для тех, кто вступил в&nbsp;1&nbsp;стадию облысения. Например, коррекция образа жизни помогает нормализовать рост волос за&nbsp;счет снижения уровня стресса и&nbsp;поступления достаточного количества питательных веществ. 

            h3 Стадия&nbsp;2: заметное уменьшение висков
            +grid({ parLike:true })
              +grid__item({ m:8, xs:12 })
                p При 2&nbsp;степени облысения начальные признаки алопеции становятся очевидными. Стадия соответствует зрелой линии роста волос. На&nbsp;этом этапе наблюдается легкая рецессия линии роста волос, особенно в&nbsp;лобно-височных промежутках. Залысины на&nbsp;лбу постепенно образуют характерный для АГА узор в&nbsp;виде буквы &laquo;W&raquo;, так как продолжают углубляться.
              +grid__item({ m:4, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-4', caption:'Стадия 2 по норвудской шкале'})
            p На&nbsp;этом этапе важно действовать быстро и&nbsp;изучить варианты лечения для предотвращения дальнейшего прогрессирования облысения по&nbsp;мужскому типу. Трансплантация фолликулов на&nbsp;2&nbsp;стадии не&nbsp;рекомендована, но&nbsp;показана лекарственная терапия, например, миноксидил&nbsp;&mdash; широко используемый препарат для местного применения, стимулирующий работу фолликулов. Также назначают финастерид&nbsp;&mdash; пероральный препарат, тормозящий преобразование тестостерона в&nbsp;агрессивный дигидротестостерон, чтобы защитить волосяные фолликулы.
            
            h3 Стадия&nbsp;3: углубление залысин на&nbsp;лбу
            +grid({ parLike:true })
              +grid__item({ m:8, xs:12 })
                p 3&nbsp;степень облысения характеризуется углублением рецессии вокруг висков и&nbsp;лба с&nbsp;образованием узора в&nbsp;виде W, U&nbsp;или V. В&nbsp;областях, затронутых рецессией, наблюдается заметное истончение волосяного покрова или отсутствие волос. Стадия&nbsp;3 Vertex характеризуется линией роста волос на&nbsp;2&nbsp;стадии, но&nbsp;значительным поредением на&nbsp;макушке. На&nbsp;этом этапе уже сложно скрывать облысение правильной стрижкой. Ситуация требует скорейшего принятия мер.
              +grid__item({ m:4, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-5', caption:'Стадия 3 по ШН'})
            +grid({ parLike:true })
              +grid__item({ m:8, xs:12 })
                p На&nbsp;этом этапе также используют финастерид и&nbsp;миноксидил, чтобы замедлить или остановить процесс выпадения волос&nbsp;и, возможно, восстановить плотность волосяного покрова. Дерма-валик и&nbsp;витаминные сыворотки тоже применяют для борьбы с&nbsp;облысением. Пациенты на&nbsp;3&nbsp;стадии&nbsp;&mdash; подходящие кандидаты на&nbsp;пересадку волос.
              +grid__item({ m:4, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-6', caption:'Стадия 3 Vertex'})

            h3 Стадия&nbsp;4: облысение макушки
            +grid({ parLike:true })
              +grid__item({ m:8, xs:12 })
                p Стадия классифицируется как умеренное облысение. Рецессия линии роста продолжается, углубляя узор буквой&nbsp;U, на&nbsp;макушке волосы редкие и&nbsp;неоднородные или совсем отсутствуют. На&nbsp;этом этапе у&nbsp;многих мужчин появляется чувство неуверенности из-за изменившейся внешности. При поражении такой площади волосяного покрова сложно вернуть былой объем, но&nbsp;вернуться на&nbsp;3&nbsp;или 2&nbsp;стадию возможно.
                p Основными препаратами продолжают выступать финастерид и&nbsp;миноксидил. Лечение дополняют лазеротерапией, витаминотерапией, плазмотерапией. Пациентам доступна пересадка собственных фолликулов с&nbsp;затылка в&nbsp;безволосые очаги.
              +grid__item({ m:4, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-7', caption:'Стадия 4 по шкале Норвуда'})

            h3 Стадия&nbsp;5: сильно выраженная потеря волос
            +grid({ parLike:true })
              +grid__item({ m:8, xs:12 })
                p На&nbsp;5&nbsp;стадии облысения у&nbsp;мужчин наблюдается выраженная потеря волос на&nbsp;макушке и&nbsp;в&nbsp;лобной зоне. Линию роста и&nbsp;лысину на&nbsp;макушке еще разделяют тонкие полоски волос. Начинает окончательно проявляться классический рисунок АГА в&nbsp;форме подковы. Скрыть безволосую зону укладкой уже не&nbsp;получится. Доступные варианты терапии ограничены, лечить облысение становится труднее. 
                p Финастерид и&nbsp;Миноксидил больше не&nbsp;справляются с&nbsp;алопецией сами по&nbsp;себе. Безволосые участки заполняют трансплантатами с&nbsp;затылка&nbsp;&mdash; донорской зоны, но&nbsp;при условии достаточного количества пересадочного материала.
              +grid__item({ m:4, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-8', caption:'Стадия 5 по шкале Норвуда'})

            h3 Стадия&nbsp;6: полное выпадение волос на&nbsp;верхней части головы
            +grid({ parLike:true })
              +grid__item({ m:8, xs:12 })
                p На&nbsp;этом этапе мужчины теряют почти все волосы на&nbsp;передней и&nbsp;верхней частях головы. Область между висками и&nbsp;макушкой истончилась или полностью исчезла. Люди на&nbsp;6&nbsp;стадии начинают стесняться своей внешности, особенно если еще молоды. Варианты восстановления волосного покрова на&nbsp;верхней части головы включают низкоинтенсивную лазерную терапию, хирургические процедуры, постижерные изделия.
              +grid__item({ m:4, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-9', caption:'Стадия 6 по шкале Норвуда'})

            h3 Стадия&nbsp;7: поредение оставшихся волос
            +grid({ parLike:true })
              +grid__item({ m:8, xs:12 })
                p Это конечный пункт шкалы. У&nbsp;мужчин с&nbsp;7&nbsp;стадией облысения лишь по&nbsp;бокам и&nbsp;на&nbsp;затылке остается тонкая полоска волос, а&nbsp;макушка и&nbsp;лоб лысые. Выбор лечения ограничен. Количество оставшихся волосяных стержней определяет возможность трансплантации. На&nbsp;этом этапе люди проходят сложные психологические трансформации принятия себя. И&nbsp;на&nbsp;первый план выходят маскирующие облысение средства, такие как головные уборы, парики, системы замещения и&nbsp;т.д. 
              +grid__item({ m:4, xs:12 })
                +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-10', caption:'Стадия 7 по норвудской шкале'})

            h3 Класс А
            p При развитии облысения по&nbsp;типу&nbsp;А линия роста волос отступает назад по&nbsp;всей коже головы: в&nbsp;центре нет островка волос, а&nbsp;на&nbsp;макушке нет лысины.

            h2 Причины развития андрогенетической алопеции
            +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-11'})
            h3 Гормональные и&nbsp;генетические
            p Облысение по&nbsp;мужскому типу связано с&nbsp;комбинацией генетических и&nbsp;гормональных факторов. Ключевым гормоном, участвующим в&nbsp;этом типе облысения, является дигидротестостерон (ДГТ)&nbsp;&mdash; производный тестостерона. Гены, передающие повышенную чувствительность к&nbsp;воздействию ДГТ, приводят к&nbsp;истощению волосяных фолликулов, истончению стержней и&nbsp;их&nbsp;выпадению. Генетические факторы, участвующие в&nbsp;облысении по&nbsp;мужскому типу, сложны и&nbsp;не&nbsp;ограничиваются одним геном. Генетическая потеря волос происходит постепенно и&nbsp;прогрессирует с&nbsp;годами.
            p Хотя ген мужского облысения играет важную роль, он&nbsp;не&nbsp;единственный фактор. Окружающая среда, состояние здоровья и&nbsp;образ жизни также влияют на&nbsp;развитие АГА.

            h3 Возрастные	
            p Возраст&nbsp;&mdash; еще один фактор, способствующий развитию АГА. Облысение начинается у&nbsp;мужчин в&nbsp;заранее определенном биологическом возрасте (генетическое программирование), при этом у&nbsp;30&nbsp;% мужчин облысение начинается в&nbsp;подростковом или двадцатилетнем возрасте, у&nbsp;40&nbsp;%&nbsp;&mdash; в&nbsp;начале тридцати и&nbsp;так далее. По&nbsp;мере того как волосяные фолликулы сжимаются, волосы становятся тоньше и&nbsp;в&nbsp;конечном итоге вообще перестают расти.

            h3 Внешние факторы и&nbsp;образ жизни
            p Невозможно предотвратить генетическую предрасположенность при неправильном образе жизни. Недосыпание, фастфуд, экологическое неблагополучие только ускоряют развитие АГА.

            h2 Современный подход к&nbsp;классификации
            p Норвудская шкала и&nbsp;сегодня считается стандартом классификации АГА, но&nbsp;ведутся исследования по&nbsp;разработке более точных систем. Трихоскопическая шкала&nbsp;&mdash; это новая многообещающая система, которая использует увеличенные изображения кожи головы для точной диагностики разных типов и&nbsp;стадий выпадения волос.

            h2 Общие процедуры восстановления волосяного покрова
            h3 Адаптация планов лечения
            p Понимание этапов облысения у&nbsp;мужчин помогает реализовывать персонализированные планы лечения. Выбор подходящего метода восстановления плотности волосяного покрова ориентируется на&nbsp;стадию по&nbsp;шкале Норвуда, возраст мужчины, наследственность и&nbsp;образ жизни. Консультация с&nbsp;врачом определяет лучшую программу восстановления, соответствующую конкретным потребностям пациента.

            h3 Медикаментозная терапия
            p Ранние стадии (I-III) часто поддаются консервативному вмешательству. Финастерид и&nbsp;миноксидил в&nbsp;сочетании с&nbsp;местным лечением становятся мощным средством, снижающим интенсивность волосопотери и&nbsp;способствуют возобновлению густоты прически.
            +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-12', caption: 'Метаанализ для 5 групп исследований, в которых тестировались следующие методы лечения выпадения волос: низкоинтенсивная лазерная терапия на мужчинах, 5%-миноксидил на мужчинах, 2%-миноксидил на мужчинах, 1 мг финастерид на мужчинах и 2%-миноксидил на женщинах. Метаанализ подтверждает эффективность каждого лечения (Adil 2017)'})

            h3 Терапия обогащенной тромбоцитами плазмой (PRP)
            p PRP-терапия&nbsp;&mdash; развивающийся метод, предполагающий использование плазмы крови пациента для активизации волосяных фолликулов. Дает многообещающие результаты, особенно для людей, находящихся на&nbsp;средних стадиях шкалы.
            +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-13', caption: 'PRP-терапия'})

            h3 Хирургическое вмешательство
            p По&nbsp;мере того, как человек переходит к&nbsp;поздним стадиям (IV-VII), хирургическое вмешательство представляет собой жизнеспособное решение для восстановления потерянных волос.
            +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-14', caption: 'Эффект пересадки волос'})
            p Подходящий кандидат на&nbsp;пересадку&nbsp;&mdash; мужчина с&nbsp;плотным волосяным покровом по&nbsp;бокам и&nbsp;на&nbsp;затылке&nbsp;&mdash; зонами-донорами трансплантата. Во&nbsp;время процедуры небольшие трансплантаты изымаются по&nbsp;отдельности с&nbsp;кожи головы или лоскута кожи, вырезанного из&nbsp;донорской области. Перфорированные трансплантаты круглой формы часто имеют от&nbsp;10&nbsp;до&nbsp;15&nbsp;волосков. Облысевшие участки кожи головы хирург равномерно покрывает трансплантатами. Приживаемость пересаженных фолликулов достигает 80-90&nbsp;% с&nbsp;плотностью до&nbsp;80&nbsp;% от&nbsp;естественной.

            h4 Уменьшение кожи головы
            p Хирург удаляет участок кожи на&nbsp;голове, чтобы приблизить участки со&nbsp;здоровым ростом волос. Допустимо проведение одновременно с&nbsp;трансплантацией.

            h3 Устранение психологического напряжения
            p Эстетические недостатки угнетающе действуют на&nbsp;психологическое состояние человека. При первых признаках тревоги начинают поиск помощи со&nbsp;стороны профессионалов или групп поддержки.

            h3 Микропигментация кожи головы
            p Косметическая процедура предполагает нанесение на&nbsp;кожу головы крошечных чернильных точек (татуировки), напоминающих отдельные волосяные фолликулы. Результатом является естественный вид сбритых волос с&nbsp;большей плотностью и&nbsp;покрытием. Микропигментация кожи головы&nbsp;&mdash; подходящий вариант для мужчин, донорская зона которых не&nbsp;дает провести пересадку, или не&nbsp;желающих принимать лекарства. Результат сохраняется надолго и&nbsp;требует минимального ухода.
            +figure({src:'/assets/images/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin/norwud-15', caption: 'Трихопигментация'})

            h3 Системы замещения волос
            p Мужчины, страдающие от&nbsp;прогрессирующего выпадения волос, ищут быстрые решения и&nbsp;естественные методы восстановления волосяного покрова. Система замещения (реплейсмент) предлагает жизнеспособное решение, дающее мужчине контроль над внешностью без хирургического вмешательства.
            p Система замещения&nbsp;&mdash; постижерное изделие, где человеческие пряди прикрепляются к&nbsp;сетчатой или силиконовой основе, которую затем крепят на&nbsp;кожу головы. Дерматологически протестированный клей надежно фиксирует реплейсмент, исключая смещение основы. Подходят пациентам на&nbsp;любой стадии по&nbsp;ШН, так как основа крепится на&nbsp;всю площадь головы или только на&nbsp;лысеющий участок. Это важное отличие реплейсмента от&nbsp;парика. Система, выполненная на&nbsp;заказ и&nbsp;адаптированная к&nbsp;потребностям клиента, подходит для всех типов выпадения волос. Срок службы сетчатой основы год. Реплейсмент не&nbsp;ограничивает занятия спортом, посещение саун и&nbsp;бань, и&nbsp;не&nbsp;ощущается на&nbsp;голове.
            
            include /blocks/article-block/article-block

            h2 Центр эстетики волос &laquo;Гамма&raquo;
            p Специализируемся на&nbsp;услугах по&nbsp;безоперационной замене волос, чтобы создать обновленный образ для каждого клиента. Понимаем, что нет универсального решения, ведь у&nbsp;каждого свое понятие естественности. По&nbsp;этой причине предлагаем на&nbsp;выбор готовые и&nbsp;изготовленные на&nbsp;заказ системы замены волос. Для нас важно предоставить посетителю решение с&nbsp;прической его мечты. Счастье и&nbsp;комфорт клиентов&nbsp;&mdash; приоритет в&nbsp;нашей работе.
            ul.list-marked 
              li Обстановка в&nbsp;центре создает у&nbsp;посетителей ощущение спокойствия и&nbsp;уверенности; 
              li Консультация проходит в&nbsp;отдельном кабинете, что позволяет гостю с&nbsp;комфортом примерить понравившиеся образцы и&nbsp;задать вопросы по&nbsp;креплению, стрижке, уходу и&nbsp;т.д.;
              li Заботимся, чтобы цвет, текстура, плотность и&nbsp;стиль реплейсмента соответствовали пожеланиям клиентам.

            include /blocks/article-form/article-form

            h2 Как предотвратить облысение по&nbsp;мужскому типу 
            p Поскольку облысение по&nbsp;мужскому типу вызвано генетическими причинами, предотвратить его невозможно. Однако факторы, такие как стресс, курение, гиподинамия усугубляют последствия АГА за&nbsp;счет ускорения выпадения волос и&nbsp;увеличения количества выпадающих стержней. Это значит, что отказ от&nbsp;курения, снижение уровня стресса и&nbsp;регулярные физические упражнения помогают уменьшить последствия алопеции. 
            p Некоторые исследования показывают, что диета играет важную роль для снижения проблем с&nbsp;выпадением волос. Продукты, насыщенные антиоксидантами и&nbsp;противовоспалительными элементами помогают бороться с&nbsp;повреждением клеток фолликулов. Чрезмерное&nbsp;же потребление питательных веществ напротив усугубит проблему. Поэтому важно придерживаться баланса при составлении рациона. 

            h2 Популярные вопросы и&nbsp;ответы 
            +dropDown('<h3>Всегда мужчины с&nbsp;АГА достигают 7&nbsp;степени?</h3>')
              p Нет, конечная стадия облысения по&nbsp;норвудской шкале зависит от&nbsp;генетической предрасположенности, а&nbsp;также от&nbsp;уровня дигидротестостерона в&nbsp;организме.
            +dropDown('<h3>На&nbsp;какой стадии по&nbsp;Норвуду обращаются за&nbsp;лечением?</h3>')
              p Независимо от&nbsp;стадии по&nbsp;норвудской шкале, если человека беспокоит выпадение волос, значит требуется помощь профессионального трихолога. Раннее решение проблемы сводит к&nbsp;минимуму последствия и&nbsp;даже предотвращает необходимость пересадки волос.
            +dropDown('<h3>Когда начинается облысение по&nbsp;мужскому типу?</h3>')
              p АГА стартует в&nbsp;любом возрасте, поэтому конкретной &laquo;даты начала&raquo; нет. Первые симптомы отмечались даже у&nbsp;мальчиков в&nbsp;подростковый период.
            +dropDown('<h3>Можно&nbsp;ли восстановить волосы после полного облысения без хирургии?</h3>')
              p Этот вопрос мы&nbsp;рассматривали выше. Мужчинам доступны разные виды постижерных изделий, например, системы замещения волос, и&nbsp;микропигментирование.
            +dropDown('<h3>Роль факторов питания и&nbsp;образа жизни на&nbsp;развитие АГА?</h3>')
              p Хотя генетика играет значительную роль в&nbsp;выпадении волос, факторы питания и&nbsp;образа жизни влияют на&nbsp;прогрессирование симптомов. Здоровая диета, богатая витаминами и&nbsp;минералами, питает и&nbsp;укрепляет фолликулы. Отказ от&nbsp;термической и&nbsp;химической обработки также помогает сохранить здоровье волосяных стержней.
            +dropDown('<h3>Где начинается правильная линия роста волос? </h3>')
              p Нормальная линия роста у&nbsp;зрелого мужчины начинается в&nbsp;среднем на&nbsp;высоте 6&nbsp;см над бровями и&nbsp;имеет четкую U-образную форму.

            +dropDown('<h2>Список литературы</h2>', { h2: true })    
              ul.list-marked 
                li Полное руководство по&nbsp;шкале Норвуда с&nbsp;7&nbsp;реальными примерами/ медицинский обзор: Дебра Роуз Уилсон;
                li Генетическая основа мужского облысения/ Найхолт Д.Р.;
                li Технология выполнения постижерных изделий из&nbsp;натуральных и&nbsp;искусственных волос&nbsp;/ Васильева&nbsp;Н.&nbsp;И.

block styles
  +style('inner')
