extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Телогеновое выпадение волос&nbsp;&mdash; причины, лечение, профилактика 
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Телогенное выпадение волос&nbsp;&mdash; это процесс облысения, связанный с&nbsp;цикличностью фаз активности фолликулов. 
            p Большинство волос человека пребывают в&nbsp;фазе роста (анагене). Но&nbsp;прежде, чем волос завершает свой финальный цикл развития и&nbsp;покидает голову, он&nbsp;находится на&nbsp;этапе финального развития, который называется телоген. Стадию еще называют фазой покоя, когда прекращается рост волос: ее&nbsp;длительность не&nbsp;превышает четырех месяцев.
            p Телогеновая алопеция развивается, если большая часть шевелюры пребывает в&nbsp;фазе телогена, в&nbsp;то&nbsp;время как отрастание новых волос не&nbsp;происходит. 

            h2 Суть патологии
            p Телогеновое выпадение волос связано со&nbsp;сбоем в&nbsp;биологическом механизме смены жизненных циклов волосяных луковиц.
            p В&nbsp;целом волосы растут, проходя следующие стадии:
            ul.list-marked 
              li Анаген. На&nbsp;этой стадии наблюдается активное отрастание шевелюры, а&nbsp;ее&nbsp;длительность достигает 2-7&nbsp;лет. В&nbsp;этот период клетки фолликулов делятся, продуцируют пигмент&nbsp;&mdash; меланин, который отвечает за&nbsp;оттенок волос. Если рассматривать процессы, происходящие в&nbsp;волосяных фолликулах подробнее, то&nbsp;стоит сказать об&nbsp;активном прорастании клеток сквозь фолликулярное отверстие, в&nbsp;котором и&nbsp;формируется волосяной стержень.
              li Катаген. Переходной этап, длительность которого не&nbsp;превышает месяц. Волосяной пигмент в&nbsp;этот период прекращает вырабатываться, останавливается деление клеток, луковицы уменьшаются в&nbsp;размерах. Снабжение фолликулов питательными компонентами снижается до&nbsp;минимума. Стержень волоса мигрирует к&nbsp;эпидермису.
              li Телоген. Финальная фаза, во&nbsp;время которой волосы пребывают в&nbsp;состоянии покоя. Длится три-четыре месяца. Со&nbsp;временем волосяной корень перемещается ближе к&nbsp;поверхности кожи, после чего выпадает. В&nbsp;целом усиление выпадения волос на&nbsp;этой стадии относят к&nbsp;природным процессам.
            +figure({src:'/assets/images/articles/telogenovaya-alopeciya/telogenovaya-1', caption:'Жизненный цикл волос'})

            p Но&nbsp;если в&nbsp;этой фазе на&nbsp;организм действуют внешние и&nbsp;внутренние негативные факторы, то&nbsp;снабжение волосяных луковиц кислородом и&nbsp;питательными веществами нарушается, в&nbsp;результате чего выпадение волос усиливается, а&nbsp;по&nbsp;всей поверхности головы формируются очаги облысения.

            h2 Основные причины развития
            p Нарушение в&nbsp;фазе телогена вызывает комплекс факторов, среди которых выделяют следующие: 
            ul.list-marked 
              li Гормональные нарушения. Чаще свойственны девочкам, когда они проходят период полового созревания, дамам на&nbsp;этапе беременности, грудного вскармливания, менопаузы. 
              li Жесткие диеты, несбалансированный рацион. Если в&nbsp;организм не&nbsp;попадает достаточное количество питательных веществ, особенно микроэлементов, витаминов, то&nbsp;работа органов и&nbsp;систем нарушается. Поскольку фолликулы не&nbsp;получают питательные вещества, нарушается их&nbsp;работа, что может провоцировать их&nbsp;отмирание.
              li Сниженный уровень иммунного ответа. Колебания иммунитета отражаются на&nbsp;здоровье шевелюры и&nbsp;ее&nbsp;росте. Если организм не&nbsp;справляется с&nbsp;патогенными микроорганизмами, они активно развиваются, то&nbsp;одной из&nbsp;болезней становится алопеция.
              li Заболевания щитовидной железы. Дисфункция этого органа эндокринной системы может запускать начало облысения. Наиболее сильно волосяной покров поражается при гипопаратиреозе и&nbsp;гипотиреозе. 
              li Прием определенных лекарственных средств: ингибиторов, антикоагулянтов, тиреостатиков, ретиноидов, антиэстрогенов, андрогенов и&nbsp;других групп препаратов. 
              li Болезни инфекционной природы. Так, алопецию провоцирует скарлатина, тиф, туберкулез, пневмония.
              li Кожные болезни в&nbsp;хронической стадии, которые локализуются на&nbsp;волосистой части головы: чрезмерная выработка кожного сала из-за сбоя в&nbsp;функционировании сальных желез, себорея, псориаз.
              li Стрессовые состояния, связанные с&nbsp;недостатком сна, нервным перенапряжением. В&nbsp;такие моменты происходят сбои в&nbsp;работе внутренних органов, спазмируются сосуды, потому нарушается питание волосяных луковиц.
              li Вредные привычки. У&nbsp;активных курильщиков и&nbsp;алкоголиков происходит интоксикация организма. Ядовитые компоненты и&nbsp;токсины скапливаются в&nbsp;волосяных луковицах, в&nbsp;результате их&nbsp;структура повреждается, они деформируются и&nbsp;атрофируются.
              li Генетическая предрасположенность. В&nbsp;зоне риска будет тот человек, чьи родственники страдали от&nbsp;телогеновой алопеции. Стоит его организму столкнуться с&nbsp;неблагоприятными факторами, как заболевание начнет прогрессировать.

            h2 Симптоматика
            p Активного выпадения на&nbsp;начальной стадии развития не&nbsp;происходит. Но&nbsp;изменяется качество волос на&nbsp;месте выпавших: волоски отрастают более ослабленными, короткими, ломкими, выглядят менее полноценными, стержень волоса характеризуется истонченностью. 
            p Если за&nbsp;такой волосок потянуть, то&nbsp;он&nbsp;останется в&nbsp;руке. Важно обратить внимание на&nbsp;волосяную луковицу: белесый цвет означает недостаточное поступление питательных веществ.
            p На&nbsp;первых порах заподозрить алопецию трудно, но&nbsp;как только заболевание прогрессирует, шевелюра в&nbsp;области пробора редеет, а&nbsp;затем выпадение усиливается равномерно по&nbsp;всей волосистой части головы (в&nbsp;таком случае уже говорят о&nbsp;диффузном телогеновом выпадении волос у&nbsp;женщин или мужчин).
            +figure({src:'/assets/images/articles/telogenovaya-alopeciya/telogenovaya-2', caption:'Диффузное выпадение волос у женщин'})

            h3 Основные формы и&nbsp;стадии
            p В&nbsp;зависимости от&nbsp;характера течения болезни, выделяют следующие стадии:
            ol.list-numbered 
              li Легкая. Характеризуется поредением шевелюры в&nbsp;центральном и&nbsp;лобном участке головы, после чего просветы обнаруживают в&nbsp;теменной и&nbsp;центральной зонах. Повреждение волосяного стержня не&nbsp;происходит, но&nbsp;волосяная луковица теряет цвет и&nbsp;истончается. 
              li Средняя. Как только патология прогрессирует, просвечивающихся участков на&nbsp;голове становится больше. Шевелюра истончается, становится тусклой, выглядит безжизненной, волоски легко ломаются. А&nbsp;если человек предпочитает прямой пробор, то&nbsp;прослеживается явное поредение волос в&nbsp;этом участке.
              li Тяжелая. Финальная стадия прогрессирования заболевания, если к&nbsp;терапии не&nbsp;приступили своевременно. Для нее характерны объемные безволосые очаги в&nbsp;центральной части головы и&nbsp;на&nbsp;темени. Волосяные стержни напоминают пух, утрачивают оттенок, характеризуются истонченностью. 

            h4 Формы заболевания
            ul.list-marked 
              li Хроническая. Регистрируют у&nbsp;пациентов с&nbsp;наследственной предрасположенностью и&nbsp;при дефиците питательных компонентов для фолликулов. Для хронического телогенового выпадения волос характерно вялотекущее течение. 
              li Острая. Возникает, когда к&nbsp;генетической предрасположенности присоединяются провоцирующие факторы: последствия лечения под наркозом, постковидный синдром, гормональные нарушения, шоковое состояние, стресс, прием ретиноидов, антибиотиков и&nbsp;других групп препаратов с&nbsp;трихотоксическими свойствами. 
              li Послеродовая. Связана с&nbsp;гормональной перестройкой после рождения ребенка: процесс выпадения запускают эндокринные нарушения, а&nbsp;в&nbsp;некоторых случаях и&nbsp;сбои в&nbsp;иммунитете. 

            h2 Диагностика
            p Если изучить в&nbsp;отношении телогенового выпадения волос клинические рекомендации, то&nbsp;там сказано, что, чтобы поставить точный диагноз, оценить степень прогрессирования болезни, используют трихоскоп. Устройство представлено цифровой видеокамерой, дополненной несколькими линзами. 
            p Оборудование подсоединяют к&nbsp;персональному компьютеру, а&nbsp;затем анализируют, используя соответствующее программное обеспечение.
            p Устройство позволяет выполнить несколько вариантов исследования:
            ul.list-marked 
              li 
                p Трихоскопию. С&nbsp;помощью нее выявляют полиморфизм, который характеризуется неоднородностью диаметра волос, определяют количество истонченных, плотность и&nbsp;диаметр шевелюры в&nbsp;различных участках, в&nbsp;целом оценивают состояние волос и&nbsp;кожи головы. 
                br
                +figure({src:'/assets/images/articles/telogenovaya-alopeciya/telogenovaya-3', caption:'Трихоскопия'})
                br

              li 
                p Фототрихограмму. Необходима для уточнения либо подтверждения результатов, полученных в&nbsp;ходе трихоскопии, оценки количества волос на&nbsp;стадии выпадения и&nbsp;роста. 
                br
                +figure({src:'/assets/images/articles/telogenovaya-alopeciya/telogenovaya-4', caption:'Фототрихограмма'})
                br

            p На&nbsp;основании полученных результатов ставят диагноз, готовят наиболее эффективный план лечения и&nbsp;разрабатывают профилактические меры.

            h2 Лечение
            p Схему лечения разрабатывают, учитывая основную причину. Так, если алопецию вызывают внутренние патологии, то&nbsp;врач назначает лечение, целью которого будет:
            ul.list-marked 
              li Нормализация иммунного ответа.
              li Ликвидация эндокринных нарушений.
              li Разрешение неврологических проблем.
              li Терапия дерматологических болезней.
              li Восстановление баланса микроэлементов, витаминов, обеспечение беспрепятственного доступа питательных веществ к&nbsp;фолликулам.

            p Чтобы восстановить шевелюру, назначают средства наружного использования, которые воздействуют на&nbsp;волосяные луковицы: стимулируют рост и&nbsp;укрепляют&nbsp;их.
            p Эффективным терапевтическим воздействием обладают следующие процедуры аппаратной косметологии:
            ul.list-marked 
              li вакуумный массаж;
              li электростимуляция фолликулов;
              li цветотерапия;
              li электрофорез;
              li дарсонвализация;
              li лазеротерапия;
              li грязелечение;
              li мануальный и&nbsp;криомассаж. 

            p В&nbsp;целом терапия предполагает длительный процесс, потому важно набраться терпения, строго соблюдать рекомендации и&nbsp;назначения врача, отказаться от&nbsp;идеи самолечения.

            h2 Профилактика 
            p Основные меры профилактики направлены на&nbsp;нормализацию физического и&nbsp;психологического состояния. 
            p Профилактика предполагает:
            ul.list-marked 
              li сбалансированный рацион;
              li преодоление вредных привычек;
              li полноценный сон и&nbsp;грамотно продуманный режим дня, с&nbsp;гармоничным чередованием работы и&nbsp;отдыха;
              li отказ от&nbsp;агрессивных процедур с&nbsp;волосами: окрашивание, выпрямление, химическая завивка, высокие хвосты, тугие косы;
              li витаминотерапия по&nbsp;назначениям врача;
              li повышение стрессоустойчивости;
              li в&nbsp;целом здоровый образ жизни. 

            h2 Так какие&nbsp;же решения существуют, если профилактика не&nbsp;помогла?
            h3 Система волос
            p Мы, Центр эстетики волос &laquo;Гамма&raquo;, предлагаем эффективное, надежное, проверенное временем и&nbsp;сотнями клиентов решение&nbsp;&mdash; систему замещения волос. Это изделие, созданное из&nbsp;натуральных волос, навязанных вручную на&nbsp;тончайшую основу-сеточку, которая имитирует кожу головы. 
            p Систему фиксируем на&nbsp;прочные полимеры, за&nbsp;счет чего она остается на&nbsp;голове во&nbsp;время мытья, плавания, активных занятий спортом и&nbsp;во&nbsp;всех остальных ситуациях. Снять ее&nbsp;удастся только после растворения фиксирующего средства. 
            p За&nbsp;счет надежной фиксации, абсолютно натурального вида и&nbsp;воссоздания эффекта роста волос, словно прямо из&nbsp;кожи, система остается незаметной для окружающих. Потому это единственное решение для тех, кто не&nbsp;желает идти на&nbsp;операцию по&nbsp;пересадке волос, а&nbsp;выбирает уже в&nbsp;день посещения нашего Центра восстановить шевелюру таким доступным способом!
            +grid({ paddingy:true, parLike:true })
              +grid__item({ s:6, xs:12 })
                +figure({src:'/assets/images/articles/telogenovaya-alopeciya/telogenovaya-5', caption:'Одна из систем волос Центра Эстетики Волос "Гамма"'})

            h2 Преимущества центра
            p Центр эстетики волос &laquo;Гамма&raquo; выбирают за&nbsp;следующие преимущества:
            +grid({ paddingy:true, parLike:true })
              +grid__item({ s:6, xs:12 })
                +iconBlock({ experience:true }) 
                  p Более десятилетия работаем над восстановлением волос, даже если они полностью покинули голову. За&nbsp;это время помогли сотням клиентов.
              +grid__item({ s:6, xs:12 })
                +iconBlock({ guarantee:true }) 
                  p Даем 100% гарантию результата. От&nbsp;нас уходят с&nbsp;новой шевелюрой, которую сложно отличить от&nbsp;натуральной даже опытному парикмахеру. 
              +grid__item({ s:6, xs:12 })
                +iconBlock({ privacy:true }) 
                  p Абсолютная конфиденциальность визита. Организовали систему записи, посещения Центра и&nbsp;порядок оказания услуги так, чтобы скрыть наших клиентов от&nbsp;лишних глаз. 
              +grid__item({ s:6, xs:12 })
                +iconBlock({ service:true }) 
                  p Полный комплекс обслуживания. Мы&nbsp;не&nbsp;только устанавливаем систему волос, но&nbsp;и&nbsp;выполняем ее&nbsp;ремонт, окрашивание, восстановление, стрижку, укладку, химическую завивку&nbsp;&mdash; все, в&nbsp;чем нуждается клиент. 

            h2 Заключение 
            p Телогеновое выпадение волос регистрируют чаще. Провоцирующими факторами становятся даже внутренние болезни и&nbsp;нарушение образа жизни. Диагностировать патологию на&nbsp;ранней стадии непросто, учитывая неявные признаки заболевания, потому, при первых подозрениях, стоит сразу&nbsp;же посетить трихолога. Лечение предполагает комплексный подход, направленный на&nbsp;основную причину и&nbsp;восстановление резервов организма. План терапии разрабатывают, учитывая результаты комплексной диагностики. 

            +dropDown('<h2>Список использованных источников</h2>', { h2: true })     
              ul.list-marked 
                li Dawber R.P.R. Hair and Scalp Diseases: Medical, Surgical, and Cosmetic Treatments (Basic and Clinical Dermatology).Wiley; 1997: 107&ndash;9.
                li Kоrnishеvа V.G., Еjcov G.А., Hair and scalp pathology. SPB.: Foliant; 2012.(in Russian)
                li Kostyukevich O.I. Current approaches to&nbsp;diagnosis and treatment of&nbsp;cachexia syndrome from the perspective of&nbsp;a&nbsp;therapist. Russian Medical Journal (Rossiyskii Medicinskii Zhurnal). 2011; 1: 24&ndash;6. (in&nbsp;Russian)
                li Min S.K., Chul W.K. Analysis of&nbsp;serum zinc and copper concentrations in&nbsp;hair loss. Ann. Dermatol.&nbsp;2013; 25(4): 405&ndash;9.
                li Olisova О.Y., Verhoglyad I.V., Gostroverhova I.P. Current concepts of&nbsp;etiology, pathogenesis and treatment of&nbsp;alopecia areata. Russian Journal of&nbsp;Skin and Venereal Diseases (Rossiyskii Zhurnal Kozhnykh i&nbsp;Venericheskikh Boleznei).2010; 1: 48&ndash;52. (in&nbsp;Russian)
                li Shashikant M. Telogen effluvium: a&nbsp;review. J.&nbsp;Clin. Diagn. Res.&nbsp;2015; 9(9): 1&ndash;3.
                li Trueb R.M. Hair growth and disorders. In: Blume-Peytavi&nbsp;U., Tosti&nbsp;A., Whiting D.A., Trueb&nbsp;R., eds. Diffuse hair loss. Berlin: Springer; 2008: 259&ndash;72.
                li Trueb R.M. Female Alopecia. Guide to&nbsp;Successful Management. Springer, 2013.

block styles
  +style('inner')
