extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Тотальная алопеция
        +grid({ paddingy:true })
          +grid__item({ m:9 })
            p Алопеция&nbsp;&mdash; патологическое состояние, характеризующееся выпадением волос. В&nbsp;зависимости от&nbsp;причины потери волос принимает разные формы и&nbsp;развивается по&nbsp;определенному сценарию. И&nbsp;только гнездовая (очаговая) алопеция возникает внезапно на&nbsp;фоне полного здоровья. Предугадать дальнейшее развитие невозможно. Регулярные рецидивы приводят к&nbsp;выпадению волос по&nbsp;всему телу. 
            +figure({src:'/assets/images/articles/alopecia-totalnaya/alopecia-1', caption:'У очаговой алопеции непредсказуемое течение'})
            p Очаговая алопеция поражает мужчин, женщин и&nbsp;даже детей. Зоны облысения образуются быстро, за&nbsp;ночь человек может проснуться с&nbsp;одним или несколькими очагами облысения. У&nbsp;30&nbsp;% пациентов залысины исчезают и&nbsp;больше не&nbsp;появляются. У&nbsp;остальных болезнь возвращается снова и&nbsp;снова, образуя постоянные области облысения.

            h2 Что такое тотальная алопеция
            p Тотальное облысение&nbsp;&mdash; форма гнездовой алопеции, при которой волосы выпадают не&nbsp;только на&nbsp;голове, но&nbsp;и&nbsp;на&nbsp;лице. По&nbsp;международной статистической классификации болезней у&nbsp;тотальной алопеции код по&nbsp;МКБ-10:L63.0. Непривычный вид пугает больного, вызывая стресс, который считается провокатором тотальной потери волос. Образуется замкнутый круг, шансы на&nbsp;выздоровление снижаются.
            p Осложнения носят психологический характер, на&nbsp;физическом здоровье не&nbsp;отражаются.
            +figure({src:'/assets/images/articles/alopecia-totalnaya/alopecia-2', caption:'При тотальном облысении выпадение не только на голове, но и в области бровей'})

            h3 У&nbsp;детей 
            p У&nbsp;детей высокая вероятность развития тотальной формы гнездового облысения. Они тяжело переносят последствия болезни. Нередки случаи самопроизвольного восстановления роста волос. Если ребенок тотально облысеет до&nbsp;полового созревания, шанс на&nbsp;выздоровление составляет менее 10&nbsp;%.

            h3 У&nbsp;женщин
            p Избыточная выработка мужских гормонов&nbsp;&mdash; распространенный триггер, провоцирующий выпадение у&nbsp;женщин. Сбой возникает при патологии яичников, климаксе и&nbsp;других гормональных нарушениях, сопровождающихся охриплостью голоса, усами над верхней губой и&nbsp;т.д. По&nbsp;статистике алопеция тотальная у&nbsp;женщин излечивается чаще, чем у&nbsp;мужчин.

            h3 У&nbsp;мужчин 
            p Мужчины также страдают от&nbsp;тотального облысения. Болезнь протекает по&nbsp;схожей схеме&nbsp;&mdash; очаг выпадения волос размером с&nbsp;монетку растет, сливается с&nbsp;другими, затем начинается выпадение на&nbsp;подбородке и&nbsp;бровях.

            h2 Причины возникновения
            p Большинство клиницистов сходятся во&nbsp;мнении, что гнездовая алопеция&nbsp;&mdash; аутоиммунная патология, при которой иммунная система человека разрушает собственные фолликулы. Волосы замедляют рост, затем перестают расти. Триггеры, запускающие патологический процесс, сочетают экологические и&nbsp;генетические факторы.
            p Алопеция полная также связана с&nbsp;другими аутоиммунными болезнями:
            ul.list-marked 
              li псориаз;
              li красная волчанка;
              li болезни щитовидной железы;
              li артрит ревматоидный и&nbsp;др.
            p При тотальной алопеции, вызванной наследственным фактором, гибель волосяных луковиц носит необратимый характер.

            h2 Факторы риска
            p К&nbsp;предрасполагающим факторам относятся:
            ul.list-marked 
              li очаговая алопеция в&nbsp;семейном анамнезе;
              li ряд хромосомных болезней;
              li экологические причины.
            p Экологические факторы включают стрессы, дефицит витаминов, гормональные колебания, дисбактериоз и&nbsp;инфекции.
            p Наличие рисков увеличивает шансы заболеть, но&nbsp;не&nbsp;означает, что человек точно заболеет. Также отсутствие рисков не&nbsp;говорит о&nbsp;том, что проявление болезни исключено.

            h2 Симптомы
            p Болезнь начинается внезапно. Однажды больной обнаруживает небольшую округлую зону облысения с&nbsp;четкими границами. Кожа гладкая, на&nbsp;ней отсутствует воспаление и&nbsp;шелушение. Дальнейшее развитие болезни непредсказуемо. Со&nbsp;временем возможно восстановление волосяного покрова, а&nbsp;могут образоваться новые очаги. Границы зоны облысения расширяются и&nbsp;сливаются с&nbsp;другими очагами за&nbsp;счет диффузного выпадения волос. Известны случаи, когда болезнь развивалась стремительно, и&nbsp;человек за&nbsp;2&nbsp;суток тотально лысел.
            +figure({src:'/assets/images/articles/alopecia-totalnaya/alopecia-3', caption:'Тотальное выпадение начинается с небольшого пятнышка'})

            h2 Диагностика на&nbsp;ранних стадиях
            p Диагностировать тотальную алопецию несложно, главное убедиться, что в&nbsp;зоне облысения отсутствуют признаки многоформной эритемы, шелушений, сосудистых звездочек и&nbsp;других изменений. При обследовании важно исключить микозы, рубцовую алопецию, невротические состояния, при которых больной сам вырывает волосы.
            p Продуктивность терапии зависит от&nbsp;верности выявленных факторов, провоцирующих болезнь. Поэтому пациента врач отправляет на&nbsp;лабораторное обследование. Если причина тотального облысения&nbsp;&mdash; сочетание факторов, потребуются консультации врачей других профилей.

            h2 Лечение	
            p До&nbsp;сих пор причины образования тотальной алопеции до&nbsp;конца не&nbsp;изучены, поэтому лекарства со&nbsp;100&nbsp;% эффективностью нет. Базовая терапия направлена на&nbsp;блокировку иммунного ответа и&nbsp;стимуляцию роста волос.
            p Иммунная коррекция. Кортикостероиды&nbsp;&mdash; сильные противовоспалительные препараты с&nbsp;пролонгированным эффектом. Обладают иммунодепрессивным действием, снижая негативное воздействие на&nbsp;фолликулы.
            p Воздействие на&nbsp;нервную систему. Стрессы и&nbsp;нервные потрясения связывают с&nbsp;тотальным облысением, поэтому к&nbsp;лечению подключают антидепрессанты, ноотропы, а&nbsp;также успокоительные растительного происхождения.
            p Стимуляция роста фолликулов. Лечение дополняется активаторами роста волос, сосудорасширяющими мазями. Также протокол лечения включает подкожные инъекции плазмы, мезококтейлей, плацентарных составов.
            p Лечение&nbsp;&mdash; это продолжительный процесс, но&nbsp;не&nbsp;всегда получается восстановить волосяной покров. Чем раньше начать лечение, тем больше шансов на&nbsp;выздоровление.

            h2 Профилактика
            p Поскольку начало и&nbsp;течение гнездовой алопеции непредсказуемы, не&nbsp;существует профилактических мер. Важно при первых признаках очагового облысения сразу обратиться к&nbsp;врачу за&nbsp;помощью.

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Берут&nbsp;ли в&nbsp;армию с&nbsp;тотальной алопецией?</h3>')
              p Нет, молодые люди призывного возраста с&nbsp;тотальной алопецией непригодны для прохождения срочной службы.
            +dropDown('<h3>Делают пересадку при тотальной алопеции?</h3>')
              p Нет, для пересадки трансплантаты берут у&nbsp;пациента с&nbsp;затылка. При полном облысении негде брать пересадочный материал.
            +dropDown('<h3>Заразно&nbsp;ли полное облысение?</h3>')
              p Нет, у&nbsp;людей с&nbsp;гнездовой алопецией в&nbsp;тотальной форме присутствует генетическая предрасположенность к&nbsp;болезни и&nbsp;провоцирующие факторы.
            
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Справочник MSD&nbsp;&mdash; #[a(href='https://www.msdmanuals.com/' target='_blank' rel='nofollow') https://www.msdmanuals.com/] 
                li #[a(href='https://perfecthairhealth.com/' target='_blank' rel='nofollow') https://perfecthairhealth.com/]
                li Официальный сайт врача-дерматовенеролога Агапова С.А. #[a(href='https://agapovmd.ru/dis/skin/alopecia.htm' target='_blank' rel='nofollow') https://agapovmd.ru/dis/skin/alopecia.htm]
        
block styles
  +style('inner')
