extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 тракционная алопеция
        +grid({ paddingy:true })
          +grid__item({ m:9 })
            p Хорошо известно, что ежедневная сушка феном, агрессивные красители и&nbsp;использование плойки пересушивают и&nbsp;истончают волосы. Но&nbsp;о&nbsp;том, что тугие прически приводят к&nbsp;облысению, знают немногие. В&nbsp;статье расскажем, что такое травматическая алопеция, обсудим продуктивные способы профилактики и&nbsp;лечения.

            h2 Что такое тракционная алопеция(ТА)
            p Механическая алопеция (тракционная)&nbsp;&mdash; подвид рубцовой алопеции, вызванный постоянным натяжением волос, которое ведет к&nbsp;гибели и&nbsp;фиброзу волосяных луковиц. Причиной облысения выступает физический фактор. Ни&nbsp;гормоны, ни&nbsp;дефициты в&nbsp;организме в&nbsp;этом случае не&nbsp;запускают патологический процесс. Развивается на&nbsp;любом участке головы, но&nbsp;чаще в&nbsp;точках максимального натяжения&nbsp;&mdash; области лба, затылка и&nbsp;висков.
            +figure({src:'/assets/images/articles/traktsionnaya-alopeciya/alopecia-1', caption:'Тугая фиксация волос - основная причина тракционного типа облысения'})

            h2 Причины
            p При механическом типе облысения волосяные луковицы перестают расти, потому что при натяжении травмируются и&nbsp;воспаляются. После гибели волосяного сосочка, отмирает луковица, а&nbsp;затем выпадает и&nbsp;стержень. Место устья и&nbsp;фолликула замещается фиброзной тканью. Провоцирующим фактором чаще выступают механические травмы и&nbsp;агрессивные химические составы.

            h3 Физические травмы волос
            h4 Прически и&nbsp;укладки
            p Тракционная алопеция&nbsp;&mdash; это не&nbsp;что иное, как двухфазная форма облысения, которая на&nbsp;поздних стадиях приводит к&nbsp;рубцеванию фолликулярных тканей. Болезнь возникает на&nbsp;фоне хронического натяжения волос и&nbsp;неправильного ухода.
            p К&nbsp;распространенным механическим причинам относятся:
            ul.list-marked 
              li начесы и&nbsp;тугие прически: пучки, косы, &laquo;конские&raquo; хвосты, дреды;
              li привычка дергать волосы при стрессе;
              li тесные шлемы и&nbsp;головные уборы, вызывающие натяжение;
              li тугие эластичные резинки, бигуди;
              li наращивание, использование накладных прядей.
            p Кожа головы натягивается и&nbsp;повреждается под тяжестью густых и&nbsp;длинных прядей, провоцируя развитие&nbsp;ТА.
            +figure({src:'/assets/images/articles/traktsionnaya-alopeciya/alopecia-2', caption:'Тракционная алопеция также возникает после африканских косичек'})

            h4 Химическое воздействие
            p Чрезмерное использование укладочных средств, перманентное выпрямление, химическая завивка и&nbsp;частое окрашивание наносят непоправимый вред волосам и&nbsp;ведут к&nbsp;тракционной алопеции.

            h3 Неправильный уход
            p Высокая температура негативно влияет на&nbsp;качество волосяного стержня. Продолжительное воздействие ультрафиолета, ежедневное использование фена, утюжка для выпрямления постепенно разрушают кутикулу, нарушая структуру волоса. Привычка спать в&nbsp;бигуди, неправильное расчесывание также негативно сказываются на&nbsp;здоровье волосяного покрова. Со&nbsp;временем стержень истончается, легко обламывается, потом вовсе перестает расти.

            h2 Симптомы
            h3 Преждевременное иссечение волос
            p При тракционной алопеции МКБ 10&nbsp;волосистая часть головы&nbsp;&mdash; единственное место, где проявляется болезнь. Проплешины расположены преимущественно в&nbsp;лобной и&nbsp;височно-затылочной зонах. Но&nbsp;могут протянуться вдоль всей линии роста волос.
            +figure({src:'/assets/images/articles/traktsionnaya-alopeciya/alopecia-3', caption:'При плетении двух тугих косичек, хвостов или пучков наблюдается расширение пробора'})

            h3 Утонченность и&nbsp;ломкость волос
            p От&nbsp;регулярного воздействия агрессивных факторов, таких как химические составы и&nbsp;высокая температура, страдают волосяные луковицы, что сказывается на&nbsp;внешнем виде волос. Они истончаются, тускнеют и&nbsp;легко ломаются. На&nbsp;следующем этапе стержни начинают выпадать.

            h3 Воспаление и&nbsp;зуд кожи головы
            p В&nbsp;начале болезни вокруг поврежденных луковиц образуются очаги эритемы как реакция на&nbsp;раздражитель. Эритема выражается покраснением кожи и&nbsp;ощутимой болезненностью. Если травмирующее действие раздражителя не&nbsp;устранить, появляются желтоватые чешуйки, которые нарушают обменные процессы в&nbsp;фолликуле, вызывают зуд. В&nbsp;результате волосяной стержень ослабевает, а&nbsp;затем выпадает.
            p На&nbsp;ранней стадии тракционного облысения отмечается:
            ul.list-marked 
              li истончение волос;
              li функционирующие сальные железы;
              li достаточное количество телогеновых фолликулов;
              li увеличение количества волос в&nbsp;стадии телогена и&nbsp;катогена.
            p На&nbsp;поздних стадиях:
            ul.list-marked 
              li развиваются пушковые волоски;
              li уменьшается количество терминальных волос и&nbsp;сальных желез;
              li возможно появление небольшого воспаления.

            h2 Диагностика
            p Раннее выявление&nbsp;ТА играет решающее значение в&nbsp;благоприятном исходе болезни. Ведь рубцевание возникает на&nbsp;более позднем этапе в&nbsp;результате необратимого повреждения фолликула из-за повторяющегося травмирующего действия. При подозрении на&nbsp;тракционную алопецию врач проводит клинический осмотр и&nbsp;собирает подробную информацию о&nbsp;ежедневном уходе, используемых средствах, предпочитаемых прическах.

            h3 Трихоскопия 	
            p Метод активно используется для точного диагностирования болезней волос. Исследование проводят ручным дерматоскопом или компьютерно-диагностическим комплексом. К&nbsp;трихоскопическим признакам относятся: уменьшение плотности волосяных стержней, пушковые волоски, желтые точки на&nbsp;коже головы (пустые фолликулы). 
            +grid({ paddingy:true, parLike:true })
              +grid__item({ m:8 })
                +figure({src:'/assets/images/articles/traktsionnaya-alopeciya/alopecia-4', caption:'Редкие истонченные стержни и пустые фолликулы - трихоскопические признаки ТА'})

            h3 Биопсия кожи головы
            p Гистологическое исследование кожи уточняет диагноз, устанавливает количество поврежденных или уменьшенных луковиц, их&nbsp;сохранность. Биопсия помогает исключить или подтвердить трихотилломанию&nbsp;&mdash; неконтролируемое выдергивание волос.
            +figure({src:'/assets/images/articles/traktsionnaya-alopeciya/alopecia-5', caption:'Биопсия кожи'})

            h3 Анализ крови
            p Полная диагностика проводится, чтобы исключить грибковое или инфекционное поражение, определить гормональный статус.

            h2 Лечение тракционной алопеции
            p Повышение уровня информированности о&nbsp;вреде тугого плетения причесок, помогает предотвратить или остановить разрушающий фолликулы процесс на&nbsp;начальном этапе. Когда количество волосяных луковиц начало уменьшаться, к&nbsp;лечению подходят комплексно, используя консервативную и&nbsp;медикаментозную терапию, хирургическое вмешательство.

            h3 Медикаментозное лечение
            p Первое, что делают при&nbsp;ТА, устраняют травматическую причину тракционного облысения&nbsp;&mdash; тугие головные уборы и&nbsp;методы укладки. В&nbsp;начале болезни возможно постепенное восстановление волосяной луковицы и&nbsp;возобновление роста стержня.

            h4 Местные препараты
            p Для стимуляции фолликулов применяют наружные средства:
            ul.list-marked 
              li лечебные шампуни, маски и&nbsp;бальзамы;
              li крема и&nbsp;мази местнораздражающего действия;
              li ампулы с&nbsp;лечебным составом.
            p К&nbsp;действенным местным препаратам относится Миноксидил, который показал хорошие результаты при лечении разных типов алопеции, включая тракционную. Средство наносится на&nbsp;кожу головы. За&nbsp;счет расширения сосудов и&nbsp;прилива крови к&nbsp;фолликулам, препарат стимулирует рост здоровых стержней.

            h4 Системные препараты
            p Пациентам назначают антибиотики и&nbsp;противогрибковые препараты, если присоединилась инфекция. При ТА&nbsp;также показан прием витаминных комплексов, подобранных врачом по&nbsp;результатам анализов на&nbsp;выявление дефицитов питательных веществ. Для укрепления луковиц используют местные и&nbsp;внутриочаговые стероиды.

            h3 Физиотерапевтические процедуры
            h4 Дарсонвализация
            p Аппарат дарсонваль работает на&nbsp;основе слабого импульсного тока. В&nbsp;результате воздействия токов на&nbsp;кожу головы в&nbsp;клетках активизируются обменные процессы, фолликулы насыщаются кислородом, что положительно сказывается на&nbsp;их&nbsp;здоровье.
            +figure({src:'/assets/images/articles/traktsionnaya-alopeciya/alopecia-6', caption:'Аппарат дарсонваль'})

            h4 Лазерная терапия
            p Энергия лазерного света стимулирует работу фолликулов и&nbsp;рост новых волос. Это безболезненный и&nbsp;действенный метод профилактики и&nbsp;лечения ТА. Курс лазерной терапии занимает 9-2&nbsp;месяцев, первые результаты заметны не&nbsp;ранее, чем через 3&nbsp;месяца лечения.

            h3 Хирургическое лечение 	
            h4 Пересадка волос 	
            p Часто пациенты с&nbsp;тракционной алопецией обращаются за&nbsp;помощью, когда в&nbsp;фолликулах уже запущены необратимые процессы. Поэтому только трансплантация способна восстановить густоту волосяного покрова. Это хирургическая процедура по&nbsp;перемещению здоровых волосяных луковиц в&nbsp;безволосую зону. У&nbsp;процедуры долгосрочные результаты. Пряди, выросшие после операции, можно стричь и&nbsp;укладывать.

            h3 Альтернативные методы лечения
            h4 Массаж головы
            p Массажные движения стимулируют приток крови к&nbsp;фолликулам, что положительно сказывается на&nbsp;их&nbsp;функционировании. На&nbsp;первой стадии тракционной алопеции регулярный массаж способствует загущению волосяного покрова.

            h4 Народные средства
            p Не&nbsp;стоит пренебрегать народными советами по&nbsp;лечению тракционной алопеции. Это дополнение, а&nbsp;не&nbsp;замена базовой терапии, назначенной врачом. Популярна медово-масляная смесь, которая повышает жизнеспособность фолликулов. Для этого нерафинированное растительное масло перемешивается с&nbsp;медом и&nbsp;наносится на&nbsp;проплешины, смывается через 15-20&nbsp;минут. При аллергии на&nbsp;мед используют спиртовую настойку с&nbsp;перцем, стимулирующую прилив крови к&nbsp;волосяным луковицам, и&nbsp;улучшающую их&nbsp;питание.

            h2 Профилактика
            p Исключение травматического воздействия&nbsp;&mdash; самая действенная профилактика тракционного облысения.

            h3 Правильный уход
            ul.list-marked 
              li Не&nbsp;сушите и&nbsp;не&nbsp;расчесывайте мокрые волосы;
              li Для ухода и&nbsp;укладки используйте профессиональные и&nbsp;безопасные средства;
              li После тугой прически помассируйте кожу головы, чтобы возобновить циркуляцию крови;
              li Заведите привычку раз в&nbsp;неделю втирать в&nbsp;кожу головы репейное масло перед мытьем.

            h3 Избегание травматических факторов
            ul.list-marked 
              li Для предотвращения механического травмирования чередуйте тугие прически и&nbsp;свободную укладку;
              li Отдайте предпочтение мягким резинкам и&nbsp;лентам для фиксации прически;
              li Минимизируйте использование или откажитесь от&nbsp;термоприборов и&nbsp;агрессивных средств для укладки;
              li Не&nbsp;спите в&nbsp;бигуди;
              li Сократите время ношения наращенных прядей, делайте перерывы;
              li Не&nbsp;ходите без головного убора зимой и&nbsp;в&nbsp;знойный день.

            h3 Регулярные осмотры у&nbsp;трихолога
            p Если волосы выпадают больше обычного, обращайтесь к&nbsp;трихологу для выяснения причин, исключения тракционной алопеции. 

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Болеют&nbsp;ли дети ТА?</h3>')
              p Да, у&nbsp;детей, которым каждый день делают тугую прическу высокий риск&nbsp;ТА, например, когда девочка занимается гимнастикой.
            +dropDown('<h3>Станет&nbsp;ли густой прическа как до&nbsp;болезни?</h3>')
              p Только если обратиться к&nbsp;врачу на&nbsp;начальном этапе, когда жизнеспособность фолликулов сохранена.
            +dropDown('<h3>Можно самостоятельно понять, что это тракционная алопеция?</h3>')
              p Да, если появились проплешины на&nbsp;фоне хронического натяжения.

block styles
  +style('inner')
