extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Выпадение волос во время беременности
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Ежедневное выпадение волос&nbsp;&mdash; нормальное явление. Люди теряют волосы с&nbsp;постоянной скоростью, особенно при расчесывании. В&nbsp;цикле роста в&nbsp;любой момент времени до&nbsp;90&nbsp;% волосяного покрова находится в&nbsp;стадии роста, а&nbsp;остальные 10&nbsp;%&nbsp;&mdash; в&nbsp;состоянии покоя. У&nbsp;большинства беременных женщин волосы становятся гуще, приобретают здоровый блеск, а&nbsp;после родов выпадают. Но&nbsp;в&nbsp;ряде случаев во&nbsp;время беременности прическа женщины начинает активно редеть. Почему при беременности выпадают волосы и&nbsp;что с&nbsp;этим делать рассмотрим ниже.
            +figure({src:'/assets/images/articles/vyipadenie-volos-pri-beremennosti/beremennost-1', caption:'Беременные подвержены выпадению волос'})

            h2 Причины выпадения волос во&nbsp;время беременности
            h3 Гормональные изменения
            p Из-за повышенного уровня эстрогена во&nbsp;время беременности продлевается фаза роста волосяных стержней. Эстроген стимулирует фолликулы, в&nbsp;результате чего пряди становятся густыми и&nbsp;блестящими.
            p Однако гормональный дисбаланс или снижение уровня эстрогена дают противоположный эффект&nbsp;&mdash; волосы истончаются и&nbsp;выпадают больше обычного. А&nbsp;прогестерон, который в&nbsp;большом количестве выделяется во&nbsp;время беременности, провоцирует сухость и&nbsp;ломкость стержней, что вызывает беспокойство. Интенсивное выпадение волос при беременности замечает большинство беременных женщин. Важно помнить, что негативные изменения нормальны и&nbsp;чаще носят временный характер. Рост волосяного покрова в&nbsp;большинстве случаев возобновляется после родов.
            +grid({ paddingy:true, parLike:true, justify: 'center' }) 
              +grid__item({ m:6, xs:12 })
                +figure({src:'/assets/images/articles/vyipadenie-volos-pri-beremennosti/beremennost-2-1', caption:''})
              +grid__item({ m:6, xs:12 })
                +figure({src:'/assets/images/articles/vyipadenie-volos-pri-beremennosti/beremennost-2-2', caption:''})
              +grid__item({ m:6, xs:12 })
                +figure({src:'/assets/images/articles/vyipadenie-volos-pri-beremennosti/beremennost-2-3', caption:'Состояние волосяного покрова в начале и в конце беременности'})
              
            p Хотя гормональные изменения&nbsp;&mdash; частая причина выпадения волос во&nbsp;время беременности, значимую роль играют и&nbsp;другие факторы, такие как генетика, дефицит питательных веществ или стресс.

            h3 Недостаток питательных веществ
            p Железодефицитная анемия&nbsp;&mdash; распространенное состояние во&nbsp;время беременности, негативно влияющее на&nbsp;здоровье волосяных стержней. Недостаточный уровень железа ограничивает количество кислорода, попадающего в&nbsp;волосяные фолликулы, что приводит к&nbsp;истончению и&nbsp;чрезмерному выпадению волос. Беременным женщинам важно следить за&nbsp;уровнем железа&nbsp;и, при необходимости, обращаться к&nbsp;врачу.
            +figure({src:'/assets/images/articles/vyipadenie-volos-pri-beremennosti/beremennost-3', caption:'Полноценное питание во время беременности залог здоровья не только для ребенка, но и для мамы'})

            h3 Болезни щитовидной железы
            p Гипотиреоз и&nbsp;другие патологии, характеризующееся недостаточной активностью щитовидной железы, также способствуют облысению при беременности. Щитовидная железа играет решающую роль в&nbsp;регулировании обмена веществ в&nbsp;организме и&nbsp;выработке гормонов, поэтому любой дисбаланс сказывается на&nbsp;состоянии волосяного покрова. Женщинам, испытывающим усталость, увеличение веса или депрессию, рекомендовано обратиться к&nbsp;врачу для оценки функциональности щитовидной железы.
            +figure({src:'/assets/images/articles/vyipadenie-volos-pri-beremennosti/beremennost-4', caption:'Симптомы гипотиреоза у женщин'})

            p Анемия, гипотиреоз негативно влияют на&nbsp;функциональность фолликулов, и&nbsp;хотя состояния поддаются лечению, требуется консультация врача для постановки правильного диагноза и&nbsp;составления персонального плана лечения. Устранив негативные факторы, женщины берут под контроль состояние волосяного покрова, способствуя нормализации цикла роста.

            h3 Кожные болезни
            p Беременные женщины часто сталкиваются с&nbsp;кожными проявлениями аллергии и&nbsp;другими патологиями, поражающими кожу головы. Что способствует истончению и&nbsp;выпадению волос.

            h3 Стресс и&nbsp;психологические факторы
            p Выпадение волос при беременности на&nbsp;ранних сроках часто связано со&nbsp;стрессовым состоянием будущей мамы и&nbsp;беспокойством за&nbsp;здоровье малыша. При стрессе запускается реакция гипоталамо-гипофизарной системы, воздействующей на&nbsp;надпочечники, которые начинают активно вырабатывать кортизол, адреналин&nbsp;&mdash; гормоны стресса. Поэтому волосы выпадают при беременности во&nbsp;2&nbsp;триместре из-за телогеновой реактивной алопеции (через 2-3 месяца после стрессовой ситуации). Естественное лечение состояния&nbsp;&mdash; снижения уровня стресса и&nbsp;тревожности.

            h2 Методы лечения
            p В&nbsp;большинстве случаев алопеция при беременности временная, проходящая самостоятельно, когда гормональный дисбаланс стабилизируется после родов. Если наблюдается чрезмерное облысение, которое сохраняется после родов, требуется консультация врача для правильной оценки и&nbsp;рекомендаций.
            p Ряд тестов, обследований и&nbsp;анализов выявит провоцирующие алопецию факторы для составления действенной терапии. Гормональный дисбаланс или дефицит питательных веществ устраняют с&nbsp;помощью лекарств и&nbsp;добавок для регулирования уровня гормонов или устранения дефицитов.

            h3 Питание
            p Сбалансированная диета, богатая питательными веществами, важна для здорового роста волос. Продукты с&nbsp;высоким содержанием белка и&nbsp;железа предотвращают облысение во&nbsp;время беременности. Хорошие источники белка включают нежирное мясо, рыбу, яйца и&nbsp;бобовые. Продукты, богатые железом,&nbsp;&mdash; это листовые зеленые овощи, нежирное красное мясо и&nbsp;обогащенные крупы.

            h3 Бережный уход
            p Отказ от&nbsp;тугих причесок, стягивающих волосы, снижает риск ломкости и&nbsp;поредения прически у&nbsp;беременных женщин. Сведение к&nbsp;минимуму использования инструментов для термоукладки также снижает травматизацию волосяного стержня. Для мытья головы выбирают щадящие составы без сульфатов. Голову моют регулярно, чтобы удалить загрязнения, закупоривающие доступ кислорода к&nbsp;волосяным фолликулам. Чрезмерное мытье пересушивает локоны.
            p Для расчесывания используют расческу с&nbsp;широкими зубьями или щетку с&nbsp;мягкой щетиной, чтобы исключить ломкость. Избегают резких и&nbsp;энергичных движений, приводящих к&nbsp;хрупкости стержней.

            h3 Масляный массаж
            p Массаж кожи головы всегда приносит пользу. Массаж с&nbsp;натуральными маслами, такими как кокосовое, миндальное и&nbsp;другими, улучшает кровообращение, укрепляет волосяную луковицу. Массажные процедуры два раза в&nbsp;неделю сохраняют кожу головы и&nbsp;волосы здоровыми и&nbsp;сильными. Также массаж с&nbsp;маслом снимает стресс, расслабляет женщину в&nbsp;положении. 
            +figure({src:'/assets/images/articles/vyipadenie-volos-pri-beremennosti/beremennost-5', caption:'Массаж головы маслом'})

            h3 Избегайте стрессов
            p Стресс&nbsp;&mdash; частая причина облысения беременных, для которых естественно волноваться по&nbsp;поводу родов и&nbsp;возможных негативных ситуаций. Но&nbsp;во&nbsp;время беременности важно избегать стресса, сосредотачивать внимание на&nbsp;хорошем. Больше гулять, дышать, расслабляться, попробовать медитацию, чтобы освободиться от&nbsp;беспокойства и&nbsp;напряжения.
            +figure({src:'/assets/images/articles/vyipadenie-volos-pri-beremennosti/beremennost-6', caption:'Медитация помогает снять стресс'})

            h2 Решение эстетических проблем при алопеции
            p Сегодня общество с&nbsp;пониманием относится ко&nbsp;многим вещам, но&nbsp;женщины с&nbsp;признаками облысения вызывают повышенное внимание. Что усложняет жизнь и&nbsp;психологическое состояние будущих мам. Поэтому они прибегают к&nbsp;разным ухищрениям, чтобы скрыть истончение прядей или проплешины.
            p Система замещения волос дает мгновенный результат без таблеток и&nbsp;трансплантации. Изготавливается из&nbsp;натуральных прядей и&nbsp;медицинского силикона, поэтому полностью безопасна для здоровья мамы и&nbsp;будущего малыша. При близком рассмотрении система неотличима от&nbsp;собственных волос. С&nbsp;постижерным изделием моются, посещают бассейн, занимаются спортом и&nbsp;спят&nbsp;&mdash; система всегда остается на&nbsp;месте благодаря надежному клеевому креплению. При установке не&nbsp;сбривают волосы, поэтому это подходящий выбор при выпадении волос во&nbsp;время беременности. Изделия практически не&nbsp;ощущается на&nbsp;голове.
            
            include /blocks/article-block/article-block

            h2 Центр эстетики волос &laquo;Гамма&raquo;
            ul.list-marked 
              li Предоставляем стандартные и&nbsp;изготовленные на&nbsp;заказ системы замещения;
              li Стрижка, окрашивание, коррекция&nbsp;&mdash; предлагаем комплексный сервис;
              li Гарантируем персональный подход и&nbsp;комфортное пребывание в&nbsp;центре;	
              li Не&nbsp;разглашаем полученную информацию, не&nbsp;раскрываем личность клиентов третьим лицам.
            
            include /blocks/article-form/article-form

            h2 Популярные мифы и&nbsp;заблуждения
            h3 Нельзя красить волосы
            p Хорошая новость&nbsp;&mdash; процедура окрашивания считается безопасной для беременных. Краситель не&nbsp;проникает в&nbsp;кожу головы и&nbsp;не&nbsp;попадает в&nbsp;кровоток в&nbsp;больших количествах, что сводит к&nbsp;минимуму потенциальные риски. Индустрия красоты предлагает много щадящих методов окрашивания, не&nbsp;затрагивающих корни, красящих отдельные пряди.
            p Меры предосторожности при выборе процедур, особенно в&nbsp;первом триместре.
            ul.list-marked 
              li Избегайте химического воздействия в&nbsp;первом триместре&nbsp;&mdash; критическим периоде развития плода;
              li При нанесении краски для волос или другой химической обработки важно защитить руки перчатками; 
              li Процедура проводится в&nbsp;проветриваемом помещении, чтобы свести к&nbsp;минимуму воздействие токсичных паров;
              li Отказаться от&nbsp;ламинирования, окрашивания, если выпадают волосы при беременности в&nbsp;1&nbsp;триместре.

            h3 Нельзя стричься
            p Современная медицина не&nbsp;выявила взаимосвязи между подстриганием волос матери и&nbsp;внутриутробным развитием плода. Будущая мать может без ограничений стричься на&nbsp;протяжении всей беременности.

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Когда перестают редеть волосы у&nbsp;беременных женщин?</h3>')
              p Выпадение или истончение прядей во&nbsp;время беременности встречается реже, чем после родов. Это нормальная реакция организма, которая не&nbsp;считается поводом для беспокойства. Через 6-12 месяцев после родов волосяной объем восстанавливается.
            +dropDown('<h3>Беременным можно использовать средства для укладки?</h3>')
              p При выборе укладочных средств желательно аэрозоли заменить гелем или муссом, избегать парабены и&nbsp;фталаты в&nbsp;составе.
            +dropDown('<h3>Что делать, если волосы выпадают при беременности?</h3>')
              p Чаще состояние не&nbsp;требует лечения, так как носит временный характер. Если симптомы сохраняются после родов, нужна консультация врача.
            +dropDown('<h3>Какие витамины принимать, когда при беременности выпадают сильно волосы?</h3>')
              p Витамины Е&nbsp;и&nbsp;В в&nbsp;составе добавок и&nbsp;витаминных комплексов положительно влияют на&nbsp;здоровье волосяного покрова, кожи и&nbsp;ногтей.

            +dropDown('<h2>Источники</h2>', { h2: true })    
              ul.list-marked 
                li Телогеновое выпадение волос при беременности/ Зубаревская О.А.;
                li Облысение. Причины алопеции. Лечение, восстановление и&nbsp;уход за&nbsp;разными типами волос. Супердиета для шикарной шевелюры/ Пигулевская&nbsp;И.&nbsp;С.;
                li Как поддерживать красоту и&nbsp;здоровье волос во&nbsp;время беременности/ Климов&nbsp;Н.

block styles
  +style('inner')
