extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Выпадение волос после родов
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p В&nbsp;50-70% случаев у&nbsp;женщин наблюдается выпадение волос после родов. Если физиологическая норма составляет сотню волос, выпадающую ежедневно, то&nbsp;в&nbsp;этот период количество выпавших увеличивается в&nbsp;несколько раз. Из&nbsp;статьи узнаем основные причины, возможности остановить нежелательные явления и&nbsp;другие рекомендации, позволяющие вернуть былую густоту. 

            h2 Важная вводная информация
            p Для начала стоит разобраться в&nbsp;процессах родов. Во&nbsp;время них организм испытывает значительный стресс. Даже самое бережное и&nbsp;заботливое окружение не&nbsp;защитит от&nbsp;послеродовых последствий, которые переживают мамы. 
            +figure({src:'/assets/images/articles/vypadayut-volosy-posle-rodov/posle-rodov-2', caption:'Возможные проблемы у женщины после родов'})

            p Рассмотрим основные изменения, с&nbsp;которыми сталкиваются только что родившие женщины:
            ul.list-marked 
              li Кожа. Утрачивается эластичность, возникает сухость.
              li Грудь. Увеличивается в&nbsp;несколько раз, поскольку переполнена молоком. Возможны растяжки. 
              li Эмоциональное состояние. У&nbsp;некоторых наблюдается снижение эмоционального фона, замедленность реакций, определенная часть женщин сталкивается с&nbsp;послеродовой депрессией.
              li Опорно-двигательный аппарат. Возникают болезненные ощущения, поскольку мышцы, кости и&nbsp;суставы восстанавливают исходное положение.
              li Менструальный цикл. Восстанавливается, как только женщина сворачивает грудное кормление или несколько раньше. Если мать не&nbsp;кормящая, то&nbsp;менструальный цикл налаживается через два-три месяца.
              li Выделения из&nbsp;половых органов. Порядка полутора месяцев носят кровянистый характер, выделяются обильно, потом оттенок и&nbsp;количество восстанавливается до&nbsp;нормы.
              li Влагалище. Теряется мышечная упругость, которая восстанавливается спустя два месяца.
              li Живот. На&nbsp;коже появляются растяжки, в&nbsp;некоторых случаях в&nbsp;целом растягивается этот участок, когда возникает диастаз.
              li Волосы. Теряют блеск, приобретают ломкость, у&nbsp;некоторых седеют, выпадают.

            h2 Причины выпадения волос после родов
            p Выпадение волос сильно связано со&nbsp;сменой гормонального фона. Так, алопеция наступает не&nbsp;только после родов: начинают выпадать волосы от&nbsp;противозачаточных таблеток, которые отменили. 
            p Фолликулы особенно чувствительны к&nbsp;этим веществам: резкое колебание гормонов в&nbsp;организме сразу&nbsp;же негативно сказывается на&nbsp;состоянии шевелюры. Потому и&nbsp;выпадают волосы после отмены КОК, родов и&nbsp;других состояний, связанных с&nbsp;гормональной перестройкой организма. 
            p Но&nbsp;для начала рассмотрим изменения, наступающие во&nbsp;время беременности.

            h3 Состояние волос во&nbsp;время беременности 
            p Уже во&nbsp;время беременности женский организм переполняется прогестероном, эстрогенами, которые оказывают следующие воздействия на&nbsp;волосы:
            ul.list-marked 
              li Волоски покрываются обильным количеством кератиновых чешуек, за&nbsp;счет чего уплотняются, утяжеляются, утолщаются, приобретают крепость. 
              li Сальные железы функционируют активнее, улучшают питание волос, придают им&nbsp;блеск, гладкость, но&nbsp;пряди плохо сохраняют форму.
              li Фолликулы приобретают максимальную силу, потому дольше удерживают волос.
              li Наблюдается активный рост новых волосков.
              li Возможно изменение направления роста волос, поскольку снижается расстояние между стержнями: женщина испытывает трудности с&nbsp;укладкой.
              li Кожа головы усиленно кровоснабжается, фолликулы активнее насыщаются питательными компонентами, их&nbsp;клетки быстрее обновляются, в&nbsp;результате чего качество волос существенно улучшается.
            +figure({src:'/assets/images/articles/vypadayut-volosy-posle-rodov/posle-rodov-3', caption:'Волосы на 8 месяце беременности (слева) и после родов (справа)'})
            p В&nbsp;целом&nbsp;же поддерживать хорошее состояние шевелюры позволяет минимизация стрессов, сбалансированный рацион, достаточное количество сна и&nbsp;отдыха: учитывая, что беременная придерживается всех этих рекомендаций, то&nbsp;поставленная задача успешно выполняется.

            h3 Состояние волос после родов
            p Сразу после родов, и&nbsp;в&nbsp;течение первых месяцев, гормональный фон кардинально перестраивается, потому женщина сталкивается с&nbsp;первыми признаками алопеции после родов.
            p Постепенно происходит следующее:
            ul.list-marked 
              li Кератиновые чешуйки вновь образуются в&nbsp;пределах физиологической нормы, что создает визуальное восприятие истончения волос.
              li Функционирование сальных желез замедляется, в&nbsp;результате чего возникает зуд, сухость кожи головы, образуется перхоть, повышается ломкость прядей.
              li Спустя 3-4&nbsp;месяца, от&nbsp;момента появления ребенка на&nbsp;свет, наступает активное послеродовое выпадение волос.
              li Явление объяснимо обратимостью вышеупомянутых процессов: если во&nbsp;время беременности волосяные луковицы дольше удерживали стержни, которые прекратили свой рост, то&nbsp;после родов эти процессы прекращаются. Визуально женщина замечает утрату больших объемов волос, что выглядит устрашающе, но&nbsp;на&nbsp;самом деле процесс означает, что фолликулы восстанавливают естественный режим работы. 

            h3 Другие причины выпадения
            p Выпадение волос после родов связано со&nbsp;следующими факторами:
            ul.list-marked 
              li Анемия. Вынашивая ребенка, порядка&nbsp;60% беременных переживают период падения уровня гемоглобина в&nbsp;крови. Речь о&nbsp;белке, который отвечает за&nbsp;поступление кислорода к&nbsp;клеткам организма. Недостаток кислорода влияет и&nbsp;на&nbsp;состояние волосяных луковиц: они впадают в&nbsp;фазу покоя, в&nbsp;результате чего перестают удерживать волоски. Нехватка железа осложняется и&nbsp;процессом родов, связанных с&nbsp;обильными кровопотерями, что только усугубляет выпадение.
              li 
                p Дефицит питательных веществ. После родов выпадают волосы при грудном вскармливании по&nbsp;причине диеты, которую назначают врачи. Учитывая строгость диетического питания, рацион обедняется: женщина недополучает витамины, минералы, полиненасыщенные жирные кислоты и&nbsp;белки. В&nbsp;то&nbsp;же время организм перестраивает приоритетность задач: на&nbsp;первом месте по&nbsp;важности оказывается насыщение молока максимумом питательных веществ. В&nbsp;результате при&nbsp;ГВ выпадают волосы потому, что исчерпываются организменные ресурсы: веществ для полноценного питания фолликулов не&nbsp;остается. Потому так важно принимать витамины для кормящих мам от&nbsp;выпадения волос. 
                +figure({src:'/assets/images/articles/vypadayut-volosy-posle-rodov/posle-rodov-4', caption:'Норма потребления витаминов и микроэлементов для кормящей мамы'})

              li Негативное воздействие лекарств и&nbsp;наркоза. Если роды не&nbsp;происходят естественным путем, то&nbsp;проводят кесарево сечение. В&nbsp;некоторых случаях беременную вводят в&nbsp;состояние общего наркоза. В&nbsp;таком случае женщина переживает снижение артериального давления, пульса, сталкивается с&nbsp;замедлением кровообращения. В&nbsp;результате волосяные луковицы недополучают питательные вещества, кислород, а&nbsp;наоборот впитывают продукты распада лекарственных и&nbsp;наркотических средств, что травмирует&nbsp;их.
              li Повышенная утомляемость. Мамы сталкиваются с&nbsp;хроническим недосыпом, нехваткой отдыха, грузом бытовых проблем. В&nbsp;результате организм исчерпывает резервы, а&nbsp;времени на&nbsp;их&nbsp;восполнение недостаточно, из-за чего нарушается процесс формирования здоровых волос.
              li Периодические стрессы. Рождение ребенка погружает маму в&nbsp;стрессовые состояния значительной силы: полностью меняется ритм, уклад жизни, перестраивается режим, добавляются переживания за&nbsp;младенца, а&nbsp;также изменение собственного тела. Гормоны стресса, которые активно вырабатываются в&nbsp;этот период, замедляют функционирование волосяных луковиц, в&nbsp;результате чего женщина сталкивается с&nbsp;облысением после родов.
              li Нехватка времени на&nbsp;уход за&nbsp;собой. Дефицит времени приводит к&nbsp;существенному травмированию шевелюры. Так, женщина нарушает кровоснабжение корней, стягивая волосы в&nbsp;тугой хвост, недостаточно высушивает голову перед сном, расчесывает влажные пряди, не&nbsp;успевает или забывает использовать кондиционер, маску и&nbsp;другие ухаживающие средства. В&nbsp;некоторых случаях женщины сталкиваются с&nbsp;нехваткой бюджета на&nbsp;покупку прежней профессиональной серии продуктов для волос, а&nbsp;иногда покупают не&nbsp;ту&nbsp;косметику просто по&nbsp;невнимательности.
            p Отдельного внимания заслуживает вопрос выпадения волос во&nbsp;время грудного вскармливания. У&nbsp;кормящей мамы выпадают волосы крайне редко: на&nbsp;этом этапе гормональный фон выравнивается, а&nbsp;состояние шевелюры возвращается к&nbsp;норме. Но&nbsp;если в&nbsp;организме дефицит питательных веществ, и&nbsp;женщина не&nbsp;принимает витамины от&nbsp;выпадения волос при&nbsp;ГВ, то&nbsp;интенсивность облысения усилится. 

            h2 Как быстрее восстановить волосы после родов?
            p Чтобы справиться с&nbsp;выпадением, важен комплексный подход.

            h3 Снимите нагрузку с&nbsp;фолликулов
            p Для начала фолликулы избавляют от&nbsp;перегрузок, а&nbsp;потому выполняют стрижку: учитывая, что волосы в&nbsp;этот период непослушные, лучше остановить выбор на&nbsp;небрежных и&nbsp;разноуровневых стрижках, которые подберет профессиональный мастер. 
            p Дополнительным бонусом такой прически станет экономия времени на&nbsp;укладку, поскольку от&nbsp;женщины не&nbsp;потребуется слишком много времени на&nbsp;поддержание стильного вида.

            h3 Смените уход
            p Отдайте предпочтение ухаживающей продукции, которая не&nbsp;содержит сульфаты, парабены, силиконы. Обычно это косметика профессиональных серий, в&nbsp;которой преобладают органические компоненты, представленные стимуляторами роста, растительными комплексами, гидролизированным кератином. 
            p Шампунь, кондиционер или бальзам должны быть из&nbsp;категории восстанавливающих, чтобы максимально позаботиться об&nbsp;ослабленных и&nbsp;поврежденных прядях.
            p Хотя&nbsp;бы в&nbsp;раз в&nbsp;неделю применяйте маски с&nbsp;питательным, увлажняющим, реконструирующим воздействием. Важно, чтобы в&nbsp;составе средств присутствовали витамины, целебные масла. 
            p В&nbsp;интернете можно найти рецепты и&nbsp;домашних масок, но, кроме того, что они требуют временных затрат на&nbsp;приготовление, далеко не&nbsp;всегда удается получить комфортный в&nbsp;использовании и&nbsp;смывании продукт, потому лучше отдать предпочтение готовой ухаживающей косметике с&nbsp;выверенными формулами.
            p Раз в&nbsp;неделю проводите пилинг кожи головы. Такая продукция максимально очищает от&nbsp;загрязнений, способствует эффективному отшелушиванию отмерших клеток эпидермиса, нормализует питание тканей, а&nbsp;потому питательные компоненты из&nbsp;косметики лучше всасываются. 
            p В&nbsp;сети с&nbsp;этой целью рекомендуют применять морскую либо поваренную соль, но&nbsp;такой продукт может травмировать кожу головы и&nbsp;волосяные луковицы, потому лучше покупать готовые скрабы от&nbsp;проверенных производителей.

            h3 Делайте массаж
            p Эксперты рекомендуют проводить массаж воротниковой зоны и&nbsp;волосистой части головы: повторять процедуру советуют дважды в&nbsp;день, обычно в&nbsp;утренние и&nbsp;вечерние часы.
            +grid({ paddingy:true, parLike:true })
              +grid__item({ m:9 })
                +figure({src:'/assets/images/articles/vypadayut-volosy-posle-rodov/posle-rodov-7', caption:'Массаж головы для роста волос'})
            p Для начала шевелюру бережно расчесывают в&nbsp;разных направлениях в&nbsp;течение 5-10&nbsp;минут. Потом выполняют массажные движения подушечками пальцев. В&nbsp;результате достигают активизации кровообращения, что позволяет стимулировать работу волосяных луковиц.
            p В&nbsp;некоторых случаях массаж проводят с&nbsp;помощью специализированных аппликаторов, массажеров, массажных щеток электрического типа.

            h3 Практикуйте бережный уход
            p Для ухода за&nbsp;волосами выберите расческу, которая будет бережно распутывать пряди, не&nbsp;травмировать кожу головы и&nbsp;кератиновые чешуйки. С&nbsp;этой целью подойдет расческа-тизер, гребень, изготовленный из&nbsp;дерева, щетки с&nbsp;натуральной щетиной. 
            p Мойте голову, следуя правилам: не&nbsp;трите пряди, не&nbsp;формируйте из&nbsp;них жгуты, в&nbsp;целом не&nbsp;выполняйте скручивающие движения. Влажные волосы нельзя расчесывать и&nbsp;заплетать в&nbsp;косички. От&nbsp;использования приборов с&nbsp;термическим воздействием отказываются.

            h3 Наладьте питание 
            p Рацион стоит максимально насытить витаминами, микроэлементами, полиненасыщенными жирами, белками. Принимать пищу нужно минимум три раза в&nbsp;день. Учитывая, как сложно подстроить режим питания под кормление малыша, эксперты рекомендуют маме питаться в&nbsp;максимально комфортное для этого время.
            p Полноценные блюда готовить не&nbsp;обязательно, учитывая дефицит времени. Лучше позаботиться, чтобы каждый прием пищи включал продукты, богатые полезными жирами и&nbsp;белками: сметану, ряженку, йогурт, сыр, творог. В&nbsp;отварном виде подойдет рыба, яйца, мясо. Обязательно нужно увеличить прием фруктов, овощей, ягод и&nbsp;зелени.
            p Количество питательных компонентов в&nbsp;рационе нужно сбалансировать. А&nbsp;именно добавить источники хлорофилла, клетчатки. В&nbsp;тарелке всегда должны присутствовать углеводистые, белковые продукты, а&nbsp;также овощи, включая листовые. На&nbsp;ночь рекомендуют выпивать кисломолочные напитки.
            p Нужно отказаться или максимально сократить количество сладкого, соленого, маринованного, жареного, копченого, газированных напитков. То&nbsp;есть отказаться от&nbsp;тех продуктов, которые негативно сказываются на&nbsp;обмене веществ, белковом обмене, в&nbsp;результате чего ухудшается состояние волос и&nbsp;кожи.

            h3 Придерживайтесь общих правил
            ul.list-marked 
              li Нормализуйте режим отдыха. Восстановление физиологического функционирования волосяных луковиц возможно после налаживания сна: он&nbsp;нормализует работу иммунной системы, обмен веществ, гормональный фон. С&nbsp;этой целью советуют по&nbsp;максимуму использовать и&nbsp;дневной сон малыша.
              li Делегируйте бытовые работы. Организм восстанавливается, как только снижается нагрузка, увеличивается продолжительность отдыха. Потому недавно родившая женщина не&nbsp;должна стесняться просить о&nbsp;помощи мужа, родителей, друзей.
              li Повышайте стрессоустойчивость. Не&nbsp;стоит накручивать себя из-за периодических простуд, колик малыша, поскольку большинство процессов нормализуется спустя время.

            h3 Система волос&nbsp;&mdash; быстрый и&nbsp;эффектный способ восстановления былой густоты
            p Мы, Центр эстетики волос &laquo;Гамма&raquo;, предлагаем услугу&nbsp;&mdash; безоперационное замещение волос. Наши специалисты установят изделие, состоящее из&nbsp;дышащей, тончайшей основы, имитирующей кожу головы, а&nbsp;также из&nbsp;натуральных волос. 
            p Прочно и&nbsp;надежно зафиксируют&nbsp;ее, создав максимально естественный результат: разницу с&nbsp;трудом заметит даже опытный парикмахер. В&nbsp;системе волос можно вести привычный образ жизни: заниматься спортом, плавать, посещать сауну, баню. 

            include /blocks/article-block/article-block

            h2 Преимущества Центра 
            ul.list-marked 
              li Более 10&nbsp;лет помогаем клиентам восстанавливать шевелюру без операции, дискомфортных ощущений и&nbsp;длительного ожидания.
              li Соблюдаем все правила конфиденциальности: не&nbsp;раскрываем личность наших клиентов, посетители Центра не&nbsp;пересекаются друг с&nbsp;другом, организован отдельный вход в&nbsp;кабинеты, не&nbsp;ведем фото- и&nbsp;видеосъемку без разрешения.
              li 100%-ная гарантия результата. Каждый клиент получает новую шевелюру, которая соответствует всем его пожеланиям по&nbsp;внешнему виду, длине, структуре, стилю.
              li Сервис от&nbsp;А до&nbsp;Я: не&nbsp;только подбираем модель системы, но&nbsp;надежно фиксируем, делаем стрижку, прическу, укладку, при необходимости ремонтируем изделия, меняем оттенок волос.
            
            include /blocks/article-form/article-form

            h2 Популярные вопросы 
            +dropDown('<h3>Через какой срок ситуация улучшится?</h3>')
              p Примерно через 8-12 месяцев перестанут выпадать волосы после родов. Длительность в&nbsp;каждом случае индивидуальная, зависит от&nbsp;количества негативных воздействий и&nbsp;степени травматичности факторов. 
              p Если признаки алопеции сохраняются дольше года, то&nbsp;это повышает риск облысения. В&nbsp;таком случае остановить выпадение волос после родов народные средства не&nbsp;помогут, надо обратиться к&nbsp;трихологу и&nbsp;другим профильным специалистам. 
            +dropDown('<h3>Чего не&nbsp;хватает в&nbsp;организме при выпадении волос?</h3>')
              p Цинка, магния, йода, кальция, биотина, кремния, никотиновой, фолиевой кислот, витаминов группы В, Е. 
            +dropDown('<h3>Какого гормона не&nbsp;хватает при выпадении?</h3>')
              p Снижение эстрогенов и&nbsp;повышение уровня андрогенов уменьшает длительность жизни волоса, приводит к&nbsp;выпадению.
            +dropDown('<h3>Какие витамины для волос разрешены при грудном вскармливании?</h3>')
              p Назначают витамины группы&nbsp;В, токоферол, кальциферол, фолиевую кислоту. 
            +dropDown('<h3>Когда остановится выпадение после ГВ? </h3>')
              p Спустя 6-12&nbsp;месяцев.

            +dropDown('<h2>Использованные источники</h2>', { h2: true })     
              ul.list-marked 
                li Алопеция в&nbsp;структуре клинических проявлений эндокринопатий: патогенетические и&nbsp;диагностические аспекты. Е.&nbsp;А.&nbsp;Праскурничий, С.&nbsp;А. Грачева, Н.&nbsp;В.&nbsp;Куган, О.&nbsp;М. Масленникова // Архив внутренней медицины.&nbsp;2021.
                li Витамин А&nbsp;и&nbsp;его роль в&nbsp;организме человека. Шамитова&nbsp;Е.&nbsp;Н., Серебрякова&nbsp;А.&nbsp;А., Жукова А.&nbsp;А. // Международный студенческий научный вестник.&nbsp;2019.
                li Динамика показателей трихоскопии и&nbsp;фототрихографии у&nbsp;больных нерубцовыми алопециями на&nbsp;фоне комплексного лечения. А.&nbsp;А.&nbsp;Кабанов, А.&nbsp;Ю. Галлямова, О.&nbsp;А.&nbsp;Селезнева // Лечащий врач.&nbsp;2016.
                li Стратегия и&nbsp;тактика лечения диффузного поредения волос. А.&nbsp;Ю.&nbsp;Галлямова // Лечащий врач.&nbsp;2012.
                li Beneficial Effects of&nbsp;a&nbsp;Sulfur-Containing Supplement on&nbsp;Hair and Nail Condition A&nbsp;prospective, double-blind study in&nbsp;middle-aged women. Neelam Muizzuddin // Natural Medicine Journal.&nbsp;2019.

block styles
  +style('inner')
