extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Почему после наркоза выпадают волосы и&nbsp;что делать?
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Выпадение волос после наркоза&nbsp;&mdash; это облысение, случившееся как побочный эффект от&nbsp;препаратов, использованных во&nbsp;время общей анестезии.
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-narkoza/narkoz-1', caption:'Наркоз (ообезболивание, общая анестезия) — временное бессознательное состояние'})

            h2 Основные причины
            p Выпадение волос после операции под общим наркозом возникает по&nbsp;ряду следующих причин:
            ul.list-marked 
              li Снижение уровня иммунного ответа. Организм затрачивает все силы на&nbsp;восстановление после хирургического вмешательства, потому важные ресурсы задействуются именно с&nbsp;этой целью, в&nbsp;то&nbsp;время как на&nbsp;поддержание качества волос сил не&nbsp;остается. Если в&nbsp;физиологической норме человек терял до&nbsp;100 волос каждый день, то&nbsp;после операции сталкивается с&nbsp;алопецией, наблюдая, как определенные участки на&nbsp;голове становятся безволосыми, а&nbsp;на&nbsp;месте выпавших не&nbsp;спешат отрастать новые. 
              li Низкое артериальное давление, связанное с&nbsp;кровопотерей. Снижение давления замедляет циркуляцию крови, в&nbsp;результате волосяные луковицы начинают недополучать питательные вещества, поддерживающие их&nbsp;жизнеспособность. Например, наблюдается острая нехватка витаминов. Перераспределение питательных веществ запускает и&nbsp;организм, поскольку доставляет необходимые компоненты к&nbsp;тем органам, которые нуждаются в&nbsp;этом больше всего. Фолликулы&nbsp;же, недополучая питание, вынуждены впадать в&nbsp;спячку. 
              li Физико-эмоциональные стрессовые состояния. Поскольку любое вторжение в&nbsp;организм воспринимается как потенциальная опасность (особенно связанная с&nbsp;нарушением целостности кожного покрова), человек неизбежно сталкивается с&nbsp;сильными переживаниями, которые охватывают его не&nbsp;только в&nbsp;подготовительный, но&nbsp;и&nbsp;в&nbsp;послеоперационный период. 
              li 
                p Негативное воздействие лекарственных средств. Препараты, использованные для общей анестезии, анальгетики и&nbsp;прочие средства имеют побочные эффекты, одним из&nbsp;которых является алопеция после наркоза.
                +grid({ paddingy:true, parLike:true })
                  +grid__item({ m:6 })
                    +figure({src:'/assets/images/articles/vypadenie-volos-posle-narkoza/narkoz-2-1'})
                  +grid__item({ m:6 })
                    +figure({src:'/assets/images/articles/vypadenie-volos-posle-narkoza/narkoz-2-2'})
                p.text-marked.text-marked--italic.text-marked--size--m.text-marked--color--brown Разные типы выпадения волос у мужчин и женщин
              
              li Эмоциональные перегрузки. Перед хирургическим вмешательством человек сталкивается с&nbsp;затяжным заболеванием, длительным медикаментозным лечением или&nbsp;же угрозой для жизни, например, попадает в&nbsp;аварию. Шоковое состояние, тревожность стимулирует выработку гормонов стресса, особенно кортизола. В&nbsp;результате их&nbsp;воздействия спазмируются сосуды, что нарушает питание фолликулов.
              li Вмешательство в&nbsp;физиологическое функционирование организма. В&nbsp;ходе операции снижается артериальное давление, нарушается кровообращение, замедляется ток крови, волосяные луковицы недополучают питательные компоненты. Для фолликулов это состояние сильного стресса, потому волоски отделяются от&nbsp;них, после чего покидают голову.

            h2 Что делать при выпадении волос после наркоза?
            p Нужно сразу&nbsp;же отправиться на&nbsp;прием к&nbsp;трихологу. Врач назначит комплекс анализов, чтобы установить точную причину, определить дефициты важных компонентов, проверить состояние здоровья, оценить, насколько поражены фолликулы, в&nbsp;какой стадии они находятся.
            p Проанализировав результаты анализов и&nbsp;других способов диагностики, особенно трихоскопии, врач назначает лечение.
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-narkoza/narkoz-3', caption:'Осмотр трихолога'})

            h3 Основные методы лечения алопеции после наркоза
            ul.list-marked 
              li
                p Медикаментозное. Назначают препараты, которые борются с&nbsp;болезнями кожи, восстанавливают нехватку витаминов и&nbsp;микроэлементов, укрепляют нервную систему, повышают уровень иммунного ответа, восстанавливают организм после стресса, непосредственно воздействуют на&nbsp;волосяные луковицы. Специалист подбирает те&nbsp;препараты, которые действуют на&nbsp;причину, вызвавшую облысение, позволяя замедлить или остановить алопецию.
                +figure({src:'/assets/images/articles/vypadenie-volos-posle-narkoza/narkoz-4', caption:'Влияние витаминов на состояние волос'})

              li Аппаратная терапия. Чтобы улучшить состояние волос, применяют озонотерапию, воздействуют низкоинтенсивным лазером, выполняют ультразвуковую вапоризацию. 
              li Косметические средства. Чтобы восстановить питание фолликулов, стимулировать их&nbsp;восстановление, назначают специальные маски, мази, лосьоны, спреи. Обычно применяют профессиональную косметику проверенных брендов, в&nbsp;том числе назначают и&nbsp;шампуни, бальзамы против выпадения, себорейного дерматита.
              li Комплекс процедур. Остановить или замедлить алопецию помогает мезотерапия, когда в&nbsp;кожу вводят лечебные препараты; плазмотерапия, когда работают с&nbsp;питательными компонентами, полученными из&nbsp;плазмы крови пациента, а&nbsp;также практикуют использование васкуло-стромальных клеток. 
              li Система волос. Эффективный способ справиться с&nbsp;проблемой отсутствия волос, не&nbsp;прибегая к&nbsp;их&nbsp;пересадке. Наш Центр предлагает установить особое изделие, которое создано из&nbsp;натуральных волос на&nbsp;тончайшей основе, которая имитирует кожу головы, потому никто из&nbsp;окружающих не&nbsp;догадается о&nbsp;вашем секрете. 

            include /blocks/article-block/article-block

            h2 Почему выбирают наш Центр?
            p Центр эстетики волос &laquo;Гамма&raquo; выбирают за&nbsp;такие преимущества: 
            +grid({ paddingy:true, parLike:true })
              +grid__item({ s:6, xs:12 })
                +iconBlock({ guarantee:true })
                  p Действует 100% гарантия результата. Восстанавливаем волосы, даже если они полностью покинули голову.
              +grid__item({ s:6, xs:12 })
                +iconBlock({ team:true })
                  p Оказываем услугу более десятилетия, в&nbsp;результате помогли сотням клиентов.
              +grid__item({ s:6, xs:12 })
                +iconBlock({ professionalServices:true })    
                  p Сервис от&nbsp;А до&nbsp;Я.&nbsp;Не&nbsp;просто подберем нужную модель системы волос, но&nbsp;и&nbsp;установим&nbsp;ее, прочно зафиксировав на&nbsp;надежные полимеры, выполним стрижку, укладку, а&nbsp;при необходимости проведем ремонт, изменим оттенок волос системы и&nbsp;даже выполним химическую завивку.
              +grid__item({ s:6, xs:12 })
                +iconBlock({ privacy:true })
                  p Соблюдаем конфиденциальность каждого клиента. Запись в&nbsp;Центр, посещение и&nbsp;непосредственно оказание услуги происходит вдали от&nbsp;посторонних глаз и&nbsp;ушей. 
            
            include /blocks/article-form/article-form

            h2 Рекомендации по&nbsp;восстановлению волос
            ul.list-marked 
              li Следует регулярно проводить массаж кожи головы непосредственно пальцами или&nbsp;же специальными приспособлениями, например, массажной щеткой. В&nbsp;таком случае удается активизировать кровообращение, а&nbsp;значит улучшить функционирование волосяных луковиц.
              li В&nbsp;домашних условиях готовят специальные маски, наносят их&nbsp;дважды в&nbsp;неделю.
              li Правильно и&nbsp;бережно расчесывают волосы, обязательно распутывая кончики. Важно следить, чтобы пряди в&nbsp;целом не&nbsp;спутывались: в&nbsp;таком случае избегают случайного вырывания их&nbsp;прямо с&nbsp;корнем.
              li Приобрести специальную расческу, выполненную из&nbsp;материалов натурального происхождения, а&nbsp;от&nbsp;щетки с&nbsp;металлическими зубчиками стоит отказаться.
              li Предпочесть естественное высыхание волос, отказаться от&nbsp;частого использования фена, плоек, утюжка. 
              li Рацион нужно обогатить жирами растительного происхождения: фруктами, овощами, яйцами, орехами, рыбой.
              li Важно наладить режим, сбалансировать сон и&nbsp;отдых, отказаться от&nbsp;вредных привычек, работать над стрессоустойчивостью. 
              li Окрашивать волосы стоит не&nbsp;чаще, чем раз в&nbsp;месяц, отказаться от&nbsp;сложных укладок, высокого хвоста, тугих косичек. 

            +dropDown('<h2>Список использованных источников</h2>', { h2: true })     
              ul.list-marked 
                li Гаджигороева А.Г. Миноксидил&nbsp;&mdash; приговор или надежда? Клиническая дерматология и&nbsp;венерология.&nbsp;2016;(4):96&mdash;101. doi: 10.17116/klinderma201615496-101. 
                li Brenner F.M., Oldoni C. Telogen effluvium x&nbsp;female pattern hair loss: is&nbsp;there correlation? An&nbsp;Bras Dermatol.&nbsp;2019;94(4):486&mdash;487. doi: 10.1590/abd1806-4841.20198427.
                li Burns L.J., Senna M.M. Supplement use among women experiencing hair loss. Int J&nbsp;Womens Dermatol.&nbsp;2020;6(3):211. doi: 10.1016/j.ijwd.2020.01.002.
                li Rasheed&nbsp;H., Mahgoub&nbsp;D., Hegazy&nbsp;R., El-Komy&nbsp;M., Abdel Hay&nbsp;R., Hamid M.A., Hamdy E. Serum Ferritin and Vitamin D&nbsp;in&nbsp;Female Hair Loss: Do&nbsp;They Play a&nbsp;Role? Skin Pharmacol Physiol.&nbsp;2013;26(2):101&mdash;107. doi: 10.1159/000346698.

block styles
  +style('inner')
