extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 После окрашивания выпадают волосы
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Выпадение волос после окрашивания застает врасплох и&nbsp;обескураживает. Мы&nbsp;красимся, чтобы сменить имидж и&nbsp;наслаждаться новым образом, но&nbsp;вместо этого сталкиваемся с&nbsp;неожиданной потерей волос. Явление неприятное, но&nbsp;не&nbsp;относится к&nbsp;разряду чрезвычайных. После окрашивания выпадают волосы по&nbsp;разным причинам, включая агрессивное воздействие химических компонентов красок. Понимание причин помогает избежать неприятных последствий в&nbsp;дальнейшем.
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-1', caption:'Выпадение волос после окрашивания'})

            h2 Причины выпадения волос после окрашивания
            h3 Влияние химических компонентов в&nbsp;краске
            h4 Краска для волос
            p Это косметический продукт, меняющий цвет волос от&nbsp;нежных оттенков до&nbsp;кардинальных перемен. Действует, проникая в&nbsp;волосяной стержень и&nbsp;изменяя цвет в&nbsp;результате химического процесса перманентных и&nbsp;полуперманентных составов или обволакивая стержень временными красителями.
            p Используют краски разных форм и&nbsp;концентраций, отвечающие разнообразным потребностям и&nbsp;предпочтениям. Перманентные химически изменяют цвет стержня на&nbsp;продолжительное время, помогают в&nbsp;этом агрессивные компоненты, такие как аммиак и&nbsp;перекись. У&nbsp;полуперманентных и&nbsp;временных красителей щадящее воздействие, но&nbsp;результат кратковременный. Эти продукты позволяют экспериментировать с&nbsp;внешностью, сохраняя при этом здоровье локонов, при условии правильного и&nbsp;бережного использования.
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-2', caption:'Окрашивание волос'})

            h4 Химическое повреждение	
            p Окрашенные пряди становятся слабыми и&nbsp;пористыми из-за изменения целостности стержня, так как аммиак и&nbsp;перекись водорода лишают волосы защитных масел и&nbsp;белков. Что приводит к&nbsp;их&nbsp;ломкости и&nbsp;выпадению. Даже в&nbsp;красках, в&nbsp;которых не&nbsp;содержится аммиак, используется ингредиент, действующий подобным образом, просто без запаха. Больше остальных страдают осветленные или обесцвеченные локоны. 
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-3', caption:'Структура нормального, тонированного и окрашенного волоса'})
            p Если повреждена только окрашенная часть стержня, а&nbsp;фолликул остался нетронутым&nbsp;&mdash; густота шевелюры в&nbsp;безопасности, волосяной покров постепенно восстановится.
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-4', caption:'Нормальный волос и поврежденный под микроскопом'})

            h4 Неправильное применение
            p Неправильное применение и&nbsp;несоблюдение инструкции часто приводит к&nbsp;тому, что волосы повреждаются и&nbsp;выпадают после краски. Когда не&nbsp;соблюдаются пропорции или время выдержки красящего состава, высокая вероятность повреждения кутикулы, ослабления и&nbsp;ломкости прядей. Продолжительный контакт красителя с&nbsp;кожей головы часто приводит к&nbsp;химическому ожогу и&nbsp;полной потере волос на&nbsp;месте сформировавшегося рубца.
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-5', caption:'Процесс окрашивания волос'})

            h4 Химический ожог
            p Ожоги на&nbsp;коже головы чаще возникают при окрашивании из-за агрессивного воздействия компонентов на&nbsp;чувствительную кожу. Чаще в&nbsp;реакцию с&nbsp;кожей вступают сильные основания и&nbsp;кислоты. Проведение двух процедур за&nbsp;один раз, например осветление и&nbsp;крашение,&nbsp;&mdash; распространенная причина ожогов. Чувство покалывания при осветлении&nbsp;&mdash; нормальная реакция. Ожог начинается с&nbsp;резких болезненных ощущений на&nbsp;коже головы, указывающих на&nbsp;то, что средство слишком агрессивно для данного типа кожи, и&nbsp;способно вызвать ожог, повредив волосяные фолликулы. Степень ожога зависит от&nbsp;количества используемых химикатов и&nbsp;глубины воздействия. При повреждении фолликулов и&nbsp;образовании рубцовой ткани, рост волос в&nbsp;этой области прекращается.

            h3 Частота окрашивания и&nbsp;его влияние на&nbsp;здоровье волос
            p Реальность такова&nbsp;&mdash; чем чаще краситься, тем выше вероятность облысения. Потому что каждое окрашивание&nbsp;&mdash; это стресс для волосистой части головы. Поэтому красятся не&nbsp;больше одного раза в&nbsp;месяц. Если делать это чаще, пряди пересушиваются, увеличивается ломкость, повышается склонность к&nbsp;запутыванию и&nbsp;образованию соломенной текстуры. 
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-6', caption:'Что влияет на стойкость краски для волос'})

            h3 Индивидуальная непереносимость
            p В&nbsp;случае персональной реакции на&nbsp;компоненты красителя, развития аллергического или контактного дерматита, окрашивание способно спровоцировать полную потерю волос. Проявляется негативное воздействие краски изменением состояния кожи головы&nbsp;&mdash; появлением шелушений, корок, покраснения, зуда, к&nbsp;которым через 2-3 недели присоединится поредение прядей, появление проплешин.
            p Большинство средств для окрашивания или обесцвечивания известны агрессивным воздействием. Поэтому новые продукты тестируют на&nbsp;небольшом участке запястья, прежде чем переходить к&nbsp;процедуре, чтобы выявить возможные реакции, и&nbsp;наносят красящие или отбеливающие средства строго на&nbsp;пряди, а&nbsp;не&nbsp;на&nbsp;кожу головы.
            p Краски часто содержат токсичный ингредиент под названием парафенилендиамин. Из-за серьезных аллергических реакций на&nbsp;это химическое вещество средство под запретом в&nbsp;ряде европейских странах. 

            h2 Предотвращение выпадения волос
            p Снижает риск негативных последствий окрашивания тщательный выбор продуктов, соблюдение рекомендованного времени воздействия, защита кожи головы от&nbsp;контакта с&nbsp;красителем. Избежать ошибки помогает профессиональный парикмахер-стилист, который во&nbsp;время процедуры окрашивания заботится о&nbsp;здоровье волос клиента.

            h3 Выбор качественной краски
            p Отдавайте предпочтение проверенным, натуральным или полуперманентным красителям, не&nbsp;содержащим аммиака, чтобы уменьшить химическое воздействие. Кроме того, щадящие краски содержат стабилизирующие компоненты, поддерживающие однородность цвета. В&nbsp;профессиональные составы часто добавляют кондиционирующие и&nbsp;уходовые ингредиенты.
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-7', caption:'Краска для волос'})

            h3 Правильный уход 	
            p Бережный уход за&nbsp;окрашенными прядями предотвращает их&nbsp;выпадение. Лауретсульфат натрия часто вводят в&nbsp;состав шампуней. Использование средств с&nbsp;сульфатами&nbsp;&mdash; неудачная идея, так как добавка лишает локоны цвета и&nbsp;влаги. Поэтому для ухода выбирают шампуни и&nbsp;бальзамы для окрашенных волос без сульфатов. После окрашивания также противопоказан горячий душ, вымывающий пигмент, пересушивающий локоны, повышающий ломкость стержней. Питательная маска напротив действует как мощный кондиционер, который улучшает здоровье локонов.	

            h2 Методы лечения и&nbsp;восстановления поврежденных прядей
            h3 Домашние процедуры
            p Нельзя переоценить пользу кокосового масла для волос, особенно для сухих, поврежденных и&nbsp;окрашенных. Масло противодействует высушивающему и&nbsp;повреждающему эффекту красящих составов. Питает и&nbsp;увлажняет локоны, восстанавливает структуру. При втирании в&nbsp;кожу головы стимулирует работу фолликулов. Для восстановления однородной структуры достаточно нанести 3-6 капель масла на&nbsp;волосы, оставить на&nbsp;ночь и&nbsp;смыть утром. Окрашенные локоны скажут за&nbsp;это только спасибо.
            p Полезны процедуры массажа. Активное воздействие на&nbsp;кожу головы усиливает кровообращение, насыщая волосяные фолликулы кислородом и&nbsp;питательными веществами. Здоровые фолликулы ускоряют рост волосяных стержней, что важно для восстановления после окрашивания.
            p Миноксидил предлагает действенное решение проблемы выпадения волос после краски. Средство при местном применении улучшает кровообращение кожи головы, питает фолликулы, стимулирует волосяной рост.

            h3 Салонные процедуры
            p Мезотерапия используется для восстановления блеска и&nbsp;объема истонченных прядей. Поверхностные микроинъекции вводятся чуть ниже эпидермального слоя кожи, чтобы стимулировать мезодермальный слой кожи для ускорения естественного процесса регенерации и&nbsp;пролиферации волосяных стержней.	
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-8', caption:'Мезотерапия для волос'})

            h3 Витамины и&nbsp;микроэлементы
            ul.list-marked 
              li Витамин&nbsp;B7 (биотин) и&nbsp;B12, важны для укрепления и&nbsp;кондиционирования волос;
              li Витамин С&nbsp;не&nbsp;только укрепляет иммунитет, но&nbsp;и&nbsp;стимулирует волосяной рост, так как улучшает кровообращение;
              li Железо также улучшает кровообращение и&nbsp;с&nbsp;кровотоком доставляет кислород к&nbsp;клеткам, что ускоряет рост волосяных стержней.
            +figure({src:'/assets/images/articles/vypadenie-volos-posle-okrashivaniya/posle-okrashivaniya-9', caption:'Здоровье волос в витаминах и минералах, содержащихся в продуктах'})

            h3 Как замаскировать сильное выпадение волосы после окрашивания
            h4 Безоперационное восстановление волосяного покрова
            p Это правильное решение для тех, кто столкнулся с&nbsp;неприятными последствиями неудачного окрашивания и&nbsp;вместо красивого цвета получил редкие пряди и&nbsp;проплешины. Системы замещения волос&nbsp;&mdash; постижерные изделия, воссоздающие первоначальный вид прически или придающие ей&nbsp;новый стиль. Состоят из&nbsp;дышащей сетчатой ​​основы с&nbsp;интегрированными человеческими прядями. Психологический комфорт&nbsp;&mdash; важное преимущество реплейсмента.
            p При обширном облысении неинвазивные системы замещения полностью покрывают волосистую часть головы, или закрывают только безволосые участки при частичной потере волос. При этом увидеть разницу между реплейсментом и&nbsp;натуральными прядями практически невозможно.
            
            include /blocks/article-block/article-block

            h2 Центр эстетики волос &laquo;Гамма&raquo;
            ul.list-marked 
              li Подберем готовую систему замещения или изготовим на&nbsp;заказ с&nbsp;учетом особенностей клиента, так как система точно воспроизводит форму головы, цвет и&nbsp;направление роста волосяных стержней. С&nbsp;нашей продукцией клиенты свободно ходят в&nbsp;баню, бассейн, занимаются спортом и&nbsp;даже сильные порывы ветра им&nbsp;нипочем.
              li За&nbsp;10&nbsp;лет работы вернули сотням клиентов психологический комфорт и&nbsp;возможность вести активную социальную и&nbsp;профессиональную жизнь;
              li Ведем клиента с&nbsp;момента консультации до&nbsp;фиксации системы, стрижки и&nbsp;окрашивания;
              li При необходимости восстанавливаем участки вычеса волос, проклеиваем узлы для усиления крепления прядей, обрабатываем локоны от&nbsp;спутывания.
            
            include /blocks/article-form/article-form

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Что делать, если после окрашивания выпадают волосы?</h3>')
              p Требуется перерыв, волосы не&nbsp;красят до&nbsp;полного восстановления. Если ситуация не&nbsp;меняется и&nbsp;появляются проплешины, требуется консультация врача.
            +dropDown('<h3>Правда, что если покрасить волосы они будут меньше выпадать?</h3>')
              p Нет, химические составляющие красящих составов не&nbsp;стимулируют фолликулы.
            +dropDown('<h3>Может краска вызвать необратимое выпадение волос?</h3>')
              p Окрашивание, как правило, вызывает временное облысение из-за ломкости и&nbsp;повреждения стержня волоса, а&nbsp;не&nbsp;постоянную потерю фолликула. Только серьезное химическое повреждение или аллергическая реакция способны вызвать необратимые последствия.
            +dropDown('<h3>Как часто краситься без вреда для здоровья?</h3>')
              p Повторную процедуру после применения перманентной краски проводят не&nbsp;раньше, чем через четыре недели, а&nbsp;лучше шесть. Полуперманентный краситель используют чаще.
            +dropDown('<h3>Как часто кондиционировать окрашенные пряди?</h3>')
              p Окрашенным волосам полезно регулярное кондиционирование для поддержания уровня влаги и&nbsp;эластичности. Рекомендуется использовать кондиционер каждый раз при мытье головы. Средства глубокого кондиционирования наносить не&nbsp;реже одного раза в&nbsp;неделю.
            +dropDown('<h3>Как определить, вредит&nbsp;ли краска волосам?</h3>')
              p Признаки включают повышенную сухость, ломкость, истончение и&nbsp;изменение текстуры стержней, а&nbsp;также зуд и&nbsp;раздражение кожи головы. При подобных симптомах требуется консультация специалиста и&nbsp;пересмотр уходовой программы.
            +dropDown('<h2>Источники</h2>', { h2: true })    
              ul.list-marked 
                li Влияние химических красителей на&nbsp;состояние волос/ Ильина А.В.;
                li Колористика/ Ансимова Е.В., Фирсанова О.В.;
                li Технология постижерных работ/ Мойсеенок Ж.В.

block styles
  +style('inner')
