extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Выпадение волос при гипотериозе
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Эндокринные гормоны&nbsp;&mdash; важный стабилизатор саморегуляции человеческого организма. Отвечают за&nbsp;нормальный обмен веществ, дыхание, терморегуляцию, формирование волосяного стержня и&nbsp;его рост. Сбой в&nbsp;работе щитовидной железы сопровождается разными симптомами, включая выпадение волос. В&nbsp;статье рассматриваем причины, признаки и&nbsp;возможные решения проблемы облысения, связанного с&nbsp;патологиями эндокринной железы.
            
            h2 Что такое щитовидная железа (ЩЖ)
            p Это железа эндокринной секреции, расположенная в&nbsp;области гортани перед щитовидным хрящом. Задача щитовидной железы&nbsp;&mdash; вырабатывать, хранить и&nbsp;выделять гормоны&nbsp;Т3 (трийодтиронин) и&nbsp;Т4 (тироксин), контролирующие функции клеток организма. Количество вырабатываемых гормонов регулируется железой головного мозга&nbsp;&mdash; гипофизом. Тиреотропин (ТТГ)&nbsp;&mdash; гормон, который синтезируется в&nbsp;передней доле гипофиза, и&nbsp;управляет функцией щитовидной железы. ЩЗ, гипофиз и&nbsp;гипоталамус работают вместе, чтобы регулировать концентрацию эндокринных гормонов в&nbsp;организме. Дисфункция ЩЖ&nbsp;приводит к&nbsp;дисбалансу уровня гормонов, нарушая цикл роста волосяного стержня.
            //- p Подпись: Из-за дисфункции щитовидки волосы выпадают

            h2 Причины выпадения волос при гипотиреозе и&nbsp;гипертиреозе
            p Волосяные фолликулы следуют своему естественному циклу, состоящему из&nbsp;двух фаз: рост волос и&nbsp;отдых. Обычно большая часть волосяных стержней растет, и&nbsp;лишь небольшая&nbsp;&mdash; отдыхает. Факторы, связанные с&nbsp;изменениями в&nbsp;организме человека, нарушают этот цикл. В&nbsp;результате фаза отдыха удлиняется, а&nbsp;роста&nbsp;&mdash; сокращается, что приводит к&nbsp;истончению и&nbsp;выпадению волосяных стержней.
            .block-marked.block-marked--padding-small
              p Нарушение баланса гормонов ускоряет переход волосяных фолликулов в&nbsp;фазу покоя.

            h3 Выпадение волос и&nbsp;дисфункция щитовидной железы
            p Волосяной фолликул&nbsp;&mdash; постоянно изменяющийся орган, способный к&nbsp;регенерации новых волос в&nbsp;условиях нормальной гормональной регуляции. Является маркером старения и&nbsp;признаком гормонального и&nbsp;соматического статуса. Эндокринные гормоны влияют на&nbsp;рост и&nbsp;дифференциацию многих тканей, общий расход энергии организма, циркуляцию разных субстратов, витаминов и&nbsp;других гормонов. Деятельность железы включает контроль расхода кислорода, синтеза белка и&nbsp;деления клеток, поэтому щитовидка принимает участие в&nbsp;формировании и&nbsp;росте волос. Значимость гормонов становится заметной при их&nbsp;дефиците или избытке.
            .block-marked.block-marked--padding-small
              p Так как рост волос, ногтей и&nbsp;обновление клеток эпителия требуют больших энергетических затрат, то&nbsp;в&nbsp;условиях низкого уровня гормонов щитовидки организм ограничивает расход энергии на&nbsp;второстепенные процессы, чтобы поддерживать жизненно необходимые. Поэтому волосы и&nbsp;кожа при гипортиреозе страдают в&nbsp;первую очередь.

            h3 Специфика выпадения при разных дисфункциях щитовидной железы
            p Тяжелый и&nbsp;длительный гипо- или гипертиреоз (тиреотоксикоз) вызывают выпадение волос. Потеря носит диффузный характер и&nbsp;затрагивает всю кожу головы, а&nbsp;не&nbsp;отдельные участки. При успешном лечении рост волос возобновляется. Легкое течение болезни, а&nbsp;также кратковременные проблемы с&nbsp;щитовидной железой редко влияют на&nbsp;состояние волосяного покрова.

            h4 Гипотериоз
            p Выпадение волос при гипотиреозе связано с&nbsp;недостаточной выработкой необходимых гормонов, из-за чего снижается способность организма должным образом метаболизировать белок. Уровень кислоты в&nbsp;желудке уменьшается, питательные вещества, поддерживающие функционирование фолликулов, не&nbsp;усваиваются. Выпадение волос возникает при аутоиммунном тиреоидите (АИТ), в&nbsp;результате хронической ятрогенной абляции&nbsp;ЩЗ или тиреоидэктомии. Дисфункция щитовидки и&nbsp;выпадение волос у&nbsp;женщин наблюдается в&nbsp;десять раз чаще, чем у&nbsp;мужчин.
            p Уровень ТТГ и&nbsp;выпадение волос взаимосвязаны&nbsp;&mdash; повышение концентрации ТТГ в&nbsp;крови служит ранним лабораторным признаком тиреоидной недостаточности. При этом уровень Т4&nbsp;в крови понижен. У&nbsp;пациентов обезвоженная и&nbsp;грубая кожа, в&nbsp;тяжелых случаях ее&nbsp;состояние напоминает ихтиоз. Волосы седеют, становятся жесткими и&nbsp;ломкими. Волосяной рост замедляется, доля волос в&nbsp;телогене увеличивается.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-gipotireoze/gipotireoz-2', caption:'Симптомы проблем с щитовидной железой'})

            h4 Гипертиреоз
            p Клинический синдром характеризуется избытком циркулирующих гормонов эндокринной железы. К&nbsp;распространенным причинам гипертиреоза относится болезнь Грейвса&nbsp;&mdash; патология аутоиммунного происхождения. Проявляется системными, а&nbsp;не&nbsp;кожными признаками, например, гиперметаболизмом, известным как тиреотоксикоз. Диффузное облысение развивается в&nbsp;20&ndash;40&nbsp;% . При гипертиреозе фаза роста удлиняется. Это значит, что волосяные стержни образуются и&nbsp;отмирают быстрее. К&nbsp;заметным последствиям относятся тонкие, ломкие и&nbsp;жирные волосы, не&nbsp;поддающиеся перманентной завивке. Лечение требует много времени и&nbsp;терпения.
            p На&nbsp;выпадение волос также влияют препараты для лечения патологий щитовидной железы и&nbsp;лекарства, которые препятствуют тиреоидному метаболизму

            h4 Удаление ЩЖ
            p Тиреоидэктомия приводит к&nbsp;разным изменениям в&nbsp;организме, например, изменяется уровня гормонов, и&nbsp;как следствие&nbsp;&mdash; выпадают волос. Для стабилизации ситуации требуется курс гормональной терапии.

            h4 Аутоиммунные болезни
            p Когда иммунная система по&nbsp;ошибке атакует ткани организма, это вызывает ответную реакцию организма, которая приводит к&nbsp;воспалению.
            p Аутоиммунный тиреоидит, болезнь Грейвса и&nbsp;т.д. активируют воспалительные процессы в&nbsp;организме, провоцируя повреждение фолликулов и&nbsp;последующее выпадение волос. Иммунная система воздействует на&nbsp;волосяные фолликулы, что приводит к&nbsp;воспалению и&nbsp;нарушению цикла роста. Стержни становятся тонкими, ломкими и&nbsp;в&nbsp;итоге выпадают.
            p Поредение прядей из-за проблем с&nbsp;щитовидной железой происходит ни&nbsp;за&nbsp;один день. В&nbsp;большинстве случаев проблема становится очевидной через несколько месяцев после развития у&nbsp;человека патологии. Диагностировать гипер- и&nbsp;гипотиреоз довольно сложно, так как человек предполагает, что испытываемые симптомы связаны с&nbsp;чем-то другим. Поэтому выпадение волос рассматривается как признак, указывающий на&nbsp;проблемы с&nbsp;щитовидной железой.

            h2 Диагностика
            p Здоровая кожа, блестящие волосы и&nbsp;крепкие ногти отражают внутреннее состояние организма. Если пряди потускнели, ногти слоятся, появились признаки обезвоживания кожи, обязательно обследуют щитовидную железу, так как к&nbsp;начальным симптомам ее&nbsp;дисфункции относятся такие нарушения. Не&nbsp;зная этого, пациенты тратят много сил и&nbsp;времени на&nbsp;борьбу с&nbsp;косметическим дефектом, но&nbsp;никакие косметологические процедуры не&nbsp;помогут, если не&nbsp;нормализовать функцию эндокринной железы.

            h3 Анализы и&nbsp;исследования
            p Для выяснения диагноза обращаются к&nbsp;эндокринологу. На&nbsp;приеме врач собирает информацию об&nbsp;изменениях в&nbsp;работе организма, направляет на&nbsp;анализы и&nbsp;дополнительные исследования. Так как работу щитовидной железы регулируют тиреотропные гормоны гипофиза (ТТГ), стандартная процедура включает:
            ul.list-marked 
              li анализ крови на&nbsp;уровень гормонов Т4&nbsp;и&nbsp;ТТГ;
              li ультразвуковое исследование эндокринной железы;
              li ЭКГ при жалобах на&nbsp;работу сердечно-сосудистой системы.
            p Если УЗИ обнаружило патологические изменения в&nbsp;железе, чтобы определить их&nbsp;природу, эндокринолог дополнительно назначает сцинтиграфию, делает пункционную аспирационную биопсию.
            p При гипотиреозе анализ покажет пониженный уровень ТТГ, а&nbsp;при гипертиреозе&nbsp;&mdash; повышенный.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-gipotireoze/gipotireoz-7', caption:'Уровень ТТГ - важный показатель дисфункции ЩЖ'})

            p Сцинтиграфия&nbsp;&mdash; метод обследования, при котором двухмерное изображения получают, благодаря радиоактивным веществам, введенным в&nbsp;организм. Используется для анализа метаболизма и&nbsp;функции органов, а&nbsp;также выявления изменений в&nbsp;тканях. У&nbsp;обследования четкие показания.
            ul.list-marked 
              li Аномальное расположение железы;
              li Многочисленные (свыше шести в&nbsp;обеих долях) образования узелкового типа;
              li Тиреотоксикоз и&nbsp;его дифференциальная диагностика.

            h3 Медикаментозное лечение
            p Терапия выпадения волос из-за проблем с&nbsp;ЩЖ включает лечение основной патологии для нормализации уровня гормонов. Лечебный комплекс включает прием синтетических гормонов щитовидной железы и&nbsp;средства, стимулирующие работу волосяных луковиц. Пациенту придется изменить образ жизни, питание и&nbsp;методы ухода за&nbsp;волосами, чтобы ускорить восстановительные процессы.

            h3 Маскировка выпадения волос
            p Большинство случаев выпадения волос, вызванных дисфункцией щитовидной железы, носят временный характер. На&nbsp;лечение уходит год и&nbsp;даже больше. Система замещения волос&nbsp;&mdash; подходящий метод маскировки поредевших прядей при гипо- и&nbsp;гипертиреозе. Это безоперационная коррекция облысения с&nbsp;помощью постижерных изделий
            p Система замещения:
            ul.list-marked 
              li выглядит естественно;
              li надежно фиксируется;
              li не&nbsp;вызывает дискомфорт;
              li используется продолжительное время.
            p Система замещения позволяет выглядеть превосходно даже при полной потере волос, и&nbsp;продолжать вести привычный образ жизни.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-gipotireoze/gipotireoz-8', caption:'Система замещения - безоперационный метод восстановления волосяного покрова'})

            h3 Питание и&nbsp;образ жизни при дисфункции щитовидной железы
            p Когда нарушена работа железы, организм не&nbsp;может продуктивно использовать питательные вещества, необходимые для здорового роста волос: железо, цинк, витамин B12, селен, лизин и&nbsp;биотин. При выявлении дефицитных состояний врач назначает прием пищевых добавок, восполняющих дефицит. В&nbsp;рацион включают много свежих фруктов, зеленых листовых овощей, кисломолочных продуктов. Вода в&nbsp;достаточном количестве разжижает кровь, стимулирует обменные процессы и&nbsp;пищеварение, снижает аппетит. 
            p Стоит избегать продуктов с&nbsp;повышенным содержанием йода при гипертиреозе, чтобы не&nbsp;усугубить ситуацию. Также микроэлемент мешает всасыванию синтетического тироксина, используемого при недостаточной функции ЩЖ. Добавки йода принимают только по&nbsp;рекомендации лечащего врача.
            p Борясь со&nbsp;снижением обменных процессов, жизненно важно находить время для двигательной активности, так как сбой в&nbsp;работе железы провоцирует набор лишних килограммов. Физическая нагрузка помогает сжигать калории, которые организму трудно перерабатывать из-за пониженного метаболизма. Также во&nbsp;время тренировок улучшается кровоснабжение тела, включая кожу головы, стимулируя волосяные фолликулы.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-gipotireoze/gipotireoz-9', caption:'Физическая активность улучшает кровоснабжение'})

            h3 Рекомендации по&nbsp;уходу за&nbsp;волосами
            p При диффузном облысении из-за проблем&nbsp;ЩЖ воздерживаются от&nbsp;использования стайлинговых приборов, термобигуди, так как эти процедуры повреждают кутикулу стержня. При мытье головы предпочтение отдают шампуням и&nbsp;кондиционерам с&nbsp;увлажняющим и&nbsp;питательным составом, чтобы одновременно питать кожу головы и&nbsp;волосы.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-gipotireoze/gipotireoz-10', caption:'Термоукладочные приборы повреждают волосяную кутикулу'})

            include /blocks/article-block/article-block

            h2 Преимущества центра &laquo;Гамма&raquo;
            p В&nbsp;мире разработано много способов коррекции поредевшей шевелюры&nbsp;&mdash; парики, шиньоны, трансплантация волосяных фолликулов. У&nbsp;каждого вида есть достоинства и&nbsp;недостатки. Мы&nbsp;остановили выбор на&nbsp;системах замещения волос, как на&nbsp;самом прогрессивном и&nbsp;безопасном методе маскировки облысения. Системы интеграции воссоздают потерянный объем при любой форме выпадения волос, включая дисфункцию щитовидки. Отсутствие периода реабилитации и&nbsp;естественность&nbsp;&mdash; неоспоримые плюсы метода.
            p Больше 10&nbsp;лет мы&nbsp;изучали опыт по&nbsp;замещению волос разных компаний. Находили надежных производителей систем, тестировали фиксаторы&nbsp;&mdash; нарабатывали собственный опыт. И&nbsp;как результат, создали центр эстетики волос, который вместил только лучшее из&nbsp;того, что было изучено, собрано и&nbsp;проанализировано.
            ul.list-marked 
              li При выборе системы учитываем требования и&nbsp;пожелания клиента;
              li Используем только натуральные и&nbsp;безопасные материалы, проверенные технологии;
              li Честно отвечаем на&nbsp;вопросы клиентов, не&nbsp;преувеличивая и&nbsp;не&nbsp;навязывая свое мнение.

            h2 Народные средства
            p Народные рецепты помогают бороться с&nbsp;симптомами гипо- и&nbsp;гипертиреоза. Тяжелые отеки ног снимают настоями мочегонных трав, таких как чабрец, хвощ полевой, зверобой, душица и&nbsp;других. Повысит тонус организма жидкий экстракт родиолы, женьшеня и&nbsp;грецких орехов. Свекольный сок повышает гемоглобин.
            p Масло вечерней примулы богато гамма-линолевой и&nbsp;жирной кислотой, Омега-6, стимулирующими рост волос. Масло используют в&nbsp;виде пищевых добавок или наносят на&nbsp;кожу головы.
           
            include /blocks/article-form/article-form

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Первые признаки дисфункции щитовидной железы?</h3>')
              p К&nbsp;ранним признакам нарушения работы&nbsp;ЩЖ относится усталость, увеличение или потеря веса, замедление или учащение сердечного ритма, чувствительность к&nbsp;теплу или холоду.
            +dropDown('<h3>Можно&nbsp;ли предотвратить или остановить выпадение волос?</h3>')
              p Успех лечения разных форм алопеции кроется в&nbsp;ранней диагностике. Терапия облысения при патологиях&nbsp;ЩЖ заключается в&nbsp;восстановлении гормонального баланса в&nbsp;организме. Лечение, начатое в&nbsp;начале болезни, предотвращает выпадение волос.
            +dropDown('<h3>Стресс усугубляет выпадение волос при гипотиреозе?</h3>')
              p Стрессовые ситуации повышают уровень кортизола, который блокирует преобразование гормона Т4&nbsp;в Т3, снижает выработку ТТГ, способствуя поредению волосяного покрова.
            +dropDown('<h3>Восстановится&nbsp;ли волосяной покров после лечения гипотиреоза?</h3>')
              p Диффузное облысение при гипо- и&nbsp;гипертиреозе затрагивает всю кожу головы, поэтому пряди редеют равномерно. Если нормальная работа&nbsp;ЩЖ восстановлена, рост волосяных стержней возобновляется. В&nbsp;ряде случаев вернуть плотность волосяного покрова полностью не&nbsp;удастся.

            +dropDown('<h2>Источники</h2>', { h2: true })    
              ul.list-marked 
                li Заболевания щитовидной железы/ Волкова Н.И.;
                li Гипотиреоз: искажение сущности/ Ушаков А.В.;
                li Восстановление щитовидной железы. Как взять под контроль гипотиреоз, тиреотоксикоз и&nbsp;АИТ/ Эми Майерс.

block styles
  +style('inner')
