extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Облысение подростков
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Как это ни&nbsp;странно, но&nbsp;алопеция у&nbsp;подростков&nbsp;&mdash; не&nbsp;редкое явление. По&nbsp;статистике у&nbsp;16&nbsp;% юношей 17&nbsp;лет диагностируется облысение по&nbsp;мужскому типу. Для мальчиков и&nbsp;девочек ухудшение количественного и&nbsp;качественного состояния волосяного покрова становится неприятным открытием, которое доставляет дискомфорт, снижает самооценку. Выпадение волос в&nbsp;подростковом возрасте бывает временным и&nbsp;постоянным в&nbsp;зависимости от&nbsp;спровоцировавших состояние причин.
            +figure({src:'/assets/images/articles/vypadenie-volos-u-podrostov/podrostov-1', caption:'Очаговая алопеция'})

            h2 Причины выпадения волос у&nbsp;подростка 11-17 лет
            p Переходный период ребенка к&nbsp;взрослому&nbsp;&mdash; это эмоционально и&nbsp;физически сложный жизненный этап. Во&nbsp;время пубертата проходит созревание мыслей, психосоциальное развитие и&nbsp;много физических изменений. Особенность подросткового возраста заключается в&nbsp;том, что развитие протекает скачками, поэтому внутренние системы не&nbsp;успевают за&nbsp;бурным ростом детского организма. Меняются привычки, режим сна и&nbsp;отдыха, в&nbsp;питании преобладает фасфуд и&nbsp;разрекламированные продукты. В&nbsp;комплексе это отражается на&nbsp;состоянии волосяных луковиц и&nbsp;стержней. Волосы могут выпадать даже у&nbsp;ребенка 11&nbsp;лет. Не&nbsp;всегда у&nbsp;залысин на&nbsp;лбу подростка безобидные причины, которые стоит игнорировать или рассчитывать на&nbsp;нормализацию состояния без лечения.
            //- +figure({src:'/assets/images/articles/vypadenie-volos-u-podrostov/podrostov-2', caption:'Причины выпадения волос у подростка'})

            p Выпадают волосы у&nbsp;подростков из-за наследственности, несбалансированного питания, стрессов и&nbsp;гормональных перепадов. Облысение влияет на&nbsp;психическое состояние ребенка, его самооценку и&nbsp;уверенность в&nbsp;себе. Важно установить причины происходящего, чтобы найти подходящее лечение. 

            h3 Гормональные изменения и&nbsp;их&nbsp;влияние
            p Половое созревание вызывает колебания уровня гормонов, которые потенциально влияют на&nbsp;функциональность фолликулов. Выпадение из-за воздействия мужских половых гормонов начинается в&nbsp;подростковом периоде и&nbsp;усугубляется с&nbsp;возрастом. Андрогенетическая алопеция&nbsp;&mdash; распространенная причина облысения мальчиков подростков, реже девочек. У&nbsp;молодых девушек с&nbsp;синдромом поликистозных яичников также высокое содержание мужских гормонов в&nbsp;крови, которое приводит к&nbsp;потере большого объема волосяного покрова. Этот тип облысения тяжело поддается лечению.
            p В&nbsp;волосяной луковице в&nbsp;среднем 20&nbsp;типов функциональных клеток, работающих в&nbsp;тесной взаимосвязи друг с&nbsp;другом, гормонами, нейромедиаторами и&nbsp;клетками иммунной системы. Несоответствие норме любого показателя вносит в&nbsp;систему дисгармонию. Щитовидная железа продуцируя гормонов больше или меньше нормы, нарушает работу фолликулов, способствует выпадению стержней. В&nbsp;период полового созревания работа эндокринной системы еще не&nbsp;нормализовалась, поэтому у&nbsp;подростка выпадают волосы на&nbsp;голове. Облысение обратимо при своевременном лечении.

            h3 Психоэмоциональное состояние
            p Подростками даже незначительные неприятности воспринимаются как катастрофа. Глубокие переживания вызывает насмешка одноклассника, ссора с&nbsp;другом, несоответствие внешности идеалам. Настроение ребенка &laquo;скачет&raquo; вместе с&nbsp;гормонами.
            +figure({src:'/assets/images/articles/vypadenie-volos-u-podrostov/podrostov-3', caption:'Стресс - один из основных факторов потери волос'})
            p Продолжительный стресс провоцирует телогеновое выпадение волос, характеризующееся избыточной потерей локонов. В&nbsp;то&nbsp;время как норма выпадения волос у&nbsp;детей&nbsp;&mdash; не&nbsp;более 100 волосков в&nbsp;день. Стресс нарушает жизненный цикл стержней, которые в&nbsp;большом количестве входят в&nbsp;фазу покоя и&nbsp;вскоре выпадают. Как только эмоциональное состояние подростка стабилизируется, волосы возобновляют рост.

            h3 Внешние факторы и&nbsp;экологическое влияние
            p Загрязнение водопроводной воды и&nbsp;воздуха постепенно разрушает здоровье человека. Волосы первыми сигнализируют о&nbsp;том, что организму нужна помощь. Пористая структура стержней способствует впитыванию и&nbsp;накапливанию веществ из&nbsp;воздуха или воды, приводя к&nbsp;истончению, ломкости и&nbsp;выпадению.

            h4 Неправильный уход
            p Выпадение волос у&nbsp;девушек 15&nbsp;лет нередко вызвано стремлением выглядеть старше. Юные модницы экспериментируют, перекрашивая, завивая или выпрямляя локоны. Агрессивная забота о&nbsp;внешности превращает волосы в&nbsp;безжизненную солому. К&nbsp;тракционной алопеции приводит увлечение тугими прическами, так как натяжение повреждает волосяную луковицу, провоцируя замещение здоровых тканей фиброзной. Выпадают волосы у&nbsp;подростка мальчика, напротив, из-за пренебрежения гигиеной. Юноши еще не&nbsp;привыкли, что чистота тела их&nbsp;ответственность, поэтому забывают о&nbsp;регулярном мытье головы и&nbsp;смене детского шампуня на&nbsp;подходящий по&nbsp;типу волос.

            h4 Курение
            p Подражая старшим товарищам часто тинейджеры начинают курить. Последствия этой привычки ужасны: разрушение зубов, нарушение кровообращения, торможение мозговой активности и&nbsp;выпадение волос. Никотин вызывает спазм сосудов, нарушая питание фолликулов, что впоследствии приводит к&nbsp;облысению.

            h3 Состояние здоровья
            p Подростковую алопецию также провоцирует ряд болезней. Состояние волосяного покрова чаще восстанавливается после устранения первопричины. К&nbsp;таким болезням относятся:
            ul.list-marked 
              li аутоиммунные патологии;
              li нарушения работы щитовидной железы;
              li микозы волосистой части головы;
              li кожные болезни, вызывающие зуд;
              li психические болезни, например, трихотилломания;
              li онкология;
              li диабет.
            p Из-за приема некоторых лекарств также выпадают волосы у&nbsp;подростков. Список включает антидепрессанты, антикоагулянты, антибиотики, противоязвенные препараты, бета-блокаторы и&nbsp;другие. Поэтому при назначении ребенку новых препаратов подробно изучают инструкцию.

            h3 Влияние питания
            p Анализируя причины облысения у&nbsp;подростков на&nbsp;голове, трихологи много внимания уделяют питанию, ведь подростки&nbsp;&mdash; категория людей, предпочитающая фастфуд и&nbsp;синтетические напитки. Рацион, лишенный витаминов, приводит к&nbsp;болезням не&nbsp;только волос, но&nbsp;и&nbsp;всего организма.
            p Волосяной рост&nbsp;&mdash; своеобразная тренировка для кожи головы: клетки фолликулов относятся к&nbsp;быстро делящимся, поэтому для производства новых стержней требуется много энергии. Волосы в&nbsp;основном состоят из&nbsp;белка&nbsp;&mdash; кератина, поэтому получение достаточного количества белка жизненно важно для роста волос.
            p У&nbsp;ребенка 12-17 лет волосы часто выпадают из-за низкого уровня железа в&nbsp;организме, вызывающего железодефицитную анемию. Биохимический анализ также выявляет дисбаланс калия и&nbsp;натрия, кальция и&nbsp;магния, хрома и&nbsp;марганца, а&nbsp;также дефицит цинка, селена или фосфора.
            //- +figure({src:'/assets/images/articles/vypadenie-volos-u-podrostov/podrostov-4', caption:'Сбалансированное питание поможет избежать выпадения волос'})

            h3 Генетическая предрасположенность
            p Генетические факторы играют значимую роль при облысении даже подростков. Если в&nbsp;семейном анамнезе встречаются случаи алопеции, это увеличивает вероятность выпадения волос в&nbsp;юном возрасте. Проблему нельзя предотвратить, но&nbsp;можно замедлить развитие патологического процесса. В&nbsp;первую очередь это касается андрогенетической алопеции, так как уровень дигидротестостерона в&nbsp;крови &laquo;прописан&raquo; в&nbsp;генах.

            h2 Особенности выпадения волос у&nbsp;девочек-подростков
            ul.list-marked 
              li Нарушение гормонального баланса. Растущий женский организм чрезвычайно восприимчив к&nbsp;эндокринным колебаниям в&nbsp;период налаживания менструального цикла.
              li Дефицит необходимых витаминов, микроэлементов. Многие девушки одержимы идеей похудения, поэтому придерживаются разных диет. В&nbsp;результате ограничений формируются дефицитные состояния, когда выпадают волосы у&nbsp;девочки подростка.
              li Систематический прием ряда лекарств провоцирует раннее облысение. На&nbsp;молодой растущий организм негативно влияют не&nbsp;только тяжелые системные препараты, но&nbsp;и&nbsp;банальный аспирин.
              li Неправильный уход. Это самая распространенная причина алопеции у&nbsp;девушек. Злоупотребление укладочными средствами, использование термоинструментов для сушки и&nbsp;укладки, тугие прически&nbsp;&mdash; факторы, повреждающие волосяные фолликулы.
              li Недостаток сна из-за большой учебной и&nbsp;экзаменационной нагрузки также способствуют алопеции у&nbsp;подростков.
            //- +figure({src:'/assets/images/articles/vypadenie-volos-u-podrostov/podrostov-5', caption:'Стадии потери волос у девушек'})

            h2 Особенности выпадения волос у&nbsp;мальчиков-подростков
            ul.list-marked 
              li Редкие волосы у&nbsp;подростка мальчика часто указывают на&nbsp;первые симптомы андрогенетической алопеции (АГА), которой подвержены мужчины всех возрастов (женщины реже). Виновник развития АГА&nbsp;&mdash; дигидротестостерон, который естественным образом содержится в&nbsp;мужском организме. ДГТ прикрепляется к&nbsp;волосяным луковицам, расположенным на&nbsp;висках, макушке и&nbsp;передней части головы мужчин, вызывая истончение и&nbsp;поредение волосяного покрова в&nbsp;этих областях.
              li Когда выпадают волосы у&nbsp;подростка внезапно на&nbsp;фоне полного здоровья, а&nbsp;у&nbsp;безволосых участков округлая форма, то&nbsp;речь скорее об&nbsp;очаговой алопеции. Это до&nbsp;конца не&nbsp;изученное состояние, которое плохо поддается лечению. Часто волосяной покров постепенно восстанавливается без лечения, но&nbsp;не&nbsp;всегда.
            //- +figure({src:'/assets/images/articles/vypadenie-volos-u-podrostov/podrostov-6', caption:'Стадии потери волос у юношей'})

            h2 Лечение подростковой алопеции
            p В&nbsp;зависимости от&nbsp;типа алопеции доступны разные методы лечения. Если лекарство вызывает выпадение волос, ваш врач может назначить препарат с&nbsp;другим действующим веществом. Распознавание и&nbsp;лечение инфекции помогает остановить выпадение волос. Исправление гормонального дисбаланса предотвращает дальнейшее облысение.
            ul.list-marked 
              li Грибковые инфекции кожи головы лечат противогрибковыми препаратами;
              li При присоединении бактериальной инфекции терапию дополняют антибиотиками;
              li При андрогенной алопеции применяют препараты, тормозящие действие мужских половых гормонов (антиандрогены);
              li Терапия прогестероном или эстрогеном проводится при женском облысении;
              li Кортикостероиды, сосудорасширяющие, снижающие активность иммунной системы препараты назначают при разных типах облысения.
            p Достаточно наладить режим питания и&nbsp;отдыха, минимизировать использование укладочных средств и&nbsp;термоинструментов, регулярно освежать кончики и&nbsp;избегать тугих причесок, как постепенно плотность волосяного покрова восстановится. Если облысение вызвано химиотерапией или приемом других лекарств, после курса лечения работа фолликулов возобновляется.

            h2 Психологическая поддержка и&nbsp;коррекция внешнего вида
            p Состояние, когда у&nbsp;подростка сильно выпадают волосы, вызывает у&nbsp;него серьезное эмоциональное расстройство, социальную изоляцию, низкую самооценку и&nbsp;много других последствий, подрывающих уверенность в&nbsp;себе. Важно дать понять ребенку, что волосы не&nbsp;определяют его как личность. Обращение за&nbsp;профессиональной помощью&nbsp;&mdash; это не&nbsp;признак слабости, а&nbsp;важный шаг к&nbsp;восстановлению контроля над своей жизнью и&nbsp;благополучием.
            p Социальное давление играет решающую роль в&nbsp;сохранении неудовлетворенности внешностью. Поэтому, если редеющие пряди вызывают беспокойство, на&nbsp;период лечения используют маскирующие средства.

            h3 Камуфлирующая пудра
            p Если нет видимых проплешин, применяют камуфлирующую пудру для придания прядям более густого и&nbsp;пышного вида. Достаточно нанести небольшое количество порошка на&nbsp;руки и&nbsp;равномерно распределить по&nbsp;прядям.
            +figure({src:'/assets/images/articles/vypadenie-volos-u-podrostov/podrostov-7', caption:'Эффект применения камуфляжа для волос, до и после'})

            h3 Аксессуары
            p Головные уборы и&nbsp;аксессуары замаскируют поредевшие пряди и&nbsp;проплешины, улучшат стиль, станут ключевым элементом образа. Кепка или шапка бини дополнительно защищают голову от&nbsp;солнечных лучей, пыли и&nbsp;холода.

            h3 Система замещения волос
            p Это отличный способ улучшить психологическое состояние и&nbsp;создать образ, соответствующий представлениям подростка о&nbsp;стиле и&nbsp;красоте. Система относится к&nbsp;постижерным изделиям, которые носят непрерывно до&nbsp;шести месяцев. Системы созданы в&nbsp;помощь людям, борющимся с&nbsp;алопецией, и&nbsp;не&nbsp;имеют противопоказаний. Изделие не&nbsp;только скрывает редкие локоны и&nbsp;залысины, но&nbsp;и&nbsp;предоставляет свободу выбора цвета, длины и&nbsp;укладки волос. Системы замещения из&nbsp;натуральных прядей практически неотличимы от&nbsp;собственных волос клиента.
            p Подходят для частичной и&nbsp;полной маскировки. Используются на&nbsp;временной или постоянной основе. Гипоаллергенный силикон основы не&nbsp;вызывает раздражение, а&nbsp;сетчатая структура свободно пропускает воздух к&nbsp;голове.

            include /blocks/article-block/article-block

            h2 Центр эстетики волос &laquo;Гамма&raquo;
            ul.list-marked 
              li Восстанавливаем волосяной покров с&nbsp;помощью систем замещения;	
              li Уверены, что система&nbsp;&mdash; это дополнение к&nbsp;индивидуальности, а&nbsp;не&nbsp;замена;
              li Создаем комфортную психологическую обстановку для клиентов;
              li Гарантируем качество и&nbsp;безопасность наших изделий;	
              li Ремонтируем и&nbsp;чистим системы при необходимости.
            
            include /blocks/article-form/article-form

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Как отличить нормальное выпадение волос от&nbsp;патологического?</h3>')
              p В&nbsp;этом вопросе ориентируются на&nbsp;норму выпадения волос, это до&nbsp;100-150 волосков в&nbsp;день. Естественное обновление волосяного покрова проходит незаметно. Как только стали замечать выпавшие волоски на&nbsp;одежде, подушке, в&nbsp;стоке душа, посетите врача для проведения тестов на&nbsp;интенсивность выпадения.
            +dropDown('<h3>Как предотвратить выпадение волос у&nbsp;подростков?</h3>')
              p При неблагоприятной наследственности или аутоиммунных процессах срабатывают множественные факторы. Не&nbsp;всегда получается предотвратить болезнь, но&nbsp;можно снизить уровень предрасположенности, изменив образ жизни. Корректировка диеты, управление стрессом и&nbsp;регулярные физические упражнения положительно влияют на&nbsp;здоровье волосяных луковиц и&nbsp;стержней. Отказ от&nbsp;курения и&nbsp;щадящие методы ухода за&nbsp;прядями минимизируют ущерб и&nbsp;стимулируют рост волос.
            +dropDown('<h3>Может&nbsp;ли стресс быть единственной причиной выпадения волос?</h3>')
              p Да, стресс провоцирует разные биохимические реакции в&nbsp;организме, которые неблагоприятно сказываются на&nbsp;здоровье фолликулов, что при хроническом стрессе приводит к&nbsp;облысению.
            +dropDown('<h3>Какие средства для укладки безопасны для подростков?</h3>')
              p Любые средства для укладки не&nbsp;безопасны для здоровья, так как содержат потенциально опасные компоненты: ароматизаторы, консерванты, этиловый спирт и&nbsp;т.д. Поэтому применяют два правила: использовать минимум средства, смывать лак или гель перед сном.
            +dropDown('<h3>Как влияет сон на&nbsp;состояние волос подростков?</h3>')
              p Недостаток сна приводит к&nbsp;избытку кортизола, ухудшает питание волосяных луковиц и&nbsp;кожи головы, что ведет к&nbsp;интенсивному выпадению волос.

            +dropDown('<h2>Литература</h2>', { h2: true })    
              ul.list-marked 
                li Комбинированный метод лечения больных алопецией/ Зоирова Н.П., Полион Н.Н., Горбунцов В.В.;
                li Микроэлементный статус пациентов с&nbsp;очаговыми формами гнездной алопеции/ Николаева Т.В.;
                li Лысая. Твоя жизнь изменилась, но&nbsp;она продолжается/ Шантамани&nbsp;А.;
                li Особенности психоэмоционального состояния детей и&nbsp;подростков, больных различными клиническими формами гнездной алопеции, их&nbsp;значение в&nbsp;выборе тактики патогенетической терапии/ Аветисян Г.А.

block styles
  +style('inner')
