extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Выпадение волос у женщин после 50
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 }).article-article
            //- +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-1', caption:''})

            p Большинство женщин, возраст которых превысил 45&nbsp;лет, жалуются на&nbsp;редеющие волосы: отмечают периодическое выпадение, после чего наступает период возобновления роста. 
            p Но&nbsp;выпадение волос у&nbsp;женщин после 50&nbsp;только прогрессирует, процесс происходит безвозвратно. Потому эту статью уделим разбору вопроса о&nbsp;возрастной алопеции у&nbsp;прекрасной половины человечества.
            +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-2', caption:'Выраженность потери волос у женщин по шкале Людвига'})

            h2 Понятие алопеции
            p Научный термин, за&nbsp;которым стоит обозначение процесса выпадения волос. Но&nbsp;если в&nbsp;этом вопросе существует физиологическая норма, то&nbsp;выделяют и&nbsp;патологические состояния, которые стоит рассмотреть. 
            p Например, возрастная алопеция характеризуется равномерным поредением и&nbsp;истончением шевелюры, в&nbsp;то&nbsp;время как при других формах наблюдают активное и&nbsp;быстрое облысение. 
            p Самые распространенные типы алопеции, связанные и&nbsp;с&nbsp;возрастным фактором,&nbsp;&mdash; андрогенетическая и&nbsp;диффузная. 
            +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-3', caption:'Стадии выпадения волос у женщин'})

            h3 Особенности диффузной алопеции
            p Характеризуется обильным выпадением, когда ежедневно женщина теряет гораздо более 100 волос (показатель для физиологической нормы). 
            +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-4', caption:'Диффузная алопеция'})
            p Запускает патологический процесс нехватка микроэлементов и&nbsp;прочих полезных веществ, состояния после инфекций, стрессовые реакции, длительное лечение определенными медикаментами, например, антибиотиками. 
            p Особенно сильно диффузная алопеция наблюдается при климаксе: выпадение волос при менопаузе связано с&nbsp;кардинальной сменой гормонального фона.
            p Но&nbsp;диффузное выпадение не&nbsp;формирует стойкие залысины, поскольку на&nbsp;месте выпавших достаточно быстро отрастают новые волосы, даже без начала специфического лечения. 
            p Но&nbsp;если женщина хочет вернуть густоту, решить проблему истонченных волос, нужно предпринять меры на&nbsp;начальной стадии заболевания.

            h3 Андрогенетическая алопеция
            p Характеризуется постепенным поредением и&nbsp;истончением шевелюры, преимущественно в&nbsp;области темени и&nbsp;лба. В&nbsp;этих зонах сосредоточены волосяные луковицы, чувствительные к&nbsp;мужскому половому гормону, который входит в&nbsp;группу андрогенов (откуда и&nbsp;произошло название патологии)&nbsp;&mdash; тестостерону.
            //- +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-5', caption:'Андрогенетическая алопеция'})
            
            p Патологию усложняет сочетание нескольких факторов, а&nbsp;именно:
            ul.list-marked 
              li В&nbsp;упомянутых волосистых зонах действует особый фермент&nbsp;&mdash; 5-альфа-редуктаза. 
              li Он&nbsp;трансформирует вышеупомянутый гормон в&nbsp;дигидротестостерон, в&nbsp;результате чего волосяные луковицы уменьшаются в&nbsp;размерах, а&nbsp;потом атрофируются.
            p Если пропущена ранняя стадия заболевания, когда еще можно успеть зарастить облысевшие участки, восстановить желаемую густоту, то&nbsp;женщина столкнется с&nbsp;необратимыми залысинами.
            p Также андрогенетическую алопецию рассматривают как наследственное заболевание, негативно сказывающееся на&nbsp;жизнедеятельности фолликулов. 
            p А&nbsp;некоторые авторы ставят знак равенства между этим облысением и&nbsp;возрастным (сениальным). Все связано с&nbsp;характером реагирования волосяных луковиц на&nbsp;окислительной стресс, который и&nbsp;запускает старение организма.
            p Учитывая, что менопауза провоцирует снижение антиоксидантной защиты, негативные процессы ускоряются и&nbsp;в&nbsp;фолликулах. Очередная причина, связанная с&nbsp;этим состоянием, кроется в&nbsp;уменьшении выработки эстрогенов. Эти гормоны положительно воздействуют на&nbsp;жизненный цикл волосяных луковиц, а&nbsp;именно в&nbsp;фазе активного отрастания волос. Как только их&nbsp;становится меньше, облысению подвергается темя и&nbsp;лобная зона.

            h2 Основные причины выпадения волос у&nbsp;женщин после 50
            p Редеют волосы у&nbsp;женщин с&nbsp;возрастом по&nbsp;таким причинам:
            ul.list-marked 
              li Эндокринные болезни. С&nbsp;возрастом организм сталкивается с&nbsp;обеднением функциональных возможностей щитовидной железы: она уменьшает выработку специфических гормонов. Учитывая, что они влияют на&nbsp;обменные процессы в&nbsp;организме, их&nbsp;нехватка замедляет метаболизм, провоцирует сбой в&nbsp;работе органов, кровоснабжении тканей. Кроме ухудшения здоровья в&nbsp;целом, страдают и&nbsp;фолликулы, становясь ломкими, истонченными, а&nbsp;также они теряют блеск и&nbsp;увлажненность.
              li Перестройка гормонального фона. Ранее уже упоминалась менопауза, связанная с&nbsp;угнетением деятельности яичников. В&nbsp;результате в&nbsp;организме резко снижается выработка прогестерона, эстрогенов, клетки обезвоживаются, недостаточно вырабатывается кератин и&nbsp;коллаген.
              li Существенно страдает кожа, появляются морщины, ухудшается состояние ногтей и&nbsp;волос, поскольку нарушается питание волосяных луковиц. Ранее эстрогены препятствовали действию мужских половых гормонов, которые вызывали андрогенетическую алопецию. Как только они перестают справляться с&nbsp;возложенной на&nbsp;них функцией, начинается активное выпадение волос.
              li Сбои в&nbsp;работе желудочно-кишечного тракта. Количество заболеваний хронического течения с&nbsp;возрастом только увеличивается. Такие болезни становятся пусковым фактором для возрастного облысения. Поскольку в&nbsp;желудочно-кишечном тракте резко снижается продукция пищеварительных ферментов, питательные вещества всасываются в&nbsp;недостаточных количествах. Их&nbsp;нехватка в&nbsp;организме препятствует процессам клеточного деления, а&nbsp;также негативно сказывается на&nbsp;развитии и&nbsp;росте волосяных луковиц. В&nbsp;результате шевелюра редеет, истончается, существенно ухудшается общее состояние организма. 
              li Физиологическое старение волосяных луковиц. Если исследовать фолликулы пожилых людей под увеличением микроскопа, то&nbsp;можно отметить их&nbsp;существенное уменьшение в&nbsp;размерах, потерю формы и&nbsp;признаки дистрофических процессов. Все связано с&nbsp;генетической закладкой жизненных циклов фолликулов. Стоит волосяным луковицам выработать свой ресурс, они уже не&nbsp;смогут отвечать за&nbsp;рост волос в&nbsp;прежнем режиме. Изначально длительность активного роста сокращается, пока фолликулы не&nbsp;входят в&nbsp;фазу покоя, которая необратима.
              li Прием лекарственных средств. Справляться с&nbsp;множественными болезнями, наступающими с&nbsp;возрастом, приходится с&nbsp;помощью лекарств, побочные эффекты которых негативно сказываются на&nbsp;состоянии фолликулов. Прием биологически активных добавок, антидепрессантов, препаратов для снижения давления и&nbsp;препятствования сворачиванию крови, антибиотиков, средств от&nbsp;онкологических заболеваний, глюкокортикостероидов приводит к&nbsp;выпадение волос.
            +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-6', caption:'Факторы выпадения волос'})

            p Также состояние усугубляют заболевания кожи, нарушение ухода, несбалансированное питание, травмы, кровопотери, инфекционные процессы в&nbsp;организме, во&nbsp;время которых ухудшается питание фолликулов.
            +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-7', caption:'Сбалансированное питание поможет предотвратить выпадение волос'})

            p Также выпадение волос у&nbsp;женщин после 50&nbsp;связано&nbsp;с:
            ul.list-marked 
              li Внешними воздействиями. Частое пребывание под атмосферными осадками без головного убора и&nbsp;зонта, нахождение на&nbsp;улице при сильных ветровых порывах, под палящими лучами солнца ухудшает состояние волос, поскольку корни ослабевают.
              li Частые процедуры окрашивания и&nbsp;стайлинга. Чрезмерная погоня за&nbsp;идеалом: смена оттенка, структуры волос, в&nbsp;целом салонные процедуры, которые проводят слишком часто, необдуманно и&nbsp;не&nbsp;всегда целесообразно негативно сказываются на&nbsp;состоянии волос. Потому за&nbsp;подобными услугами нужно обращаться только к&nbsp;профессионалам, прислушиваться к&nbsp;их&nbsp;рекомендациям, особенно о&nbsp;частоте проведения процедур. А&nbsp;также предпочитать высушивать волосы естественным способом, реже использовать утюжки, плойки и&nbsp;фен.

            h2 Основные методы лечения выпадения волос после 50
            p Специалисты разработали следующие способы лечения:
            ul.list-marked 
              li Общеукрепляющая терапия. Предполагает назначение комплексов витаминов, минералов, которые доставляют к&nbsp;волосяным луковицам необходимые питательные вещества, укрепляющие и&nbsp;восстанавливающие рост локонов, проявляющие антиоксидантное воздействие, нормализующие состояние кожного покрова.
              li Препараты, корректирующие эмоциональный фон, стрессовое состояние, включая успокоительные.
              li Фотохимиотерапия. Предполагает применение препаратов внутрь и&nbsp;наружно, и&nbsp;последующее ультрафиолетовое воздействие.
              li Местное применение спреев, сывороток, масок, нормализующих питание фолликулов.
              li 
                p Мезотерапия. Витамины и&nbsp;прочие питательные компоненты вводят в&nbsp;кожу головы, используя инъекционный способ.
                //- +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-8', caption:'Мезотерапия'})
                
              li 
                p Криомассаж. Физиотерапевтический метод, базирующийся на&nbsp;холодовом воздействии, который предназначен для активации восстановительных и&nbsp;обменных процессов в&nbsp;волосяных луковицах.
                +figure({src:'/assets/images/articles/vypadenija-volos-u-zhenshhin-posle-50-let/posle-50-9', caption:'Криомассаж'})

              li Пересадка волос&nbsp;&mdash; хирургическая операция по&nbsp;трансплантации фолликулов из&nbsp;неповрежденных участков в&nbsp;безволосые, после чего пациент ожидает, чтобы они прижились.

            h3 Альтернативный метод&nbsp;&mdash; безоперационное замещение волос
            p Мы, Центр эстетики волос &laquo;Гамма&raquo;, предлагаем решить проблему отсутствия волос сразу в&nbsp;день обращения&nbsp;&mdash; установить систему волос на&nbsp;безопасные и&nbsp;максимально прочные полимеры.
            p Изделия созданы из&nbsp;натуральных волос, основы, которая имитирует кожу головы, создает эффект реалистичного пробора, надежную фиксацию, что разницу сложно заметить даже опытному парикмахеру.
            p Система пропускает воздух, позволяет коже дышать, носить любую прическу, смело менять пробор, вести активный образ жизни, включая плавание в&nbsp;бассейне, море, посещение бани, солярия.
            
            include /blocks/article-block/article-block

            h2 Преимущества Центра
            ul.list-marked 
              li Более десятилетия возвращаем волосы, новое качество жизни и&nbsp;уверенность в&nbsp;себе сотням клиентов.
              li Следуем всем нормам конфиденциальности: организовали отдельный вход, продуманную систему кабинетов, не&nbsp;выкладываем фото и&nbsp;видео без согласия человека.
              li Гарантируем стопроцентный результат в&nbsp;день обращения: клиент получает новую шевелюру, которая восполняет все функции родных волос.
              li Сервис от&nbsp;А до&nbsp;Я.&nbsp;Не&nbsp;просто подбираем систему, но&nbsp;и&nbsp;фиксируем, делаем укладку, стрижку, прическу, оказываем услуги по&nbsp;ремонту изделия, окрашивание.
            
            include /blocks/article-form/article-form

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Как остановить выпадение волос при климаксе?</h3>')
              p Назначают блокаторы андрогенных рецепторов, витаминные комплексы, делают массаж кожи головы, плазмолифтинг, мезотерапию, правильно подбирают шампуни и&nbsp;маски.
            +dropDown('<h3>Что пить, когда сильно выпадают волосы?</h3>')
              p Лучше пропить препараты, содержащие витамины группы B, C, D&nbsp;и&nbsp;прочие комплексы, которые назначит врач.
            +dropDown('<h3>Что делать в&nbsp;домашних условиях при сильном выпадении?</h3>')
              p Важно пересмотреть рацион питания, добавить овощи, ягоды, зелень, морепродукты, рыбу. Обязательно защищать кожу головы зимой и&nbsp;летом. Обеспечить тщательное, но&nbsp;мягкое мытье головы, отказаться от&nbsp;сухих шампуней. Применять маски от&nbsp;выпадения волос, ампулы с&nbsp;витаминами.
            +dropDown('<h3>Что нужно добавить в&nbsp;шампунь, чтобы остановить выпадение?</h3>')
              p Приобрести витамины в&nbsp;ампулах, мумие, глицерин, мелкую соль.
            +dropDown('<h3>Что втирать в&nbsp;кожу головы при алопеции?</h3>')
              p Важно в&nbsp;целом делать массаж кожи, используя аминексил, витамины группы B, PP. 

            +dropDown('<h2>Источники</h2>', { h2: true })    
              ul.list-marked 
                li Аравийская Е.Р., Михеев Т.Н., Мошкалова И.А., Соколовский Е.В. Облысение. Дифференциальный анализ. Методы терапии. Под ред. Е.В.Соколовского. &mdash;&nbsp;С.-Петербург: Сотис, 2003.
                li Иванов О.Л., Львов А.Н. Справочник дерматолога.&mdash;М., 2005.
                li Клиническая дерматовенерология в&nbsp;2-х томах. Под ред. Ю.К.Скрипкина, Ю.С.Бутова.&mdash;М: ГЭОТАР-Медиа, 2009.&mdash; т.&nbsp;1.
                li Самцов А.В., Божченко А.А. Медикаментозная терапия андрогенетической алопеции: современное состояние проблемы. // Клиническая дерматология и&nbsp;венерология.&mdash; 2006.&mdash; &#8470;&nbsp;1.&mdash; С. 11&ndash;17.
                li Эрнандес Е.И., Марголина А.А. Борьба за&nbsp;волосы.&nbsp;/ Под ред. Ж.Г.Умерова.&mdash; М.: Косметика и&nbsp;медицина, 1999.&mdash; 102&nbsp;с.
                li Olsen E.A., Messenger A.G., Shapiro&nbsp;J., et&nbsp;al. Evaluation and treatment of&nbsp;male and female pattern hair loss. // J. Am. Acad. Dermatol.&mdash; 2005.&mdash; Vol.&nbsp;52, &#8470;&nbsp;2.&mdash; P. 301&ndash;311.

block styles
  +style('inner')
