extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Выпадение волос после химиотерапии
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            
            p Химиотерапия&nbsp;&mdash; медикаментозный метод лечения злокачественных образований, направленный на&nbsp;замедление роста или уничтожение раковых клеток, для которых характерно быстрое и&nbsp;неуправляемое деление. Для этого используют один или несколько препаратов&nbsp;&mdash; цитостатиков. Схемы химиотерапии составляют из&nbsp;нескольких курсов с&nbsp;интервалами между приемами лекарств для восстановления поврежденных тканей.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-1', caption:'Выпадение волос при химиотерапии - очень распространенное явление'})

            p Химиотерапевтические препараты&nbsp;&mdash; клеточные яды, избирательно воздействующие на&nbsp;непрерывно делящиеся клетки организма. Их&nbsp;мишенью часто становятся волосяные фолликулы, так как лекарство не&nbsp;в&nbsp;состоянии дифференцировать клетки, поэтому убивает все. По&nbsp;этой причине у&nbsp;большинства больных наблюдается выпадение волос после химиотерапии.
            //- +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-2', caption:'Принцип действия химиотерапии'})

            h2 Жизненный цикл волоса
            p Каждый волос рождается в&nbsp;волосяной луковице, присутствующей в&nbsp;волосяных фолликулах. Новые стержни растут благодаря тому, что клетки луковицы активно делятся. По&nbsp;мере размножения новых клеток старые выталкиваются за&nbsp;пределы волосяной луковицы, вырастая в&nbsp;виде волосяного стержня. За&nbsp;жизненный цикл волосы проходят три этапа развития.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-3', caption:'Жизненный цикл волоса'})

            ul.list-marked 
              li #[strong Анаген]&nbsp;&mdash; фаза роста. Деление клеток происходит быстро, старые клетки продвигаются к&nbsp;поверхности кожного покрова. Период анагена длится до&nbsp;3&nbsp;лет. В&nbsp;среднем каждый стержень вырастает на&nbsp;12,7&nbsp;мм каждый месяц. В&nbsp;любой момент времени до&nbsp;85&nbsp;% волосяных фолликулов в&nbsp;состоянии анагена.
              li #[strong Катаген]&nbsp;&mdash; период покоя или переходная фаза. Волоски перестают расти, когда переходят в&nbsp;стадию катагена, и&nbsp;остаются в&nbsp;ней месяц. На&nbsp;этом этапе волосяной фолликул, из&nbsp;которого вырос стержень, начинает сжиматься. Однако стержни не&nbsp;выпадают сразу, а&nbsp;некоторое время держатся крепко. В&nbsp;любой момент времени в&nbsp;среднем 1&nbsp;% волосяного покрова пребывает в&nbsp;стадии покоя.
              li #[strong Телоген]&nbsp;&mdash; заключительный этап, известный как фаза выпадения. Это время, когда телогеновая луковица приобретает вытянутую форму и&nbsp;начинает двигаться к&nbsp;поверхности кожи головы. В&nbsp;период телогена новый стержень начинает расти, а&nbsp;старый выпадает. Длится до&nbsp;3&nbsp;месяцев. Как только волосы выпадают, волосяные фолликулы снова вступают в&nbsp;фазу роста. В&nbsp;любой момент времени не&nbsp;больше 10&nbsp;% волосяного покрова находится в&nbsp;телогене.
            p В&nbsp;течение жизни у&nbsp;человека в&nbsp;среднем происходит 25&nbsp;циклов волосяного роста. Как правило, общее количество волос остается постоянным, несмотря на&nbsp;то, что проходят разные этапы. В&nbsp;идеале соотношение между анагеном и&nbsp;телогеном составляет 80:20. Это значит, что 80&nbsp;% волосяного покрова находятся в&nbsp;фазе роста, а&nbsp;20&nbsp;%&nbsp;&mdash; выпадения.

            h2 Почему от&nbsp;химиотерапии выпадают волосы	
            p Химиотерапевтические препараты относятся к&nbsp;группе цитостатиков, тормозящих деление клеток в&nbsp;организме, главная мишень которых&nbsp;&mdash; опухолевые клетки. Но&nbsp;под агрессивное воздействие противоопухолевых препаратов попадают и&nbsp;здоровые клетки, включая волосяные фолликулы, относящиеся к&nbsp;числу быстрорастущих. 
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-4', caption:''})

            p С&nbsp;проблемой выпадения волос при онкологии сталкивается большинство пациентов, что усугубляет и&nbsp;так тяжелое психоэмоциональное состояние, вызванное заболеванием и&nbsp;его лечением. Выпадение волос после химиотерапии развивается по&nbsp;двум сценариям.
            ul.list-marked 
              li #[strong Анагеновое облысение]. Тормозится процесс деления кератиноцитов (волосковых клеток) в&nbsp;волосяной луковице, провоцируя анагеновую алопецию&nbsp;&mdash; состояние, при котором стержни выпадают, пропуская этап телогена. Анагеновому облысению свойственно стремительное развитие. Объясняется это мощным действием цитостатиков. У&nbsp;фолликулов не&nbsp;хватает времени перейти из&nbsp;анагена в&nbsp;телоген. При приеме противораковых препаратов волосяные луковицы находятся в&nbsp;фазе застоя, поэтому существующие волосяные стержни отпадают.
              li #[strong Истончение]. В&nbsp;стержне волоса происходят структурные изменения, приводящие к&nbsp;истончению и&nbsp;ломкости.
            //- +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-5', caption:'Выпадение волос'})
            p Химиотерапия провоцирует тотальную алопецию&nbsp;&mdash; у&nbsp;пациентов выпадают ресницы, брови и&nbsp;другие волоски на&nbsp;теле. К&nbsp;счастью, в&nbsp;большинстве случаев алопеция при химиотерапии носит временный характер, так как цитостатики не&nbsp;влияют на&nbsp;стволовые клетки, отвечающие за&nbsp;рост фолликулов. После лечения возобновляется волосяной рост, хотя новые волосы временно могут отличаться по&nbsp;структуре и&nbsp;цвету от&nbsp;предыдущих.

            h3 Всегда&nbsp;ли выпадают волосы после химиотерапии
            p Ошибочно мнение, что волосы всегда выпадают после химиотерапии. Противораковые препараты также могут вызвать только истончение прядей или частичную алопецию. На&nbsp;интенсивность воздействия влияет:
            ul.list-marked 
              li тип препарата или комбинация препаратов;
              li дозировка;
              li путь введения;
              li чувствительность больного к&nbsp;лекарственным компонентам.

            h3 Другие виды терапии	
            h4 Таргетная
            p При таргетной терапии, как и&nbsp;при химиотерапии, развивается угнетение кроветворения, возможна тошнота, выпадение волос. Частота и&nbsp;выраженность побочных эффектов значительно ниже в&nbsp;сравнении с&nbsp;химиотерапией.	
            +grid({ paddingy:true, parLike:true })
              +grid__item({ m:7, xs:12 })
                +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-6', caption:'Таргетная терапия — лечение с помощью лекарственных препаратов, которые нацелены на специфические особенности или молекулярные механизмы клеток опухолей и могут остановить рост и распространение рака'})

            h4 Лучевая
            p Облучение также воздействует на&nbsp;быстро растущие клетки организма, но&nbsp;в&nbsp;отличие от&nbsp;химиотерапии его действие сосредоточено на&nbsp;обрабатываемой зоне. Поэтому после облучения волосы выпадают только в&nbsp;области воздействия ионизирующего излучения. Разные виды радиации и&nbsp;дозы по-разному влияют на&nbsp;волосяной покров. Высокие дозы способны вызвать необратимую алопецию. 
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-7', caption:'Лучевая терапия'})

            h2 Когда после химиотерапии начинают выпадать волосы на&nbsp;голове? 	
            p Химиотерапия&nbsp;&mdash; это курс из&nbsp;4-8 циклов продолжительностью 3-6&nbsp;месяцев, максимально 1&nbsp;год.
            ul.list-marked 
              li Выпадение начинает проявляться через 2&ndash;3 недели после первого цикла;
              li 
                p У&nbsp;большинства людей наблюдается чрезмерное выпадение и&nbsp;диффузное истончение волосяного покрова с&nbsp;появлением залысин на&nbsp;коже головы;
                //- +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-8', caption:'Этапы выпадения волос у мужчин и женщин'})
              li В&nbsp;течение 3&nbsp;месяцев человек может полностью облысеть;
              li Фаза интенсивного выпадения часто завершается к&nbsp;концу курса.
            p Пряди выпадают клочьями или равномерно. В&nbsp;этот период наблюдается скопление выпавших волосков на&nbsp;подушке, расческе, в&nbsp;сливе душа. Кожа головы становится болезненной. Выпадение продолжается на&nbsp;протяжении всего лечения и&nbsp;в&nbsp;течение нескольких недель после него. 
            p Потребуется несколько недель, чтобы волосяные фолликулы восстановились и&nbsp;возобновился рост волос. Высока вероятность, что отросшие волоски будут отличаться от&nbsp;выпавших. Новые стержни могут виться, становиться жестче или менять цвет до&nbsp;тех пор, пока клетки, контролирующие пигмент, не&nbsp;начнут снова функционировать.

            h2 Как сохранить волосы при химиотерапии	
            p Не&nbsp;разработано ещё лечения, гарантирующего сохранность волосяного покрова во&nbsp;время или после химиотерапии. Но&nbsp;есть несколько методов, предотвращающих выпадение волос после химиотерапии, 100&nbsp;% продуктивность которых не&nbsp;доказана.

            h3 Гипотермия&nbsp;&mdash; охлаждение кожи головы
            p Во&nbsp;время лечебных инфузий на&nbsp;голову надевают плотно прилегающий силиконовый шлем от&nbsp;выпадения волос при химиотерапии, в&nbsp;который подается хладагент из&nbsp;холодильного блока, и&nbsp;циркулирует по&nbsp;трубкам при температуре &mdash;4⁰ С. Равномерное охлаждение скальпа замедляет приток крови к&nbsp;коже головы. Холод мешает токсичным лекарственным препаратам проникать в&nbsp;волосяные фолликулы и&nbsp;деструктивно воздействовать на&nbsp;них.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-9', caption:'Шлем от выпадения волос при химиотерапии'})
            p Действенность охлаждения кожи головы составляет 10-50&nbsp;%. Поэтому сложно предсказать, насколько эффективным оно будет в&nbsp;конкретном случае. Даже с&nbsp;охлаждением кожи головы потеря некоторого количества волос после начала химиотерапевтического лечения неизбежно.

            h3 Мягкие уходовые средства
            p Большинство шампуней содержат ароматизаторы и&nbsp;агрессивные химические вещества, которые еще больше высушивают и&nbsp;без того раздраженную кожу. У&nbsp;кондиционеров, напротив, часто слишком жирный состав со&nbsp;смягчающими и&nbsp;увлажняющими компонентами, которые в&nbsp;данной ситуации не&nbsp;нужны.
            p Поэтому первое практическое правило&nbsp;&mdash; упростить мытье головы. Если после сеанса химиотерапии выпадают волосы, используйте мягкий шампунь, который бережно воздействует на&nbsp;кожу головы. Медицинские работники часто рекомендуют детский шампунь с&nbsp;правильным балансом pH&nbsp;для сухой и&nbsp;воспаленной кожи. Голову моют по&nbsp;мере загрязнения. Если повысилась чувствительность кожи головы или появился зуд, втирают в&nbsp;кожу детское или минеральное масло.

            h3 Минимум агрессивного воздействия
            p Выработайте привычку бережно относиться к&nbsp;оставшимся прядям. Не&nbsp;обесцвечивайте, не&nbsp;красьте и&nbsp;не&nbsp;завивайте&nbsp;&mdash; не&nbsp;делайте того, что ослабит&nbsp;их. Чаще сушите влажные волосы на&nbsp;воздухе и&nbsp;минимизируйте использование нагревательных устройств, таких как щипцы для завивки и&nbsp;горячие бигуди.	

            h3 Осторожное расчесывание
            p Если на&nbsp;голове остались волосы, расчесывайте их&nbsp;осторожно, используя для этого щетку с&nbsp;мягкой щетиной или расческу с&nbsp;широкими зубьями, чтобы не&nbsp;тянуть и&nbsp;не&nbsp;дергать волоски. Если повысилась чувствительность кожи головы, стоит отказаться от&nbsp;расчесывания.

            h3 Защита	
            p Чтобы кожа головы не&nbsp;подвергалась агрессивному воздействию солнца, ее&nbsp;защищают солнцезащитным кремом или головным убором. Крема SPF 50&nbsp;предупреждают воздействие 98&nbsp;% UVB-лучей. Защитные средства с&nbsp;SPF 100 блокируют до&nbsp;100&nbsp;% UVB-излучения.

            h2 Как замаскировать алопецию
            p Борьба с&nbsp;раком не&nbsp;бывает легкой. Облысение при химиотерапии&nbsp;&mdash; распространенный побочный эффект агрессивного лечения. Это трудное время для больного как в&nbsp;физическом, так и&nbsp;эмоциональном плане. Алопеция только добавляет стресса и&nbsp;тревог, но&nbsp;с&nbsp;ее&nbsp;последствиями справиться проще. Ниже рассмотрим варианты как скрыть отсутствие волос, чтобы комфортно пережить период лечения и&nbsp;восстановления.

            h3 Стрижка
            p Если после химии наблюдается частичное облысение, стоит подумать о&nbsp;новой прическе, не&nbsp;требующей особого ухода. Короткие волосы выглядят гуще длинных, поэтому поредение прядей не&nbsp;так заметно. Например, стрижка Пикси позволяет укладывать пряди в&nbsp;любом направлении, чтобы прикрыть истонченные участки.

            h3 Головной убор
            p О&nbsp;платках, кепках и&nbsp;шляпах больные задумываются еще перед химиотерапией. Потому что выбирать подходящий вариант удобней до&nbsp;появления видимых проплешин. Стоит избегать узлов на&nbsp;головных уборах, которые часто вызывают раздражение.
            p Мягкий шарф&nbsp;&mdash; это&nbsp;то, что используют днем на&nbsp;улице, и&nbsp;ночью, чтобы защитить волосы и&nbsp;кожу во&nbsp;время сна. Платок&nbsp;&mdash; милый, легкий и&nbsp;приятный к&nbsp;коже аксессуар. Также это отличная защита от&nbsp;солнца, жары и&nbsp;холода.
            p Кепка или шляпа из&nbsp;легкой дышащей ткани&nbsp;&mdash; головной убор должен быть комфортным, не&nbsp;вызывать потение и&nbsp;зуд. Среди представленного разнообразия в&nbsp;магазинах несложно найти подходящий вариант.

            h3 Системы замещения волос
            p Несмотря на&nbsp;то, что после химиотерапии волосы отрастут снова, это медленный процесс, поскольку химиотерапия и&nbsp;последующее восстановление занимают много времени. Система замещения волос улучшит психологический комфорт во&nbsp;время и&nbsp;после химиотерапии. Это единственный неинвазивный метод восстановления волосяного покрова после химиотерапии, дающий максимально естественный результат. Постижерные изделия изготавливаются по&nbsp;персональному заказу и&nbsp;проходят дерматологическое исследование, что важно для раздраженной кожи после агрессивного лечения.
            p Мягкая сетчатая основа гипоаллергенного полимера плотно прилегает к&nbsp;голове, позволяет коже дышать и&nbsp;защищает от&nbsp;ультрафиолета. Системы комфортны в&nbsp;повседневном использовании, благодаря надежному креплению прядей к&nbsp;основе. При близком рассмотрении и&nbsp;на&nbsp;ощупь изделия неотличимы от&nbsp;собственных локонов. Сбривать оставшиеся или растущие волоски перед креплением системы не&nbsp;надо. Первую установку проводит мастер, который разъяснит особенности носки, ухода и&nbsp;фиксации.

            include /blocks/article-block/article-block

            h2 Студия эстетики волос &laquo;Гамма&raquo;
            p Потеря волос после химиотерапевтического курса&nbsp;&mdash; серьезный удар по&nbsp;самооценке, но&nbsp;важно помнить, что это временное состояние. Системы интегрирования волос помогут взять ситуацию под контроль и&nbsp;уверенно принять перемены. Понимаем, что не&nbsp;каждый клиент готов открыто говорить о&nbsp;проблемах, поэтому создали в&nbsp;центре комфортную и&nbsp;конфиденциальную обстановку.
            ul.list-marked 
              li Наша команда за&nbsp;10&nbsp;лет сотням клиентов вернула уверенность и&nbsp;возможность вести привычный образ жизни;
              li Выполняем полный цикл обслуживания&nbsp;&mdash; от&nbsp;консультации до&nbsp;стрижки и&nbsp;окрашивания;
              li Гарантируем 100&nbsp;% естественный результат и&nbsp;надежность крепления.
            p Специалисты центра позаботятся о&nbsp;Вас, дадут рекомендации и&nbsp;честно расскажут об&nbsp;этапах на&nbsp;пути к&nbsp;густой прическе. Наши клиенты получают полное сопровождение с&nbsp;учетом индивидуальных особенностей и&nbsp;пожеланий.

            include /blocks/article-form/article-form

            h2 Восстановление волос после лечения
            p Если вы&nbsp;только что прошли химиотерапию, то&nbsp;уже выиграли большую часть битвы! Поэтому восстановление роста волос не&nbsp;станет серьезной проблемой. Не&nbsp;ждите, что былая густота и&nbsp;длина прядей вернется сразу после химиотерапии. Требуется время, чтобы химиопрепараты покинули организм, восстановилась работа системы самоочищения. Только через 2&ndash;3 недели после лечения становится заметен рост новых волосков. Ряд пациентов отмечает, что скорость роста даже выше, чем до&nbsp;терапии.
            p Продолжайте бережный уход за&nbsp;кожей головы и&nbsp;волосами. Для мытья используйте теплую или прохладную воду. В&nbsp;этот период стержни еще хрупкие и&nbsp;уязвимы перед повреждениями, вызванными агрессивными химическими составами, средствами для укладки и&nbsp;нагревательными приборами. Не&nbsp;окрашивайте и&nbsp;не&nbsp;обесцвечивайте новые пряди, пока они не&nbsp;станут сильнее. Не&nbsp;прекращайте защищать голову от&nbsp;палящего солнца и&nbsp;холодного ветра головными уборами.

            h3 Питание и&nbsp;образ жизни для улучшения состояния волос	
            p У&nbsp;сбалансированной диеты много преимуществ для здоровья волос при химиотерапии. Например, достаточное потребление белка укрепляет фолликулы, предотвращая поредение волосяного покрова. Витамины и&nbsp;минералы, такие как витамин&nbsp;С, железо и&nbsp;цинк, защищают волосяные стержни от&nbsp;повреждений и&nbsp;улучшают их&nbsp;состояние. Правильное питание также поддерживает тонус организма, что в&nbsp;итоге положительно скажется на&nbsp;здоровье волос.
            +figure({src:'/assets/images/articles/vypadenie-volos-pri-khimioterapii/khimioterapia-10', caption:'Натуральные усилители роста волос'})

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Выпадают&nbsp;ли брови, ресницы, волосы на&nbsp;теле?</h3>')
              p Да, химиотерапия может вызвать выпадение волос по&nbsp;всему телу, включая брови и&nbsp;ресницы. Так как жизненный цикл волосков бровей и&nbsp;ресниц короче, то&nbsp;их&nbsp;поредение пациенты замечают первыми.
            +dropDown('<h3>Химиотерапия вызывает необратимую потерю волос?</h3>')
              p Установлено, что у&nbsp;65&nbsp;% людей, проходящих химиотерапию, наблюдается временное облысение, у&nbsp;остальных&nbsp;&mdash; частичное. В&nbsp;редких случаях, например, при лучевой терапии кожи головы, это может привести к&nbsp;необратимым последствиям.
            +dropDown('<h3>Выпадают&nbsp;ли волосы при раке без химии?</h3>')
              p Да, так как для лечения онкологических болезней применяют комплексный подход. Например, гормональная терапия тоже вызывает истончение и&nbsp;поредение прядей. Но&nbsp;не&nbsp;в&nbsp;таких масштабах как при химии или облучении.
            +dropDown('<h3>Влияет&nbsp;ли на&nbsp;выпадение вид онкологического заболевания?</h3>')
              p Да, зависимость определяется используемым химиотерапевтическим препаратом, так как не&nbsp;все лекарства вызывают полную алопецию. При раке молочной железы ряд препаратов провоцирует только частичное облысение. При таргетной терапии рака легких также волосы становятся тоньше, редеют, но&nbsp;не&nbsp;выпадают полностью.
            +dropDown('<h3>У&nbsp;всех&nbsp;ли пациентов выпадают волосы после химиотерапии?</h3>')
              p Нет, помимо вида и&nbsp;дозировки химиопрепаратов на&nbsp;степень выпадения влияет генетический профиль&nbsp;&mdash; не&nbsp;все пациенты склонны к&nbsp;облысению.
            +dropDown('<h3>Выпадают&nbsp;ли волосы от&nbsp;паклитаксела?</h3>')
              p Ретроспективное исследование показало, что доцетаксел и&nbsp;паклитаксел вызывают необратимое выпадение волос. Подобное осложнение чаще встречается при терапии доцетакселом, чем паклитакселом.
            +dropDown('<h3>Какие лекарства предотвращают алопецию при химиотерапии?</h3>')
              p Ученые еще не&nbsp;разработали лекарств, предотвращающих выпадение или истончение волос при химиотерапии.
            +dropDown('<h3>Какие безопасные методы окрашивания волос во&nbsp;время лечения?</h3>')
              p Из-за высокой токсической нагрузки на&nbsp;организм во&nbsp;время химиотерапии от&nbsp;окрашивания лучше воздержаться. Даже растительными красителями пользуются за&nbsp;неделю до&nbsp;начала курса и&nbsp;через неделю после завершения лечения. Допустимо ополаскивание головы отваром ромашки для обесцвечивания на&nbsp;0,5 тона и&nbsp;уменьшения зуда.
            +dropDown('<h3>Допустимо&nbsp;ли использование средств для роста волос во&nbsp;время химиотерапии?</h3>')
              p Нет, действие средств, стимулирующих рост фолликулярных клеток, будет нейтрализовано химиотерапевтическими препаратами, которые убивают быстрорастущие клетки. Допустим прием витаминов, полезных для волос, например, биотина.
            +dropDown('<h3>После какой химии выпадают волосы?</h3>')
              p Не&nbsp;все препараты, используемые при химиотерапии, одинаково воздействуют на&nbsp;волосы. Например, лекарства с&nbsp;действующим веществом циклофосфамид, которые включают в&nbsp;курс лечения рака груди, чаще приводят к&nbsp;истончению стержней и&nbsp;частичной алопеции. Действие доксорубицина проявляется истончением прядей, а&nbsp;в&nbsp;дальнейшим&nbsp;&mdash; полной их&nbsp;потерей. Лечение паклетакселом вызывает внезапную потерю всех волос. Человек просто однажды просыпается лысым.
              p Для оценки степени вероятности развития алопеции при химиотерапии актуален ряд критериев: возраст и&nbsp;тип волос больного, дозировка и&nbsp;особенности используемых препаратов, количество терапевтических курсов.
            +dropDown('<h2>Используемая литература</h2>', { h2: true })    
              ul.list-marked 
                li Химиотерапия злокачественных новообразований/ Чу&nbsp;Эдвард, Ким Ричард, Де&nbsp;Вита-младший Винсент&nbsp;Т.;
                li Руководство для пациентов и&nbsp;их&nbsp;родственников во&nbsp;время проведения химиотерапии/ Евгения Харченко;
                li Опыт применения системы глубокой управляемой гипотермии волосистой части головы для профилактика алопеции в&nbsp;процессе химиотерапии/ С.&nbsp;З.&nbsp;Сафина, Мухамедьярова Гульнара Камиловна, И.&nbsp;И.&nbsp;Хайруллин;
                li Выпадение волос при онкологических заболеваниях&nbsp;/ Под редакцией руководителя Национального центра маммологии и&nbsp;онкологии репродуктивных органов ФГБУ &laquo;МНИОИ им. П.А. Герцена&raquo;, президента Российской ассоциации маммологов, заслуженного деятеля науки&nbsp;РФ, доктора медицинских наук, профессора Н.И. Рожковой.

block styles
  +style('inner')
