extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/icon-block/icon-block
include /blocks/form/form
include /blocks/drop-down/drop-down

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        h1 Как скрыть алопецию
        +grid({ paddingy:true }).page-subsection-article
          +grid__item({ m:9, xs:12 })
            p Волосы&nbsp;&mdash; удивительная часть человеческого тела. По&nbsp;прочности соперничают только со&nbsp;сталью, как губка впитывают влагу и&nbsp;питательные вещества, дополняют или разрушают облик человека. Выпадение волос&nbsp;&mdash; не&nbsp;только физическое, но&nbsp;и&nbsp;психологическое состояние. Осознание, что выпавшие навсегда локоны изменят облик, вызывает тревогу и&nbsp;негативно влияет на&nbsp;самооценку. До&nbsp;40&nbsp;% женщин испытывают трудности в&nbsp;браке, а&nbsp;63&nbsp;%&nbsp;&mdash; в&nbsp;карьере из-за алопеции.

            h2 Общая информация об&nbsp;алопеции
            p Алопеция&nbsp;&mdash; распространенная медицинская проблема, с&nbsp;которой сталкиваются мужчины и&nbsp;женщины разного возраста. Это больше, чем эстетический недостаток, ВОЗ считает облысение болезнью. Относится к&nbsp;норме ежедневная потеря до&nbsp;120&nbsp;волосков. При алопеции показатель гораздо больше. Алопеция развивается вследствие наследственной предрасположенности, чувствительности к&nbsp;дигидротестостерону, недостатка микроэлементов, гормонального сбоя или приема лекарств. Первоначально устанавливают причину и&nbsp;узнают, можно&nbsp;ли восстановить волосяной покров.
            p Если возобновить рост волос невозможно, разработано много способов скрыть или замаскировать поредевшие пряди и&nbsp;залысины, которые легко внедрить в&nbsp;ежедневный ритуал ухода за&nbsp;собой. В&nbsp;статье раскрываем секреты, позволяющие чувствовать себя великолепно внутри и&nbsp;снаружи, несмотря на&nbsp;выпадение волос.

            h2 Современные прически и&nbsp;стрижки для маскировки залысин
            h3 Советы мужчинам при облысении
            ul.list-marked 
              li Если у&nbsp;мужчины поредела шевелюра, появились залысины, но&nbsp;нет сильного истончения стержней, подойдет стрижка с&nbsp;выбритыми волосами по&nbsp;бокам и&nbsp;сзади с&nbsp;сохранением длины в&nbsp;верхней части.
              li 
                p Фактурные и&nbsp;хаотичные стрижки, например, гранж, хорошо скрывают небольшие участки облысения, создают стильный и&nbsp;слегка небрежный образ.
                +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-1', caption:'Стрижка в стиле гранж'})
              li Бритье головы. Метод подходит, когда количество выпавших волосяных стерженей превышает количество оставшихся. Бритая голова выглядит стильно, не&nbsp;требует дополнительного ухода. Борода уравновешивает нехватку растительности на&nbsp;голове и&nbsp;добавляет образу мужественности.
              li Поднятие прядей у&nbsp;корней короткой или средней стрижки скроет незначительную проблему, повысит объемность прически. 

            h3 Советы женщинам при облысении
            p Скрыть залысины у&nbsp;женщин с&nbsp;истонченными локонами поможет ровный или закругленный боб, придающий прическе пышность. Если выбор пал на&nbsp;стрижку до&nbsp;плеч, то&nbsp;скроет алопецию у&nbsp;женщин длинный боб средней длины, который сочетается с&nbsp;волнистыми прядями. Боб универсален и&nbsp;подойдет для любой внешности. Французское каре подчеркнет густоту волос по&nbsp;периметру.
            +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-2', caption:'Стрижка боб'})
            p Многослойные стрижки&nbsp;&mdash; подходящий выбор для истонченных волос и&nbsp;проплешин. Слои добавляют объем и&nbsp;подвижность, создавая эффект объемной прически. Многослойная стрижка позволяет экспериментировать с&nbsp;разными стилями.
            +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-3', caption:'Многослойная стрижка'})
            p Челка &mdash; правильное решение, когда надо скрыть залысины на&nbsp;лбу у&nbsp;женщин. При образовании проплешин только с&nbsp;одной стороны проблему решает боковой пробор на&nbsp;другой и&nbsp;укладка прядей на&nbsp;сторону с&nbsp;залысинами. 
            p Если женщина начала лысеть в&nbsp;области висков, то&nbsp;исправит проблему залысин у&nbsp;женщин на&nbsp;висках стрижка с&nbsp;фигурным выстригом.
            +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-4', caption:'Стрижка выбритыми узорами'})
            .block-marked.block-marked--padding-small
              p Во&nbsp;время укладки желательно избегать жесткие расчески и&nbsp;сушку горячим воздухом, чтобы не&nbsp;травмировать оставшиеся волосы.
            +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-5', caption:'Французское каре скрывает поредение по внешней границе'})

            h2 Окрашивание для визуального увеличения густоты прически
            p Темные цвета только подчеркивают проблему облысения. Светлые тона помогают замаскировать редкие пряди, оптически загущают волосы, увеличивают объем. Колористы рекомендуют оттенки блонд или частичное осветление, чтобы скрыть редкие волосы у&nbsp;женщин, если нет видимых проплешин. Разные техники мелирования и&nbsp;колорирования добавляют прическе пышность, модный эффект натуральности, привносят нотку свежести.
            p Частичное окрашивание&nbsp;&mdash; щадящая техника, так как окрашиванию подвергается только треть волосяного покрова, не&nbsp;затрагивая корни. Ведь задача Калифорнийского мелирования, Бейби лайт, Шатуш&nbsp;&mdash; добиться естественного эффекта выгоревших прядей.
            +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-6', caption:'Бейби лайт - щадящая техника для придания дополнительного объема '})

            h2 Альтернативные способы маскировки залысин
            h3 Парики
            p Это необходимый выбор для людей, лишившихся собственных волос или желающих поэкспериментировать с&nbsp;внешностью. Парик полностью покрывает кожу головы, выглядят и&nbsp;ощущается как настоящие волосы. Доступен большой выбор цветов, текстур, длин и&nbsp;стилей, поэтому легко найти подходящий вариант. Натуральные пряди можно красить и&nbsp;укладывать. Синтетические уже уложены, их&nbsp;нельзя красить и&nbsp;использовать термоукладку, за&nbsp;ними легко ухаживать. Парики из&nbsp;синтетических материалов долговечны.
            +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-7', caption:'Современные парики выглядят максимально естественно'})

            h3 Система замещения 
            p Система замещения волос (реплейсмент), как и&nbsp;парик,&nbsp;&mdash; технология, помогающая людям справиться с&nbsp;алопецией и&nbsp;восстановить уверенность в&nbsp;себе. Реплейсмент используют как временное решение на&nbsp;период лечения, или носят на&nbsp;постоянной основе люди с&nbsp;прогрессирующей алопецией или проблемами с&nbsp;волосами.
            p Это безоперационный метод маскировки облысения с&nbsp;помощью накладных прядей. Реплейсмент подходит людям с&nbsp;разными видами алопеции за&nbsp;исключением облысения из-за повреждений кожного покрова&nbsp;&mdash; порезов, язв. Внешне система схожа с&nbsp;париком ручной работы с&nbsp;основой из&nbsp;сетчатого материала, куда вплетены мини-пучками пряди. Для комфортного ношения и&nbsp;надежной фиксации ряд систем дополняют участками из&nbsp;тончайшего силикона, полискина. Фиксируется гипоаллергенным, влагостойким клеем или клейкими лентами, напоминающими двухсторонний скотч.
            p Реплейсмент надевают при полном облысении или маскируют отдельные лысые участки у&nbsp;женщин. Надежное крепление позволяет принимать ванны, плавать в&nbsp;бассейне, заниматься спортом, отдыхать в&nbsp;сауне и&nbsp;даже кататься на&nbsp;аттракционах, не&nbsp;боясь потерять накладку. Парик редко дает такую свободу действий.
            //- +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-8', caption:'Система замены волос визуально неотличима от природных локонов'})
            <div class="before-after-item par">
              <div class="grid grid--nopadding  before-after-item__photos">
                <div class="grid__cell grid__cell--6 before-after-item__photo">
                  <a href="/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-8-1.jpg" data-fancybox="before-after-10" itemprop="contentUrl">
                    <img src="/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-8-1.jpg" alt="Замещение волос: до">
                  </a>
                </div>
                <div class="grid__cell grid__cell--6 before-after-item__photo">
                  <a href="/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-8-2.jpg" data-fancybox="before-after-10" itemprop="contentUrl">
                    <img src="/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-8-2.jpg" alt="Замещение волос: после">
                  </a>
                </div>
              </div>
              p.text-marked.text-marked--italic.text-marked--size--m.text-marked--color--brown(style="margin-top: 0.7rem;") Система замены волос визуально неотличима от природных локонов
            </div>


            h3 Наращивание
            p Длинные локоны помогают скрыть незначительную лысину на&nbsp;макушке и&nbsp;висках у&nbsp;женщин. При недостаточной длине естественных волос рассматривают наращивание для добавления натуральным прядям длины, объема и&nbsp;густоты, маскировки залысины. Чтобы не&nbsp;отягощать и&nbsp;так истонченные стержни рекомендовано горячее микрокапсулирование. Размер капсул не&nbsp;больше 50&nbsp;мм и&nbsp;большой выбор цветов делает капсулы незаметными. Наращивание маскирует проплешины на&nbsp;затылке и&nbsp;по&nbsp;линии роста. Противопоказание&nbsp;&mdash; интенсивная потеря волос и&nbsp;явно визуализирующиеся безволосые зоны.	
            +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-9', caption:'Микрокапсулирование восстанавливает объем поредевших прядей'})

            h3 Головные уборы
            p Надеть и&nbsp;не&nbsp;снимать головной убор, чтобы скрыть лысину,&nbsp;&mdash; популярный вариант решения проблемы, часто к&nbsp;нему прибегают во&nbsp;время лечения алопеции, восстановления после пересадки волосяных фолликулов. Выбор бесконечен&nbsp;&mdash; кепка с&nbsp;козырьком, бандана, шляпа с&nbsp;полями, толстовки с&nbsp;капюшоном. Дополнительно головной убор защищает голову от&nbsp;ультрафиолета.

            h3 Загустители
            p Это обобщающее название средств, предназначенных для косметического камуфлирования визуальных недостатков волосяного покрова. Загустители не&nbsp;лечат алопецию, а&nbsp;маскируют последствия. Уплотняют истонченные волоски, скрывают проплешины в&nbsp;период, когда человек в&nbsp;этом нуждается. Средство прилипает к&nbsp;стержням, поэтому скроет широкий пробор, просвечивающуюся сквозь волоски кожу головы, но&nbsp;не&nbsp;замаскирует обширную лысину женщине. При небольших залысинах консилер творит чудеса, создавая иллюзию густых прядей. 
            p Камуфлирующие средства выпускают в&nbsp;виде сухих волокон, распылителей, пудры, карандашей и&nbsp;лосьонов. Есть водоотталкивающие формулы, которые не&nbsp;ограничивают контакт с&nbsp;водой. Подходит для использования женщинами и&nbsp;мужчинами.
            +figure({src:'/assets/images/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine/hide-10', caption:'Загустители доказали эффективность в маскировке проблем облысения'})

            include /blocks/article-block/article-block

            h2 Уход за&nbsp;волосами при наличии залысин
            p Никто не&nbsp;скажет, как избавиться от&nbsp;залысин раз и&nbsp;навсегда. Но&nbsp;можно замедлить процесс, внеся некоторые изменения в&nbsp;распорядок дня и&nbsp;уход за&nbsp;волосами.
            ul.list-marked 
              li Для поддержания здоровья волос, в&nbsp;рацион включают антиоксиданты, которых много в&nbsp;шпинате, грецких орехах, чернике и&nbsp;фасоли. Дополнительно принимают витамины B12, A, E, а&nbsp;также цинк и&nbsp;железо.
              li При выборе шампуня ведущая роль отводится ингредиентам. Хорошо, когда в&nbsp;состав входят протеины, минералы, витамины, вытяжки лекарственных растений. 
              li Еще один способ борьбы с&nbsp;залысинами&nbsp;&mdash; эфирные масла, такие как лаванда, розмарин и&nbsp;мята. После их&nbsp;смешивания с&nbsp;маслами-носителями, такими как кокосовое, жожоба или миндальное, раствор наносится на&nbsp;волосы. 
              li Массаж кожи головы улучшает кровообращение, стимулирует фолликулы и&nbsp;ускоряет рост волосяных стержней.

            h2 Преимущества центра эстетики волос &laquo;Гамма&raquo;
            p Мы&nbsp;&mdash; команда профессионалов, готовых помочь клиентам выглядеть лучше и&nbsp;чувствовать себя уверенно, благодаря системам замещения волос. Делаем это быстро и&nbsp;надежно. В&nbsp;работе сочетаем профессионализм и&nbsp;новые технологии с&nbsp;доброжелательностью и&nbsp;деликатностью. Соблюдаем конфиденциальность. Принимаем клиентов независимо от&nbsp;места покупки системы волос.
            p Подберем реплейсмент, исходя из&nbsp;образа, интенсивности жизни и&nbsp;потребностей клиента. Сделаем новую прическу, чтобы придать волосам максимально естественный вид. 

            include /blocks/article-form/article-form

            h2 Популярные вопросы и&nbsp;ответы
            +dropDown('<h3>Как мыть голову с&nbsp;системой замены волос?</h3>')
              p Допустимо мыть голову не&nbsp;снимая систему, но&nbsp;только в&nbsp;теплой воде, используя шампуни с&nbsp;низким содержанием щелочи.
            +dropDown('<h3>Можно&nbsp;ли красить волосы, если есть залысины?</h3>')
              p Щадящие техники окрашивания, не&nbsp;затрагивающие корни, не&nbsp;влияют негативно на&nbsp;фолликулы. Также низкую химическую нагрузку дают тонирующие составы.
            +dropDown('<h3>Сколько прослужит система замещения?</h3>')
              p Средний показатель использования реплейсмента 1&nbsp;год. Как и&nbsp;натуральные волосы, система постепенно теряет волоски, цвет теряет интенсивность, тогда ее&nbsp;заменяют новой. Реставрация продлевает время использования на&nbsp;2-3&nbsp;месяца.
            
            +dropDown('<h2>Источники</h2>', { h2: true })     
              ul.list-marked 
                li Облысение: Тонкости, хитрости и&nbsp;секреты Татура Ю.В.
                li Как вырастить волосы Марго

block styles
  +style('inner')
