include /blocks/page-section/page-section

+pageSection.banner-free-haircut
  +pageSubection: .container: .content.banner-free-haircut__inner
    .banner-free-haircut__info
      .banner-free-haircut__subtitle Подарок для наших клиентов —
        small первая стрижка и фиксация бесплатно!
      p Успей приобрести систему волос «Интеграция» в октябре с выгодой до 3 000 руб.
    .banner-free-haircut__image
      +img({
        name: 'banner-free-haircut',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })(alt='Подарок для наших клиентов — первая стрижка и фиксация бесплатно!' title='Подарок для наших клиентов — первая стрижка и фиксация бесплатно!' width=372 height=332 decoding="async" loading="lazy")
