.article-header
  display flex
  flex-wrap wrap
  align-items center
  column-gap 2rem
  row-gap 1rem
  margin-top 0.75rem
  &__date
  &__view
  &__reading
    position relative
    padding-left 1.875rem
    &::before
      content ''
      position absolute
      left 0
      top 50%
      transform translateY(-50%)
      mask-repeat no-repeat
      mask-size contain
      background-color #c9c9c9
  &__view
    &::before
      width 2rem
      height 1.5rem
      mask-image url(../images/view.svg)
  &__date
    &::before
      width 1.25rem
      height 1.25rem
      mask-image url(../images/calendar.svg)
  &__reading
    &::before
      width 1.15rem
      height 1.15rem
      mask-image url(../images/reading.svg)
