.how-to-take-measurments
  font-weight 500
  font-size font-xl
  counter-reset htmCounter
  parMargin()
  &__item
    display flex
    align-items center
    margin -(basePadding/2)
    counter-increment htmCounter
    & + &
      margin-top 2rem
    @media screen and (max-width point-s - 1)
      flex-direction column
  &__image
    width 6.5rem
    height 6.5rem
    margin (basePadding/2)
  &__name
    padding (basePadding/2)
    @media screen and (max-width point-s - 1)
      align-self stretch
    &::before
      content counter(htmCounter)'. '
