include /blocks/page-section/page-section

+pageSection.banner-credit.container: .content
  +grid()
    +grid__item({ l: 6, m: 6, xs: 12 }).banner-credit__image.hidden-s.hidden-xs
    +grid__item({ l: 6, m: 6, xs: 12 }).banner-credit__info
      .banner-credit__title Рассрочка
      .banner-credit__months
        .banner-credit__month 3
        .banner-credit__month 4
        .banner-credit__month 6
        .banner-credit__months-title месяцев
      .banner-credit__description Приобретайте систему волос на выгодных условиях
