.products-list
  &__item
    display flex
    flex-direction column
    align-items center
    height 100%
    padding basePadding
    transition box-shadow 0.4s
    &:hover
      box-shadow 0 0 3px #ccc
      transition none
  &__image
    position relative
    display flex
    align-items center
    width 100%
    aspect-ratio 2/3
    &::before
      content ''
      position absolute
      inset 0
      z-index 1
      background-color rgba(0,0,0,.03375)
      
  &__name
    padding-top 0.5rem
    text-decoration none
