.block-marked
  background-color #f1ede4
  &--color-light
    background-color #f1ede4
  &--color-medium
    background-color #e3d4b7
  &--color-dark
    background-color #d1c4a5
  &--padding-small
    & ^[-1]__content
      &--lifted
        transform translateY( -( basePadding* (2.6666) ) )
      &--marked
        background-color #fffdf8
  &--padding-big
    & ^[-1]__content
      &--lifted
        transform translateY( -( basePadding* (3.6666) ) )
      &--marked
        background-color #fffdf8
  &--tape
    & ^[-1]__content
      &--marked
        background-color #fffdf8
        background-image url(../images/tape.png)
        background-repeat no-repeat
        background-size 4rem
        background-position 1rem center
  &__content
    &--lifted
      transform translateY( -( basePadding* (2.6666 + 2.5333) ) )
    &--marked
      background-color #fffdf8
  &__cite
    color #583e33
