mixin blockMarked(settings = {})
  -
    let classList = [
      ( attributes.class ? attributes.class : ''),
      ( settings.marginTop ? 'block-marked--margin-top' : ''),
      ( settings.color ? 'block-marked--color-'+ settings.color : 'block-marked--color-light' ),
      ( settings.smallPadding ? 'block-marked--padding-small' : '' ),
      ( settings.bigPadding ? 'block-marked--padding-big' : '' ),
      ( settings.padding ? 'block-marked--padding-'+settings.padding : '' ),
      ( settings.type ? 'block-marked--' + settings.type : '' ),
      ( settings.fontSize ? 'block-marked--font-size-'+ settings.fontSize : '' ),
      ( settings.inGrid ? 'block-marked--in-grid' : '' )
    ]
  - const tag = settings.tag || 'div'
  #{tag}.block-marked(class= classList)&attributes(attributes)
    block

mixin blockMarkedContent(settings = {})
  -
    let classList = [
      (attributes.class ? attributes.class : ''),
      (settings.lifted ? 'block-marked__content--lifted' : ''),
      (settings.marked ? 'block-marked__content--marked' : '')
    ]
  .block-marked__content(class != classList id != attributes.id)&attributes(attributes)
      block

mixin blockMarkedQuote(cite)
  blockquote.block-marked__quote
    block
    if cite
      cite.block-marked__cite !{cite}
