.header-sites
  width 100%
  padding-top 5px
  .header > &
    @media screen and (max-width point-m - 1)
      display none
    & ^[-1]__title
      display none
  .header-navigation > &
    border-top 5px solid #d1c4a5
    padding-y basePadding
    @media screen and (min-width point-m)
      display none
    & ^[-1]__title
      padding-bottom basePadding
    & ^[-1]__list
      flex-direction column
    & ^[-1]__item
      flex 0 0 auto
      &--active
        background-color transparent
        a
        .a-repl
        span
          font-weight 500
  &__list
    display flex
    margin-left -5px
  &__item
    flex 1 1 20%
    margin-left 5px
    font-size 12px
    line-height 16px
    display flex
    a
    .a-repl
      position relative
      display flex
      justify-content space-between
      width 100%
      align-items center
      margin-bottom 5px
      padding 4px 10px
      span
        flex 0 1 auto
      &::after
        content ''
        flex-shrink 0
        width var(--item-width)
        height var(--item-height)
        background-image var(--item-background-image)
        background-repeat no-repeat
        background-position center
        background-size cover
    &--hairdesign
      --item-width 52px
      --item-height 37px
    &--salonvolos
      --item-width 23px
      --item-height 30px
    &--vsepariki
      --item-width 52px
      --item-height 37px
    &--triholog
      --item-width 14px
      --item-height 35px
    &--zagustitel
      --item-width 42px
      --item-height 37px
    &--active
      a
      .a-repl
      span
        font-weight 500
