mixin imageFloat(image, settings)
  -
    settings = settings ? settings : {}
    settings.xl = settings.xl ? settings.xl : false
    settings.l = settings.l ? settings.l : false
    settings.m = settings.m ? settings.m : false
    settings.s = settings.s ? settings.s : false
    settings.xs = settings.xs ? settings.xs : false
    let classList = [
      (settings.xl ? 'image-float--xl' : ''),
      (settings.l ? 'image-float--l' : ''),
      (settings.m ? 'image-float--m' : ''),
      (settings.s ? 'image-float--s' : ''),
      (settings.xs ? 'image-float--xs' : ''),
      
      (attributes.class ? attributes.class : '')
    ]
  img(src != image.src class != classList).image-float
    
    
