.banner-model
  @media(min-width point-l)
    padding-y 1.5rem
  &__inner
    padding-y 2.5rem
    background linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.50) 49.48%, rgba(255, 255, 255, 0.00) 100%), #E3D4B7
  &__image
    @media(min-width point-l)
      margin-y -4rem
  &__title
    margin-bottom 1rem
    font-size 1.625rem
    line-height 1.4
    font-weight 500
  &__btn
    margin-top 1.25rem
    @media(max-width point-s - 1)
      width 100%
      text-align center
  mark
    color #A11C40
  p 
    font-size 1.125rem
    line-height 1.4
