.banner-model
  .container.banner-model__inner
    +grid({ align: 'center', justify: 'flex-end', paddingy: true }).content
      +grid__item({ l:8, m:7 })
        .banner-model__title Приглашаем мужчин и женщин с алопецией для съёмки
        p (фото и видео) и дальнейшего использования материала в рекламных целях: на сайте и в социальных сетях.
        p В обмен на участие предоставляется значительная #[mark скидка] или (в зависимости от модели системы волос) #[mark система] идёт #[mark в подарок].
        p По условиям сотрудничества пишите в whatsapp.
        a(href='https://wa.me/79817245628' target='_blank').btn.banner-model__btn Написать
      +grid__item({ l:4, m:5 }).banner-model__image
        +img({
          name: 'models',
          path: '/images/home/',
          formats: [
            { ext: 'png', mime: 'image/jpeg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [1, 2] }
          ]
        })(width=550 height=622 alt='Фото мужчины и женщины')
