.gallery
  parMargin()
  display flex
  flex-wrap wrap
  margin -(basePadding/2)
  &__item
    padding (basePadding/2)
    max-width unquote('calc(50% - '+basePadding+')')
  &__image
    display block
    
    img
      padding (basePadding/2)
      border 1px solid #dab686;
      max-height 16.5rem
  &--no-borders
    & ^[-1]__image
      display block
      
      img
        padding 0
        border none
  &--size-small
    & ^[-1]__image
      display block
      img
        height 12rem
    
