h2 Маскировка алопеции во время лечения
+grid({paddingy: true, parLike:true })
  +grid__item({ m:5, s:4, xs:12 })
    +grid({paddingy: true, justify: 'center '})
      +grid__item({ xs:12 })
        a(href='/sistemy-volos-i-pariki-v-nalichii/')
          +img({
            name: 'catalog-1',
            path: '/assets/images/articles/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            })(alt= 'Каталог')
      +grid__item({ m:5, xs:12 })
        a(href='/sistemy-volos-i-pariki-v-nalichii/' style="display: flex; justify-content: center;").button-red Каталог
  +grid__item({ m:7, s:8, xs:12 })
    p Во время лечения вести привычный образ жизни и радоваться своему образу позволит #[strong система волос]. Система волос представляет собой новый, 100% #[strong натуральный волосяной покров] на тончайшей силиконовой основе, пропускающей воду и воздух и позволяющей коже головы дышать.
    p Она идеально подходит по цвету, длине и структуре к вашим родным волосам, #[strong прочно фиксируется] на поверхности кожи головы с помощью специальных полимеров и становится #[strong абсолютно незаметной] для окружающих. Это обеспечивает системе волос абсолютно #[strong натуральный] внешний вид и #[strong надёжную фиксацию] с кожей головы.
    p С системой спят, принимают водные процедуры, занимаются спортом — #[strong никаких ограничений]. Ее часто используют во время лечения или носят на постоянной основе при себорейной или диффузной алопеции. Невидимая кружевная основа сливается с кожей головы, создавая #[strong видимость естественного роста волос]. При ношении системы ощущение шапки на голове отсутствует, воздух циркулирует свободно.

h3 Преимущества систем волос 
+grid({ paddingy:true, parLike:true })
  - 
    const advantages = [
      {
        title: 'Надежная фиксация до 4х недель',
        text: 'Система волос надежно крепится при помощи специального водостойкого скотча или клея, поэтому система не слетит и не съедет',
        icon: 'head',
      },
      {
        title: 'Естественный вид <br> Имитация кожи',
        text: 'Каждый волосок системы крепится в ручную, за счет этого внешне имеет естественный вид человеческих волос',
        icon: 'stars',
      },
      {
        title: 'Комфортно <br> Кожа головы дышит',
        text: 'Основа системы - тончайшая сеточка (швейцарское кружево). Легкая, комфортная и естественная терморегуляция.',
        icon: 'heart',
      },
      {
        title: 'Любой ритм жизни',
        text: 'Спорт, танцы, плавание - все это возможно! Плетите косы, делайте высокие хвосты, любые прически как со своими волосами.',
        icon: 'rythm',
      },
    ]
  each item in advantages
    +grid__item({ s:3, s:6, xs:12 })
      +iconBlock({ vertical:true })(class= `icon-block--${item.icon}`) 
        span.text-align-center #[strong !{item.title}]
        p.text-align-center !{item.text}
