.rating-block
  text-align center
  &__image
    display flex
    justify-content center
    img
      display block
      height 48px
  &__name
    margin-top .625rem
    font-size font-s
    color #636363
  &__rating
    margin-top .375rem
    font-size font-l
    font-weight bold
