include /blocks/block-marked/block-marked

mixin ratingBlock(item)
  .rating-block
    +blockMarked({ padding: 'small', tag: 'a' })(href= item.href).rating-block__image: img(src=`/images/otzyvy/${item.image}`)
    .rating-block__name !{item.name}
    .rating-block__rating !{item.rating}
