.recommended-item
  &__inner
    display grid
    grid-template-columns 35% 1fr
    grid-template-rows min-content min-content
    gap 1.25rem
    @media(max-width point-m - 1)
      grid-template-rows min-content 1fr
      align-items flex-start
    @media(max-width point-s - 1)
      grid-template-columns 25% 1fr
      grid-template-rows min-content
      align-items center
  &__image
    grid-row 1/-1
  &__btn
    width 100%
    padding-x 1.125rem
    text-align center
    grid-column 2/3
    @media(max-width point-s - 1)
      grid-column 1/-1
  &__tabs
    & > .tabs
      display flex
      flex-direction column
    & .tabs__labels
      order 2
      margin-bottom 0
  &__product
    display grid
    grid-template-columns repeat(3, 32%)
    column-gap 0.5rem
    row-gap 1rem
  &__product-item
    display flex
    flex-direction column
    row-gap 0.5rem
    padding 0.5rem 0
    transition box-shadow 0.4s ease
    &--card
      &:hover
        box-shadow 0px 0px 3px #CCCCCC
        transition-duration 0.1s
  &__product-link
    display inline-block
    font-size 0.875rem
    line-height 1.4
    color #3D3D3D
    text-decoration none
    text-align center
    &:hover
      color #C31843
