mixin figure(item)
  figure.figure(class!=attributes.class id!=attributes.id)
    if !item.link
      picture 
        source(type="image/webp" srcset=`${item.src}.webp`)
        img(src!=`${item.src}.jpg` alt!= item.alt ? item.alt : item.caption title=item.caption loading='lazy' decoding='async').figure__image
      if item.caption
        figcaption.figure__caption !{item.caption}
    else
      a(href!=item.link)
        img(src!=item.src alt!= item.alt ? item.alt : item.caption).figure__image
      if item.caption
        figcaption.figure__caption: a(href!=item.src) !{item.caption}
