.article-results
  display flex
  flex-direction column
  height 100%
  padding 1.25rem
  padding-right 3.25rem
  background-color #f1ede4
  & .iframe-responsive
    margin-bottom 0
  &__inner
    flex-grow 1
    position relative
    margin-top -1rem
    margin-left 2rem
    margin-right -2rem
    padding 1.75rem
    background-color #fffdf8
    z-index 0
  &__video
    position relative
    border .625rem solid #f3e0db
    z-index 1
    & .iframe-responsive__iframe
      margin-bottom 0
