.consultation-ask-panel
  &__right
    display flex
    flex-direction column
    align-items center
  &__clarification
    text-align center
    margin-top 0.25rem
    font-weight 500
    font-style italic
    font-size font-s
