.article-menu
  display grid
  grid-template-rows min-content 0fr
  margin-y 2.25rem
  background-color #f1ede475
  transition-property grid-template-rows
  &--active
    grid-template-rows min-content 1fr
    transition-duration .1s
  &__title
    position relative
    padding 1.5rem
    font-size 1.625rem
    line-height 2.25rem
    font-weight 500
    cursor pointer
  &__arrow
    position absolute
    top 50%
    right 1.5rem
    display block
    width 1.25rem
    height 1.25rem
    translate 0 -50%
    path
      stroke #3d3d3d
  &__body
    overflow hidden
  &__link
    display block
    padding 0.75rem 0
    margin 0 1.5rem
    border-top 1px solid rgb(219 214 204, 86%)
    &:last-child
      padding-bottom 1.5rem
  & ^[0]__link  
    text-decoration none
