.home-price
  for item in parLike
    & + {item}
      margin-top (basePadding*2.6666)
  &__title
    margin-bottom (basePadding*2)
    font-size 1.875rem
    text-align center
    color #583e33
  &__item
    text-align center
    &--for-men-top
      & ^[-2]__item-image
        background-image var(--price-for-men-top)
    &--for-men-three-fourties
      & ^[-2]__item-image
        background-image var(--price-for-men-three-fourties)
    &--for-men-full
      & ^[-2]__item-image
        background-image var(--price-for-men-full)
    &--for-women-top
      & ^[-2]__item-image
        background-image var(--price-for-women-top)
    &--for-women-three-fourties
      & ^[-2]__item-image
        background-image var(--price-for-women-three-fourties)
    &--for-women-full
      & ^[-2]__item-image
        background-image var(--price-for-women-full)
  &__item-image
    width 100%
    min-width 7.5rem
    height 7.5rem
    margin-bottom 0.25rem
    background-position center
    background-repeat no-repeat
  &__item-title
    font-size font-m
    line-height line-m
    color #952642
    margin-bottom 1.5rem
    font-weight 500
  &__price
    font-size font-xxl
    font-weight 500
