.home-header
  &__content
    display flex
    flex-direction column
  &__title
    text-align center
    margin-top 4.75rem
    font-size 2.5rem
    line-height 3.375rem
    position relative
    align-self center
    @media screen and (max-width point-m)
      font-size 2.25rem
      line-height 3rem
    &::after
      content ''
      margin-top 1rem
      width 3.75rem
      height 0.3333rem
      display block
      margin-x auto
  &__subtitle
    margin-top 1rem
    margin-bottom 2.5rem
    font-size 1.5rem
    text-align center
    line-height 2.125rem
    align-self center
  &__before-after
    margin-bottom 2.5rem
