.home-header
  background-image radial-gradient(circle at center -15rem, #fef9e5,#f2e1c5, #dbcdae)
  background-color #f2e1c5
  background-repeat no-repeat
  &__title
    &::after
      background-color #3d3d3d
