extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content 
  .container
    .content
      ul 
        li: a(href='/articles/diffuznaya-alopeciya.html') Диффузная алопеция
        li: a(href='/articles/psihosomatika-i-vipadenie-volos.html') Психосоматические причины выпадения волос  
        li: a(href='/articles/telogenovaya-alopeciya.html') Телогеновое выпадение волос - причины, лечение, профилактика
        li: a(href='/articles/frontalnaja-fibroznaja-alopecija.html') Фронтальная фиброзная алопеция - симптомы и лечение  
        li: a(href='/articles/alopecia.html') Выпадение волос (алопеция) - симптомы и лечение облысения 
        li: a(href='/articles/ochagovaja-alopecija.html') Очаговая (гнездная) алопеция 
        li: a(href='/articles/ceborejnaya-alopetsiya.html') Себорейная алопеция: причины, профилактика и лечение 
        li: a(href='/articles/alopetsiya-brovey.html') Почему выпадают брови и как их восстановить 
        li: a(href='/articles/androgennaya-alopetsiya.html') Андрогенная алопеция у мужчин и женщин - причины и лечение 
        li: a(href='/articles/nasledstvennoe-oblysenie.html') Что такое наследственное облысение и как его предотвратить (с блоком содержание)           
        li: a(href='/articles/traktsionnaya-alopeciya.html') Тракционная алопеция: причины, профилактика и лечение  
        li: a(href='/articles/rubcovaya-alopeciya.html') Рубцовая алопеция - причины, симптомы и лечение 
        li: a(href='/articles/alopetsiya-u-detey.html') Алопеция у детей: причины, симптомы и лечение 
        li: a(href='/articles/alopeciya-borody.html') Алопеция на бороде у мужчин - как убрать проплешины? 
        li: a(href='/articles/totalnaya-alopeciya.html') Тотальная алопеция: причины, профилактика и лечение полного облысения 
        li: a(href='/articles/zamaskirovat-lysinu-i-zalysiny-zhenshchine.html') Как скрыть алопецию у женщин
        li: a(href='/articles/vypadenie-volos-posle-narkoza.html') Выпадение волос после наркоза
        li: a(href='/articles/norma-vypadeniya-volos-v-den.html') Норма выпадения волос в день

        li: a(href='/articles/vypadenie-volos-pri-gipotireoze.html') Выпадение волос при гипотериозе  
        li: a(href='/articles/vypadayut-volosy-posle-rodov.html') Выпадение волос после родов  

        li: a(href='/articles/vypadenija-volos-u-zhenshhin-posle-50-let.html') Выпадение волос у женщин после 50  
        li: a(href='/articles/vypadenie-volos-pri-khimioterapii.html') Выпадение волос после химиотерапии
        li: a(href='/articles/prichiny-rannego-oblyseniya-u-molodykh-muzhchin.html') Выпадение волос у мужчин в молодом возрасте
        li: a(href='/articles/vypadenie-volos-u-podrostov.html') Облысение подростков
        li: a(href='/articles/vyipadenie-volos-pri-beremennosti.html') Выпадение волос во время беременности  
        li: a(href='/articles/vypadenie-volos-posle-okrashivaniya.html') После окрашивания выпадают волосы - почему и что делать?             
        li: a(href='/articles/stadii-oblyseniya-u-muzhchin-i-zhenshchin.html') Степени мужского облысения по классификации Норвуда
        li: a(href='/articles/kak-skryt-lysinu-muzhchine.html') Как скрыть лысину мужчине      

block styles
  +style('home')
