a
  color #a11c40
  text-decoration underline
  transition color .2s
  &:hover
  &:focus
  &:active
    color #c31843
    transition none
  &.link-secondary
    color #7c776c
    &:hover
    &:focus
    &:active
      color #3d3d3d
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
  &.no-underline
    text-decoration none
