.feedback-video
  &__video
    border (basePadding/3*2) solid #f1ede4
    & .iframe-responsive
    & .iframe-responsive__iframe
      margin-bottom 0
  &__description
    margin-top basePadding
    text-align center
