form.form.form-appointment.validated-form.submitJS.article-form
  .form-legend Консультация бесплатная
  p.article-form__clarification Запишитесь на консультацию уже сегодня и наши мастера ответят на все вопросы и пригласят в удобное время в шоу-рум
  +grid({paddingy: true })
    +grid__item({ s:4, xs:12 })
      .form_field
        <input type="text" id="appointment-name" name="appointment-name" placeholder="Имя" style="margin-bottom: 0;">
    +grid__item({ s:4, xs:12 })
      <input type="tel" class="validated required" name="appointment-phone" id="appointment-phone" placeholder="Телефон" style="margin-bottom: 0;">
      <div class="validation-msg">Укажите телефон и мы сможем перезвонить, проконсультировать</div>
    +grid__item({ s:4, xs:12 })
      input(type='submit' name='submit' value='Записаться' style="width: 100%; padding-top:10px; padding-bottom:10px;")
  br
  .form-agreement
    input(type="checkbox" required="" checked="")
    .form-agreement__desc Нажимая на кнопку, я даю свое #[a(href="/soglasheniya-na-obrabotku-personalnykh-dannykh/" rel="nofollow") согласие на обработку своих персональных данных].
