include /blocks/img/img

mixin listAdvantages(list)
  +grid({tag:'ul', paddingy: true}).list-advantages
    each item in list
      -
        item.sizes = item.sizes ? item.sizes : {m:3,s:4,xs:6}
        const itemOptions = item.sizes
        itemOptions.tag = 'li'
        const className = [
          item.className ? 'list-advantages__item--' + item.className : '',
          item.image ? 'list-advantages__item--image' : '',
        ]
      +grid__item(itemOptions).list-advantages__item(class != className)
        .list-advantages__image
          if item.image
            +img({
              name: item.image,
              path: '/images/',
              formats: [
                { ext: 'png', mime: 'image/png', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ],
            })(alt='' title='' width=175 height=175)
        .list-advantages__title !{item.title}
