.banner-summer-action
  display grid
  overflow hidden
  background-image linear-gradient(to bottom, #DFD8C6, #EFECE4, #E2DDCB)
  @media (max-width point-xl - 1)
    width calc(100% + 2rem)
    margin-x -1rem
  @media (min-width point-m)
    grid-template-areas 'image-1 title image-2' 'image-1 subtitle image-2' 'image-1 info-1 image-2' 'image-1 info-2 image-2' 'image-1 info-3 image-2' 'image-1 gift image-2' 'image-1 duration image-2' 'image-1 . image-2'
    grid-template-columns 1fr 1.95fr 1fr
    grid-template-rows repeat(7, min-content)
    grid-column-gap 1rem
    height 400px
  @media (max-width point-m - 1)
    grid-template-areas 'title title' 'subtitle subtitle' 'skin integration' 'gift gift' 'duration duration'
    padding-x 1rem
    padding-bottom 1.5rem
  picture
    display contents
  &__title
    grid-area title
    margin-top 1.5rem
    font-size 3.5rem
    text-align center
    @media (max-width point-m - 1)
      font-size 2rem
  &__subtitle
    grid-area subtitle
    margin-top .5rem
    margin-bottom 1.75rem
    font-size 1.25rem
    text-align center
  &__product
    @media (min-width point-m)
      display contents
    @media (max-width point-m - 1)
      display grid
    &--skin
      @media (max-width point-m - 1)
        grid-area skin
        grid-template-areas 'discount' 'title' 'image'
      & ^[-2]__product-image
        @media (min-width point-m)
          grid-area image-1
        @media (max-width point-m - 1)
          margin-top 1rem
        img
          @media (min-width point-m)
            right 0
            border-bottom-left-radius 0
            border-top-left-radius 0
          @media (max-width point-m - 1)
            left -5.5rem
            object-position right center
      & ^[-2]__product-discount
        @media (min-width point-m)
          grid-area info-1
          justify-self start
      & ^[-2]__product-title
        @media (min-width point-m)
          grid-area info-2
          justify-self start
    &--integration
      @media (max-width point-m - 1)
        grid-area integration
        grid-template-areas '. image' 'discount image' 'title title'
      & ^[-2]__product-image
        @media (min-width point-m)
          grid-area image-2
        img
          @media (min-width point-m)
            left 0
            border-bottom-right-radius 0
            border-top-right-radius 0
          @media (max-width point-m - 1)
            right -5.5rem
            object-position left center
      & ^[-2]__product-discount
        @media (min-width point-m)
          grid-area info-2
          justify-self end
        @media (max-width point-m - 1)
          height min-content
          align-self end
      & ^[-2]__product-title
        @media (min-width point-m)
          grid-area info-3
          justify-self end
  &__product-discount
    font-size 3rem
    color #710F2C
    @media (max-width point-m - 1)
      grid-area discount
      font-size 1.75rem
  &__product-title
    font-size 1.675rem
    @media (max-width point-m - 1)
      grid-area title
      font-size 1rem
  &__product-image
    position relative
    align-self center
    @media (max-width point-m - 1)
      grid-area image
      height 200px
    img
      position absolute
      top 50%
      width auto
      max-width unset
      height 440px
      border 1.25rem solid #fff
      border-radius 100%
      transform translateY(-50%)
      @media (max-width point-m - 1)
        width 200px
        height 200px
        object-fit contain
        border-width .625rem
  &__gift
    position relative
    grid-area gift
    justify-self center
    margin-top 1.5rem
    padding-top .5rem
    padding-right 2rem
    font-size 1rem
    line-height 1.5
    text-align center
    &::after
      content ''
      position absolute
      top .25rem
      right 0
      width 1.5rem
      height 1.5rem
      background-image url(../images/svg-sprites/rest.svg#banner-summer-action__gift)
      background-repeat no-repeat
      background-position center
      background-size cover
  &__duration
    grid-area duration
    justify-self center
    margin-top .5rem
    font-size .875rem
    text-align center
