.drop-down
  & + h2
    margin-top 3.375rem
  h2 + & 
    margin-top 1rem
  &--h2
    margin-top 3.375rem
  display grid
  grid-template-rows min-content 0fr
  transition-property grid-template-rows
  transition-duration 0.4s
  &--active
    grid-template-rows min-content 1fr
    transition-duration 0.1s
  &__header
    position relative
    padding 1rem 1.25rem
    padding-right 2rem
    background-color #f3e0db
    cursor pointer
  &__arrow
    position absolute
    top 50%
    right 0.75rem
    display block
    width 1.5rem
    height 1.5rem
    translate 0 -50%
    path
      stroke #4e4e4e
  &__body
    padding-top 1rem
    overflow hidden
    & p 
      padding-bottom 1rem
