include /blocks/img/img

mixin fotorama(fotorama)
  .fotorama&attributes(attributes)
    .fotorama__slider
      .fotorama__wrapper.swiper-wrapper
        each item in fotorama.list
          - const { image: name, path, format: ext, width, height } = item;
          .fotorama__slide.swiper-slide: +img({
            name,
            path,
            formats: [
              { ext, orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(width= width height= height alt='')
      .fotorama__pagination
    .fotorama__thumbnails
      .fotorama__wrapper.swiper-wrapper
        each item in fotorama.list
          - const { image: name, path, format: ext } = item;
          .fotorama__slide.swiper-slide: +img({
            name: `${name}_small`,
            path,
            formats: [
              { ext, orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(width=64 height=64 alt='')
