.text-marked
  font-size 1.25rem
  font-weight 500
  line-height 1.8
  &--italic
    font-style italic
  &--size--m
    font-size 1rem
    font-weight 400
    line-height 1.375
  &--color--brown
    color #583e33
