.icon-block
  --icon-size 3.5rem
  display flex
  align-items center
  gap 0.625rem
  height 100%
  padding 1rem
  background-color #f3e0db
  &::before
    content ''
    width var(--icon-size)
    height var(--icon-size)
    flex-shrink 0
    mask-image var(--before-background-image)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    background-color #893E5B
  &--vertical
    flex-direction column
  for icon in recovered nutrition smoking schedule supplement diagnosis stress sweat experience service privacy guarantee professional team head rythm stars heart professional-services
    &--{icon}
      --before-background-image url('../images/sprites/articles/' + icon + '.svg')
