-
  let comparisonCompleteBaldness = {
    header: ['Парик','Накладка','Система волос'],
    rows: [
      {
        header: 'Фиксация',
        items: [
          {title: 'Парик', content:[
            {tag: 'div', className: 'grid grid-padding-y list-advantages list-advantages--smaller', content:[
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-no-sleep list-advantages__item--ban', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-no-wash list-advantages__item--ban', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-no-swim list-advantages__item--ban', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-no-sport list-advantages__item--ban', content:'<div class="list-advantages__image"></div>'}
            ]},
            {tag: 'p', content: 'Фиксируются с&nbsp;помощью резинок.Можно регулировать степень натяжения. При этом нет четкой фиксации по&nbsp;контурам головы. Возможно изменение положения изделия на&nbsp;голове при движениях.'},
          ]},
          {title: 'Накладка', content:[
            {tag: 'div', className: 'grid grid-padding-y list-advantages list-advantages--smaller', content:[
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-no-sleep list-advantages__item--ban', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-no-wash list-advantages__item--ban', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-no-swim list-advantages__item--ban', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-no-sport list-advantages__item--ban', content:'<div class="list-advantages__image"></div>'}
            ]},
            {tag: 'p', content: 'Обычно накладки на&nbsp;верхнюю часть головы фиксируются при помощи минизажимов. Фиксация надежная, но&nbsp;может навредить своим волосам при постоянной носке. Особенно это опасно, если свои волосы тонкие и&nbsp;ослабленные. В&nbsp;этом случае в&nbsp;месте фиксации они постепенно депилируются.'},
          ]},
          {title: 'Система волос', content:[
            {tag: 'div', className: 'grid grid-padding-y list-advantages list-advantages--smaller', content:[
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-sleep', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-wash', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-swim', content:'<div class="list-advantages__image"></div>'},
              {tag: 'div', className: 'grid__cell grid__cell--s-3 grid__cell--3 list-advantages__item list-advantages__item--possibilities-sport', content:'<div class="list-advantages__image"></div>'}
            ]},
            {tag: 'p', content: 'Фиксация выполняется на&nbsp;специальный двусторонний скотч. Сроки фиксации зависят от&nbsp;ваших пожеланий и&nbsp;от&nbsp;типа выбранного скотча. На&nbsp;более длительный срок можно фиксировать при помощи специального клея. Таким образом, в&nbsp;системе волос можно спать, бегать, принимать душ.'}
          ]}
        ]
      },
      {
        header: 'Ощущения',
        items: [
          {title: 'Парик', content:{tag: 'p', content: 'Ощущение, как будто на&nbsp;голове надета шапка, есть тревога, что парик может изменить положение, слететь.'}},
          {title: 'Накладка', content:{tag: 'p', content: 'Так как накладка только частично закрывает голову, ощущения шапки нет. Ощущается натяжение и&nbsp;тяжесть в&nbsp;местах фиксации на&nbsp;зажимы. При длительном ношении могут возникнуть локальные болевые ощущения.'}},
          {title: 'Система волос', content:{tag: 'p', content: 'Привыкаете за&nbsp;2&nbsp;дня. По&nbsp;словам наших клиентов, ощущение шапки отсутствует. Система волос воспринимается как часть себя.'}}
        ]
      },
      {
        header: 'Визуально',
        items: [
          {title: 'Парик', content:[
            {tag: 'p', content: {tag:'img', attr: {src: '/images/chastichnoe-oblysenie/table-1.jpg', alt: 'Как выглядит парик'}}},
            {tag: 'p', content: 'Качественные парики из&nbsp;натуральных волос практически не&nbsp;заметны, остается легкий стык между кожей головы и&nbsp;началом парика. Прячется волосами.'},
          ]},
          {title: 'Накладка', content:[
            {tag: 'p', content: {tag:'img', attr: {src: '/images/chastichnoe-oblysenie/table-2.jpg', alt: 'Как выглядит накладка'}}},
            {tag: 'p', content: 'Качественно подобранная накладка из&nbsp;натуральных волос практически незаметна на&nbsp;волосах клиента. Основополагающим фактором для этого является идеально подобранный цвет. Цвет накладных волос должен полностью соответствовать своим волосам.'},
          ]},
          {title: 'Система волос', content:[
            {tag: 'p', content: {tag:'img', attr: {src: '/images/chastichnoe-oblysenie/table-3.jpg', alt: 'Как выглядит система волос'}}},
            {tag: 'p', content: '<strong>Краевые линии и&nbsp;линии стыка не&nbsp;заметны, убедитесь на&nbsp;фото наших клиентов. Есть возможность менять направление волос, причесав и&nbsp;уложив их&nbsp;по&nbsp;своему желанию. Очень важно, чтобы свет волос на&nbsp;системе полностью соответствовал цвету собственных волос. Это поможет мастеру при помощи стрижки создать эффект натурального перехода от&nbsp;волос системы к&nbsp;собственным волосам.</strong>'},
          ]}
        ]
      },
      {
        header: 'Потрогать',
        items: [
          {title: 'Парик', content:[
            {tag: 'p', content: {tag:'img', attr: {src: '/images/chastichnoe-oblysenie/table-4.jpg', alt: 'Потрогать парик'}}},
            {tag: 'p', content: 'Даже в&nbsp;натуральных и&nbsp;самых современных париках можно почувствовать основу'},
          ]},
          {title: 'Накладка', content:[
            {tag: 'p', content: {tag:'img', attr: {src: '/images/chastichnoe-oblysenie/table-5.jpg', alt: 'Потрогать накладку'}}},
            {tag: 'p', content: 'Для накладок на&nbsp;верхнюю часть головы можно использовать разные основы. Иногда основа изготавливается из&nbsp;материалов, идентичных материалам системы волос. Но&nbsp;то, то&nbsp;накладка фиксируется на&nbsp;зажимы, может ощущаться при тактильном контакте, так как нет полного прилегания основы к&nbsp;голове.'},
          ]},
          {title: 'Система волос', content:[
            {tag: 'p', content: {tag:'img', attr: {src: '/images/chastichnoe-oblysenie/table-6.jpg', alt: 'Потрогать систему волос'}}},
            {tag: 'p', content: 'Близкий человек, проведя рукой по&nbsp;вашим волосам, не&nbsp;заметит систему.'},
          ]}
        ]
      },
      {
        header: 'Направление роста волос',
        items: [
          {title: 'Парик', content:{tag: 'p', content: 'Направление роста волос задано заранее, поэтому у&nbsp;вас нет возможности поменять пробор, изменить стрижку. К&nbsp;тому&nbsp;же, вы&nbsp;не&nbsp;сможете носить волосы &laquo;назад&raquo;'}},
          {title: 'Накладка', content:{tag: 'p', content: 'Так как накладка фиксируется поверх своих собственных волос, главная задача состоит в&nbsp;том, чтобы не&nbsp;было заметно перехода. Поэтому обычно мастер стрижет волосы на&nbsp;накладке таким образом, чтобы они максимально закрывали собственные волосы клиента. Следовательно вариантов стрижек немного.'}},
          {title: 'Система волос', content:{tag: 'p', content: 'С&nbsp;системой волос возможны все виды стрижек, а&nbsp;пробор вы&nbsp;можете менять столько, сколько захотите.'}}
        ]
      },
      {
        header: 'Густота волос',
        items: [
          {title: 'Парик', content:{tag: 'p', content: 'У&nbsp;готовых париков задается стандартная густота. Она зависит от&nbsp;типы основы, длины волос, типа парика (машинная или ручная работа).'}},
          {title: 'Накладка', content:{tag: 'p', content: 'Для накладок на&nbsp;верхнюю часть головы обычно используется густота выше средней. Необходимость в&nbsp;накладке возникает тогда, когда густоты собственных волос недостаточно, а&nbsp;также тогда, когда у&nbsp;своих волос совсем нет желаемого объема.'}},
          {title: 'Система волос', content:{tag: 'p', content: 'Благодаря абсолютно невидимой основе, специалисты смогут подобрать ту&nbsp;густоту волос, которая наиболее подходит вашему возрасту, стилю, стрижке и&nbsp;предпочтениям.'}}
        ]
      },
      {
        header: 'Стоимость',
        items: [
          {title: 'Парик', content:{tag: 'p', content: 'Стоимость париков очень варьируется. Она зависит от&nbsp;типа волос&nbsp;&mdash; искусственные или натуральные, типа основы&nbsp;&mdash; трессированная или тамбурованная, тип изготовления&nbsp;&mdash; ручной или машинный. Соответственно очень отличается внешний вид париков&nbsp;&mdash; от&nbsp;искусственно кукольного (50&nbsp;долларов) до&nbsp;визуально неотличимого от&nbsp;системы волос (2000&nbsp;долларов).'}},
          {title: 'Накладка', content:{tag: 'p', content: 'Стоимость накладок на&nbsp;верхнюю часть головы определяется, в&nbsp;основном, типом волос (искусственные или натуральные), а&nbsp;также длиной. Стоимость накладок из&nbsp;натуральных волос может варьироваться от&nbsp;200 до&nbsp;400&nbsp;долларов.'}},
          {title: 'Система волос', content:{tag: 'p', content: 'Основные параметры, влияющие на&nbsp;стоимость системы волос&nbsp;&mdash; площадь, густота и&nbsp;длина волос. Индивидуально изготовленная система волос также будет дороже, чем стандартная. Стоимость систем волос варьируется от&nbsp;250 долларов до&nbsp;1500&nbsp;долларов.'}}
        ]
      },
      {
        header: 'Срок службы',
        items: [
          {title: 'Парик', content:{tag: 'p', content: 'Срок службы париков зависит от&nbsp;интенсивности эксплуатации и&nbsp;типа волос. Искусственные парики служат около 6 &minus;8&nbsp;месяцев. Натуральные парики сохраняют приемлемый внешний вид около года. Необходимо соблюдать рекомендации специалистов по&nbsp;уходу.'}},
          {title: 'Накладка', content:{tag: 'p', content: 'Накладки на&nbsp;верхнюю часть головы служат, обычно дольше, так как клиенты их&nbsp;обычно снимают на&nbsp;ночь. К&nbsp;тому&nbsp;же, нет необходимости часто мыть изделие. Это также удлиняет срок службы. В&nbsp;среднем, накладка из&nbsp;натуральных волос используется от&nbsp;года до&nbsp;полутора. Обязательно соблюдать рекомендации по&nbsp;уходу.'}},
          {title: 'Система волос', content:{tag: 'p', content: 'Срок службы системы волос зависит от&nbsp;типа основы, изначальной густоты, интенсивности эксплуатации. Системы волос служат от&nbsp;одного месяца (например, с&nbsp;типом основы Интеграция) до&nbsp;года (классический вариант системы на&nbsp;всю голову). Для срока эксплуатации очень важна аккуратность и&nbsp;соблюдение рекомендаций по&nbsp;уходу за&nbsp;волосами.'}}
        ]
      },
    ],
    footer: [
      {tag:'p',content: ['Выбирали парик? Мы ',{tag:'a',content:'продаем парики',attr:{href:'http://www.vsepariki.com/catalog/pariki/', target:'_blank'}}]},
      {tag:'p',content: ['Выбирали накладку? Мы ',{tag:'a',content:'продаем накладки',attr:{href:'http://www.vsepariki.com/catalog/nakladki/', target:'_blank'}}]},
       ''
     ]
  }
