.rating-sum
  display flex
  align-items center
  column-gap 0.2rem
  &__star
    --gradient-stop 0 
    width 1rem
    height 1rem
    mask-image url(../images/star.svg)
    mask-repeat no-repeat
    mask-size contain
    mask-type alpha
    background-image linear-gradient(to right, #ffd700 var(--gradient-stop), #c9c9c9 var(--gradient-stop))
  &__count 
    padding-left 0.25rem
    line-height 1
