.header-navigation
  @media screen and (max-width point-m - 1)
    background-color #f1ede4
    transform-origin 0 0 0
    transition transform 0.2s
    &--active
      transform scale(1)
      transition none
    &__list-item
      transition background-color .2s
      & > a
        color #4e4e4e
        text-decoration none
        transition color .2s
      &:hover
        & > a
          color #952642
          transition none
    &__sublist-switch
      width 3rem
      background-image red
      height 3rem
      display flex
      align-items center
      justify-content center
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid
        border-bottom 4px solid
        transform scaleY(0.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(0.875) translateY(25%) rotate(-135deg)
    &__sublist
      width 100%
      display none
      &--active
        display block
    &__sublist-item
      & > a
        color #3d3d3d
        transition color .2s
        white-space nowrap
        font-weight 400
        padding (basePadding/2) (basePadding)
      &:hover
        & > a
          color #952642
          transition none
          background-color transparent
